Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

adds gnosis safe support (#3105)
  app/assets/img/wallet_selector/logo_gnosis.png
  app/assets/img/wallet_selector/logo_gnosis@2x.png
  app/assets/img/wallet_selector/logo_gnosis@3x.png
  app/components/modals/wallet-access/AccessWalletModal.stories.tsx
  app/components/modals/wallet-access/AccessWalletModal.tsx
  app/components/signing/MessageSignPrompt.tsx
  app/components/translatedMessages/messages.tsx
  app/lib/web3/PersonalWeb3.ts
  app/lib/web3/Web3Adapter.ts
  app/lib/web3/browser-wallet/BrowserWallet.ts
  app/modules/auth/sagas.ts
  app/modules/web3/types.ts
  intl/locales/en-en.json
  webpack/proxy-urls.js
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Customize jwt threshold (#3111)
  .circleci/config.yml
  app/modules/auth/constants.ts
  app/modules/auth/jwt/sagas.ts
  app/utils/safeTimers.spec.ts
  app/utils/safeTimers.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#2616 e2e test for no ether to pay gas (#2985)
  app/components/eto/overview/EtoOverviewThumbnail/EtoOverviewThumbnail.module.scss
  app/components/layouts/LayoutAuthorized.tsx
  app/components/modals/icbm-wallet-balance-modal/IcbmWalletBalanceModal.stories.tsx
  app/components/modals/icbm-wallet-balance-modal/IcbmWalletBalanceModal.tsx
  app/components/modals/icbm-wallet-balance-modal/MigrateModal.tsx
  app/components/modals/tx-sender/investment-flow/Investment.tsx
  app/components/modals/tx-sender/shared/InfoRow.module.scss
  app/components/shared/HighlightedField.tsx
  app/components/shared/HighlightedStripField.module.scss
  app/components/shared/HighlightedStripField.tsx
  app/test-e2e/config.ts
  app/test-e2e/eto-view/EtoViewUtils.ts
  app/test-e2e/eto/InvestWithNoMoney.spec.e2e.io.ts
  app/test-e2e/eto/InvestWithNoMoney.spec.e2e.ts
  app/test-e2e/routing/EthererumNodeRPCBatching.spec.e2e.io.ts
  app/test-e2e/utils/ethRpcUtils.ts
  app/test-e2e/wallets/WalletMigrate.spec.e2e.ts
  app/test-e2e/wallets/WalletWithdraw.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Fix logout during app init (#3119)
  app/modules/auth/jwt/sagas.ts
  app/modules/init/sagas.ts
  app/test-e2e/general-app/JWTEscalationAndRefreshing.spec.e2e.io.ts
  health-check-sha.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2695 - Eth withdraw redesign (#2875)
  app/assets/img/ether.svg
  app/components/modals/tx-sender/shared/TxError.stories.tsx
  app/components/modals/tx-sender/shared/TxPending.stories.tsx
  app/components/modals/tx-sender/shared/TxPending.tsx
  app/components/modals/tx-sender/shared/TxSuccess.stories.tsx
  app/components/modals/tx-sender/withdraw-flow/Success.stories.tsx
  app/components/modals/tx-sender/withdraw-flow/Summary.stories.tsx
  app/components/modals/tx-sender/withdraw-flow/Summary.tsx
  app/components/modals/tx-sender/withdraw-flow/Withdraw.module.scss
  app/components/modals/tx-sender/withdraw-flow/Withdraw.stories.tsx
  app/components/modals/tx-sender/withdraw-flow/Withdraw.unsafe.tsx
  app/components/modals/tx-sender/withdraw-flow/WithdrawTransactionDetails.tsx
  app/components/shared/MoneySuiteWidget.module.scss
  app/components/shared/MoneySuiteWidget.tsx
  app/components/shared/buttons/Button.tsx
  app/components/shared/forms/fields/FormInputRaw.unsafe.tsx
  app/lib/web3/Web3Adapter.ts
  app/modules/sagasUtils.ts
  app/modules/tx/sender/actions.ts
  app/modules/tx/sender/reducer.ts
  app/modules/tx/sender/selectors.ts
  app/modules/tx/transactions/withdraw/sagas.ts
  app/modules/tx/transactions/withdraw/types.ts
  app/modules/tx/types.ts
  app/modules/tx/utils.ts
  app/modules/tx/validator/actions.ts
  app/modules/tx/validator/sagas.ts
  app/test-e2e/pending-transactions/SupportForPendingTransactionsDuringTxFlow.spec.e2e.ts
  app/test-e2e/pending-transactions/SupportForPendingTransactionsInHeader.spec.e2e.ts
  app/test-e2e/pending-transactions/utils.ts
  app/test-e2e/wallets/WalletWithdraw.spec.e2e.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Update Health Check Script + Auto Fetch Latest Sha Agreement (#3118)
  app/modules/wallet/selectors.ts
  app/test-e2e/utils/ethRpcUtils.ts
  app/test-e2e/utils/getAgreementHash.ts
  app/test-e2e/utils/userHelpers.ts
  package.json
  scripts/getShasFromHealthCheck.js
  tsconfig.e2e.json
  typings/modules.d.ts
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Remove unused variable from EtoState (#3128)
  app/components/eto/shared/ETOState.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

removes scroll (#3130)
  app/components/modals/tx-sender/shared/InfoRow.module.scss
Due: yarn sasslint

#3016 Fix hot reloading (#3133)
  app/utils/OnEnterAction.tsx
  package.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

remove custom top offset from Portfolio layout (#3124)
  app/components/eto/public-view/CoverBanner.module.scss
  app/components/eto/shared/EtoView.module.scss
  app/components/eto/shared/EtoView.tsx
  app/components/layouts/LayoutAuthorized.module.scss
  app/components/layouts/LayoutAuthorized.tsx
  app/components/portfolio/PortfolioLayout.module.scss
  app/components/portfolio/PortfolioLayout.tsx
  app/components/shared/notification-widget/NotificationWidget.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

removes scroll (#3132)
  app/components/modals/tx-sender/shared/InfoRow.module.scss
Due: yarn sasslint

Revert "#2695 - Eth withdraw redesign (#2875)" (#3136)
  app/assets/img/ether.svg
  app/components/modals/tx-sender/shared/TxError.stories.tsx
  app/components/modals/tx-sender/shared/TxPending.stories.tsx
  app/components/modals/tx-sender/shared/TxPending.tsx
  app/components/modals/tx-sender/shared/TxSuccess.stories.tsx
  app/components/modals/tx-sender/withdraw-flow/Success.stories.tsx
  app/components/modals/tx-sender/withdraw-flow/Summary.stories.tsx
  app/components/modals/tx-sender/withdraw-flow/Summary.tsx
  app/components/modals/tx-sender/withdraw-flow/Withdraw.module.scss
  app/components/modals/tx-sender/withdraw-flow/Withdraw.stories.tsx
  app/components/modals/tx-sender/withdraw-flow/Withdraw.unsafe.tsx
  app/components/modals/tx-sender/withdraw-flow/WithdrawTransactionDetails.tsx
  app/components/shared/MoneySuiteWidget.module.scss
  app/components/shared/MoneySuiteWidget.tsx
  app/components/shared/buttons/Button.tsx
  app/components/shared/forms/fields/FormInputRaw.unsafe.tsx
  app/lib/web3/Web3Adapter.ts
  app/modules/sagasUtils.ts
  app/modules/tx/sender/actions.ts
  app/modules/tx/sender/reducer.ts
  app/modules/tx/sender/selectors.ts
  app/modules/tx/transactions/withdraw/sagas.ts
  app/modules/tx/transactions/withdraw/types.ts
  app/modules/tx/types.ts
  app/modules/tx/utils.ts
  app/modules/tx/validator/actions.ts
  app/modules/tx/validator/sagas.ts
  app/test-e2e/pending-transactions/SupportForPendingTransactionsDuringTxFlow.spec.e2e.ts
  app/test-e2e/pending-transactions/SupportForPendingTransactionsInHeader.spec.e2e.ts
  app/test-e2e/pending-transactions/utils.ts
  app/test-e2e/wallets/WalletWithdraw.spec.e2e.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

investment summary number formatters (#3114)
  app/components/eto/shared/EtoView.tsx
  app/components/modals/tx-sender/TxSender.tsx
  app/components/modals/tx-sender/investment-flow/InvestmentTransactionDetails.spec.tsx
  app/components/modals/tx-sender/investment-flow/InvestmentTransactionDetails.tsx
  app/components/modals/tx-sender/investment-flow/Summary.stories.tsx
  app/components/modals/tx-sender/investment-flow/Summary.tsx
  app/components/modals/tx-sender/investment-flow/utils.tsx
  app/components/shared/Money.module.scss
  app/components/shared/Money.spec.tsx
  app/components/shared/Money.stories.tsx
  app/components/shared/Money.unsafe.tsx
  app/components/shared/formatters/FormatNumber.tsx
  app/test-e2e/eto/InvestChange.spec.e2e.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

Adds retry on run backend fail (#3137)
  e2e/run-backend.js
  health-check-sha.json
Due: prettier --write

Fix hashing of nested query params (#3138)
  app/lib/dependencies/logger/SentryLogger.ts
  app/lib/dependencies/logger/utils.spec.ts
  app/lib/dependencies/logger/utils.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Remove coming soon card from landing
  app/components/dashboard/eto-list/EtoList.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#3139 Add success info design to eto thumbnail card
  app/components/dashboard/eto-list/EtoList.tsx
  app/components/eto/overview/EtoOverviewThumbnail/EtoOverviewThumbnail.tsx
  app/components/eto/overview/EtoOverviewThumbnail/EtoStatusManager.module.scss
  app/components/eto/overview/EtoOverviewThumbnail/EtoStatusManager.tsx
  app/components/eto/shared/ETOState.tsx
  app/components/landing/Landing.module.scss
  app/styles/variables/colors.scss
  health-check-sha.json
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#3139 Add missing translation
  app/components/eto/overview/EtoOverviewThumbnail/EtoStatusManager.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#3139 Fix broken e2e test
  app/test-e2e/investor-dashboard/LightWalletInvestorDashboard.spec.e2e.io.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix hashing of nested query params (#3138) (#3142)
  app/lib/dependencies/logger/SentryLogger.ts
  app/lib/dependencies/logger/utils.spec.ts
  app/lib/dependencies/logger/utils.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#3139 ETO preview cards success state design change (#3140)
  app/components/dashboard/eto-list/EtoList.tsx
  app/components/eto/overview/EtoOverviewThumbnail/EtoOverviewThumbnail.tsx
  app/components/eto/overview/EtoOverviewThumbnail/EtoStatusManager.module.scss
  app/components/eto/overview/EtoOverviewThumbnail/EtoStatusManager.tsx
  app/components/eto/shared/ETOState.tsx
  app/components/landing/Landing.module.scss
  app/styles/variables/colors.scss
  app/test-e2e/investor-dashboard/LightWalletInvestorDashboard.spec.e2e.io.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Update crypto-random-string (#3148)
  @types/crypto-random-string/index.d.ts
  app/di/setupBindings.ts
  app/lib/dependencies/cryptoRandomString.ts
  app/modules/auth/jwt/sagas.ts
  health-check-sha.json
  package.json
  test/integrationTestUtils.unsafe.tsx
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Refactor auth, bookbuilding-flow, contracts, eto-documents and eto-flow modules to use new action creator (#3150)
  app/modules/auth/actions.ts
  app/modules/auth/reducer.ts
  app/modules/auth/sagas.ts
  app/modules/auth/user/sagas.ts
  app/modules/bookbuilding-flow/actions.ts
  app/modules/bookbuilding-flow/reducer.ts
  app/modules/bookbuilding-flow/sagas.ts
  app/modules/contracts/actions.ts
  app/modules/contracts/reducer.ts
  app/modules/deposit-eth-modal/actions.ts
  app/modules/eto-documents/actions.ts
  app/modules/eto-documents/reducer.ts
  app/modules/eto-documents/sagas.ts
  app/modules/eto-flow/actions.ts
  app/modules/eto-flow/reducer.ts
  app/modules/eto-flow/sagas.ts
  app/modules/sagas.ts
  app/modules/terms-of-service-modal/sagas.ts
  app/modules/tx/monitor/sagas.ts
  app/modules/wallet/sagas.ts
  app/store.ts
  health-check-sha.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

[All devs approval required] Update react to the one with hooks (#3149)
  app/components/modals/tx-sender/shared/TxPending.stories.tsx
  app/components/modals/tx-sender/shared/TxSuccess.stories.tsx
  app/components/shared/Accordion.tsx
  app/components/shared/buttons/Button.tsx
  app/components/shared/buttons/ButtonIcon.tsx
  app/components/shared/tooltips/TooltipBase.tsx
  app/components/utils/omitProps.ts
  package.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

at/grid_css_fixes (#3121)
  app/components/eto/public-view/Cover.module.scss
  app/components/eto/public-view/Cover.tsx
  app/components/eto/public-view/CoverBanner.module.scss
  app/components/settings/Settings.tsx
  app/styles/variables/spacings.scss
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#3102 - Eto documents changes (#3116)
  app/components/documents/Documents.module.scss
  app/components/documents/Documents.tsx
  app/components/documents/utils.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#3006 image uploader enhancements (#3131)
  app/components/eto/registration/pages/CompanyInformation.tsx
  app/components/eto/registration/pages/EtoEquityTokenInfo.tsx
  app/components/eto/registration/pages/KeyIndividuals.tsx
  app/components/kyc/business/BeneficialOwner.unsafe.tsx
  app/components/kyc/business/BusinessData.unsafe.tsx
  app/components/kyc/business/LegalRepresentative.unsafe.tsx
  app/components/kyc/personal/Upload.tsx
  app/components/kyc/shared/AddDocuments.tsx
  app/components/shared/MultiFileUpload.stories.tsx
  app/components/shared/MultiFileUpload.tsx
  app/components/shared/SingleFileUpload.stories.tsx
  app/components/shared/SingleFileUpload.tsx
  app/components/shared/forms/fields/FormSingleFileUpload.unsafe.tsx
  app/components/shared/forms/fields/utils.spec.ts
  app/components/shared/forms/fields/utils.unsafe.tsx
  app/components/translatedMessages/messages.tsx
  app/modules/actions.ts
  app/modules/investor-portfolio/sagas.ts
  app/modules/notificationModal/actions.ts
  app/modules/notificationModal/sagas.ts
  app/modules/sagas.ts
  app/test-e2e/1.long-e2e-tests/1.FullEtoRegistrationAndSubmit.spec.e2e.io.ts
  app/test-e2e/eto-registration/fixtures.ts
  app/test-e2e/utils/forms.ts
  app/types.d.ts
  cypress/fixtures/cover_1250x400.png
  cypress/fixtures/cover_768_400.png
  cypress/fixtures/example.png
  cypress/fixtures/example_150x150.png
  cypress/fixtures/example_200x200.png
  intl/locales/en-en.json
  package.json
  webpack/webpack.config.dev.js
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#2955 - Empty tabs fix (#3151)
  app/components/shared/Tabs.spec.tsx
  app/components/shared/Tabs.stories.tsx
  app/components/shared/Tabs.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#3145 Change rounding of short number forms (#3155)
  app/components/shared/formatters/FormatNumberRange.spec.tsx
  app/components/shared/formatters/FormatShortNumber.spec.tsx
  app/components/shared/formatters/FormatShortNumber.tsx
  app/components/shared/formatters/Money.spec.tsx
  app/components/shared/formatters/Money.tsx
  app/data/etoCompanies.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#3100 Mark date as obligatory field (#3147)
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedInvestorApprovedWidgetLayout.tsx
  app/components/eto/registration/pages/EtoTerms.tsx
  app/components/eto/registration/pages/InvestmentTerms.tsx
  app/components/eto/registration/pages/LegalInformation.tsx
  app/components/shared/MaskedNumberInput.tsx
  app/components/shared/forms/fields/FormCategoryDistribution.unsafe.tsx
  app/components/shared/forms/fields/FormField.tsx
  app/components/shared/forms/fields/FormFieldDate.module.scss
  app/components/shared/forms/fields/FormFieldDate.stories.tsx
  app/components/shared/forms/fields/FormFieldDate.tsx
  app/components/shared/forms/fields/FormFieldDate.unsafe.tsx
  app/components/shared/forms/fields/FormFieldRaw.stories.tsx
  app/components/shared/forms/fields/FormInput.tsx
  app/components/shared/forms/fields/FormMaskedInput.stories.tsx
  app/components/shared/forms/fields/FormMaskedInput.tsx
  app/components/shared/forms/fields/FormMaskedNumberInput.tsx
  app/components/shared/forms/fields/NumberTransformingField.stories.tsx
  app/components/shared/forms/fields/NumberTransformingField.tsx
  app/components/shared/forms/index.tsx
  app/components/shared/forms/layouts/FormFieldLayout.stories.tsx
  app/components/shared/forms/layouts/FormFieldLayout.tsx
  app/components/shared/forms/layouts/InputLayout.spec.tsx
  app/components/shared/forms/layouts/InputLayout.tsx
  app/types.d.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

fixes eth_sign to expect single string from await (#3161)
  app/lib/web3/Web3Adapter.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2756 add rich text editor (#3153)
  .circleci/config.yml
  app/components/eto/shared/EtoView.tsx
  app/components/layouts/LayoutRegisterLogin.tsx
  app/components/shared/Field.module.scss
  app/components/shared/Field.spec.tsx
  app/components/shared/Field.tsx
  app/components/shared/SanitizedHtml.spec.tsx
  app/components/shared/SanitizedHtml.stories.tsx
  app/components/shared/SanitizedHtml.tsx
  app/components/shared/forms/Form.ts
  app/components/shared/forms/fields/FormFieldBoolean.tsx
  app/components/shared/forms/fields/FormFieldCheckboxGroup.tsx
  app/components/shared/forms/fields/FormTextArea.tsx
  app/components/shared/forms/fields/utils.unsafe.tsx
  app/components/shared/forms/index.tsx
  app/components/shared/forms/layouts/CheckboxLayout.stories.tsx
  app/components/shared/forms/layouts/CheckboxLayout.tsx
  app/components/shared/forms/layouts/RichTextAreaLayout.module.scss
  app/components/shared/forms/layouts/RichTextAreaLayout.stories.tsx
  app/components/shared/forms/layouts/RichTextAreaLayout.tsx
  app/lib/api/eto/EtoApi.interfaces.unsafe.ts
  app/lib/yup-ts.ts
  app/styles/elements/ul-ol.scss
  app/styles/elements/ul.scss
  app/styles/overrides.scss
  app/test-e2e/eto-registration/EtoCompanyInformationFieldValidation.spec.e2e.io.ts
  app/test-e2e/eto-registration/EtoCompanyInformationRichTextEditor.spec.e2e.io.ts
  app/test-e2e/eto-registration/fixtures.ts
  app/test-e2e/eto-view/EtoViewForInvestor.spec.e2e.io.ts
  app/test-e2e/utils/forms.ts
  app/test-e2e/utils/navigation.ts
  app/test-e2e/utils/selectors.ts
  app/utils/yupUtils.ts
  cypress.json
  health-check-sha.json
  package.json
  test/setupTests.ts
  typings/modules.d.ts
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

Update react-dropzone to latest PATCH version to fix prop-types errors (#3164)
  package.json
  yarn.lock
Due: prettier --write

Remove git markers
  app/components/eto/overview/EtoOverviewThumbnail/EtoStatusManager.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2195 - ETO refund (#3158)
  .circleci/config.yml
  app/components/eto/overview/EtoOverviewStatus/ClaimRefundWidget/RefundWidget.module.scss
  app/components/eto/overview/EtoOverviewStatus/ClaimRefundWidget/RefundWidget.tsx
  app/components/modals/tx-sender/TxDetails.unsafe.tsx
  app/components/modals/tx-sender/TxName.tsx
  app/components/modals/tx-sender/TxSender.tsx
  app/components/modals/tx-sender/investor-refund/RefundDetails.tsx
  app/components/modals/tx-sender/investor-refund/RefundSummary.stories.tsx
  app/components/modals/tx-sender/investor-refund/RefundSummary.tsx
  app/components/portfolio/PortfolioAssetAction.tsx
  app/modules/investor-portfolio/selectors.ts
  app/modules/investor-portfolio/types.ts
  app/modules/investor-portfolio/utils.ts
  app/modules/tx/monitor/sagas.ts
  app/modules/tx/sender/actions.ts
  app/modules/tx/sender/reducer.ts
  app/modules/tx/sender/sagas.ts
  app/modules/tx/transactions/actions.ts
  app/modules/tx/transactions/refund/saga.ts
  app/modules/tx/transactions/refund/types.ts
  app/modules/tx/transactions/sagas.ts
  app/modules/tx/types.ts
  app/test-e2e/eto/Refund.spec.e2e.ts
  app/test-e2e/utils/index.ts
  cypress.json
  e2e/setup-e2e.sh
  health-check-sha.json
  intl/locales/en-en.json
  package.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#3106 - Fix redeem fee calculation (#3175)
  app/components/modals/tx-sender/redeem/BankTransferRedeemInit.tsx
  app/components/modals/tx-sender/redeem/CalculatedFee.tsx
  app/modules/bank-transfer-flow/actions.ts
  app/modules/bank-transfer-flow/reducer.ts
  app/modules/bank-transfer-flow/selectors.ts
  app/test-e2e/bank-transfer/RedeemNEUR.spec.e2e.io.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

restores issuer forms submit test (#3178)
  app/test-e2e/eto-registration/2.EtoRequiredReqistrationAndSubmit.spec.e2e.io.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Path conditions:
  yarn tsc: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix --config ./tslint.spec.json: any of: app/**/*.spec.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,js,json,md,gql}
  yarn sasslint: any of: **/*.{sass,scss,css}
