Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

Fix wallet address align when ICBM Migration is visible
  app/components/settings/ethereum-address-widget/YourEthereumAddressWidget.tsx
  app/components/shared/AccountBalance.module.scss
  app/components/shared/Panel.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

add profile update button to bookbuilding if not kyc approved
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedInvestorApprovedWidgetLayout.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedInvestorWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedUnapprovedInvestorWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedWidget.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

add more texts
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedInvestorApprovedWidgetLayout.tsx
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.module.scss
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#1910 #1899 use branch from recompose for conditional rendering
  app/components/dashboard/my-portfolio/MyPortfolioWidget.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1910 #1899 fix unit test
  app/components/settings/kyc-states/KycStatusWidget.spec.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

fixes start page of issuer kyc
  app/components/kyc/Router.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Rename settings route to profile
  app/components/AppRouter.tsx
  app/components/appRoutes.ts
  app/components/dashboard/my-wallet/MyWalletWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedUnapprovedInvestorWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentWidget.tsx
  app/components/kyc/Kyc.tsx
  app/components/layouts/LayoutAuthorizedMenu.tsx
  app/components/modals/icbm-wallet-balance-modal/BalanceModal.tsx
  app/components/settings/backup-seed/BackupSeed.tsx
  app/components/settings/backup-seed/BackupSeedWidget.tsx
  app/components/settings/change-email/ChangeEmail.tsx
  app/components/settings/icbm-wallet-widget/CheckYourICBMWalletWidget.tsx
  app/components/settings/routes.tsx
  app/components/settings/verify-email/VerifyEmailWidget.tsx
  app/modules/actions.ts
  app/modules/auth/sagas.ts
  app/modules/kyc/sagas.ts
  app/modules/notifications/reducer.ts
  app/modules/notifications/selectors.ts
  app/modules/profile/actions.ts
  app/modules/profile/reducer.ts
  app/modules/profile/sagas.ts
  app/modules/reducer.ts
  app/modules/routing/actions.ts
  app/modules/sagas.ts
  app/modules/settings/actions.ts
  app/modules/wallet-selector/light-wizard/sagas.ts
  app/test-e2e/settings/VerifyEmailWidget.spec.e2e.ts
  app/test-e2e/shared/backupLightWalletSeed.ts
  app/test-e2e/utils/index.ts
  app/test-e2e/wallets/WalletMigrate.spec.e2e.ts
  app/test-e2e/wallets/WalletRecover.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

adds unique reference for euro transacions (#2009)
  app/components/modals/tx-sender/investment-flow/BankTransfer.stories.tsx
  app/components/modals/tx-sender/investment-flow/BankTransferDetails.tsx
  app/components/modals/tx-sender/investment-flow/Investment.stories.tsx
  app/components/modals/tx-sender/investment-flow/InvestmentTypeSelector.stories.tsx
  app/components/modals/tx-sender/investment-flow/Success.stories.tsx
  app/components/modals/tx-sender/investment-flow/Summary.stories.tsx
  app/components/shared/InvestmentPreview.stories.tsx
  app/modules/investment-flow/__tests__/selectors.spec.ts
  app/modules/investment-flow/actions.ts
  app/modules/investment-flow/reducer.ts
  app/modules/investment-flow/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#1962 Log transaction hash
  app/modules/tx/sender/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Turn on source maps for styles (#2025)
  webpack/webpack.config.dev.js
Due: prettier --write

#1887 #1890 #1891 #1893 (#2000)
  app/components/modals/tx-sender/withdraw-flow/Success.module.scss
  app/components/modals/tx-sender/withdraw-flow/Success.tsx
  app/components/modals/tx-sender/withdraw-flow/Summary.tsx
  app/components/wallet-selector/WalletMessageSigner.tsx
  app/components/wallet-selector/light/LoginWithEmailLightWallet.tsx
  app/components/wallet-selector/wallet-recover/LoginHelp.tsx
  app/modules/wallet-selector/light-wizard/errors.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Update en-en.json (#2023)
  intl/locales/en-en.json
Due: prettier --write

#1923 #1924 #1990 Transaction modal wording (#2028)
  app/components/modals/tx-sender/shared/TxPending.tsx
  app/components/modals/tx-sender/shared/WatchPeningTxs.tsx
  app/components/modals/tx-sender/withdraw-flow/Withdraw.stories.tsx
  app/components/modals/tx-sender/withdraw-flow/Withdraw.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1989 #1992 #1991 #1976 #1975 #2013 #2024 fix translations
  app/components/settings/ethereum-address-widget/YourEthereumAddressWidget.tsx
  app/components/shared/HeaderProgressStepper.module.scss
  app/components/shared/HeaderProgressStepper.tsx
  app/components/wallet-selector/light/RegisterLightWallet.tsx
  app/components/wallet-selector/wallet-recover/RecoverySuccess.module.scss
  app/components/wallet-selector/wallet-recover/RecoverySuccess.stories.tsx
  app/components/wallet-selector/wallet-recover/RecoverySuccess.tsx
  app/lib/web3/errors.ts
  app/modules/auth/sagas.ts
  app/modules/wallet-selector/ledger-wizard/errors.ts
  app/modules/wallet-selector/light-wizard/errors.tsx
  app/modules/wallet-selector/light-wizard/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#1886 fix css/markup of warningAlert change wording of some error messages fix style precedence (reshuffle imports in index.ts)
  app/components/settings/backup-seed/BackupSeedVerify.module.scss
  app/components/settings/backup-seed/BackupSeedVerify.tsx
  app/components/shared/WarningAlert.module.scss
  app/components/shared/WarningAlert.tsx
  app/components/wallet-selector/WalletSelector.tsx
  app/index.tsx
  app/modules/wallet-selector/browser-wizard/errors.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Update en-en.json
  intl/locales/en-en.json
Due: prettier --write

#1886 add MyPortfolioWidget and KycStatus to storybook
  app/components/dashboard/my-portfolio/MyPortfolioWidget.stories.tsx
  app/components/settings/kyc-states/KycStatusWidget.stories.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1886 fix failing test
  app/components/wallet-selector/WalletSelector.integration.spec.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

vanilizer-patch-5: add bankTransferDetails and Investment screen to storybook
  app/components/modals/tx-sender/investment-flow/BankTransferDetails.stories.tsx
  app/components/modals/tx-sender/investment-flow/Investment.stories.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

vanilizer-patch-5: linter fixes
  intl/locales/en-en.json
Due: prettier --write

#1979 remove "error getting pending transactions" notification
  app/modules/tx/monitor/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

add eur to direct bank transfer
  app/components/modals/tx-sender/investment-flow/utils.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

fixes legal document names (#2049)
  app/components/documents/Documents.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix broken e2e test (#2054)
  app/components/shared/ETOState.tsx
  app/test-e2e/eto-registration/EtoRegistrationUtils.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Changes investment selector style (#2055)
  app/components/modals/tx-sender/investment-flow/InvestmentTypeSelector.module.scss
Due: yarn sasslint

#1947 New register/login screen (#2051)
  .storybook/config.js
  app/components/layouts/Header.tsx
  app/components/modals/GenericModal.stories.tsx
  app/components/modals/GenericModal.tsx
  app/components/modals/ModalComponentBody.module.scss
  app/components/modals/ModalComponentBody.tsx
  app/components/shared/buttons/Button.module.scss
  app/components/shared/buttons/Button.tsx
  app/components/shared/buttons/ButtonLink.spec.tsx
  app/components/shared/buttons/ButtonLink.tsx
  app/components/wallet-selector/ICBMWalletHelpTextModal.stories.tsx
  app/components/wallet-selector/ICBMWalletHelpTextModal.tsx
  app/components/wallet-selector/WalletSelector.integration.spec.tsx
  app/components/wallet-selector/WalletSelector.module.scss
  app/components/wallet-selector/WalletSelector.spec.tsx
  app/components/wallet-selector/WalletSelector.tsx
  app/components/wallet-selector/ledger/LedgerHeader.tsx
  app/components/wallet-selector/ledger/WalletLedgerInitComponent.tsx
  app/components/wallet-selector/light/LoginLightWallet.tsx
  app/components/wallet-selector/light/LoginWithEmailLightWallet.tsx
  app/components/wallet-selector/light/RegisterLightWallet.module.scss
  app/components/wallet-selector/light/RegisterLightWallet.tsx
  app/components/wallet-selector/light/WalletLight.module.scss
  app/components/wallet-selector/light/WalletLight.tsx
  app/components/wallet-selector/wallet-recover/LoginHelp.tsx
  app/modules/routing/actions.ts
  app/styles/overrides.scss
  app/utils/storeDecorator.tsx
  intl/locales/en-en.json
  package.json
  typings/modules.d.ts
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

#2035 #2046 (#2057)
  app/components/modals/tx-sender/investment-flow/BankTransferDetails.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

fix whitelist label
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedWidget.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Changes whitelisting remaining slots (#2056)
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedWidget.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedWidget.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

change tooltip to use reactstrap
  app/components/shared/CustomTooltip.module.scss
  app/components/shared/CustomTooltip.tsx
  app/components/shared/Tooltip.module.scss
  app/components/shared/Tooltip.stories.tsx
  app/components/shared/Tooltip.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#1969 Investment widget fixes (#2060)
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.module.scss
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Changes backupCodesVerified selector
  app/components/eto/EtoDashboard.tsx
  app/components/settings/backup-seed/BackupSeed.tsx
  app/components/settings/backup-seed/BackupSeedWidget.tsx
  app/modules/auth/selectors.ts
  app/modules/notifications/selectors.ts
  app/modules/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Adds blockchain claim
  app/components/settings/kyc-states/KycStatusWidget.stories.tsx
  app/components/settings/kyc-states/KycStatusWidget.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1947 Fix ICBM modal wording
  intl/locales/en-en.json
Due: prettier --write

Changes selectKycRequestStatus
  app/components/eto/EtoDashboard.tsx
  app/components/kyc/Kyc.tsx
  app/components/settings/Settings.tsx
  app/components/settings/kyc-states/KycStatusWidget.stories.tsx
  app/components/settings/kyc-states/KycStatusWidget.tsx
  app/modules/auth/selectors.ts
  app/modules/eto-flow/selectors.ts
  app/modules/kyc/sagas.ts
  app/modules/kyc/selectors.ts
  app/modules/notifications/selectors.ts
  app/modules/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

adds selectKycRequestStatus tests
  app/modules/kyc/selectors.spec.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

add star to date of birth
  intl/locales/en-en.json
Due: prettier --write

minor improvements
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedInvestorApprovedWidgetLayout.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedWidget.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Adds investment link
  app/components/modals/tx-sender/investment-flow/utils.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Path conditions:
  yarn tsc: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix --config ./tslint.spec.json: any of: app/**/*.spec.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,js,json,md,gql}
  yarn sasslint: any of: **/*.{sass,scss,css}
