Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

.lintstagedrc:

{
  "app/**/*.{ts,tsx,js}": ["yarn tsc", "tslint --project . --format stylish --fix", "git add"],
  "app/**/*.spec.{ts,tsx}": ["tslint --project . --format stylish --fix --config ./tslint.spec.json", "git add"],
  "**/*.{ts,tsx,js,json,md,gql}": ["prettier --write", "git add"],
  "**/*.{sass,scss,css}": ["yarn sasslint"]
}

Update lock
  yarn.lock
Due: none

Fix format
  packages/wallet/ios/wallet/Info.plist
Due: none

add basic wc storage handler
  packages/web/app/components/translatedMessages/messages.tsx
  packages/web/app/di/setupBindings.ts
  packages/web/app/di/symbols.ts
  packages/web/app/lib/api/nullBlockTracker.ts
  packages/web/app/lib/persistence/WalletConnectStorage.ts
  packages/web/app/lib/web3/Web3Manager/Web3Manager.ts
  packages/web/app/lib/web3/wallet-connect/WalletConnectConnector.ts
  packages/web/app/lib/web3/wallet-connect/WalletConnectWallet.ts
  packages/web/app/modules/auth/constants.ts
  packages/web/app/modules/auth/jwt/sagas.ts
  packages/web/app/modules/init/sagas.ts
  packages/web/app/modules/wallet-selector/actions.ts
  packages/web/app/modules/wallet-selector/sagas.ts
  packages/web/app/modules/web3/types.ts
  packages/web/webpack/webpack.config.dev.js
Due: prettier --write

cleanup
  packages/web/app/components/wallet-selector/WalletRouter.tsx
  packages/web/app/components/wallet-selector/wallet-connect/WalletConnect.tsx
  packages/web/app/components/wallet-selector/wallet-connect/WalletConnectLayout.tsx
  packages/web/app/di/setupBindings.ts
  packages/web/app/lib/web3/wallet-connect/WalletConnectConnector.ts
  packages/web/app/lib/web3/wallet-connect/WalletConnectWallet.ts
  packages/web/app/modules/auth/user/sagas.ts
  packages/web/app/modules/init/sagas.ts
  packages/web/app/modules/wallet-selector/sagas.ts
  packages/web/app/modules/wallet-selector/selectors.ts
  packages/web/app/modules/web3/types.ts
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
  packages/web/webpack/webpack.config.dev.js
Due: prettier --write

#4141 Add loading state to tokens (#4149)
  packages/web/app/components/dashboard/my-portfolio/PortfolioStats.tsx
  packages/web/app/modules/eto/actions.ts
  packages/web/app/modules/eto/reducer.ts
  packages/web/app/modules/eto/sagas.spec.ts
  packages/web/app/modules/eto/sagas.ts
  packages/web/app/modules/eto/selectors.ts
  packages/web/app/modules/tx/sender/sagas.ts
  packages/web/app/test-e2e/investor/portfolio/PortfolioStats.spec.e2e.io.ts
Due: prettier --write

Use Webpack to build design system package (#4133)
  .circleci/config.yml
  packages/design-system/.storybook/main.js
  packages/design-system/build.sh
  packages/design-system/package.json
  packages/design-system/src/assets/img/inline_icons/arrow-left.svg
  packages/design-system/src/assets/img/inline_icons/arrow-right.svg
  packages/design-system/src/assets/img/inline_icons/close.svg
  packages/design-system/src/assets/img/inline_icons/loading-spinner.svg
  packages/design-system/src/assets/img/inline_icons/spinner.svg
  packages/design-system/src/components/buttons/CommonButtons.tsx
  packages/design-system/src/components/buttons/icons.ts
  packages/design-system/src/components/loading-indicator/LoadingIndicator.tsx
  packages/design-system/src/components/loading-indicator/icon.ts
  packages/design-system/src/components/tables/Table.stories.tsx
  packages/design-system/src/components/tables/Table.unsafe.tsx
  packages/design-system/src/components/tables/TableLazy.tsx
  packages/design-system/src/components/token-details/TokenDetails.stories.tsx
  packages/design-system/src/components/token-details/TokenDetails.tsx
  packages/design-system/src/types.ts
  packages/design-system/tsconfig.json
  packages/design-system/webpack/paths.js
  packages/design-system/webpack/webpack.config.js
  packages/web/app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentStatusWidget.stories.tsx
  packages/web/app/components/issuer-dashboard/ETOFundraisingCounterWidget.stories.tsx
  packages/web/app/components/issuer-dashboard/ETOFundraisingStatistics.stories.tsx
  packages/web/app/components/issuer-dashboard/ETOISHASignCounter.stories.tsx
  packages/web/app/components/kyc/shared/SelectTypeCard.stories.tsx
  packages/web/app/components/layouts/FullscreenProgressLayout.stories.tsx
  packages/web/app/components/modals/tx-sender/shared/TxGoToAction.tsx
  packages/web/app/components/portfolio/AssetPortfolio.stories.tsx
  packages/web/app/components/portfolio/PortfolioMyAssets.stories.tsx
  packages/web/app/components/portfolio/PortfolioReservedAssets.stories.tsx
  packages/web/app/components/portfolio/PortfolioReservedAssets.tsx
  packages/web/app/components/shared/Dropzone.stories.tsx
  packages/web/app/components/shared/ProgressBarSimple.stories.tsx
  packages/web/app/components/shared/TimeLeftWithUTC.stories.tsx
  packages/web/app/index.scss
  packages/web/health-check-sha.json
  yarn.lock
Due: prettier --write, yarn sasslint

Initial commit for integration tests
  README.md
  packages/shared-modules/src/modules/core/lib/logger/index.ts
  packages/web/app/modules/auth/user/sagas.spec.ts
  packages/web/app/modules/auth/user/sagas.ts
  packages/web/app/modules/wallet-selector/light-wizard/sagas.spec.ts
  packages/web/app/test-e2e/other/recovery/WalletRecovery.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/userHelpers.ts
  packages/web/package.json
  packages/web/test/setupTests.ts
  yarn.lock
Due: prettier --write

#3821 Button states CSS fixes (#4015)
  packages/design-system/.storybook/config.js
  packages/design-system/package.json
  packages/design-system/src/components/buttons/Button.module.scss
  packages/design-system/src/components/buttons/Button.stories.tsx
  packages/design-system/src/components/buttons/Button.tsx
  packages/design-system/src/components/buttons/ButtonBase.module.scss
  packages/design-system/src/components/buttons/CircleButton.module.scss
  packages/design-system/src/components/buttons/CircleButton.stories.tsx
  packages/design-system/src/components/buttons/CircleButton.tsx
  packages/design-system/src/index.ts
  packages/design-system/src/polyfills.sideEffect.ts
  packages/web/app/polyfills.sideEffect.ts
  packages/web/package.json
Due: prettier --write, yarn sasslint

temp
  packages/web/app/lib/api/users/UsersApi.ts
  packages/web/app/modules/auth/user/sagas.spec.ts
  packages/web/app/modules/auth/user/sagas.ts
  packages/web/app/test-e2e/utils/userHelpers.ts
Due: prettier --write

add localStorage handling for wc in init saga
  packages/web/app/lib/persistence/WalletConnectStorage.ts
  packages/web/app/lib/web3/wallet-connect/WalletConnectConnector.ts
  packages/web/app/modules/auth/jwt/sagas.ts
  packages/web/app/modules/auth/user/external/sagas.ts
  packages/web/app/modules/auth/user/sagas.ts
  packages/web/app/modules/init/sagas.ts
  packages/web/app/modules/routing/routes.ts
  packages/web/app/modules/routing/sagas.ts
  packages/web/app/modules/wallet-selector/actions.ts
  packages/web/app/modules/wallet-selector/sagas.ts
  packages/web/webpack/webpack.config.dev.js
Due: prettier --write

Update typed redux saga (#4209)
  packages/sagas/package.json
  packages/sagas/src/sagaEffects.ts
  packages/sagas/src/sagasUtils.ts
  packages/web/app/modules/access-wallet/sagas.ts
  packages/web/app/modules/routing/sagas.ts
  packages/web/app/modules/sagasUtils.ts
  packages/web/app/modules/wallet-selector/light-wizard/metadata/sagas.ts
  packages/web/health-check-sha.json
  patches/README.md
  patches/typed-redux-saga+0.4.0.patch
  yarn.lock
Due: prettier --write

#4212 Remove object spread operator (#4213)
  patches/formik+2.1.4.patch
Due: none

Edge browser blank page issue hotfix (#4214)
  packages/web/health-check-sha.json
  patches/formik+2.1.4.patch
Due: prettier --write

#4172 Add buttons (#4210)
  packages/wallet/README.md
  packages/wallet/android/app/src/main/assets/fonts/Roboto-Medium.ttf
  packages/wallet/android/app/src/main/assets/fonts/Roboto-Regular.ttf
  packages/wallet/app/components/Landing.tsx
  packages/wallet/app/components/shared/LineBreak.stories.tsx
  packages/wallet/app/components/shared/LineBreak.tsx
  packages/wallet/app/components/shared/Link.stories.tsx
  packages/wallet/app/components/shared/Link.tsx
  packages/wallet/app/components/shared/Touchable.stories.tsx
  packages/wallet/app/components/shared/Touchable.tsx
  packages/wallet/app/components/shared/buttons/Button.stories.tsx
  packages/wallet/app/components/shared/buttons/Button.tsx
  packages/wallet/app/components/signer/SignerModal.tsx
  packages/wallet/app/config/constants.ts
  packages/wallet/app/styles/colors.ts
  packages/wallet/app/styles/typography.ts
  packages/wallet/assets/fonts/Roboto-Medium.ttf
  packages/wallet/assets/fonts/Roboto-Regular.ttf
  packages/wallet/ios/wallet.xcodeproj/project.pbxproj
  packages/wallet/ios/wallet/Info.plist
  packages/wallet/react-native.config.js
  packages/wallet/storybook/stories.ts
Due: prettier --write

cleans up integration tests
  packages/shared-modules/src/modules/core/lib/logger/index.ts
  packages/web/app/components/shared/forms/fields/FormFieldLabel.spec.tsx
  packages/web/app/modules/auth/user/sagas.spec.ts
  packages/web/app/modules/auth/user/sagas.ts
  packages/web/app/modules/auth/user/utils.ts
  packages/web/app/modules/routing/redirects/sagas.ts
  packages/web/app/modules/wallet-selector/forms/sagas.spec.ts
  packages/web/app/modules/wallet-selector/forms/sagas.ts
  packages/web/app/modules/wallet-selector/ledgerConnectAndSign.ts
  packages/web/app/modules/wallet-selector/light-wizard/sagas.spec.ts
  packages/web/app/modules/wallet-selector/sagas.ts
  packages/web/app/modules/wallet-selector/selectors.ts
  packages/web/app/test-e2e/investor/portfolio/TokenTransfer.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/wallet/utils.ts
  packages/web/app/test-e2e/investor/wallet/withdraw/Withdraw.spec.e2e.io.ts
  packages/web/app/test-e2e/issuer/eto/EtoRegistrationUtils.ts
  packages/web/app/test-e2e/other/email/change/ChangeEmail.spec.e2e.io.ts
  packages/web/app/test-e2e/other/login/lightwallet/BrowserWalletLogin.spec.e2e.io.ts
  packages/web/app/test-e2e/other/logout/LogoutActions.spec.e2e.io.ts
  packages/web/app/test-e2e/other/recovery/Backup.spec.e2e.io.ts
  packages/web/app/test-e2e/other/recovery/WalletRecovery.spec.e2e.io.ts
  packages/web/app/test-e2e/other/routing/OtherRouting.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/CHALLENGE_PATH.ts
  packages/web/app/test-e2e/utils/CREATE_USER_PATH.ts
  packages/web/app/test-e2e/utils/constants.ts
  packages/web/app/test-e2e/utils/createLightWalletWithKeyPair.ts
  packages/web/app/test-e2e/utils/createUser.ts
  packages/web/app/test-e2e/utils/index.ts
  packages/web/app/test-e2e/utils/userHelpers.ts
  packages/web/app/test-e2e/utils/wrappedFetch.ts
  packages/web/health-check-sha.json
  packages/web/test/integrationTestUtils.unsafe.tsx
  packages/web/test/sagaIntegrationTestHelpers.ts
  packages/web/test/setupTests.ts
  packages/web/typings/modules.d.ts
Due: prettier --write

#4199 text inputs (#4218)
  packages/wallet/android/app/build.gradle
  packages/wallet/android/app/src/main/AndroidManifest.xml
  packages/wallet/app/components/shared/buttons/Button.tsx
  packages/wallet/app/components/shared/forms/layouts/ErrorMessage.stories.tsx
  packages/wallet/app/components/shared/forms/layouts/ErrorMessage.tsx
  packages/wallet/app/components/shared/forms/layouts/Field.stories.tsx
  packages/wallet/app/components/shared/forms/layouts/Field.tsx
  packages/wallet/app/components/shared/forms/layouts/HelperText.stories.tsx
  packages/wallet/app/components/shared/forms/layouts/HelperText.tsx
  packages/wallet/app/components/shared/forms/layouts/Label.stories.tsx
  packages/wallet/app/components/shared/forms/layouts/Label.tsx
  packages/wallet/app/components/shared/forms/layouts/TextAreaInput.stories.tsx
  packages/wallet/app/components/shared/forms/layouts/TextAreaInput.tsx
  packages/wallet/app/components/shared/forms/layouts/TextInput.stories.tsx
  packages/wallet/app/components/shared/forms/layouts/TextInput.tsx
  packages/wallet/app/styles/common.ts
  packages/wallet/app/styles/typography.ts
  packages/wallet/storybook/stories.ts
  packages/web/health-check-sha.json
Due: prettier --write

extract sagas/actions/reducer for wc from walletSelector ones. review fixes
  packages/web/app/components/AppRouter.tsx
  packages/web/app/components/appRoutes.ts
  packages/web/app/components/translatedMessages/messages.tsx
  packages/web/app/components/translatedMessages/utils.ts
  packages/web/app/components/wallet-selector/WalletSelectorLayout.tsx
  packages/web/app/components/wallet-selector/wallet-connect/WalletConnect.tsx
  packages/web/app/components/wallet-selector/wallet-connect/WalletConnectLayout.tsx
  packages/web/app/config/getConfig.ts
  packages/web/app/lib/api/nullBlockTracker.ts
  packages/web/app/lib/persistence/WalletConnectStorage.ts
  packages/web/app/lib/web3/Web3Manager/Web3Manager.ts
  packages/web/app/lib/web3/errors.ts
  packages/web/app/lib/web3/types.ts
  packages/web/app/lib/web3/wallet-connect/WalletConnectConnector.ts
  packages/web/app/lib/web3/wallet-connect/WalletConnectWallet.ts
  packages/web/app/modules/auth/constants.ts
  packages/web/app/modules/reducer.ts
  packages/web/app/modules/routing/routes.ts
  packages/web/app/modules/sagas.ts
  packages/web/app/modules/wallet-selector/actions.ts
  packages/web/app/modules/wallet-selector/sagas.ts
  packages/web/app/modules/wallet-selector/wallet-connect/actions.ts
  packages/web/app/modules/wallet-selector/wallet-connect/reducer.ts
  packages/web/app/modules/wallet-selector/wallet-connect/sagas.ts
  packages/web/app/modules/web3/types.ts
  packages/web/webpack/webpack.config.dev.js
  yarn.lock
Due: prettier --write

cleans ts Errors and tests
  packages/web/app/components/wallet-selector/WalletRecovery/RecoverWallet/LightWalletRecoverySignUp/ImportLightWalletBase.tsx
  packages/web/app/components/wallet-selector/WalletRecovery/RecoverWallet/LightWalletRecoverySignUp/RecoverLightWalletBase.tsx
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterBrowserWallet/RegisterBrowserWallet.ts
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterBrowserWallet/RegisterBrowserWalletContainer.tsx
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterLedger/RegisterLedger.tsx
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterLedger/RegisterLedgerBase.tsx
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterLightWallet/RegisterLightWalletContainer.tsx
  packages/web/app/modules/auth/user/sagas.spec.ts
  packages/web/app/modules/wallet-selector/browser-wizard/sagas.ts
  packages/web/app/modules/wallet-selector/ledgerConnectAndSign.ts
  packages/web/app/modules/wallet-selector/light-wizard/register/sagas.spec.ts
  packages/web/app/modules/wallet-selector/light-wizard/sagas.spec.ts
  packages/web/app/modules/wallet-selector/types.ts
  packages/web/app/test-e2e/investor/portfolio/TokenTransfer.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/wallet/utils.ts
  packages/web/app/test-e2e/investor/wallet/withdraw/Withdraw.spec.e2e.io.ts
  packages/web/app/test-e2e/issuer/eto/EtoRegistrationUtils.ts
  packages/web/app/test-e2e/other/email/change/ChangeEmail.spec.e2e.io.ts
  packages/web/app/test-e2e/other/login/lightwallet/InvestorLogin.spec.e2e.io.ts
  packages/web/app/test-e2e/other/logout/LogoutActions.spec.e2e.io.ts
  packages/web/app/test-e2e/other/recovery/Backup.spec.e2e.io.ts
  packages/web/app/test-e2e/other/recovery/WalletRecovery.spec.e2e.io.ts
  packages/web/app/test-e2e/other/routing/OtherRouting.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/CREATE_USER_PATH.ts
  packages/web/app/test-e2e/utils/assertions.ts
  packages/web/app/test-e2e/utils/emailHelpers.ts
  packages/web/app/test-e2e/utils/getJWT.ts
  packages/web/app/test-e2e/utils/index.ts
  packages/web/app/test-e2e/utils/userHelpers.ts
  packages/web/health-check-sha.json
  packages/web/test/sagaIntegrationTestHelpers.ts
  packages/web/test/setupTests.ts
Due: prettier --write

fix walletconnect name in wallettype remove ip substitution for start:serve-on-network
  packages/web/app/lib/web3/wallet-connect/WalletConnectWallet.ts
  packages/web/app/modules/web3/types.ts
  packages/web/webpack/loadAppEnv.js
Due: prettier --write

cleanup
  packages/web/app/components/wallet-selector/wallet-connect/WalletConnect.tsx
  packages/web/app/config/constants.ts
  packages/web/app/config/getConfig.ts
  packages/web/app/lib/web3/Web3Manager/Web3Manager.ts
  packages/web/app/lib/web3/wallet-connect/WalletConnectWallet.ts
  packages/web/app/modules/auth/jwt/sagas.ts
  packages/web/app/modules/reducer.ts
  packages/web/app/modules/sagas.ts
  packages/web/app/modules/wallet-selector/wallet-connect/reducer.ts
  packages/web/app/modules/wallet-selector/wallet-connect/sagas.ts
  packages/web/health-check-sha.json
Due: prettier --write

Fixes Browser wallet loading state and typo
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterBrowserWallet/RegisterBrowserWallet.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write

patches yup email schema
  patches/README.md
  patches/yup+0.26.7.patch
Due: prettier --write

Adds E2E tests as per review request
  packages/web/app/modules/auth/user/sagas.spec.ts
  packages/web/app/modules/auth/user/sagas.ts
  packages/web/app/modules/auth/user/utils.ts
  packages/web/app/modules/wallet-selector/light-wizard/sagas.ts
  packages/web/app/test-e2e/other/recovery/WalletRecovery.spec.e2e.io.ts
Due: prettier --write

Review Fixes 2
  packages/web/app/components/wallet-selector/WalletSelectorLogin/LoginLightWallet/MissingEmailLightWallet.module.scss
  packages/web/app/modules/wallet-selector/forms/sagas.ts
  packages/web/app/modules/wallet-selector/light-wizard/sagas.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

Fix whitelist latency (#4230)
  packages/web/app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/RegisterNowWidget.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/connectCampaigningActivatedWidget.ts
  packages/web/app/modules/bookbuilding-flow/utils.ts
  packages/web/app/modules/eto-view/notAuth/sagas.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write

fix merge conflicts
  packages/web/app/lib/persistence/WalletConnectStorage.ts
  packages/web/app/lib/web3/wallet-connect/WalletConnectConnector.ts
  packages/web/app/lib/web3/wallet-connect/WalletConnectWallet.ts
  packages/web/app/modules/init/sagas.ts
  packages/web/app/modules/web3/types.ts
Due: prettier --write

hides wallet0selector/header when user logsin
  packages/web/app/components/wallet-selector/WalletSelectorLogin/LoginBrowserWallet/LoginBrowserWallet.tsx
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterBrowserWallet/RegisterBrowserWallet.ts
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterLightWallet/RegisterLightWallet.tsx
  packages/web/app/modules/auth/jwt/sagas.ts
  packages/web/app/modules/auth/user/external/sagas.ts
  packages/web/app/modules/wallet-selector/browser-wizard/sagas.ts
  packages/web/app/modules/wallet-selector/forms/sagas.ts
  packages/web/app/modules/wallet-selector/types.ts
Due: prettier --write

fixes warning signs
  packages/web/app/components/shared/WarningAlert.module.scss
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerInit/WalletLedgerInit.module.scss
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerInit/WalletLedgerInit.tsx
  packages/web/app/components/wallet-selector/shared/RegisterWalletSelector.module.scss
Due: prettier --write, yarn sasslint

aligns warning signs
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerInit/WalletLedgerInit.module.scss
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerInit/WalletLedgerInit.tsx
  packages/web/app/components/wallet-selector/shared/RegisterWalletSelector.module.scss
Due: prettier --write, yarn sasslint

fixes textField visuals
  packages/design-system/src/components/inputs/Input.module.scss
  packages/design-system/src/components/inputs/InputError.module.scss
  packages/design-system/src/styles/variables.scss
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterLightWallet/RegisterLightWalletForm.tsx
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

from platform-contracts 3c1d53cd8cc5fb6432ee0c0a896c29f9ef8151f2 (#4243)
  packages/web/app/components/eto/overview/EtoOverviewThumbnail/EtoOverviewThumbnail.tsx
  packages/web/app/lib/api/eto/EtoApiUtils.spec.ts
  packages/web/app/lib/api/eto/EtoApiUtils.ts
  packages/web/health-check-sha.json
Due: prettier --write

add getMeta method of walletConnect wallet add capability matrix based on peerMeta to wc wallet metadata
  packages/web/app/lib/web3/PersonalWeb3.ts
  packages/web/app/lib/web3/types.ts
  packages/web/app/lib/web3/wallet-connect/WalletConnectConnector.ts
  packages/web/app/lib/web3/wallet-connect/WalletConnectWallet.ts
  packages/web/app/modules/wallet-selector/wallet-connect/sagas.ts
  packages/web/app/modules/web3/types.ts
  packages/web/health-check-sha.json
Due: prettier --write

Fix incorrect whitelist commitment in nominee dashboard (#4239)
  packages/web/app/components/eto/overview/EtoOverviewThumbnail/Whitelist/Whitelist.tsx
  packages/web/app/modules/bookbuilding-flow/reducer.ts
  packages/web/app/modules/bookbuilding-flow/selectors.ts
  packages/web/app/modules/eto-view/nominee/sagas.ts
  packages/web/app/modules/nominee-flow/sagas.ts
Due: prettier --write

Fix whitelist full state (#4227)
  packages/web/app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/StartDateNotSet.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/CounterWidget.spec.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/EtoStatusManager/EtoStatusManager.tsx
Due: prettier --write

add logoutReason handling for peer disconnect
  packages/web/app/components/wallet-selector/WalletSelectorLayout.tsx
  packages/web/app/modules/auth/types.ts
  packages/web/app/modules/auth/user/sagas.ts
  packages/web/app/modules/wallet-selector/wallet-connect/sagas.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write

add stop/start services actions, start services/watchers on app init and stop on logout
  packages/web/app/modules/auth/jwt/sagas.ts
  packages/web/app/modules/auth/reducer.ts
  packages/web/app/modules/auth/user/external/sagas.ts
  packages/web/app/modules/auth/user/sagas.ts
  packages/web/app/modules/auth/watcher/sagas.ts
  packages/web/app/modules/init/actions.ts
  packages/web/app/modules/init/sagas.ts
  packages/web/app/modules/sagas.ts
  packages/web/app/modules/tx/monitor/sagas.ts
  packages/web/app/modules/wallet-selector/wallet-connect/sagas.ts
  packages/web/app/modules/wallet/sagas.ts
Due: prettier --write
