Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

.lintstagedrc:

{
  "app/**/*.{ts,tsx,js}": ["yarn tsc", "tslint --project . --format stylish --fix", "git add"],
  "app/**/*.spec.{ts,tsx}": ["tslint --project . --format stylish --fix --config ./tslint.spec.json", "git add"],
  "**/*.{ts,tsx,js,json,md,gql}": ["prettier --write", "git add"],
  "**/*.{sass,scss,css}": ["yarn sasslint"]
}

Adds e2e test
  app/components/settings/icbm-wallet-widget/CheckYourICBMWalletWidget.tsx
  app/test-e2e/wallets/WalletMigrate.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

connect contracts and documents to set date summary
  app/components/eto/EtoDashboard.stories.tsx
  app/components/modals/tx-sender/eto-flow/SetDateSummary.tsx
  app/modules/public-etos/sagas.ts
  app/modules/public-etos/types.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

fixes tradability text in e2e
  app/test-e2e/eto-view/EtoViewForInvestor.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

added break to fit a tooltip (#2185)
  app/components/dashboard/my-wallet/MyWalletWidget.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2144 fix storybook tests
  app/components/shared/errorBoundary/ErrorBoundary.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2159 Improved error page (#2167)
  app/components/App.tsx
  app/components/layouts/CriticalError.module.scss
  app/components/layouts/CriticalError.stories.tsx
  app/components/layouts/CriticalError.tsx
  app/components/shared/RollingSadFace.module.scss
  app/components/shared/RollingSadFace.stories.tsx
  app/components/shared/RollingSadFace.tsx
  app/lib/dependencies/Logger.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#2131 Changes Document texting (#2188)
  app/components/documents/Documents.tsx
  app/components/documents/utils.tsx
  app/components/eto/public-view/DocumentsWidget.tsx
  app/components/portfolio/PortfolioLayout.tsx
  app/components/shared/SingleColDocumentWidget.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

small fix
  app/components/settings/backup-seed/BackupSeed.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Adds UpgradeSummary Component (#2173)
  app/components/modals/tx-sender/TxSender.tsx
  app/components/modals/tx-sender/upgrade-flow/Summary.stories.tsx
  app/components/modals/tx-sender/upgrade-flow/Summary.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

adds cancelID
  app/components/settings/kyc-states/KycStatusWidget.spec.tsx
  app/components/settings/kyc-states/KycStatusWidget.stories.tsx
  app/components/settings/kyc-states/KycStatusWidget.tsx
  app/lib/api/KycApi.ts
  app/modules/kyc/actions.ts
  app/modules/kyc/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#2196 (#2199)
  app/components/eto/overview/EtoOverviewStatus/ClaimRefundWidget/ClaimWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentWidget.tsx
  app/components/eto/shared/EtoPublicComponent.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

adds e2e test
  app/components/settings/kyc-states/KycStatusWidget.tsx
  app/test-e2e/kyc/KYCFlowIndividualIDnow.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix success tick box size (#2219)
  app/components/shared/SuccessTick.module.scss
Due: yarn sasslint

Removes NeufundKpiWidget
  app/components/dashboard/NeufundKpiWidget.module.scss
  app/components/dashboard/NeufundKpiWidget.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Update en-en.json
  intl/locales/en-en.json
Due: prettier --write

update summary
  .gitignore
  app/components/modals/tx-sender/eto-flow/SetDateSummary.stories.tsx
  app/components/modals/tx-sender/eto-flow/SetDateSummary.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Adds custom wait time before error is settled (#2222)
  app/components/App.tsx
  app/config/constants.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

start writing e2e test
  app/components/eto/dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.tsx
  app/test-e2e/constants.ts
  app/test-e2e/eto-registration/SetEtoStartDate.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Align profile boxes
  app/components/settings/backup-seed/BackupSeedWidget.module.scss
  app/components/settings/backup-seed/BackupSeedWidget.tsx
  app/components/settings/icbm-wallet-widget/CheckYourICBMWalletWidget.module.scss
  app/components/settings/icbm-wallet-widget/CheckYourICBMWalletWidget.tsx
  app/components/settings/kyc-states/KycStatusWidget.module.scss
  app/components/settings/kyc-states/KycStatusWidget.tsx
  app/components/settings/personal-account-details/PersonalAccountDetails.tsx
  app/components/settings/verify-email/VerifyEmailWidget.module.scss
  app/components/settings/verify-email/VerifyEmailWidget.tsx
  app/styles/mixins/layout.scss
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Refactors LightWallet Folder and adds missing test (#2229)
  app/components/wallet-selector/light/Login/LoginLightWallet.stories.tsx
  app/components/wallet-selector/light/Login/LoginLightWallet.tsx
  app/components/wallet-selector/light/Login/LoginWithEmailLightWallet.tsx
  app/components/wallet-selector/light/Login/MissingEmailLightWallet.tsx
  app/components/wallet-selector/light/Register/RegisterLightWallet.module.scss
  app/components/wallet-selector/light/Register/RegisterLightWallet.stories.tsx
  app/components/wallet-selector/light/Register/RegisterLightWallet.tsx
  app/components/wallet-selector/light/WalletLight.tsx
  app/components/wallet-selector/wallet-recover/RecoverWallet.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#1683 Remove leftovers
  app/utils/withMetaTags.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2232 Fix node-sass deprecation warning
  app/components/shared/forms/form-field/FormFieldDatePicker.tsx
  app/styles/global.scss
  package.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Fix tooltip toggling (#2236)
  app/components/shared/Tooltip.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

add e2e test for setting eto date
  app/components/eto/dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.tsx
  app/components/modals/tx-sender/eto-flow/SetDateSummary.tsx
  app/modules/tx/transactions/sagas.ts
  app/test-e2e/eto-registration/SetEtoStartDate.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

fix imports
  app/components/eto/dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2207 storybook etoPublicView (#2228)
  .storybook/webpack.config.js
  app/components/eto/shared/EtoPublicComponent.stories.tsx
  test/fixtures.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

[Hotfix] Broken lints and panel on eto view (#2241)
  app/components/eto/shared/EtoPublicComponent.stories.tsx
  app/components/shared/Panel.module.scss
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Remove webpack-hot-middleware (#2245)
  .storybook/webpack.config.js
  package.json
  yarn.lock
Due: prettier --write

#2239 storybook cleanup (#2244)
  app/components/documents/Documents.tsx
  app/components/eto/EtoDashboard.stories.tsx
  app/components/eto/EtoDashboard.tsx
  app/components/eto/dashboard/ETOFormsProgressSection.stories.tsx
  app/components/eto/dashboard/ETOFormsProgressSection.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoMaxCapExceeded.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.stories.tsx
  app/components/eto/public-view/EtoInvestmentTermsWidget.stories.tsx
  app/components/eto/shared/EtoView.tsx
  app/components/modals/accept-tos-modal/AcceptTosModal.stories.tsx
  app/components/modals/icbm-wallet-balance-modal/IcbmWalletBalanceModal.stories.tsx
  app/components/modals/tx-sender/eto-flow/SetDateSummary.stories.tsx
  app/components/modals/tx-sender/investment-flow/BankTransfer.stories.tsx
  app/components/modals/tx-sender/investment-flow/Investment.stories.tsx
  app/components/modals/tx-sender/investment-flow/InvestmentTypeSelector.stories.tsx
  app/components/modals/tx-sender/investment-flow/Success.stories.tsx
  app/components/modals/tx-sender/investment-flow/Summary.stories.tsx
  app/components/modals/walletAccess/AccessWalletModal.stories.tsx
  app/components/shared/ETOState.tsx
  app/components/shared/InvestmentPreview.stories.tsx
  app/components/shared/modals/TransactionState.stories.tsx
  app/components/wallet-selector/ICBMWalletHelpTextModal.stories.tsx
  app/lib/api/eto/EtoApi.interfaces.tsx
  app/lib/api/eto/EtoApiUtils.ts
  app/modules/eto-flow/sagas.ts
  app/modules/eto-flow/selectors.ts
  app/modules/investor-tickets/sagas.ts
  app/modules/public-etos/sagas.ts
  app/modules/public-etos/utils.ts
  app/utils/storybookHelpers.tsx
  test/fixtures.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Add additional teaser fixes (#2247)
  app/components/shared/EtoOfferingCard.tsx
  app/components/shared/ResponsiveImage.module.scss
  app/components/shared/ResponsiveImage.tsx
  app/data/etoCompanies.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#2115 Add typography fixes (#2231)
  app/components/dashboard/eto-list/EtoList.module.scss
  app/components/dashboard/my-portfolio/MyPortfolioWidget.module.scss
  app/components/dashboard/my-portfolio/MyPortfolioWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/EtosComingSoon.module.scss
  app/components/shared/StepCard.module.scss
  app/components/wallet-selector/WalletSelector.module.scss
  app/components/wallet-selector/browser/WalletBrowser.module.scss
  app/components/wallet-selector/browser/WalletBrowser.tsx
  app/components/wallet-selector/light/Login/LoginLightWallet.tsx
  app/components/wallet-selector/light/Login/LoginWithEmailLightWallet.tsx
  app/components/wallet-selector/light/Login/MissingEmailLightWallet.tsx
  app/components/wallet-selector/light/Register/RegisterLightWallet.module.scss
  app/components/wallet-selector/light/WalletLight.module.scss
  app/styles/mixins/typography.scss
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Refactor currency type from union type to enum (#2252)
  app/components/dashboard/my-portfolio/MyNeuWidget.tsx
  app/components/dashboard/my-wallet/MyWalletWidget.tsx
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedInvestorApprovedWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/ClaimRefundWidget/ClaimWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoMaxCapExceeded.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentWidget.tsx
  app/components/eto/overview/EtoRaisedAmount.tsx
  app/components/eto/public-view/EtoInvestmentTermsWidget.tsx
  app/components/eto/public-view/LegalInformationWidget.tsx
  app/components/eto/registration/pages/InvestmentTerms.tsx
  app/components/eto/shared/InvestmentAmount.tsx
  app/components/modals/icbm-wallet-balance-modal/BalanceModal.tsx
  app/components/modals/tx-sender/investment-flow/InvestmentTypeSelector.tsx
  app/components/modals/tx-sender/investment-flow/Summary.tsx
  app/components/modals/tx-sender/upgrade-flow/Summary.tsx
  app/components/modals/tx-sender/withdraw-flow/Summary.tsx
  app/components/portfolio/PortfolioLayout.tsx
  app/components/shared/AssetPortfolio.tsx
  app/components/shared/InvestmentPreview.tsx
  app/components/shared/Money.spec.tsx
  app/components/shared/Money.stories.tsx
  app/components/shared/Money.tsx
  app/components/shared/MoneySuiteWidget.tsx
  app/components/wallet-selector/ledger/WalletLedgerChooserTableAdvanced.tsx
  app/components/wallet-selector/ledger/WalletLedgerChooserTableSimple.tsx
  app/components/wallet/TotalEuro.tsx
  app/components/wallet/claimed-dividends/ClaimedDividends.tsx
  app/components/wallet/transaction-list/TransactionList.tsx
  app/components/wallet/wallet-balance/IcbmWallet.tsx
  app/components/wallet/wallet-balance/LockedWallet.tsx
  app/components/wallet/wallet-balance/UnlockedWallet.tsx
  app/lib/api/eto/EtoPledgeApi.interfaces.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

At/#2210 file ipfs widget storybook (#2242)
  app/components/eto/shared/EtoFileIpfsModal.stories.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

remove web3 flows
  app/lib/web3/Web3Manager.spec.ts
  app/lib/web3/Web3Manager.ts
  app/modules/auth/sagas.ts
  app/modules/flows.ts
  app/modules/web3/actions.ts
  app/modules/web3/flows.spec.ts
  app/modules/web3/flows.ts
  app/modules/web3/sagas.spec.ts
  app/modules/web3/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Update babel to the latest version
  .babelrc
  .browserslistrc
  package.json
  yarn.lock
Due: prettier --write

updates backend
  e2e/run_backend.sh
Due: none

#1762 Fix small todo comments (#2240)
  app/components/eto/EtoContentWidget.module.scss
  app/components/eto/EtoIssuerView.tsx
  app/components/eto/EtoPublicView.tsx
  app/components/eto/EtoPublicViewByContractId.tsx
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.tsx
  app/components/eto/dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.tsx
  app/components/eto/dashboard/submitProposalWidget/SubmitProposalWidget.tsx
  app/components/eto/registration/pages/EtoMedia.tsx
  app/components/eto/registration/pages/EtoTerms.tsx
  app/components/eto/registration/pages/RiskAssessment.tsx
  app/components/eto/shared/EtoView.stories.tsx
  app/components/eto/shared/EtoView.tsx
  app/components/settings/kyc-states/KycStatusWidget.stories.tsx
  app/components/settings/kyc-states/KycStatusWidget.tsx
  app/components/shared/buttons/ButtonLink.spec.tsx
  app/components/shared/buttons/ButtonLink.tsx
  app/components/shared/forms/form-field/FormFieldBoolean.module.scss
  app/components/shared/forms/form-field/FormFieldBoolean.stories.tsx
  app/components/shared/forms/form-field/FormFieldBoolean.tsx
  app/components/shared/forms/form-field/FormFieldCheckboxGroup.tsx
  app/components/shared/forms/form-field/FormRange.tsx
  app/components/shared/forms/index.tsx
  app/components/wallet-selector/WalletSelector.integration.spec.tsx
  app/components/wallet-selector/browser/WalletBrowser.tsx
  app/components/wallet/wallet-balance/UnlockedWallet.tsx
  app/config/constants.ts
  app/lib/api/KycApi.ts
  app/lib/web3/LedgerWallet.ts
  app/modules/access-wallet/sagas.ts
  app/modules/eto-flow/sagas.ts
  app/modules/icbm-wallet-balance-modal/sagas.ts
  app/types.d.ts
  app/utils/StringUtils.spec.ts
  app/utils/StringUtils.ts
  app/utils/hash.utils.spec.ts
  app/utils/hash.utils.ts
  app/utils/storeDecorator.tsx
  app/utils/withMetaTags.tsx
  test/integrationTestUtils.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

refactor fake timers in test, to work only when required
  app/components/settings/verify-email/VerifyEmailWidget.spec.tsx
  app/components/wallet-selector/WalletSelector.integration.spec.tsx
  app/components/wallet-selector/browser/WalletBrowser.tsx
  app/lib/web3/Web3Manager.spec.ts
  app/lib/web3/lightWallet.spec.node.ts
  app/modules/investment-flow/__tests__/selectors.spec.ts
  app/modules/wallet-selector/browser-wizard/actions.spec.ts
  app/modules/wallet-selector/browser-wizard/actions.ts
  app/modules/wallet-selector/browser-wizard/flows.ts
  app/modules/wallet-selector/browser-wizard/reducer.spec.ts
  app/modules/wallet-selector/browser-wizard/sagas.ts
  app/modules/wallet-selector/flows.ts
  app/modules/wallet-selector/light-wizard/flows.ts
  app/modules/wallet-selector/light-wizard/sagas.ts
  app/modules/web3/sagas.spec.ts
  app/utils/AsyncIntervalScheduler.spec.ts
  app/utils/promiseTimeout.spec.ts
  app/utils/withActionWatcher.spec.tsx
  package.json
  test/integrationTestUtils.tsx
  test/setupTestsHooks.ts
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write
