Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

update pledge delete messages
  app/modules/bookbuilding-flow/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

adds support for terms of service
  app/components/layouts/LayoutAuthorized.tsx
  app/components/modals/ModalComponentBody.tsx
  app/components/modals/accept-tos-modal/AcceptTosModal.stories.tsx
  app/components/modals/accept-tos-modal/AcceptTosModal.tsx
  app/config/constants.ts
  app/lib/api/users/UsersApi.ts
  app/lib/api/users/interfaces.ts
  app/lib/web3/ContractsService.ts
  app/modules/auth/actions.ts
  app/modules/auth/reducer.ts
  app/modules/auth/sagas.ts
  app/modules/init/sagas.ts
  app/test-e2e/settings/LightWalletRegister.spec.e2e.ts
  app/test-e2e/settings/VerifyEmailWidget.spec.e2e.ts
  app/test-e2e/utils/index.ts
  app/test-e2e/utils/userHelpers.ts
  app/test-e2e/wallets/WalletRecover.spec.e2e.ts
  e2e/run_backend.sh
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

pr fixes
  app/components/layouts/LayoutAuthorized.tsx
  app/components/modals/accept-tos-modal/AcceptTosModal.tsx
  app/lib/web3/ContractsService.ts
  app/modules/auth/sagas.ts
  app/modules/auth/selectors.ts
  app/test-e2e/settings/LightWalletRegister.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

add sign tos permissionn as default
  app/modules/auth/sagas.ts
  app/test-e2e/utils/index.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

update mimetype
  app/modules/auth/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

adds hack for accepting terms of use without file download
  app/components/modals/accept-tos-modal/AcceptTosModal.tsx
  app/test-e2e/utils/index.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

fixes lightwalletregisterest
  app/test-e2e/register/LightWalletETORegister.spec.e2e.ts
  app/test-e2e/utils/index.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

fix unrelated campaigning test
  app/test-e2e/eto/Campaining.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Update en-en.json (#2067)
  intl/locales/en-en.json
Due: prettier --write

changes icon to black (#2071)
  app/components/modals/tx-sender/investment-flow/InvestmentTypeSelector.module.scss
Due: yarn sasslint

fix token price label in eto status widget
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

rename style class names to be more descriptive
  app/components/eto/overview/EtoOverviewStatus/TokenSymbolWidget.module.scss
  app/components/eto/overview/EtoOverviewStatus/TokenSymbolWidget.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

At/#2050 icbm tooltips (#2059)
  app/components/dashboard/my-wallet/MyWalletWidget.stories.tsx
  app/components/dashboard/my-wallet/MyWalletWidget.tsx
  app/components/settings/icbm-wallet-widget/CheckYourICBMWalletWidget.stories.tsx
  app/components/settings/icbm-wallet-widget/CheckYourICBMWalletWidget.tsx
  app/components/shared/Tooltip.module.scss
  app/components/shared/Tooltip.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Split header for login and register (#2078)
  app/components/wallet-selector/WalletSelector.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2032 Update landing (#2079)
  app/assets/img/eto_offers/neufund@1x.png
  app/assets/img/eto_offers/neufund@2x.png
  app/assets/img/tick.svg
  app/components/externalRoutes.ts
  app/components/landing/Landing.tsx
  app/components/landing/parts/LandingFeatured.module.scss
  app/components/landing/parts/LandingFeatured.tsx
  app/components/landing/shared/NeonHeader.module.scss
  app/components/landing/shared/NeonHeader.stories.tsx
  app/components/landing/shared/NeonHeader.tsx
  app/components/shared/buttons/Button.module.scss
  app/components/shared/buttons/Button.stories.tsx
  app/components/shared/buttons/Button.tsx
  app/components/shared/loading-indicator/LoadingIndicatorHexagon.module.scss
  app/styles/elements/ul.scss
  app/styles/tools/typography.scss
  app/styles/variables.scss
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#1930 Profile layout fixes (#2072)
  app/components/layouts/LayoutAuthorizedMenu.stories.tsx
  app/components/layouts/LayoutAuthorizedMenu.tsx
  app/components/settings/backup-seed/BackupSeedWidget.module.scss
  app/components/settings/backup-seed/BackupSeedWidget.spec.tsx
  app/components/settings/backup-seed/BackupSeedWidget.stories.tsx
  app/components/settings/backup-seed/BackupSeedWidget.tsx
  app/components/settings/kyc-states/KycStatusWidget.module.scss
  app/components/settings/kyc-states/KycStatusWidget.tsx
  app/components/settings/verify-email/VerifyEmailWidget.module.scss
  app/components/settings/verify-email/VerifyEmailWidget.spec.tsx
  app/components/settings/verify-email/VerifyEmailWidget.tsx
  app/components/shared/buttons/Button.stories.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

switch kyc button to profile
  app/components/kyc/Kyc.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2082 fix typo
  intl/locales/en-en.json
Due: prettier --write

#2082 fix typos in translations
  intl/locales/en-en.json
Due: prettier --write

Update en-en.json
  intl/locales/en-en.json
Due: prettier --write

fix terms of use updates pledge button
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedWidget.tsx
  app/modules/auth/sagas.ts
  app/modules/auth/selectors.ts
  app/modules/init/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

adds exception catcher for loading current agreement
  app/modules/auth/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Limits twitter feed
  app/external/twitter-iframe.html
Due: none

changes twitter style
  app/components/shared/TwitterTimeline.module.scss
Due: yarn sasslint

fix tooltip bug
  app/components/shared/CustomTooltip.tsx
  app/components/shared/Tooltip.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

improve explanation comments
  app/components/shared/CustomTooltip.tsx
  app/components/shared/Tooltip.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

fixes selector naming
  app/components/modals/accept-tos-modal/AcceptTosModal.tsx
  app/modules/auth/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Update banner resolutions
  app/assets/img/eto_offers/neufund@1x.png
  app/assets/img/eto_offers/neufund@2x.png
  app/assets/img/eto_offers/neufundhover@1x.png
  app/assets/img/eto_offers/neufundhover@2x.png
Due: none

#2098 Remove old teaser and init smart contracts on landing (#2100)
  app/components/landing/parts/LandingFeatured.module.scss
  app/components/landing/parts/LandingFeatured.tsx
  app/data/etoCompanies.ts
  app/modules/init/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

updates rendering of eto terms (#2097)
  app/components/eto/registration/pages/InvestmentTerms.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Update eto list placeholder styles for tablet and mobile (#2090)
  app/assets/img/etos-comings-soon/left-placeholder.png
  app/components/eto/overview/EtoOverviewStatus/EtosComingSoon.module.scss
  app/components/eto/overview/EtoOverviewStatus/EtosComingSoon.tsx
  app/components/landing/parts/LandingFeatured.tsx
  app/components/landing/shared/NeonHeader.module.scss
  app/components/landing/shared/NeonHeader.stories.tsx
  app/components/landing/shared/NeonHeader.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

fix invest whole wallet button
  app/components/modals/tx-sender/investment-flow/Investment.tsx
  app/components/modals/tx-sender/investment-flow/Summary.tsx
  app/components/modals/tx-sender/withdraw-flow/Summary.tsx
  app/components/shared/forms/form-field/FormStyles.module.scss
  app/modules/investment-flow/sagas.ts
  app/modules/tx/sender/selectors.ts
  app/modules/tx/transactions/investment/sagas.ts
  app/modules/wallet/selectors.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

adds logout button to accept tos modal (#2104)
  app/components/layouts/Header.spec.tsx
  app/components/layouts/Header.stories.tsx
  app/components/layouts/Header.tsx
  app/components/modals/accept-tos-modal/AcceptTosModal.stories.tsx
  app/components/modals/accept-tos-modal/AcceptTosModal.tsx
  app/modules/auth/actions.ts
  app/modules/auth/sagas.ts
  app/modules/init/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#2027 Fix widget routing (#2105)
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/eto/overview/EtoOverviewStatus/RegisterNowWidget.tsx
  app/components/shared/buttons/ButtonLink.tsx
  app/modules/routing/actions.ts
  app/modules/routing/sagas.ts
  app/modules/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

enum translations
  app/modules/auth/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

add enums for translations
  app/components/modals/walletAccess/AccessWalletModal.stories.tsx
  app/components/modals/walletAccess/AccessWalletModal.tsx
  app/components/wallet-selector/WalletMessageSigner.tsx
  app/config/errorMessages.tsx
  app/lib/web3/errors.ts
  app/modules/access-wallet/actions.ts
  app/modules/access-wallet/errors.ts
  app/modules/access-wallet/reducer.ts
  app/modules/access-wallet/sagas.ts
  app/modules/auth/sagas.ts
  app/modules/wallet-selector/actions.ts
  app/modules/wallet-selector/browser-wizard/errors.ts
  app/modules/wallet-selector/ledger-wizard/errors.ts
  app/modules/wallet-selector/light-wizard/errors.tsx
  app/modules/wallet-selector/reducer.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2087 add translations
  app/components/modals/walletAccess/AccessWalletModal.stories.tsx
  app/components/modals/walletAccess/AccessWalletModal.tsx
  app/components/translatedMessages/errorMessages.tsx
  app/components/wallet-selector/WalletMessageSigner.tsx
  app/config/errorMessages.tsx
  app/lib/web3/errors.ts
  app/modules/access-wallet/actions.ts
  app/modules/access-wallet/errors.ts
  app/modules/access-wallet/reducer.ts
  app/modules/access-wallet/sagas.ts
  app/modules/auth/sagas.ts
  app/modules/wallet-selector/actions.ts
  app/modules/wallet-selector/browser-wizard/actions.ts
  app/modules/wallet-selector/browser-wizard/errors.ts
  app/modules/wallet-selector/browser-wizard/flows.ts
  app/modules/wallet-selector/ledger-wizard/errors.ts
  app/modules/wallet-selector/light-wizard/errors.ts
  app/modules/wallet-selector/reducer.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2087 rename errorMessages to messages move yupLocales to translatedMessages remove intl from WalletBrowser, use normal FormattedMessage instead
  app/components/modals/walletAccess/AccessWalletModal.stories.tsx
  app/components/modals/walletAccess/AccessWalletModal.tsx
  app/components/translatedMessages/messages.tsx
  app/components/translatedMessages/yupLocales.tsx
  app/components/wallet-selector/WalletMessageSigner.tsx
  app/components/wallet-selector/browser/WalletBrowser.tsx
  app/index.tsx
  app/lib/web3/errors.ts
  app/modules/access-wallet/actions.ts
  app/modules/access-wallet/errors.ts
  app/modules/access-wallet/reducer.ts
  app/modules/access-wallet/sagas.ts
  app/modules/auth/sagas.ts
  app/modules/wallet-selector/actions.ts
  app/modules/wallet-selector/browser-wizard/actions.ts
  app/modules/wallet-selector/browser-wizard/errors.ts
  app/modules/wallet-selector/browser-wizard/flows.ts
  app/modules/wallet-selector/ledger-wizard/actions.ts
  app/modules/wallet-selector/ledger-wizard/errors.ts
  app/modules/wallet-selector/light-wizard/actions.ts
  app/modules/wallet-selector/light-wizard/errors.ts
  app/modules/wallet-selector/light-wizard/sagas.ts
  app/modules/wallet-selector/reducer.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2087 update storybook tests remove intl from WalletBrowser change typing in browser-wizard/reducer
  app/components/translatedMessages/messages.tsx
  app/components/wallet-selector/browser/WalletBrowser.stories.tsx
  app/components/wallet-selector/browser/WalletBrowser.tsx
  app/modules/wallet-selector/browser-wizard/reducer.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Path conditions:
  yarn tsc: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix --config ./tslint.spec.json: any of: app/**/*.spec.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,js,json,md,gql}
  yarn sasslint: any of: **/*.{sass,scss,css}
