Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

.lintstagedrc:

{
  "app/**/*.{ts,tsx,js}": ["yarn tsc", "tslint --project . --format stylish --fix", "git add"],
  "app/**/*.spec.{ts,tsx}": ["tslint --project . --format stylish --fix --config ./tslint.spec.json", "git add"],
  "**/*.{ts,tsx,js,json,md,gql}": ["prettier --write", "git add"],
  "**/*.{sass,scss,css}": ["yarn sasslint"]
}

#3526 fetch ETO data after investment succeeded (#3555)
  packages/web/app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentWidget.tsx
  packages/web/app/modules/investment-flow/sagas.ts
  packages/web/app/modules/tx/sender/sagas.ts
  packages/web/app/modules/tx/transactions/actions.ts
  packages/web/app/modules/tx/transactions/investment/sagas.ts
  packages/web/app/modules/tx/transactions/sagas.ts
  packages/web/app/test-e2e/eto-view/EtoViewForInvestor.spec.e2e.io.ts
  packages/web/app/test-e2e/eto-view/EtoViewUtils.ts
  packages/web/app/test-e2e/eto/InvestWithNEur.spec.e2e.ts
  packages/web/app/test-e2e/utils/index.ts
Due: prettier --write

#3564 Make link bank account optional (#3566)
  packages/web/app/modules/nominee-flow/utils.ts
  packages/web/health-check-sha.json
Due: prettier --write

Investment flow change (#3558)
  packages/web/app/components/modals/tx-sender/investment-flow/Investment.tsx
  packages/web/app/test-e2e/eto/InvestChange.spec.e2e.io.ts
  packages/web/app/test-e2e/eto/InvestChange.spec.e2e.ts
Due: prettier --write

Fix wrong assets import (#3573)
  packages/web/app/components/eto/public-view/Cover.tsx
  packages/web/app/components/modals/wallet-access/AccessWalletModal.tsx
  packages/web/app/components/shared/HiResImage.tsx
  packages/web/app/components/shared/ResponsiveImage.stories.tsx
  packages/web/app/components/shared/ResponsiveImage.tsx
  packages/web/app/components/shared/SlidePerson.tsx
  packages/web/health-check-sha.json
Due: prettier --write

Dappeteer experiment
  packages/web/app/test-e2e/general-app/LoginWithMetamask.spec.e2e.puppeteer.ts
  packages/web/package.json
  packages/web/tsconfig.puppeteer.json
  yarn.lock
Due: prettier --write

#3486 Add conditional copy for whitelisted investor (#3569)
  packages/web/app/components/eto/overview/EtoOverviewThumbnail/EtoCardStatusManager.tsx
  packages/web/intl/locales/en-en.json
Due: prettier --write

Fix wallet address width (#3574)
  packages/web/app/components/modals/DepositEthModal.module.scss
Due: yarn sasslint

date display improvements in set start date widget (#3579)
  packages/web/app/components/issuer-dashboard/bookBuildingWidget/BookBuildingWidget.stories.tsx
  packages/web/app/components/issuer-dashboard/bookBuildingWidget/BookBuildingWidget.tsx
  packages/web/app/components/issuer-dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.stories.tsx
  packages/web/app/components/issuer-dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.tsx
  packages/web/app/components/modals/tx-sender/eto-flow/SetDateDetails.tsx
  packages/web/app/components/shared/TimeLeft.unsafe.tsx
  packages/web/app/config/constants.ts
  packages/web/app/modules/bookbuilding-flow/utils.ts
  packages/web/app/modules/eto-flow/selectors.ts
  packages/web/app/modules/eto-flow/utils.ts
  packages/web/app/test-e2e/eto-registration/SetEtoStartDate.spec.e2e.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write

#3565 Change wording of Preview of ISHA to just ISHA (#3582)
  packages/web/app/lib/api/eto/EtoFileApi.interfaces.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write

#3552 Add separate widget for whitelisted investors (#3580)
  packages/web/app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedWidget.stories.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedWidget.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/RegisterNowWidget.module.scss
  packages/web/app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/RegisterNowWidget.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/StartDateNotSet.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/WhitelistingLimitReached.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/WhitelistingSuspended.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/connectCampaigningActivatedWidget.ts
  packages/web/app/components/eto/overview/EtoOverviewStatus/ClaimRefundWidget/ClaimWidget.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/CounterWidget.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/EtoMaxCapExceeded.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/EtoStatusManager/EtoStatusManager.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/Message.module.scss
  packages/web/app/components/eto/overview/EtoOverviewStatus/Message.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/RegisterNowWidget.tsx
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

#3568 Add grey info box after whitelisting limit was reached (#3583)
  packages/web/app/components/eto/overview/EtoOverviewThumbnail/EtoCardStatusManager.tsx
  packages/web/app/components/eto/overview/EtoOverviewThumbnail/EtoOverviewThumbnail.module.scss
  packages/web/app/components/eto/overview/EtoOverviewThumbnail/EtoOverviewThumbnail.stories.tsx
  packages/web/app/components/eto/overview/EtoOverviewThumbnail/EtoOverviewThumbnail.tsx
  packages/web/app/components/eto/overview/EtoOverviewThumbnail/Info.module.scss
  packages/web/app/components/eto/overview/EtoOverviewThumbnail/Info.tsx
  packages/web/app/components/eto/overview/EtoOverviewThumbnail/Whitelist/Whitelist.tsx
  packages/web/app/components/eto/shared/ETOState.tsx
  packages/web/app/modules/eto/selectors.ts
  packages/web/app/modules/eto/types.ts
  packages/web/app/modules/eto/utils.ts
  packages/web/app/styles/variables/colors.scss
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

#3585 Show whitelisting stats during presale
  packages/web/app/components/issuer-dashboard/EtoDashboard.tsx
  packages/web/app/components/issuer-dashboard/bookBuildingWidget/BookBuildingWidget.stories.tsx
  packages/web/app/components/issuer-dashboard/bookBuildingWidget/BookBuildingWidget.tsx
  packages/web/app/components/issuer-dashboard/signInvestmentAgreementWidget/UploadInvestmentAgreementWidget.tsx
Due: prettier --write

#3585 Add e2e tests and update wording
  packages/web/app/components/issuer-dashboard/bookBuildingWidget/BookBuildingWidget.stories.tsx
  packages/web/app/components/issuer-dashboard/bookBuildingWidget/BookBuildingWidget.tsx
  packages/web/app/components/shared/DocumentLink.tsx
  packages/web/app/test-e2e/eto/Bookbuilding.spec.e2e.ts
  packages/web/app/test-e2e/eto/Campaigning.spec.e2e.ts
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write

#3585 Fix code review comments
  packages/web/app/components/issuer-dashboard/bookBuildingWidget/BookBuildingWidget.tsx
  packages/web/app/test-e2e/eto/Campaigning.spec.e2e.ts
Due: prettier --write

displays countdown to public sale for unlogged/uneligible (#3588)
  packages/web/app/components/eto/overview/EtoOverviewThumbnail/EtoCardStatusManager.tsx
  packages/web/intl/locales/en-en.json
Due: prettier --write

#3586 hide ISHA from non kyc users (#3601)
  packages/web/app/components/eto/EtoIssuerView.tsx
  packages/web/app/components/eto/EtoNomineeView.tsx
  packages/web/app/components/eto/EtoPublicView.tsx
  packages/web/app/components/eto/EtoPublicViewByContractId.tsx
  packages/web/app/components/eto/public-view/DocumentsWidget.stories.tsx
  packages/web/app/components/eto/public-view/DocumentsWidget.tsx
  packages/web/app/components/eto/public-view/EtoInvestmentTermsWidget.stories.tsx
  packages/web/app/components/eto/public-view/EtoInvestmentTermsWidget.tsx
  packages/web/app/components/eto/shared/ETOState.tsx
  packages/web/app/components/eto/shared/EtoView.stories.tsx
  packages/web/app/components/eto/shared/EtoView.tsx
  packages/web/app/components/issuer-dashboard/dashboardStep/DashboardStep.tsx
  packages/web/app/lib/api/eto/EtoFileUtils.ts
  packages/web/app/modules/eto-documents/sagas.ts
  packages/web/app/modules/eto-documents/utils.ts
  packages/web/app/test-e2e/eto-registration/EtoPresaleStep.spec.e2e.ts
  packages/web/app/test-e2e/eto-registration/EtoPublicSaleStep.spec.e2e.ts
  packages/web/app/test-e2e/eto-registration/EtoRegistrationUtils.ts
  packages/web/app/test-e2e/eto-view/ISHADocuments.spec.e2e.io.ts
  packages/web/app/test-e2e/eto/Campaigning.spec.e2e.ts
  packages/web/test/fixtures.ts
Due: prettier --write

#3577 Bank transfer copy changes (#3591)
  packages/web/app/components/modals/bank-transfer-flow/purchase/BankTransferPurchaseSummary.tsx
  packages/web/app/components/modals/bank-transfer-flow/verify/BankTransferVerifySummary.tsx
  packages/web/app/components/modals/tx-sender/shared/InfoRow.tsx
  packages/web/intl/locales/en-en.json
Due: prettier --write

#3556 non icbm wallet shown for whitelisting (#3590)
  packages/web/app/components/modals/tx-sender/investment-flow/Investment.tsx
  packages/web/app/components/modals/tx-sender/investment-flow/InvestmentTypeSelector.tsx
  packages/web/app/modules/investment-flow/sagas.ts
  packages/web/app/modules/investor-portfolio/sagas.ts
  packages/web/app/modules/investor-portfolio/selectors.ts
  packages/web/app/test-e2e/eto/InvestStartUpgradeFlow.spec.e2e.ts
  packages/web/app/test-e2e/eto/InvestWithUpgradedWalletEther.spec.e2e.ts
  packages/web/app/test-e2e/eto/utils.ts
Due: prettier --write

#3004 Automatically update email on verify in different tab (#3575)
  packages/web/app/modules/auth/user/sagas.ts
  packages/web/app/test-e2e/settings/VerifyEmailWidget.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/index.ts
  packages/web/app/test-e2e/utils/userHelpers.ts
Due: prettier --write

#3585 Fix whitelisting stats before presale (#3605)
  packages/web/app/components/issuer-dashboard/bookBuildingWidget/BookBuildingWidget.tsx
Due: prettier --write

Link bank account copy changes
  packages/web/intl/locales/en-en.json
Due: prettier --write

#3586 show confidentiality agreement modal when requested by the company (#3608)
  packages/web/app/components/eto/overview/EtoOverviewStatus/TagsWidget.tsx
  packages/web/app/components/eto/public-view/DocumentConfidentialityAgreementModal.module.scss
  packages/web/app/components/eto/public-view/DocumentConfidentialityAgreementModal.stories.tsx
  packages/web/app/components/eto/public-view/DocumentConfidentialityAgreementModal.tsx
  packages/web/app/components/eto/public-view/DocumentsWidget.stories.tsx
  packages/web/app/components/eto/public-view/DocumentsWidget.tsx
  packages/web/app/components/eto/public-view/EtoInvestmentTermsWidget.tsx
  packages/web/app/components/eto/shared/EtoView.tsx
  packages/web/app/components/wallet-selector/WalletSelector.integration.spec.tsx
  packages/web/app/config/.env.commit
  packages/web/app/config/.env.common
  packages/web/app/config/.env.example
  packages/web/app/di/setupBindings.ts
  packages/web/app/di/symbols.ts
  packages/web/app/lib/api/users/fixtures.ts
  packages/web/app/lib/api/users/interfaces.ts
  packages/web/app/lib/persistence/DocumentsConfidentialityAgreementsStorage.ts
  packages/web/app/lib/persistence/ObjectStorage.spec.ts
  packages/web/app/lib/persistence/ObjectStorage.ts
  packages/web/app/lib/persistence/Storage.spec.ts
  packages/web/app/lib/persistence/Storage.ts
  packages/web/app/lib/persistence/WalletMetadataObjectStorage.ts
  packages/web/app/lib/persistence/WalletStorage.ts
  packages/web/app/modules/auth/email/sagas.ts
  packages/web/app/modules/auth/reducer.spec.ts
  packages/web/app/modules/auth/selectors.ts
  packages/web/app/modules/auth/user/sagas.ts
  packages/web/app/modules/auth/watcher/sagas.ts
  packages/web/app/modules/eto/actions.ts
  packages/web/app/modules/eto/sagas.ts
  packages/web/app/modules/eto/utils.ts
  packages/web/app/test-e2e/eto-view/EtoViewUtils.ts
  packages/web/app/test-e2e/eto-view/ISHADocuments.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/userHelpers.ts
  packages/web/intl/locales/en-en.json
  packages/web/test/helperTypes.ts
Due: prettier --write, yarn sasslint

Fix review
  packages/web/intl/locales/en-en.json
Due: prettier --write

#3593 Add discount information to investment modal
  packages/web/app/components/modals/tx-sender/investment-flow/Investment.stories.tsx
  packages/web/app/components/modals/tx-sender/investment-flow/Investment.tsx
  packages/web/app/components/modals/tx-sender/investment-flow/InvestmentPriceInfo.tsx
  packages/web/app/lib/web3/ContractsService.ts
  packages/web/app/modules/eto/actions.ts
  packages/web/app/modules/eto/reducer.ts
  packages/web/app/modules/eto/sagas.ts
  packages/web/app/modules/eto/selectors.ts
  packages/web/app/modules/eto/types.ts
  packages/web/app/modules/investment-flow/sagas.ts
  packages/web/app/modules/investor-portfolio/actions.ts
  packages/web/app/modules/investor-portfolio/reducer.ts
  packages/web/app/modules/investor-portfolio/sagas.ts
  packages/web/app/modules/investor-portfolio/selectors.ts
  packages/web/app/modules/investor-portfolio/types.ts
  packages/web/app/modules/investor-portfolio/utils.ts
  packages/web/app/utils/NumberUtils.spec.ts
  packages/web/app/utils/NumberUtils.ts
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write

#3593 Format discount fraction as a percentage
  packages/web/app/components/modals/tx-sender/investment-flow/Investment.stories.tsx
  packages/web/app/components/modals/tx-sender/investment-flow/InvestmentPriceInfo.tsx
  packages/web/app/components/shared/formatters/utils.ts
  packages/web/app/modules/eto/sagas.ts
  packages/web/app/modules/eto/types.ts
  packages/web/app/modules/investor-portfolio/sagas.ts
  packages/web/app/modules/investor-portfolio/types.ts
  packages/web/app/modules/investor-portfolio/utils.ts
  packages/web/app/utils/NumberUtils.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write

#3593 Add whitelist discount info to personal discount message
  packages/web/app/components/modals/tx-sender/investment-flow/InvestmentPriceInfo.tsx
  packages/web/intl/locales/en-en.json
Due: prettier --write

#3593 Add e2e tests to cover token price flow
  packages/web/app/components/modals/tx-sender/investment-flow/Investment.module.scss
  packages/web/app/components/modals/tx-sender/investment-flow/Investment.stories.tsx
  packages/web/app/components/modals/tx-sender/investment-flow/Investment.tsx
  packages/web/app/components/modals/tx-sender/investment-flow/InvestmentPriceInfo.tsx
  packages/web/app/components/shared/Percentage.tsx
  packages/web/app/test-e2e/eto/InvestTokenPrice.spec.e2e.io.ts
  packages/web/app/test-e2e/eto/utils.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

#3589 - Add fundraising statistics (#3609)
  packages/web/app/components/eto/public-view/ETOTimeline.tsx
  packages/web/app/components/eto/shared/EtoView.module.scss
  packages/web/app/components/eto/shared/EtoView.tsx
  packages/web/app/components/shared/Tabs.module.scss
  packages/web/app/config/constants.ts
  packages/web/app/test-e2e/eto-view/ETOFundraisingStatistics.spec.e2e.io.ts
  packages/web/app/test-e2e/eto-view/EtoViewForInvestor.spec.e2e.io.ts
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

#3593 investment step quick fixes (#3614)
  packages/web/app/components/modals/tx-sender/investment-flow/Investment.module.scss
  packages/web/app/components/modals/tx-sender/investment-flow/Investment.stories.tsx
  packages/web/app/components/modals/tx-sender/investment-flow/Investment.tsx
  packages/web/app/components/modals/tx-sender/investment-flow/utils.tsx
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

#3597 Add fundraising statistics and presale time counter to ETO Dashboard (#3613)
  packages/web/app/components/issuer-dashboard/ETOFundraisingStatistics.module.scss
  packages/web/app/components/issuer-dashboard/ETOFundraisingStatistics.stories.tsx
  packages/web/app/components/issuer-dashboard/ETOFundraisingStatistics.tsx
  packages/web/app/components/issuer-dashboard/ETOPresaleCounterWidget.module.scss
  packages/web/app/components/issuer-dashboard/ETOPresaleCounterWidget.stories.tsx
  packages/web/app/components/issuer-dashboard/ETOPresaleCounterWidget.tsx
  packages/web/app/components/issuer-dashboard/EtoDashboard.tsx
  packages/web/app/components/shared/dashboard-widget/DashboardWidget.tsx
  packages/web/app/test-e2e/eto-registration/EtoPresaleStep.spec.e2e.ts
  packages/web/app/test-e2e/eto-registration/EtoPublicSaleStep.spec.e2e.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

rounds effective discount up
  packages/web/app/components/modals/tx-sender/investment-flow/utils.tsx
  packages/web/app/config/constants.ts
Due: prettier --write

uses platform min retail ticket for subsequent investments
  packages/web/app/modules/investor-portfolio/__tests__/selectors.spec.ts
  packages/web/app/modules/investor-portfolio/selectors.ts
  packages/web/app/modules/investor-portfolio/utils.ts
Due: prettier --write

#3593 Fix code review comments
  packages/web/app/components/modals/tx-sender/investment-flow/InvestmentPriceInfo.tsx
  packages/web/app/components/shared/formatters/utils.ts
  packages/web/app/modules/investor-portfolio/sagas.ts
  packages/web/app/modules/investor-portfolio/utils.ts
  packages/web/app/test-e2e/eto/InvestTokenPrice.spec.e2e.io.ts
Due: prettier --write

#3593 Fix code review comments
  packages/web/app/components/modals/tx-sender/investment-flow/utils.tsx
Due: prettier --write

Use proper discount fraction for public sale
  packages/web/app/components/modals/tx-sender/investment-flow/InvestmentPriceInfo.tsx
  packages/web/intl/locales/en-en.json
Due: prettier --write

Use proper discount fraction for public sale
  packages/web/app/components/modals/tx-sender/investment-flow/InvestmentPriceInfo.tsx
  packages/web/app/modules/investor-portfolio/sagas.ts
  packages/web/app/modules/investor-portfolio/utils.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write

reverts to HALF_UP when computing effective discount
  packages/web/app/components/modals/tx-sender/investment-flow/utils.tsx
Due: prettier --write

Fix channel buffer overflow error (#3616)
  packages/web/app/config/constants.ts
  packages/web/app/modules/auth/watcher/sagas.ts
Due: prettier --write
