Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

Fix PersonalAccountDetails header icon (#2571)
  app/components/settings/personal-account-details/PersonalAccountDetails.stories.tsx
  app/components/settings/personal-account-details/PersonalAccountDetails.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fixes logging in only with the first account (#2572)
  app/components/wallet-selector/WalletSelector.integration.spec.tsx
  app/lib/web3/ledger-wallet/LedgerConnector.ts
  app/lib/web3/ledger-wallet/LedgerWallet.ts
  app/lib/web3/ledger-wallet/ledgerUtils.ts
  app/modules/access-wallet/sagas.ts
  app/modules/wallet-selector/ledger-wizard/actions.spec.ts
  app/modules/wallet-selector/ledger-wizard/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#1712 - Remove vault from local storage (#2352)
  app/components/modals/wallet-access/AccessWalletModal.tsx
  app/config/constants.ts
  app/di/setupBindings.ts
  app/lib/persistence/WalletMetadataObjectStorage.ts
  app/lib/web3/BrowserWallet.ts
  app/lib/web3/LightWallet.spec.node.ts
  app/lib/web3/LightWallet.ts
  app/lib/web3/LightWalletUtils.ts
  app/lib/web3/Web3Adapter.ts
  app/lib/web3/lightWalletUtils.spec.node.ts
  app/modules/access-wallet/actions.ts
  app/modules/access-wallet/reducer.ts
  app/modules/access-wallet/sagas.ts
  app/modules/actions.ts
  app/modules/auth/email/sagas.ts
  app/modules/auth/jwt/sagas.ts
  app/modules/wallet-selector/light-wizard/constants.ts
  app/modules/wallet-selector/light-wizard/errors.ts
  app/modules/wallet-selector/light-wizard/metadata/sagas.ts
  app/modules/wallet-selector/light-wizard/sagas.ts
  app/modules/wallet-selector/light-wizard/utils.ts
  app/modules/web3/fixtures.ts
  app/modules/web3/sagas.spec.ts
  app/modules/web3/sagas.ts
  app/modules/web3/selectors.spec.ts
  app/modules/web3/selectors.ts
  app/test-e2e/settings/BackupSeed.spec.e2e.ts
  app/test-e2e/settings/VerifyEmailWidget.spec.e2e.ts
  app/test-e2e/utils/userHelpers.ts
  app/utils/promisify.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Deduplicate packages (#2577)
  README.md
  package.json
  yarn.lock
Due: prettier --write

[HOTFIX] Load reserved assets on view init (#2584)
  app/components/portfolio/Portfolio.tsx
  app/components/portfolio/PortfolioLayout.tsx
  app/components/portfolio/PortfolioMyAssets.tsx
  app/modules/public-etos/actions.ts
  app/modules/public-etos/sagas.ts
  app/test-e2e/portfolio/Portfolio.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2576 Short nEur purchase references (#2588)
  app/lib/api/KycApi.interfaces.ts
  app/lib/api/KycApi.ts
  app/modules/bank-transfer-flow/reducer.ts
  app/modules/bank-transfer-flow/sagas.ts
  app/test-e2e/bank-transfer/BankVerification.spec.e2e.ts
  app/test-e2e/bank-transfer/Purchase.spec.e2e.ts
  e2e/run_backend.sh
  package.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

[HOTFIX-PRODUCTION] Load reserved assets on view init (#2590)
  app/components/portfolio/Portfolio.tsx
  app/components/portfolio/PortfolioLayout.tsx
  app/components/portfolio/PortfolioMyAssets.tsx
  app/modules/public-etos/actions.ts
  app/modules/public-etos/sagas.ts
  app/test-e2e/portfolio/Portfolio.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Remove Eto related components from general shared folder (#2592)
  app/components/dashboard/Dashboard.tsx
  app/components/dashboard/eto-list/EtoListDummies.tsx
  app/components/eto/EtoDashboard.tsx
  app/components/eto/dashboard/ETOFormsProgressSection.tsx
  app/components/eto/dashboard/EtoFormProgressWidget.module.scss
  app/components/eto/dashboard/EtoFormProgressWidget.stories.tsx
  app/components/eto/dashboard/EtoFormProgressWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/CounterWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/eto/shared/ETOState.module.scss
  app/components/eto/shared/ETOState.tsx
  app/components/landing/EtoOfferingCard.module.scss
  app/components/landing/EtoOfferingCard.stories.tsx
  app/components/landing/EtoOfferingCard.tsx
  app/components/landing/Landing.tsx
  app/components/portfolio/PortfolioReservedAssets.tsx
  app/components/shared/EtoCard.tsx
  app/components/shared/EtoOfferingSoon.module.scss
  app/components/shared/EtoOfferingSoon.stories.tsx
  app/components/shared/EtoOfferingSoon.tsx
  app/config/.env.e2e
  app/config/.env.example
  app/data/etoCompanies.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Fix SMALL INLINE Button when inside Panel (#2591)
  app/components/kyc/KycPanel.module.scss
  app/components/shared/Panel.module.scss
  app/components/shared/Panel.stories.tsx
  app/components/shared/Panel.tsx
  app/components/shared/buttons/Button.module.scss
  app/components/shared/buttons/Button.tsx
  app/components/shared/errorBoundary/ErrorBoundaryPanel.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#2493 Fixes Browser Wallet double signature request (#2580)
  app/assets/img/wallet_selector/check_metamask.svg
  app/assets/img/wallet_selector/enter_password.svg
  app/assets/img/wallet_selector/reload.svg
  app/components/shared/icons/InlineIcon.stories.tsx
  app/components/wallet-selector/WalletMessageSigner.tsx
  app/components/wallet-selector/WalletSelector.integration.spec.tsx
  app/components/wallet-selector/browser/WalletBrowser.module.scss
  app/components/wallet-selector/browser/WalletBrowser.tsx
  app/modules/auth/sagas.ts
  app/modules/wallet-selector/browser-wizard/reducer.spec.ts
  app/modules/wallet-selector/browser-wizard/reducer.ts
  app/modules/wallet-selector/browser-wizard/sagas.ts
  intl/locales/en-en.json
  test/createMount.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

(2500 , 2597) - Automatically logout user when JWT expires (#2581)
  app/components/shared/utils.ts
  app/components/wallet-selector/WalletSelector.integration.spec.tsx
  app/modules/auth/errors.ts
  app/modules/auth/sagas.ts
  app/modules/auth/selectors.ts
  app/modules/init/sagas.ts
  app/modules/sagas.ts
  app/modules/sagasUtils.spec.ts
  app/modules/sagasUtils.ts
  app/utils/JWTUtils.ts
  package.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#1641 upload and sign investment agreement (#2558)
  app/assets/img/sign-agreement.svg
  app/components/documents/Documents.tsx
  app/components/documents/utils.tsx
  app/components/eto/EtoDashboard.tsx
  app/components/eto/dashboard/signInvestmentAgreementWidget/SignInvestmentAgreement.stories.tsx
  app/components/eto/dashboard/signInvestmentAgreementWidget/SignInvestmentAgreement.tsx
  app/components/eto/dashboard/signInvestmentAgreementWidget/UploadInvestmentAgreementWidget.stories.tsx
  app/components/eto/dashboard/signInvestmentAgreementWidget/UploadInvestmentAgreementWidget.tsx
  app/components/modals/tx-sender/TxSender.tsx
  app/components/modals/tx-sender/eto-flow/SignInvestmentAgreementSummary.stories.tsx
  app/components/modals/tx-sender/eto-flow/SignInvestmentAgreementSummary.tsx
  app/components/shared/Counter.tsx
  app/components/shared/TimeLeft.tsx
  app/components/shared/forms/fields/testingUtils.tsx
  app/modules/eto-documents/sagas.ts
  intl/locales/en-en.json
  package.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2534 #2559 #1484 Add MaskedInput to NEUR Redeem (#2593)
  app/components/modals/tx-sender/redeem/BankTransferRedeemInit.module.scss
  app/components/modals/tx-sender/redeem/BankTransferRedeemInit.tsx
  app/components/modals/tx-sender/redeem/CalculatedFee.tsx
  app/components/modals/tx-sender/redeem/TotalRedeemed.tsx
  app/components/shared/forms/fields/FormFieldRaw.tsx
  app/components/shared/forms/fields/FormInput.tsx
  app/components/shared/forms/fields/FormInputRaw.tsx
  app/components/shared/forms/fields/FormMaskedInput.stories.tsx
  app/components/shared/forms/fields/FormMaskedInput.tsx
  app/components/shared/forms/fields/utils.tsx
  app/components/shared/forms/index.tsx
  app/components/wallet/wallet-balance/UnlockedNEURWallet.tsx
  app/test-e2e/bank-transfer/Purchase.spec.e2e.ts
  app/test-e2e/bank-transfer/RedeemNEUR.spec.e2e.ts
  app/test-e2e/bank-transfer/assertions.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Organizes Web3 into Seperate Folders (#2607)
  app/components/wallet-selector/WalletSelector.integration.spec.tsx
  app/di/setupBindings.ts
  app/lib/web3/ContractsService.ts
  app/lib/web3/Web3Batch/Web3Batch.spec.ts
  app/lib/web3/Web3Batch/Web3Batch.ts
  app/lib/web3/Web3Manager/Web3Manager.mock.ts
  app/lib/web3/Web3Manager/Web3Manager.spec.ts
  app/lib/web3/Web3Manager/Web3Manager.ts
  app/lib/web3/Web3Manager/errors.ts
  app/lib/web3/browser-wallet/BrowserWallet.ts
  app/lib/web3/ledger-wallet/LedgerWallet.ts
  app/lib/web3/light-wallet/LightWallet.spec.node.ts
  app/lib/web3/light-wallet/LightWallet.ts
  app/lib/web3/light-wallet/LightWalletUtils.ts
  app/lib/web3/light-wallet/lightWalletUtils.spec.node.ts
  app/modules/access-wallet/errors.ts
  app/modules/access-wallet/sagas.ts
  app/modules/auth/sagas.spec.ts
  app/modules/auth/sagas.ts
  app/modules/auth/user/sagas.ts
  app/modules/tx/sender/sagas.ts
  app/modules/wallet-selector/browser-wizard/actions.spec.ts
  app/modules/wallet-selector/browser-wizard/errors.ts
  app/modules/wallet-selector/browser-wizard/sagas.ts
  app/modules/wallet-selector/ledger-wizard/actions.spec.ts
  app/modules/wallet-selector/light-wizard/errors.ts
  app/modules/wallet-selector/light-wizard/metadata/sagas.ts
  app/modules/wallet-selector/light-wizard/sagas.ts
  app/modules/wallet-selector/light-wizard/utils.ts
  app/modules/web3/sagas.spec.ts
  app/modules/web3/sagas.ts
  test/integrationTestUtils.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#2560 #2601 Fix redeem whole nEUR balance (#2569)
  app/components/modals/tx-sender/redeem/BankTransferRedeemInit.tsx
  app/components/shared/MoneySuiteWidget.tsx
  app/modules/tx/transactions/redeem/saga.ts
  app/modules/web3/utils.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

At/#2493 double signature request (#2613)
  app/components/shared/StepCard.module.scss
  app/components/wallet-selector/browser/WalletBrowser.module.scss
Due: yarn sasslint

Add log level support for logger (#2617)
  app/config/.env.example
  app/di/setupBindings.ts
  app/lib/dependencies/logger/DevConsoleLogger.ts
  app/lib/dependencies/logger/ILogger.ts
  app/lib/dependencies/logger/SentryLogger.ts
  app/lib/dependencies/logger/index.ts
  app/lib/dependencies/logger/utils.spec.ts
  app/lib/dependencies/logger/utils.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#2487 Neur investment bug fixes (#2615)
  app/components/modals/tx-sender/investment-flow/Investment.stories.tsx
  app/components/modals/tx-sender/investment-flow/Investment.tsx
  app/components/modals/tx-sender/investment-flow/utils.tsx
  app/components/modals/tx-sender/redeem/BankTransferRedeemInit.tsx
  app/components/portfolio/PortfolioReservedAssets.tsx
  app/components/shared/Money.tsx
  app/modules/investor-portfolio/utils.ts
  app/modules/tx/transactions/investment/sagas.ts
  app/test-e2e/eto/InvestWithRegularEther.spec.e2e.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2612 - Fixes Stalled tokenPrice Saga after saga restart (#2620)
  app/modules/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2586 Remove footer pattern from dashboard (#2609)
  app/styles/global.scss
Due: yarn sasslint

#1837 Remove deprecated hooks from components (#2625)
  app/components/settings/EmailVerify.tsx
  app/components/settings/backup-seed/BackupSeed.tsx
  app/components/shared/forms/fields/FormCategoryDistribution.tsx
  app/components/shared/forms/fields/FormFieldCheckboxGroup.tsx
  app/components/shared/forms/fields/FormToggle.tsx
  app/components/shared/routing/OnlyAuthorizedRoute.tsx
  app/components/shared/routing/OnlyPublicRoute.tsx
  app/styles/variables.scss
  app/utils/IntlProviderAndInjector.tsx
  app/utils/OnEnterAction.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

SetEtoStartingDate visual fixes (#2624)
  app/components/eto/EtoContentWidget.module.scss
  app/components/eto/dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.stories.tsx
  app/components/eto/dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.tsx
  app/test-e2e/eto-registration/SetEtoStartDate.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Updates light-wallet dependancy (#2628)
  package.json
  yarn.lock
Due: prettier --write

Fix table html nesting issue in chooseEtoStartDate (#2637)
  app/components/eto/EtoContentWidget.module.scss
  app/components/eto/dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Adds functionality to serve platform on Local IP address (#2622)
  package.json
  webpack/loadAppEnv.js
  webpack/webpack.config.dev-remote-external.js
  yarn.lock
Due: prettier --write

Resize CTA buttons in AccountBalance (#2630)
  app/components/shared/AccountBalance.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2644 - Reduces bundle Size by Removing Mnemonic Dictionaries (#2642)
  app/test-e2e/wallets/WalletWithdraw.spec.e2e.ts
  app/utils/englishMnemonics.ts
  package.json
  patches/bitcore-mnemonic+1.7.0.patch
  typings/modules.d.ts
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2599 Change overscroll background-color (#2629)
  app/components/layouts/LayoutAuthorized.tsx
  app/components/layouts/LayoutEnchancer.ts
  app/components/layouts/LayoutUnauthorized.tsx
  app/styles/global.scss
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Move E2E navigation related utils to separate file (#2619)
  app/components/edge-cases/MigrationFromLink.tsx
  app/components/settings/Settings.tsx
  app/components/settings/backup-seed/BackupSeedDisplay.tsx
  app/components/settings/backup-seed/PrivateKeyDisplay.tsx
  app/test-e2e/eto-registration/EtoRegistrationUtils.ts
  app/test-e2e/eto-registration/EtoRequiredReqistrationAndSubmit.spec.e2e.ts
  app/test-e2e/eto-registration/FullEtoRegistrationAndSubmit.spec.e2e.ts
  app/test-e2e/eto/Campaigning.spec.e2e.ts
  app/test-e2e/eto/InvestChange.spec.e2e.ts
  app/test-e2e/eto/InvestWithNEur.spec.e2e.ts
  app/test-e2e/eto/InvestWithNoMoney.spec.e2e.ts
  app/test-e2e/eto/InvestWithRegularEther.spec.e2e.ts
  app/test-e2e/eto/InvestWithUpgradedWalletEther.spec.e2e.ts
  app/test-e2e/eto/InvestWithUpgradedWalletNEur.spec.e2e.ts
  app/test-e2e/general-app/autoLoginLogoutActions.spec.e2e.chrome.ts
  app/test-e2e/investor-dashboard/LightWalletInvestorDashboard.spec.e2e.ts
  app/test-e2e/issuer-dashboard/LightWalletETODashboard.spec.e2e.ts
  app/test-e2e/portfolio/PortfolioDownloadDocuments.spec.e2e.ts
  app/test-e2e/routing/EthererumNodeRPCBatching.spec.e2e.ts
  app/test-e2e/settings/LightWalletRegister.spec.e2e.ts
  app/test-e2e/settings/VerifyEmailWidget.spec.e2e.ts
  app/test-e2e/utils/assertions.ts
  app/test-e2e/utils/index.ts
  app/test-e2e/utils/navigation.ts
  app/test-e2e/verify/WalletVerify.spec.e2e.ts
  app/test-e2e/wallets/WalletMigrate.spec.e2e.ts
  app/test-e2e/wallets/WalletRecover.spec.e2e.ts
  app/test-e2e/wallets/WalletTransfer.spec.e2e.ts
  app/test-e2e/wallets/WalletUpgrade.spec.e2e.ts
  app/test-e2e/wallets/WalletWithdraw.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2633 Reorder issuer settings cards (#2652)
  app/components/eto/EtoDashboard.tsx
  app/components/eto/dashboard/ETOFormsProgressSection.tsx
  app/components/eto/registration/pages/EtoPitch.tsx
  app/components/eto/shared/ETOState.tsx
  app/test-e2e/eto-registration/FullEtoRegistrationAndSubmit.spec.e2e.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

fix double sign request (#2635)
  app/components/shared/routing/OnlyPublicRoute.unsafe.tsx
  app/test-e2e/utils/cyPromise.ts
  app/test-e2e/utils/generateSeedAndAddress.spec.node.ts
  app/test-e2e/utils/generateSeedAndAddress.ts
  app/test-e2e/wallets/WalletRecover.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2610 Fix TxError support site link (#2660)
  app/components/layouts/LayoutAuthorizedMenu.unsafe.tsx
  app/components/modals/tx-sender/shared/TxError.tsx
  app/components/settings/kyc-states/KycStatusWidget.spec.tsx
  app/components/settings/kyc-states/KycStatusWidget.tsx
  app/components/settings/personal-account-details/PersonalAccountDetails.tsx
  app/components/translatedMessages/messages.unsafe.tsx
  app/components/wallet-selector/WalletSelector.tsx
  app/components/wallet-selector/wallet-recover/help/LoginHelp.tsx
  app/components/wallet-selector/wallet-recover/recovery/RecoverWallet.tsx
  app/config/externalRoutes.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Add e2e test for logged in user routing (#2661)
  app/test-e2e/routing/AuthenticationRouting.spec.e2e.ts
  app/test-e2e/routing/UserRouting.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1329 Transaction status e2e tests (#2646)
  app/components/layouts/header/PendingTransactionStatus.tsx
  app/components/modals/tx-sender/shared/SigningMessage.stories.tsx
  app/components/modals/tx-sender/shared/TimestampRow.tsx
  app/components/modals/tx-sender/shared/TxError.tsx
  app/components/modals/tx-sender/shared/TxExternalPending.tsx
  app/lib/api/users/UsersApi.ts
  app/modules/tx/monitor/sagas.ts
  app/modules/tx/sender/sagas.ts
  app/test-e2e/bank-transfer/assertions.ts
  app/test-e2e/config.ts
  app/test-e2e/pending-transactions/SupportForPendingTransactionsDuringTxFlow.spec.e2e.ts
  app/test-e2e/pending-transactions/SupportForPendingTransactionsInHeader.spec.e2e.ts
  app/test-e2e/pending-transactions/utils.ts
  app/test-e2e/utils/assertions.ts
  app/test-e2e/utils/ethRpcUtils.ts
  app/test-e2e/utils/index.ts
  app/test-e2e/utils/userHelpers.ts
  app/test-e2e/wallets/WalletMigrate.spec.e2e.ts
  app/test-e2e/wallets/WalletWithdraw.spec.e2e.ts
  e2e/run_backend.sh
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2414 Email change feature (#2565)
  app/components/settings/Settings.tsx
  app/components/settings/change-email/ChangeEmail.spec.tsx
  app/components/settings/change-email/ChangeEmail.tsx
  app/components/settings/verify-email/VerifyEmailWidget.module.scss
  app/components/settings/verify-email/VerifyEmailWidget.tsx
  app/components/translatedMessages/messages.unsafe.tsx
  app/config/.env.e2e
  app/lib/dependencies/NotificationCenter.ts
  app/modules/auth/jwt/sagas.ts
  app/modules/profile/sagas.ts
  app/test-e2e/settings/ChangeEmail.spec.e2e.ts
  app/test-e2e/utils/assertions.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

generate random seed and address for e2e tests (#2657)
  app/modules/web3/utils.ts
  app/test-e2e/utils/cyPromise.ts
  app/test-e2e/utils/generateRandomSeedAndAddress.spec.node.ts
  app/test-e2e/utils/generateRandomSeedAndAddress.ts
  app/test-e2e/wallets/WalletRecover.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Path conditions:
  yarn tsc: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix --config ./tslint.spec.json: any of: app/**/*.spec.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,js,json,md,gql}
  yarn sasslint: any of: **/*.{sass,scss,css}
