Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

Remove duplicated bookbuilding widget from prospectus approved issuer eto state (#2952)
  app/components/eto/EtoDashboard.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fixes ETO state after publishing marketing data (#2942)
  app/components/eto/shared/ETOState.tsx
  app/test-e2e/eto-registration/EtoPreviewRegistrationAndSubmit.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Changes preview to Not Published
  intl/locales/en-en.json
Due: prettier --write

Revert "Changes preview to Not Published"
  intl/locales/en-en.json
Due: prettier --write

updates backend sha
  e2e/run_backend.sh
Due: none

Changes preview to Not Published (#2958)
  app/components/eto/shared/ETOState.module.scss
  app/components/eto/shared/ETOState.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Fixes ETO Filtering (#2960)
  app/modules/eto/constants.ts
  app/modules/eto/selectors.ts
  app/test-e2e/kyc/fixtures.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

HOTFIX ETO Filtering logic
  app/modules/eto/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

update backend
  e2e/run_backend.sh
Due: none

adds Not Released
  app/components/eto/shared/ETOState.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2759 add jurisdiction banner to eto view (#2954)
  app/components/eto/EtoIssuerView.tsx
  app/components/eto/EtoPublicView.tsx
  app/components/eto/EtoPublicViewByContractId.tsx
  app/components/eto/overview/EtoTimeline/index.ts
  app/components/eto/public-view/Cover.module.scss
  app/components/eto/public-view/Cover.tsx
  app/components/eto/public-view/CoverBanner.module.scss
  app/components/eto/public-view/CoverBanner.tsx
  app/components/eto/shared/EtoView.module.scss
  app/components/eto/shared/EtoView.stories.tsx
  app/components/eto/shared/EtoView.tsx
  app/styles/mixins/layout.scss
  app/test-e2e/eto-view/EtoViewUtils.ts
  app/utils/locationUtils.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#2863 - Copy and styling edits for the jurisdiction check modal. (#2964)
  app/assets/img/eto/city.png
  app/components/eto/public-view/JurisdictionDisclaimerModal.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

removes extra copied text (#2972)
  app/components/eto/EtoDashboard.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2939 investment terms calculator (#2974)
  app/components/eto/registration/pages/InvestmentTerms.tsx
  app/lib/api/eto/EtoUtils.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2977 - small fixes to dashboard widgets (#2979)
  app/components/dashboard/my-portfolio/MyPortfolioWidget.module.scss
  app/components/dashboard/my-portfolio/MyPortfolioWidget.tsx
  app/components/dashboard/my-wallet/MyWalletWidget.spec.tsx
  app/components/dashboard/my-wallet/MyWalletWidget.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

#2951 #2888 Company listing page changes for coming soon state (#2966)
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/eto/overview/EtoOverviewStatus/TagsWidget.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/TagsWidget.tsx
  app/components/eto/public-view/EtoInvestmentTermsWidget.tsx
  app/components/eto/registration/pages/EtoMedia.tsx
  app/components/eto/shared/EtoView.tsx
  app/components/shared/Accordion.tsx
  app/components/shared/Tag.unsafe.tsx
  app/components/shared/forms/fields/FormFieldLabel.module.scss
  app/components/shared/forms/fields/FormFieldLabel.tsx
  app/lib/api/eto/EtoApi.interfaces.unsafe.tsx
  app/modules/eto-flow/utils.ts
  app/test-e2e/eto-registration/fixtures.ts
  app/test-e2e/eto-view/EtoViewForInvestor.spec.e2e.ts
  app/test-e2e/eto-view/EtoViewUtils.ts
  app/test-e2e/fixtures.ts
  e2e/run_backend.sh
  intl/locales/en-en.json
  test/fixtures.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

[HOTFIX] - Copy change (#2989)
  intl/locales/en-en.json
Due: prettier --write

Copy change (#2988)
  intl/locales/en-en.json
Due: prettier --write

#2877 number formatters in dashboard (#2990)
  app/components/dashboard/incoming-payout/IncomingPayoutWidget.tsx
  app/components/dashboard/my-wallet/MyWalletWidget.tsx
  app/components/shared/formatters/Money.stories.tsx
  app/components/shared/formatters/Money.tsx
  app/components/shared/formatters/MoneyNew.module.scss
  app/components/shared/formatters/MoneyRange.tsx
  app/lib/api/eto/EtoApi.interfaces.unsafe.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#2877 number formatters in eto overview (#2992)
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedInvestorApprovedWidgetLayout.tsx
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoMaxCapExceeded.tsx
  app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentWidget.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentWidget.tsx
  app/components/eto/overview/EtoRaisedAmount.tsx
  app/config/.env.common
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#3000 Cleanup landing page (#3001)
  app/components/landing/Landing.module.scss
  app/components/landing/Landing.tsx
  app/components/landing/parts/DummySmartContractCode.sol
  app/components/landing/parts/Features.module.scss
  app/components/landing/parts/Features.tsx
  app/components/landing/parts/Interoperable.module.scss
  app/components/landing/parts/Interoperable.tsx
  app/components/landing/parts/JoinCta.module.scss
  app/components/landing/parts/JoinCta.unsafe.tsx
  app/components/landing/parts/LandingFeatured.module.scss
  app/components/landing/parts/LandingFeatured.tsx
  app/components/landing/parts/LandingHeader.module.scss
  app/components/landing/parts/LandingHeader.tsx
  app/components/landing/parts/RainbowSheepTip.module.scss
  app/components/landing/parts/RainbowSheepTip.unsafe.tsx
  app/components/landing/parts/ScrollSpy.unsafe.tsx
  app/components/landing/parts/SmartContractWindow.module.scss
  app/components/landing/parts/SmartContractWindow.tsx
  app/components/landing/parts/Testimonials.module.scss
  app/components/landing/parts/Testimonials.tsx
  app/components/landing/parts/__tests__/RainbowSheepTip.spec.tsx
  app/components/landing/parts/testimonials/People.module.scss
  app/components/landing/parts/testimonials/People.tsx
  app/test-e2e/landing/LandingPage.spec.e2e.ts
  app/test-e2e/utils/assertions.ts
  app/test-e2e/utils/index.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

#3000 Cleanup landing page (#3002)
  app/components/landing/Landing.module.scss
  app/components/landing/Landing.tsx
  app/components/landing/parts/DummySmartContractCode.sol
  app/components/landing/parts/Features.module.scss
  app/components/landing/parts/Features.tsx
  app/components/landing/parts/Interoperable.module.scss
  app/components/landing/parts/Interoperable.tsx
  app/components/landing/parts/JoinCta.module.scss
  app/components/landing/parts/JoinCta.unsafe.tsx
  app/components/landing/parts/LandingFeatured.module.scss
  app/components/landing/parts/LandingFeatured.tsx
  app/components/landing/parts/LandingHeader.module.scss
  app/components/landing/parts/LandingHeader.tsx
  app/components/landing/parts/RainbowSheepTip.module.scss
  app/components/landing/parts/RainbowSheepTip.unsafe.tsx
  app/components/landing/parts/ScrollSpy.unsafe.tsx
  app/components/landing/parts/SmartContractWindow.module.scss
  app/components/landing/parts/SmartContractWindow.tsx
  app/components/landing/parts/Testimonials.module.scss
  app/components/landing/parts/Testimonials.tsx
  app/components/landing/parts/__tests__/RainbowSheepTip.spec.tsx
  app/components/landing/parts/testimonials/People.module.scss
  app/components/landing/parts/testimonials/People.tsx
  app/test-e2e/landing/LandingPage.spec.e2e.ts
  app/test-e2e/utils/assertions.ts
  app/test-e2e/utils/index.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

fix money format in MyWallet total add unit tests for myWallet numbers
  app/components/dashboard/my-wallet/MyWalletWidget.spec.tsx
  app/components/dashboard/my-wallet/MyWalletWidget.tsx
  app/components/shared/formatters/FormatNumber.tsx
  app/components/shared/formatters/FormatNumberRange.tsx
  app/components/shared/formatters/FormatShortNumber.tsx
  app/components/shared/formatters/Money.tsx
  app/components/shared/formatters/MoneyRange.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

HOTFIX - #3008 Copy Change
  intl/locales/en-en.json
Due: prettier --write

Copy changes as required to the `eto-overview-thumbnail.cover.jurisdiction` & `eto-overview.cover-banner.jurisdiction` fields. (#3010)
  intl/locales/en-en.json
Due: prettier --write

#2983 Change jurisdiction fields to uppercase (#3015)
  app/components/eto/overview/EtoOverviewThumbnail/Cover.tsx
  app/components/eto/registration/pages/EtoTerms.tsx
  app/lib/api/eto/EtoProductsApi.interfaces.ts
  app/lib/yup-ts.ts
  app/test-e2e/eto-view/EtoViewForInvestor.spec.e2e.ts
  app/test-e2e/eto-view/EtoViewForLIInvestor.spec.e2e.ts
  app/test-e2e/eto-view/EtoViewForUnapprovedInvestor.spec.e2e.ts
  app/test-e2e/eto-view/EtoViewForUnauthorized.spec.e2e.ts
  app/test-e2e/eto/Campaigning.spec.e2e.ts
  e2e/run_backend.sh
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Hide investment amount used on thumbnail for payout state (#3012)
  app/components/eto/overview/EtoOverviewThumbnail/InvestmentStatus/InvestmentStatus.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Hide investment amount used on thumbnail for payout state (#3013)
  app/components/eto/overview/EtoOverviewThumbnail/InvestmentStatus/InvestmentStatus.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix possible zeros on eto investment terms (#3014)
  app/components/eto/public-view/EtoInvestmentTermsWidget.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

[HOTFIX PRODUCTION] #2943 fundraising stats link in eto view (#3009)
  app/components/eto/shared/EtoView.tsx
  app/config/.env.common
  app/test-e2e/eto-view/EtoViewForInvestor.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2943 fundraising stats link in eto view (#2984)
  app/components/eto/shared/EtoView.tsx
  app/config/.env.common
  app/test-e2e/eto-view/EtoViewForInvestor.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

move class declaration out of onEnterAction() function
  app/utils/OnEnterAction.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

fix unit test
  app/utils/onEnterAction.spec.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

refactor to use recompose
  app/utils/OnEnterAction.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix Label and Eto percentage calculator performance bottlenecks (#2987)
  app/components/eto/registration/EtoFormBase.unsafe.tsx
  app/components/shared/forms/fields/FormFieldLabel.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Path conditions:
  yarn tsc: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix --config ./tslint.spec.json: any of: app/**/*.spec.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,js,json,md,gql}
  yarn sasslint: any of: **/*.{sass,scss,css}
