Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

Fixes Payout widget (#3965)
  packages/web/app/components/dashboard/my-portfolio/my-portfolio-widget/IncomingPayoutAvailable.tsx
  packages/web/app/components/dashboard/my-portfolio/my-portfolio-widget/PayoutWidget.stories.tsx
  packages/web/app/components/portfolio/AssetPortfolio.tsx
  packages/web/app/components/portfolio/PortfolioLayout.stories.tsx
  packages/web/app/components/portfolio/utils.ts
  packages/web/app/components/shared/formatters/MoneyWithLessThan.spec.tsx
  packages/web/app/components/shared/formatters/MoneyWithLessThan.tsx
  packages/web/app/modules/investor-portfolio/__tests__/selectors.spec.ts
  packages/web/app/modules/investor-portfolio/sagas.ts
  packages/web/app/modules/investor-portfolio/selectors.ts
  packages/web/health-check-sha.json
Due: prettier --write

Changes to ETO View (#3961)
  .circleci/config.yml
  packages/web/app/components/eto/public-view/CoverBanner.tsx
  packages/web/app/components/eto/public-view/Disclaimer.module.scss
  packages/web/app/components/eto/public-view/Disclaimer.tsx
  packages/web/app/components/eto/shared/EtoView.tsx
  packages/web/app/test-e2e/portfolio/Portfolio.spec.e2e.io.ts
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

Hotfix: Changes to ETO View (#3966)
  .circleci/config.yml
  packages/web/app/components/eto/public-view/CoverBanner.tsx
  packages/web/app/components/eto/public-view/Disclaimer.module.scss
  packages/web/app/components/eto/public-view/Disclaimer.tsx
  packages/web/app/components/eto/shared/EtoView.tsx
  packages/web/app/test-e2e/portfolio/Portfolio.spec.e2e.io.ts
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

#3920 Create nds text input (#3931)
  packages/web/app/components/shared/inputs/Field.stories.tsx
  packages/web/app/components/shared/inputs/Field.tsx
  packages/web/app/components/shared/inputs/InputBase.module.scss
  packages/web/app/components/shared/inputs/InputBase.stories.tsx
  packages/web/app/components/shared/inputs/InputBase.tsx
  packages/web/app/components/shared/inputs/InputDescription.module.scss
  packages/web/app/components/shared/inputs/InputDescription.stories.tsx
  packages/web/app/components/shared/inputs/InputDescription.tsx
  packages/web/app/components/shared/inputs/InputError.module.scss
  packages/web/app/components/shared/inputs/InputError.stories.tsx
  packages/web/app/components/shared/inputs/InputError.tsx
  packages/web/app/components/shared/inputs/LabelBase.module.scss
  packages/web/app/components/shared/inputs/LabelBase.stories.tsx
  packages/web/app/components/shared/inputs/LabelBase.tsx
  packages/web/app/components/shared/inputs/TextInput.module.scss
  packages/web/app/components/shared/inputs/TextInput.stories.tsx
  packages/web/app/components/shared/inputs/TextInput.tsx
  packages/web/app/styles/mixins/typography.scss
Due: prettier --write, yarn sasslint

adds new product type (#3964)
  packages/web/app/components/eto/registration/pages/etoTermsUtils.tsx
  packages/web/app/lib/api/eto/EtoProductsApi.interfaces.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write

KYC upload all files that are dropped (#3886)
  packages/web/app/components/kyc/business/BeneficialOwner.unsafe.tsx
  packages/web/app/components/kyc/business/BusinessData.unsafe.tsx
  packages/web/app/components/kyc/business/LegalRepresentative.unsafe.tsx
  packages/web/app/components/kyc/personal/AdditionalUpload.tsx
  packages/web/app/components/kyc/personal/Address.tsx
  packages/web/app/components/kyc/personal/Start.tsx
  packages/web/app/components/kyc/personal/Upload.tsx
  packages/web/app/components/kyc/shared/AddDocuments.tsx
  packages/web/app/components/kyc/utils.ts
  packages/web/app/components/shared/MultiFileUpload.stories.tsx
  packages/web/app/components/shared/MultiFileUpload.tsx
  packages/web/app/modules/kyc/reducer.ts
  packages/web/app/modules/kyc/selectors.ts
  packages/web/app/modules/kyc/utils.spec.ts
  packages/web/app/modules/kyc/utils.ts
  packages/web/app/test-e2e/eto-registration/EtoCompanyInformationRichTextEditor.spec.e2e.io.ts
  packages/web/app/test-e2e/kyc/KYCFlowCorporationManual.spec.e2e.io.ts
  packages/web/app/test-e2e/kyc/fixtures.ts
  packages/web/app/test-e2e/pending-transactions/SupportForPendingTransactionsDuringTxFlow.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/forms.ts
  packages/web/cypress/support/commands.js
  packages/web/cypress/typings/cypress.d.ts
Due: prettier --write

Dmitriy noa/3269 await submitting form until all files where saved correctly (#3924)
  docs/react-guidelines.md
  packages/web/@types/ckeditor__ckeditor5-react/index.d.ts
  packages/web/app/components/eto/registration/pages/AllForms.stories.tsx
  packages/web/app/components/eto/registration/pages/EtoEquityTokenInfo.tsx
  packages/web/app/components/eto/registration/pages/EtoPitch/EtoRegistrationPitch.tsx
  packages/web/app/components/eto/registration/pages/EtoPitch/connectEtoRegistrationPitch.ts
  packages/web/app/components/eto/registration/pages/EtoVotingRights/connectEtoVotingRightsForm.ts
  packages/web/app/components/shared/forms/fields/FormSingleFileUpload.tsx
  packages/web/app/components/shared/forms/fields/FormTextArea.tsx
  packages/web/app/components/shared/forms/layouts/RichTextAreaLayout.tsx
  packages/web/app/lib/api/file-storage/RichTextEditorUploadAdapter.ts
  packages/web/app/modules/eto-flow/actions.ts
  packages/web/app/modules/eto-flow/reducer.ts
  packages/web/app/test-e2e/eto-registration/EtoCompanyInformationRichTextEditor.spec.e2e.io.ts
  packages/web/cypress/fixtures/example_big.jpg
  packages/web/intl/locales/en-en.json
Due: prettier --write

adds eu sme product (#3972)
  packages/web/app/components/documents/utils.tsx
  packages/web/app/lib/api/eto/EtoFileApi.interfaces.ts
  packages/web/app/modules/eto-flow/selectors.ts
  packages/web/app/test-e2e/eto-registration/EtoTerms.spec.e2e.ts
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
  packages/web/scripts/getShasFromHealthCheck.js
Due: prettier --write

Rfix/adds eu sme product + Fixes tests (#3973)
  packages/web/app/test-e2e/eto/Campaigning.spec.e2e.ts
  packages/web/app/test-e2e/portfolio/TokenTransfer.spec.e2e.ts
  packages/web/app/test-e2e/utils/userHelpers.ts
  packages/web/cypress/fixtures/bookbuildingData.json
  packages/web/cypress/fixtures/bookbuildingFullData.json
  packages/web/cypress/fixtures/etoData.json
Due: prettier --write

Reverts back to 3000ms wait time for KYC on CI + unskips tests (#3910)
  .circleci/config.yml
  packages/web/app/test-e2e/1.long-e2e-tests/1.FullEtoRegistrationAndSubmit.spec.e2e.io.ts
  packages/web/app/test-e2e/eto-view/EtoViewForInvestor.spec.e2e.io.ts
  packages/web/app/test-e2e/eto-view/EtoViewWidget.spec.e2e.io.ts
  packages/web/app/test-e2e/eto-view/EtoWidget.spec.e2e.io.ts
  packages/web/app/test-e2e/eto-view/ISHADocuments.spec.e2e.io.ts
  packages/web/app/test-e2e/eto/Campaigning.spec.e2e.io.ts
  packages/web/app/test-e2e/eto/InvestWithNoMoney.spec.e2e.ts
  packages/web/app/test-e2e/investor-dashboard/LightWalletInvestorDashboard.spec.e2e.io.ts
  packages/web/app/test-e2e/neur/RedeemNEUR.spec.e2e.io.ts
  packages/web/app/test-e2e/pending-transactions/PendingTransactionNetworkErrorsRecovering.spec.e2e.io.ts
  packages/web/app/test-e2e/settings/VerifyEmailWidget.spec.e2e.io.ts
  packages/web/app/test-e2e/wallets/WalletMigrate.spec.e2e.ts
  packages/web/app/test-e2e/wallets/WalletUnlockFunds.spec.e2e.ts
Due: prettier --write

Update MoneySuiteWidget styles
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidget.tsx
  packages/web/app/components/shared/MoneySuiteWidget/MoneySuiteWidget.module.scss
  packages/web/app/components/shared/MoneySuiteWidget/MoneySuiteWidget.tsx
  packages/web/app/components/shared/TransactionData.module.scss
  packages/web/app/components/shared/TransactionData.tsx
Due: prettier --write, yarn sasslint

Fix offline mode tests
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidgetPendingPayout.tsx
  packages/web/app/components/shared/WarningAlert.module.scss
  packages/web/app/test-e2e/general-app/OfflineMode.spec.e2e.io.ts
Due: prettier --write, yarn sasslint

Fix same specificity class order in Panel component
  packages/web/app/components/shared/Panel.module.scss
Due: yarn sasslint

Update payout component
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidget.stories.tsx
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidget.tsx
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidgetAvailalblePayout.tsx
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidgetPayout.tsx
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidgetPendingPayout.tsx
  packages/web/app/components/shared/buttons/ButtonInline.module.scss
  packages/web/app/components/shared/buttons/ButtonInline.tsx
  packages/web/test/fixtures/mockedStore.ts
Due: prettier --write, yarn sasslint

#2508 update web3 provider engine (#3889)
  packages/web/app/lib/web3/Web3Manager/Web3Manager.ts
  packages/web/app/modules/wallet-selector/light-wizard/sagas.ts
  packages/web/app/modules/web3/actions.ts
  packages/web/app/modules/web3/sagas.ts
  packages/web/package.json
  packages/web/typings/eth-block-tracker.d.ts
  packages/web/typings/web3-provider-engine.d.ts
  yarn.lock
Due: prettier --write

Update icons
  packages/web/app/assets/img/inline_icons/warning-circle--gray.svg
  packages/web/app/assets/img/inline_icons/warning-circle--solid.svg
  packages/web/app/components/dashboard/Dashboard.tsx
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidget.module.scss
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidget.tsx
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidgetAvailalblePayout.tsx
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidgetPendingPayout.tsx
  packages/web/app/components/shared/WarningAlert.module.scss
  packages/web/app/components/shared/WarningAlert.tsx
Due: prettier --write, yarn sasslint

Fix timer
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidgetPendingPayout.tsx
  packages/web/app/components/shared/TimeLeft.module.scss
  packages/web/app/components/shared/TimeLeft.unsafe.tsx
  packages/web/app/components/shared/utils.ts
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

Add unit test
  packages/web/app/components/dashboard/PortfolioStats.stories.tsx
  packages/web/app/components/dashboard/PortfolioStats.tsx
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidget.spec.tsx
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidget.tsx
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidgetPayout.tsx
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidgetPendingPayout.tsx
  packages/web/app/components/shared/TimeLeft.unsafe.tsx
  packages/web/app/components/shared/utils.ts
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write

Fix branch order
  packages/web/app/components/dashboard/PortfolioStats.tsx
Due: prettier --write

Update sagas
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidget.stories.tsx
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidgetError.tsx
  packages/web/app/modules/eto/sagas.ts
  packages/web/app/modules/investor-portfolio/selectors.ts
  packages/web/health-check-sha.json
Due: prettier --write

Update stories
  packages/web/app/components/dashboard/PortfolioStats.tsx
  packages/web/app/components/dashboard/my-portfolio/MyPortfolioWidget.stories.tsx
  packages/web/test/fixtures/mockedStore.ts
Due: prettier --write

Fix mobile experience
  packages/web/app/components/dashboard/PortfolioStats.module.scss
  packages/web/app/components/dashboard/PortfolioStats.tsx
  packages/web/app/components/dashboard/my-portfolio/MyPortfolioWidget.module.scss
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidget.module.scss
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidget.stories.tsx
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidget.tsx
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidgetPendingPayout.tsx
  packages/web/app/components/dashboard/my-wallet/MyWalletWidget.module.scss
  packages/web/app/components/dashboard/my-wallet/MyWalletWidget.tsx
  packages/web/app/components/shared/loading-indicator/LoadingIndicator.tsx
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

Fix typo
  packages/web/intl/locales/en-en.json
Due: prettier --write

Fix investor dashboard e2e
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidgetPendingPayout.tsx
  packages/web/app/test-e2e/investor-dashboard/LightWalletInvestorDashboard.spec.e2e.io.ts
Due: prettier --write

Update wallet readme to mention `pod install` before running the ios app (#3986)
  packages/wallet/README.md
  packages/wallet/ios/wallet/Images.xcassets/AppIcon.appiconset/Contents.json
  packages/web/health-check-sha.json
Due: prettier --write

#3691 Update bootstrap (#3953)
  packages/web/app/components/shared/forms/fields/FormStyles.module.scss
  packages/web/app/components/shared/tooltips/Tooltip.module.scss
  packages/web/app/components/shared/tooltips/TooltipBase.tsx
  packages/web/app/styles/overrides.scss
  packages/web/package.json
  yarn.lock
Due: prettier --write, yarn sasslint

Adds Backend Timeout for account creation(#3989)
  packages/web/app/test-e2e/utils/userHelpers.ts
Due: prettier --write

#3892 Fix tree shaking for sagas packages (#3987)
  package.json
  packages/sagas/package.json
  packages/sagas/src/index.ts
  packages/sagas/src/sagaEffects.ts
  packages/sagas/src/tests.ts
  packages/sagas/tests/package.json
  packages/shared/package.json
  packages/web/app/modules/routing/saga.spec.ts
  packages/web/app/modules/sagasUtils.spec.ts
  packages/web/app/modules/tx-history/sagas.spec.ts
  packages/web/app/modules/tx/transactions/token-transfer/sagas.spec.ts
  packages/web/app/modules/wallet-selector/browser-wizard/actions.spec.ts
  packages/web/app/modules/wallet-selector/ledger-wizard/actions.spec.ts
  packages/web/app/modules/web3/sagas.spec.ts
Due: prettier --write

Update docker tag (#4009)
  packages/web/e2e/run_backend.sh
  packages/web/health-check-sha.json
Due: prettier --write

Fix inline icon stories loading incorrectly (#4011)
  packages/web/app/components/shared/icons/InlineIcon.stories.tsx
  packages/web/health-check-sha.json
Due: prettier --write

#3991 Add navigation library to mobile (#4016)
  packages/wallet/App.tsx
  packages/wallet/android/app/build.gradle
  packages/wallet/android/app/src/main/java/com/wallet/MainActivity.java
  packages/wallet/app/App.tsx
  packages/wallet/app/AppRouter.tsx
  packages/wallet/app/appRoutes.ts
  packages/wallet/app/components/Dashboard.tsx
  packages/wallet/app/components/ImportWallet.tsx
  packages/wallet/app/components/Landing.tsx
  packages/wallet/index.ts
  packages/wallet/ios/Podfile.lock
  packages/wallet/package.json
  packages/wallet/tsconfig.json
  yarn.lock
Due: prettier --write

#3943 Redesign header and footer (#4008)
  packages/design-system/src/components/buttons/Button.module.scss
  packages/design-system/src/components/buttons/Button.tsx
  packages/design-system/src/styles/mixins/typography.scss
  packages/design-system/src/styles/variables.scss
  packages/web/app/assets/img/inline_icons/close.svg
  packages/web/app/assets/img/user-profile.svg
  packages/web/app/components/layouts/Footer.module.scss
  packages/web/app/components/layouts/Footer.tsx
  packages/web/app/components/layouts/FullscreenProgressLayout.module.scss
  packages/web/app/components/layouts/Layout.stories.tsx
  packages/web/app/components/layouts/Layout.tsx
  packages/web/app/components/layouts/header/Header.module.scss
  packages/web/app/components/layouts/header/Header.stories.tsx
  packages/web/app/components/layouts/header/Header.tsx
  packages/web/app/components/layouts/header/HeaderFullscreen.stories.tsx
  packages/web/app/components/layouts/header/HeaderFullscreen.tsx
  packages/web/app/components/layouts/menus/MyAccountMenu.module.scss
  packages/web/app/components/layouts/menus/MyAccountMenu.tsx
  packages/web/app/components/shared/inputs/TextInput.module.scss
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

copy change (#4023)
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write

fix the css grid bug in eto list (#4025)
  packages/web/app/components/dashboard/eto-list/EtoList.module.scss
Due: yarn sasslint

Path conditions:
  yarn tsc: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix --config ./tslint.spec.json: any of: app/**/*.spec.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,js,json,md,gql}
  yarn sasslint: any of: **/*.{sass,scss,css}
