Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

.lintstagedrc:

{
  "app/**/*.{ts,tsx,js}": ["yarn tsc", "tslint --project . --format stylish --fix", "git add"],
  "app/**/*.spec.{ts,tsx}": ["tslint --project . --format stylish --fix --config ./tslint.spec.json", "git add"],
  "**/*.{ts,tsx,js,json,md,gql}": ["prettier --write", "git add"],
  "**/*.{sass,scss,css}": ["yarn sasslint"]
}

refactor saga tests to use saga test plan
  app/modules/wallet-selector/browser-wizard/actions.spec.ts
  app/modules/web3/sagas.spec.ts
  app/modules/web3/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Update Agora.Trade description on landing
  app/data/etoCompanies.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2209 add DocumentLayout to storybook (#2246)
  app/components/documents/Documents.stories.tsx
  app/components/documents/Documents.tsx
  app/components/eto/shared/EtoAddDocument.tsx
  app/lib/api/eto/EtoFileApi.interfaces.ts
  test/fixtures.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Reword Agora.Trade description (#2264)
  app/data/etoCompanies.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

At/#2103 swiper refactor (#2198)
  .storybook/addons.js
  .storybook/config.js
  app/components/eto/shared/EtoView.tsx
  app/components/shared/PeopleSwiperWidget.module.scss
  app/components/shared/PeopleSwiperWidget.stories.tsx
  app/components/shared/PeopleSwiperWidget.tsx
  app/modules/person-profile-modal/actions.ts
  app/modules/person-profile-modal/reducer.ts
  app/styles/global.scss
  package.json
  test/fixtures/fixturesPersons.ts
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Fix eto start date e2e test (#2265)
  app/components/modals/tx-sender/eto-flow/SetDateSummary.tsx
  app/test-e2e/eto-registration/SetEtoStartDate.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Import only english mnemonics from bitcore-mnemonic (#2262)
  app/components/settings/backup-seed/BackupSeedVerify.spec.tsx
  app/components/settings/backup-seed/BackupSeedVerify.tsx
  app/components/wallet-selector/wallet-recover/SeedRecovery.tsx
  app/utils/englishMnemonics.ts
  package.json
  typings/modules.d.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

[Do not merge] Update webpack and related dependencies (eg. loaders) (#2250)
  package.json
  webpack/webpack.config.prod.js
  yarn.lock
Due: prettier --write

Do not schedule eto update if it's later than normal pooling
  app/modules/public-etos/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2042 Add eto end timer (#2193)
  app/components/eto/overview/EtoOverviewStatus/EndTimeWidget.module.scss
  app/components/eto/overview/EtoOverviewStatus/EndTimeWidget.spec.tsx
  app/components/eto/overview/EtoOverviewStatus/EndTimeWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentWidget.module.scss
  app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentWidget.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

#1484 Fix form errors merged in #2258 (#2267)
  app/components/eto/dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.tsx
  app/components/eto/registration/pages/EtoTerms.tsx
  app/components/shared/forms/fields/FormFieldError.tsx
  app/components/shared/forms/fields/FormFieldLabel.module.scss
  app/components/wallet-selector/light/Login/LoginWithEmailLightWallet.tsx
  app/styles/overrides.scss
  app/test-e2e/eto-registration/SetEtoStartDate.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

clean up browser wallet flow migration
  app/components/wallet-selector/browser/WalletBrowser.tsx
  app/modules/sagas.ts
  app/modules/wallet-selector/browser-wizard/reducer.spec.ts
  app/modules/wallet-selector/browser-wizard/sagas.ts
  app/modules/web3/sagas.spec.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

remove last flow from codebase
  app/components/wallet-selector/ledger/WalletLedgerChooser.tsx
  app/components/wallet-selector/ledger/WalletLedgerInitComponent.tsx
  app/lib/web3/lightWallet.spec.node.ts
  app/modules/sagas.ts
  app/modules/wallet-selector/ledger-wizard/actions.spec.ts
  app/modules/wallet-selector/ledger-wizard/actions.ts
  app/modules/wallet-selector/ledger-wizard/flows.ts
  app/modules/wallet-selector/ledger-wizard/sagas.ts
  app/modules/web3/sagas.spec.ts
  app/modules/web3/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

cleanup
  app/components/wallet-selector/browser/WalletBrowser.tsx
  app/components/wallet-selector/ledger/WalletLedgerInitComponent.tsx
  app/lib/web3/Web3Manager.spec.ts
  app/lib/web3/Web3Manager.ts
  app/modules/web3/sagas.spec.ts
  app/modules/web3/sagas.ts
  app/utils/AsyncIntervalScheduler.spec.ts
  app/utils/AsyncIntervalScheduler.ts
  app/utils/withActionWatcher.spec.tsx
  test/integrationTestUtils.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

fix timers in tests
  app/components/eto/overview/EtoOverviewStatus/EndTimeWidget.spec.tsx
  app/utils/promiseTimeout.spec.ts
  test/integrationTestUtils.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

start some refactorings
  app/lib/web3/Web3Manager.spec.ts
  app/lib/web3/Web3Manager.ts
  app/modules/web3/sagas.ts
  package.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Refactors recovery component and adds to story book (#2257)
  app/components/wallet-selector/light/Login/MissingEmailLightWallet.tsx
  app/components/wallet-selector/wallet-recover/RecoverWallet.tsx
  app/components/wallet-selector/wallet-recover/WalletRecoverMain.tsx
  app/components/wallet-selector/wallet-recover/help/LoginHelp.tsx
  app/components/wallet-selector/wallet-recover/recovery/RecoverWallet.stories.tsx
  app/components/wallet-selector/wallet-recover/recovery/RecoverWallet.tsx
  app/components/wallet-selector/wallet-recover/recovery/SeedRecovery.spec.tsx
  app/components/wallet-selector/wallet-recover/recovery/SeedRecovery.tsx
  app/components/wallet-selector/wallet-recover/router/RecoverRouter.tsx
  app/components/wallet-selector/wallet-recover/router/recoverRoutes.tsx
  app/components/wallet-selector/wallet-recover/success/RecoverySuccess.module.scss
  app/components/wallet-selector/wallet-recover/success/RecoverySuccess.stories.tsx
  app/components/wallet-selector/wallet-recover/success/RecoverySuccess.tsx
  app/modules/routing/actions.ts
  app/modules/wallet-selector/selectors.ts
  app/test-e2e/wallets/WalletRecover.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

fix tests after removing dispatch from libs
  app/components/wallet-selector/WalletSelector.integration.spec.tsx
  app/di/setupBindings.ts
  app/di/symbols.ts
  app/lib/web3/Web3Manager.spec.ts
  app/lib/web3/Web3Manager.ts
  app/modules/init/sagas.ts
  app/modules/web3/sagas.spec.ts
  test/integrationTestUtils.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

remove navigateTo and getState from global dependencies
  app/di/setupBindings.ts
  app/di/symbols.ts
  app/index.tsx
  app/lib/persistence/WalletStorage.ts
  app/lib/web3/Web3Manager.spec.ts
  app/modules/access-wallet/sagas.ts
  app/modules/auth/sagas.spec.ts
  app/modules/auth/sagas.ts
  app/modules/web3/sagas.ts
  test/integrationTestUtils.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Add babel-loader for storybook
  package.json
  yarn.lock
Due: prettier --write

Update typescript - new features in typescript, requires approval by all devs (#2256)
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedInvestorApprovedWidgetLayout.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedInvestorApprovedWidgetLayout.tsx
  app/components/settings/icbm-wallet-widget/CheckYourICBMWalletWidget.tsx
  app/components/shared/ResponsiveImage.tsx
  app/components/shared/loading-indicator/LoadingIndicator.tsx
  app/modules/routing/sagas.ts
  package.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

update bookbuilding widget behavior
  app/components/eto/EtoDashboard.tsx
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.stories.tsx
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2269 Update dependencies - Part 2 (#2279)
  app/components/App.tsx
  app/components/shared/CopyToClipboard.tsx
  app/components/shared/Toast.stories.tsx
  app/components/shared/Toast.tsx
  app/lib/dependencies/NotificationCenter.ts
  app/styles/global.scss
  package.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#2220 Refactor campaigning e2e tests (#2280)
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedInvestorApprovedWidgetLayout.tsx
  app/test-e2e/eto/Campaigning.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1762 Type safe action creator
  app/modules/actions.ts
  app/modules/actionsUtils.ts
  app/modules/public-etos/actions.ts
  app/modules/public-etos/reducer.ts
  app/modules/public-etos/sagas.ts
  app/modules/sagasUtils.ts
  package.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2251 Change url-loader image size limit (#2285)
  webpack/webpack.config.dev.js
  webpack/webpack.config.prod.js
Due: prettier --write

adds user claim logic
  app/modules/tx/interfaces.ts
  app/modules/tx/transactions/actions.ts
  app/modules/tx/transactions/claim/saga.ts
  app/modules/tx/transactions/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

connects portfolioAssetAction with claim
  app/components/portfolio/PorfolioAssetAction.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Deploy storybook to github pages (#2286)
  .circleci/config.yml
  package.json
  yarn.lock
Due: prettier --write

adds eto loading
  app/modules/routing/actions.ts
  app/modules/tx/transactions/claim/saga.ts
  app/modules/tx/transactions/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Adds Claim summary
  app/components/modals/tx-sender/TxSender.tsx
  app/components/modals/tx-sender/user-claim/Summary.stories.tsx
  app/components/modals/tx-sender/user-claim/Summary.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

moves getNeuReward to utils
  app/components/portfolio/PortfolioLayout.tsx
  app/modules/investor-tickets/utils.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2269 Update dependencies - Part 1 (#2278)
  app/components/landing/parts/JoinCta.tsx
  app/lib/api/client/HTTPClient.spec.ts
  app/lib/api/client/HttpClient.ts
  app/modules/routing/selectors.ts
  app/modules/web3/selectors.spec.ts
  app/modules/web3/selectors.ts
  package.json
  tsconfig.cypress.json
  tsconfig.dev.json
  typings/modules.d.ts
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

adds additional type for summaryData
  app/modules/investor-tickets/utils.ts
  app/modules/tx/sender/actions.ts
  app/modules/tx/sender/reducer.ts
  app/modules/tx/sender/selectors.ts
  app/modules/tx/transactions/claim/saga.ts
  app/modules/tx/transactions/upgrade/sagas.ts
  app/modules/tx/transactions/withdraw/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Adds temp selector
  app/modules/investor-tickets/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Adds User Claim Summary
  app/components/modals/tx-sender/TxSender.tsx
  app/components/modals/tx-sender/user-claim/Summary.module.scss
  app/components/modals/tx-sender/user-claim/Summary.tsx
  app/components/portfolio/PortfolioLayout.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Add dashboard stories (#2287)
  app/components/dashboard/Dashboard.stories.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix withdraw on safari
  app/components/modals/tx-sender/withdraw-flow/Withdraw.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write
