Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

add ledger flow
  packages/web/app/components/wallet-selector/WalletSelectorRegister.ts
  packages/web/app/components/wallet-selector/browser/Register/RegisterBrowserWallet.ts
  packages/web/app/components/wallet-selector/browser/Register/RegisterBrowserWalletError.tsx
  packages/web/app/components/wallet-selector/ledger/Register/RegisterLedger.tsx
  packages/web/app/components/wallet-selector/ledger/Register/RegisterLedgerWalletChooser.tsx
  packages/web/app/components/wallet-selector/ledger/WalletLedgerChooserComponent.tsx
  packages/web/app/components/wallet-selector/ledger/WalletLedgerInitComponent.tsx
  packages/web/app/components/wallet-selector/light/Register/RegisterLightWallet.tsx
  packages/web/app/modules/auth/user/sagas.ts
  packages/web/app/modules/wallet-selector/actions.ts
  packages/web/app/modules/wallet-selector/reducer.ts
  packages/web/app/modules/wallet-selector/sagas.ts
  packages/web/app/modules/wallet-selector/types.ts
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write

fully disables minimizer
  packages/web/webpack/webpack.config.ci.prod.js
Due: prettier --write

disables minimizer
  packages/web/webpack/webpack.config.ci.prod.js
Due: prettier --write

refactor routing and redirects for registration/login remove some duplicated css and unused components
  packages/web/app/components/AppRouter.tsx
  packages/web/app/components/appRoutes.ts
  packages/web/app/components/layouts/header/Header.tsx
  packages/web/app/components/shared/routing/SecretProtected.tsx
  packages/web/app/components/wallet-selector/WalletChooser.tsx
  packages/web/app/components/wallet-selector/WalletMessageSigner/WalletMessageSigner.module.scss
  packages/web/app/components/wallet-selector/WalletMessageSigner/WalletMessageSigner.tsx
  packages/web/app/components/wallet-selector/WalletMessageSigner/WalletSelectorContainer.module.scss
  packages/web/app/components/wallet-selector/WalletMessageSigner/WalletSelectorContainer.tsx
  packages/web/app/components/wallet-selector/WalletRouter.tsx
  packages/web/app/components/wallet-selector/WalletSelector.integration.spec.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLayout.module.scss
  packages/web/app/components/wallet-selector/WalletSelectorLayout.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin.tsx
  packages/web/app/components/wallet-selector/WalletSelectorRegister.ts
  packages/web/app/components/wallet-selector/browser/Register/RegisterBrowserWallet.ts
  packages/web/app/components/wallet-selector/ledger/Register/RegisterLedger.tsx
  packages/web/app/components/wallet-selector/ledger/WalletLedgerChooserComponent.tsx
  packages/web/app/components/wallet-selector/light/Login/LoginLightWallet.tsx
  packages/web/app/components/wallet-selector/light/Login/WalletLight.tsx
  packages/web/app/components/wallet-selector/light/Register/RegisterLightWalletBase.tsx
  packages/web/app/components/wallet-selector/light/Register/RegisterLightWalletForm.tsx
  packages/web/app/components/wallet-selector/shared/RegisterWalletSelector.module.scss
  packages/web/app/components/wallet-selector/utils.ts
  packages/web/app/components/wallet-selector/wallet-recover/recovery/RecoverWallet.tsx
  packages/web/app/components/wallet-selector/walletRouterHelpers.ts
  packages/web/app/components/wallet-selector/walletRoutes.tsx
  packages/web/app/modules/routing/actions.ts
  packages/web/app/modules/routing/routes.ts
  packages/web/app/modules/wallet-selector/actions.ts
  packages/web/app/modules/wallet-selector/sagas.ts
  packages/web/app/test-e2e/utils/assertions.ts
Due: prettier --write, yarn sasslint

refactor wallet recovery
  packages/web/app/components/wallet-selector/WalletSelectorLogin.tsx
  packages/web/app/components/wallet-selector/light/Register/RegisterLightWalletForm.tsx
  packages/web/app/components/wallet-selector/light/Register/RestoreLightWallet.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/LightWalletRecoverySignUp.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/RecoverWallet.tsx
  packages/web/app/modules/routing/routes.ts
  packages/web/app/modules/wallet-selector/actions.ts
  packages/web/app/modules/wallet-selector/light-wizard/sagas.ts
  packages/web/app/modules/wallet-selector/sagas.ts
  packages/web/app/test-e2e/other/recovery/WalletRecovery.spec.e2e.io.ts
Due: prettier --write

Add loading state to tokens
  packages/web/app/components/dashboard/my-portfolio/PortfolioStats.tsx
  packages/web/app/modules/eto/actions.ts
  packages/web/app/modules/eto/reducer.ts
  packages/web/app/modules/eto/sagas.ts
  packages/web/app/modules/eto/selectors.ts
  packages/web/app/test-e2e/investor/portfolio/PortfolioStats.spec.e2e.io.ts
  packages/web/health-check-sha.json
Due: prettier --write

adds signMessage
  packages/web/app/lib/web3/light-wallet/LightWalletUtils.ts
Due: prettier --write

Local notifications
  packages/wallet/android/app/build.gradle
  packages/wallet/android/app/google-services.json
  packages/wallet/android/app/src/main/AndroidManifest.xml
  packages/wallet/android/app/src/main/java/org/neufund/neufundfirebasedemo/MainActivity.java
  packages/wallet/android/app/src/main/java/org/neufund/neufundfirebasedemo/MainApplication.java
  packages/wallet/android/build.gradle
  packages/wallet/android/settings.gradle
  packages/wallet/app/components/Landing.tsx
  packages/wallet/app/modules/init/sagas.ts
  packages/wallet/ios/GoogleService-Info.plist
  packages/wallet/ios/Podfile
  packages/wallet/ios/Podfile.lock
  packages/wallet/ios/wallet-tvOS/Info.plist
  packages/wallet/ios/wallet-tvOSTests/Info.plist
  packages/wallet/ios/wallet.xcodeproj/project.pbxproj
  packages/wallet/ios/wallet/AppDelegate.m
  packages/wallet/ios/wallet/wallet.entitlements
  packages/wallet/package.json
Due: prettier --write

Update lock
  yarn.lock
Due: none

Fix performLoadEtoSideEffects saga
  packages/web/app/modules/eto-view/shared/sagas.spec.ts
  packages/web/app/modules/eto-view/shared/sagas.ts
  packages/web/health-check-sha.json
Due: prettier --write

Adds custom fetch wrapper (#4137)
  .circleci/config.yml
  packages/shared-modules/src/modules/core/lib/logger/index.ts
  packages/web/app/components/modals/tx-sender/redeem/BankTransferRedeemInit.tsx
  packages/web/app/components/portfolio/AssetPortfolio.tsx
  packages/web/app/test-e2e/investor/bank/purchase/Purchase.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/bank/redeem/RedeemNEUR.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/bank/redeem/RedeemNEUR.spec.e2e.ts
  packages/web/app/test-e2e/investor/invest/InvestWithoutMoney.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/invest/ModalTokenPrice.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/invest/eth/InvestWithEther.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/invest/neur/InvestWithNEur.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/portfolio/TokenTransfer.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/portfolio/payout/Payouts.spec.e2e.ts
  packages/web/app/test-e2e/investor/wallet/TransactionsHistory.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/wallet/Transfer.spec.e2e.io.ts
  packages/web/app/test-e2e/issuer/eto/forms/TypeOfEto.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/userHelpers.ts
  packages/web/e2e/setup-e2e.sh
  packages/web/health-check-sha.json
  packages/web/package.json
  packages/web/webpack/webpack.config.ci.prod.js
Due: prettier --write

Token test
  packages/wallet/app/modules/init/sagas.ts
  packages/wallet/ios/wallet/AppDelegate.m
Due: prettier --write

Firebas test
  packages/wallet/ios/Podfile.lock
  packages/wallet/ios/wallet.xcodeproj/project.pbxproj
  packages/wallet/ios/wallet/AppDelegate.m
Due: none

Update locks
  packages/wallet/android/app/build.gradle
  packages/wallet/app/modules/init/sagas.ts
  packages/wallet/app/modules/sagas.tsx
  packages/wallet/package.json
Due: prettier --write

Update locks
  yarn.lock
Due: none

sign up visual changes
  packages/web/app/components/wallet-selector/light/register/RegisterLightWallet.tsx
  packages/web/app/components/wallet-selector/light/register/RegisterLightWalletContainer.tsx
  packages/web/app/components/wallet-selector/shared/RegisterWalletSelector.module.scss
  packages/web/app/modules/wallet/selectors.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

ledger, metamask sign up visual changes
  packages/web/app/components/wallet-selector/browser/Login/WalletBrowser.stories.tsx
  packages/web/app/components/wallet-selector/browser/Login/WalletBrowser.tsx
  packages/web/app/components/wallet-selector/browser/Register/BrowserWalletBase.tsx
  packages/web/app/components/wallet-selector/browser/Register/RegisterBrowserWallet.ts
  packages/web/app/components/wallet-selector/browser/Register/RegisterBrowserWalletContainer.tsx
  packages/web/app/components/wallet-selector/browser/Register/RegisterBrowserWalletError.tsx
  packages/web/app/components/wallet-selector/browser/Register/RegisterBrowserWalletForm.tsx
  packages/web/app/components/wallet-selector/ledger/Register/RegisterLedger.tsx
  packages/web/app/components/wallet-selector/ledger/Register/RegisterLedgerBase.tsx
  packages/web/intl/locales/en-en.json
Due: prettier --write

update investor tests
  packages/design-system/src/components/inputs/InputError.tsx
  packages/web/app/test-e2e/other/login/lightwallet/InvestorLogin.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/index.ts
Due: prettier --write

Fix ETO view merge misses (#4148)
  packages/web/app/components/eto/eto-full-view/shared/Disclaimer/Disclaimer.module.scss
  packages/web/app/components/eto/eto-full-view/shared/Disclaimer/Disclaimer.tsx
  packages/web/app/components/eto/eto-full-view/shared/EtoView.stories.tsx
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/CampaignOverviewLayout.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/TagsWidget.stories.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/TagsWidget.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/utils.spec.ts
  packages/web/app/components/eto/overview/EtoOverviewStatus/utils.tsx
  packages/web/app/components/eto/public-view/CoverBanner.tsx
  packages/web/app/modules/eto-view/shared/sagas.ts
  packages/web/app/modules/eto-view/shared/types.ts
  packages/web/app/modules/eto-view/shared/utils.spec.ts
  packages/web/app/modules/eto-view/shared/utils.ts
  packages/web/app/test-e2e/investor/bank/redeem/RedeemNEUR.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/portfolio/TokenTransfer.spec.e2e.io.ts
  packages/web/app/test-e2e/issuer/eto/EtoRegistrationUtils.ts
  packages/web/app/test-e2e/issuer/eto/forms/CompanyInformationOverwrite.spec.e2e.io.ts
  packages/web/app/test-e2e/issuer/eto/view/ViewForInvestor.spec.e2e.io.ts
  packages/web/app/test-e2e/issuer/eto/view/components/RenderingWidget.spec.e2e.io.ts
  packages/web/app/test-e2e/issuer/eto/view/components/WidgetBasicViewInStates.spec.e2e.io.ts
  packages/web/package.json
Due: prettier --write, yarn sasslint

Remote notifications ios draft
  packages/wallet/app/components/Landing.tsx
  packages/wallet/app/modules/init/sagas.ts
  packages/wallet/ios/wallet.xcodeproj/project.pbxproj
  packages/wallet/ios/wallet/AppDelegate.m
  packages/wallet/ios/wallet/Info.plist
Due: prettier --write

Fix ETO view merge misses (#4148) (#4158)
  packages/web/app/components/eto/eto-full-view/shared/Disclaimer/Disclaimer.module.scss
  packages/web/app/components/eto/eto-full-view/shared/Disclaimer/Disclaimer.tsx
  packages/web/app/components/eto/eto-full-view/shared/EtoView.stories.tsx
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/CampaignOverviewLayout.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/TagsWidget.stories.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/TagsWidget.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/utils.spec.ts
  packages/web/app/components/eto/overview/EtoOverviewStatus/utils.tsx
  packages/web/app/components/eto/public-view/CoverBanner.tsx
  packages/web/app/modules/eto-view/shared/sagas.ts
  packages/web/app/modules/eto-view/shared/types.ts
  packages/web/app/modules/eto-view/shared/utils.spec.ts
  packages/web/app/modules/eto-view/shared/utils.ts
  packages/web/app/test-e2e/investor/bank/redeem/RedeemNEUR.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/portfolio/TokenTransfer.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/portfolio/TokenTransfer.spec.e2e.ts
  packages/web/app/test-e2e/issuer/eto/EtoRegistrationUtils.ts
  packages/web/app/test-e2e/issuer/eto/forms/CompanyInformationOverwrite.spec.e2e.io.ts
  packages/web/app/test-e2e/issuer/eto/view/ViewForInvestor.spec.e2e.io.ts
  packages/web/app/test-e2e/issuer/eto/view/components/RenderingWidget.spec.e2e.io.ts
  packages/web/app/test-e2e/issuer/eto/view/components/WidgetBasicViewInStates.spec.e2e.io.ts
  packages/web/package.json
Due: prettier --write, yarn sasslint

Tests
  packages/wallet/app/modules/init/sagas.ts
Due: prettier --write

Merge with master
  packages/wallet/android/app/build.gradle
  packages/wallet/android/build.gradle
  packages/wallet/app/components/Landing.tsx
  packages/wallet/ios/Podfile.lock
  packages/wallet/package.json
Due: prettier --write

fix seed error
  packages/web/app/components/wallet-selector/wallet-recover/recovery/SeedRecovery.unsafe.module.scss
  packages/web/app/components/wallet-selector/wallet-recover/recovery/SeedRecovery.unsafe.tsx
  packages/web/app/test-e2e/other/logout/LogoutActions.spec.e2e.io.ts
  packages/web/app/test-e2e/other/recovery/WalletRecovery.spec.e2e.io.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

fix sign up fonts
  packages/web/app/components/wallet-selector/browser/Register/RegisterBrowserWalletContainer.tsx
  packages/web/app/components/wallet-selector/ledger/Register/RegisterLedgerBase.tsx
  packages/web/app/components/wallet-selector/light/login/MissingEmailLightWallet.tsx
  packages/web/app/components/wallet-selector/light/login/WalletLight.module.scss
  packages/web/app/components/wallet-selector/shared/RegisterWalletSelector.module.scss
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

TODO fixme browser not supported
  packages/web/app/components/wallet-selector/ledger/Register/RegisterLedger.tsx
Due: prettier --write

cleanup
  packages/web/app/components/wallet-selector/WalletRouter.tsx
  packages/web/app/modules/wallet-selector/sagas.ts
Due: prettier --write

update same email test
  packages/web/app/test-e2e/other/recovery/WalletRecovery.spec.e2e.io.ts
Due: prettier --write

remove LedgerConnectionSteps
  packages/web/app/assets/img/wallet_selector/ledger_login_step_1.svg
  packages/web/app/assets/img/wallet_selector/ledger_login_step_2.svg
  packages/web/app/assets/img/wallet_selector/ledger_login_step_3.svg
  packages/web/app/assets/img/wallet_selector/ledger_login_step_4.svg
  packages/web/app/assets/img/wallet_selector/ledger_login_step_5.svg
  packages/web/app/assets/img/wallet_selector/ledger_login_step_6.svg
  packages/web/app/components/shared/icons/InlineIcon.stories.tsx
  packages/web/app/components/wallet-selector/WalletRouter.tsx
  packages/web/app/components/wallet-selector/ledger/WalletLedgerInitComponent.tsx
Due: prettier --write

Company listing timeline copy changes (#4163)
  packages/web/intl/locales/en-en.json
Due: prettier --write

rename components
  packages/web/app/components/layouts/header/Header.tsx
  packages/web/app/components/shared/routing/OnlyAuthorizedRoute.tsx
  packages/web/app/components/wallet-selector/WalletLoginRouter.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLayout.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin.tsx
  packages/web/app/components/wallet-selector/WalletSelectorRegister.ts
  packages/web/app/components/wallet-selector/browser/Login/LoginWalletBrowser.module.scss
  packages/web/app/components/wallet-selector/browser/Login/LoginWalletBrowser.stories.tsx
  packages/web/app/components/wallet-selector/browser/Login/LoginWalletBrowser.tsx
  packages/web/app/components/wallet-selector/browser/Register/RegisterBrowserWalletError.tsx
  packages/web/app/components/wallet-selector/ledger/LedgerHeader.module.scss
  packages/web/app/components/wallet-selector/ledger/LedgerHeader.tsx
  packages/web/app/components/wallet-selector/light/login/LoginLightWallet.stories.tsx
  packages/web/app/components/wallet-selector/light/login/LoginLightWallet.tsx
  packages/web/app/components/wallet-selector/light/login/MissingEmailLightWallet.module.scss
  packages/web/app/components/wallet-selector/light/login/MissingEmailLightWallet.tsx
  packages/web/app/components/wallet-selector/light/login/WalletLight.module.scss
  packages/web/app/components/wallet-selector/wallet-routes.ts
  packages/web/app/test-e2e/utils/assertions.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

rename dir
  packages/web/app/components/wallet-selector/WalletLoginRouter.tsx
  packages/web/app/components/wallet-selector/WalletSelectorRegister.ts
  packages/web/app/components/wallet-selector/browser/login/LoginWalletBrowser.module.scss
  packages/web/app/components/wallet-selector/browser/login/LoginWalletBrowser.stories.tsx
  packages/web/app/components/wallet-selector/browser/login/LoginWalletBrowser.tsx
  packages/web/app/components/wallet-selector/browser/register/RegisterBrowserWallet.ts
  packages/web/app/components/wallet-selector/browser/register/RegisterBrowserWalletContainer.tsx
  packages/web/app/components/wallet-selector/browser/register/RegisterBrowserWalletError.tsx
  packages/web/app/components/wallet-selector/browser/register/RegisterBrowserWalletForm.tsx
  packages/web/app/components/wallet-selector/ledger/Register/RegisterLedger.tsx
  packages/web/app/components/wallet-selector/light/login/MissingEmailLightWallet.module.scss
  packages/web/app/test-e2e/other/logout/LogoutActions.spec.e2e.io.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

fix browser wallet sign up title
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterBrowserWallet/RegisterBrowserWalletContainer.tsx
  packages/web/intl/locales/en-en.json
Due: prettier --write

Adds Vault Confirmation on Recovery (#4122)
  packages/shared/src/utils/constants.ts
  packages/web/app/lib/api/vault/VaultApi.ts
  packages/web/app/modules/wallet-selector/light-wizard/sagas.ts
Due: prettier --write

Path conditions:
  yarn tsc: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix --config ./tslint.spec.json: any of: app/**/*.spec.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,js,json,md,gql}
  yarn sasslint: any of: **/*.{sass,scss,css}
