Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

#2409 Update bank verification flow to match latest requirements (#2519)
  app/components/modals/bank-transfer-flow/BankTransferFlow.tsx
  app/components/modals/bank-transfer-flow/purchase/BankTransferPurchaseSummary.tsx
  app/components/modals/bank-transfer-flow/shared/BankTransferAgreement.stories.tsx
  app/components/modals/bank-transfer-flow/shared/BankTransferAgreement.tsx
  app/components/modals/bank-transfer-flow/verify/BankTransferVerifyAgreement.stories.tsx
  app/components/modals/bank-transfer-flow/verify/BankTransferVerifyAgreement.tsx
  app/components/modals/bank-transfer-flow/verify/BankTransferVerifyInit.stories.tsx
  app/components/modals/bank-transfer-flow/verify/BankTransferVerifySummary.tsx
  app/components/settings/linked-bank-account/LinkedBankAccountWidget.module.scss
  app/components/wallet/BankAccount.module.scss
  app/components/wallet/BankAccount.tsx
  app/modules/bank-transfer-flow/actions.ts
  app/modules/bank-transfer-flow/reducer.ts
  app/modules/bank-transfer-flow/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#2395 Fix reserved assets columns width (#2449)
  app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentProgress.module.scss
  app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentProgress.tsx
  app/components/portfolio/PortfolioReservedAssets.tsx
  app/components/shared/table/NewTable.module.scss
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Fix redeem input behavior
  app/components/modals/tx-sender/redeem/BankTransferRedeemInit.module.scss
  app/components/modals/tx-sender/redeem/BankTransferRedeemInit.tsx
  app/components/modals/tx-sender/redeem/BankTransferRedeemSummary.tsx
  app/components/modals/tx-sender/redeem/CalculatedFee.tsx
  app/components/modals/tx-sender/redeem/TotalRedeemed.tsx
  app/modules/bank-transfer-flow/sagas.ts
  app/utils/Money.utils.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Show currency code instead of symbol
  app/components/modals/bank-transfer-flow/purchase/BankTransferPurchaseSummary.tsx
  app/components/modals/bank-transfer-flow/verify/BankTransferVerifySummary.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2409 Get bank account from api / Inform backend about purchase request / Replace verification flow icons (#2527)
  app/assets/img/bank-transfer/bank-icon.svg
  app/assets/img/bank-transfer/bank-vault.svg
  app/assets/img/bank-transfer/bank.svg
  app/assets/img/bank-transfer/bankvault.svg
  app/assets/img/bank-transfer/neur-eur.svg
  app/components/modals/bank-transfer-flow/purchase/BankTransferPurchaseSuccess.tsx
  app/components/modals/bank-transfer-flow/purchase/BankTransferPurchaseSummary.stories.tsx
  app/components/modals/bank-transfer-flow/purchase/BankTransferPurchaseSummary.tsx
  app/components/modals/bank-transfer-flow/verify/BankTransferVerifyAgreement.tsx
  app/components/modals/bank-transfer-flow/verify/BankTransferVerifySuccess.tsx
  app/components/modals/bank-transfer-flow/verify/BankTransferVerifySummary.stories.tsx
  app/components/modals/bank-transfer-flow/verify/BankTransferVerifySummary.tsx
  app/components/settings/linked-bank-account/LinkedBankAccountWidget.tsx
  app/components/shared/Confetti.module.scss
  app/components/shared/Confetti.tsx
  app/components/wallet/BankAccount.tsx
  app/config/.env.e2e
  app/config/.env.example
  app/config/getConfig.ts
  app/lib/api/KycApi.interfaces.ts
  app/lib/api/KycApi.ts
  app/modules/bank-transfer-flow/actions.ts
  app/modules/bank-transfer-flow/reducer.ts
  app/modules/bank-transfer-flow/sagas.ts
  app/modules/kyc/actions.ts
  app/modules/kyc/reducer.ts
  app/modules/kyc/sagas.ts
  app/modules/kyc/selectors.ts
  test/fixtures.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Fix review
  app/components/modals/tx-sender/redeem/BankTransferRedeemInit.module.scss
Due: yarn sasslint

change wording in UnlockedNEURWallet widget (#2525)
  app/components/modals/bank-transfer-flow/shared/BankTransferAgreement.tsx
  app/components/wallet/wallet-balance/UnlockedNEURWallet.tsx
  app/config/externalRoutes.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

replace provider packages
  .babelrc
  app/lib/web3/LedgerWallet.ts
  package.json
  typings/modules.d.ts
  webpack/webpack.config.common.js
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Clean up ledgerWallet.ts into seperate files
  app/components/wallet-selector/WalletSelector.integration.spec.tsx
  app/di/setupBindings.ts
  app/lib/web3/LedgerWallet.ts
  app/lib/web3/Web3Adapter.ts
  app/lib/web3/Web3Manager.spec.ts
  app/lib/web3/ledger-wallet/LedgerConnector.ts
  app/lib/web3/ledger-wallet/LedgerWallet.ts
  app/lib/web3/ledger-wallet/errors.ts
  app/lib/web3/ledger-wallet/ledgerUtils.ts
  app/lib/web3/ledger-wallet/types.ts
  app/modules/access-wallet/errors.ts
  app/modules/access-wallet/sagas.ts
  app/modules/auth/jwt/sagas.ts
  app/modules/tx/sender/sagas.ts
  app/modules/wallet-selector/ledger-wizard/actions.spec.ts
  app/modules/wallet-selector/ledger-wizard/errors.ts
  app/modules/wallet-selector/ledger-wizard/sagas.ts
  package.json
  test/integrationTestUtils.tsx
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Fixes Ledger Provider Bindings
  app/components/wallet-selector/WalletSelector.integration.spec.tsx
  app/di/setupBindings.ts
  app/lib/web3/Web3Adapter.ts
  app/lib/web3/ledger-wallet/LedgerConnector.ts
  app/lib/web3/ledger-wallet/LedgerWallet.ts
  app/lib/web3/ledger-wallet/ledgerUtils.ts
  app/lib/web3/ledger-wallet/types.ts
  app/modules/access-wallet/errors.ts
  app/modules/access-wallet/sagas.ts
  app/modules/tx/sender/sagas.ts
  app/modules/wallet-selector/ledger-wizard/actions.spec.ts
  app/modules/wallet-selector/ledger-wizard/errors.ts
  app/modules/wallet-selector/ledger-wizard/sagas.ts
  test/integrationTestUtils.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Reserves BigNumber from minification process
  webpack/webpack.config.prod.js
Due: prettier --write

Reserves BigNumber from minification process (#2535)
  webpack/webpack.config.prod.js
Due: prettier --write

Fix react warning on claim agreement
  app/components/modals/tx-sender/user-claim/SummaryForm.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix my assets not refreshing on successful claim
  app/components/portfolio/Portfolio.tsx
  app/components/portfolio/PortfolioMyAssets.tsx
  app/modules/investor-portfolio/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix types
  app/components/portfolio/PortfolioLayout.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix lint
  app/components/portfolio/PortfolioLayout.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Working Ledger
  app/lib/web3/ledger-wallet/LedgerConnector.ts
  app/lib/web3/ledger-wallet/LedgerWallet.ts
  app/modules/auth/jwt/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#974 Logout different user on email verification (#2542)
  app/components/settings/verify-email/VerifyEmailWidget.tsx
  app/index.tsx
  app/modules/auth/actions.ts
  app/modules/auth/sagas.ts
  app/test-e2e/utils/index.ts
  app/test-e2e/verify/WalletVerify.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

At/#2431 fix storybook false positives (#2517)
  .circleci/config.yml
  app/components/dashboard/incoming-payout/IncomingPayoutWidget.stories.tsx
  app/components/dashboard/incoming-payout/IncomingPayoutWidget.tsx
  app/components/eto/dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/CounterWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/EndTimeWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoMaxCapExceeded.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.stories.tsx
  app/components/modals/tx-sender/eto-flow/SetDateSummary.stories.tsx
  app/components/shared/Counter.stories.tsx
  app/components/shared/Counter.tsx
  app/components/shared/TimeLeft.tsx
  app/components/shared/forms/fields/testingUtils.tsx
  app/utils/storybookHelpers.tsx
  package.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix lint
  app/utils/storybookHelpers.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

cleans up ledger types
  app/lib/web3/ledger-wallet/LedgerConnector.ts
  app/lib/web3/ledger-wallet/LedgerWallet.ts
  app/lib/web3/ledger-wallet/ledgerUtils.ts
  app/lib/web3/ledger-wallet/types.ts
  package.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

add stuff to mockedState (#2552)
  app/components/eto/EtoDashboard.stories.tsx
  app/modules/eto-flow/selectors.ts
  test/fixtures/mockedStore.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Cleanup
  app/di/setupBindings.ts
  app/lib/web3/ledger-wallet/LedgerConnector.ts
  app/lib/web3/ledger-wallet/LedgerWallet.ts
  app/lib/web3/ledger-wallet/errors.ts
  app/lib/web3/ledger-wallet/ledgerUtils.ts
  app/modules/wallet-selector/ledger-wizard/actions.spec.ts
  app/modules/wallet-selector/ledger-wizard/errors.ts
  app/modules/wallet-selector/ledger-wizard/sagas.ts
  typings/modules.d.ts
  webpack/webpack.config.common.js
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Revers babel
  .babelrc
Due: none

cleans modules
  package.json
  yarn.lock
Due: prettier --write

removes babel polyfill
  package.json
  webpack/webpack.config.common.js
  yarn.lock
Due: prettier --write

Fixes failed test setup
  package.json
  test/setupBrowserTests.ts
Due: prettier --write

At/document tiles - additional states (#2499)
  app/components/documents/Documents.stories.tsx
  app/components/documents/Documents.tsx
  app/components/eto/shared/EtoAddDocument.module.scss
  app/components/eto/shared/EtoAddDocument.tsx
  app/components/shared/Document.module.scss
  app/components/shared/Document.stories.tsx
  app/components/shared/Document.tsx
  app/modules/eto-documents/actions.ts
  app/modules/eto-documents/reducer.ts
  app/modules/eto-documents/sagas.ts
  app/modules/eto-documents/selectors.ts
  app/modules/eto-flow/actions.ts
  app/modules/eto-flow/reducer.ts
  app/modules/eto-flow/sagas.ts
  app/modules/eto-flow/selectors.ts
  app/modules/eto-flow/types.ts
  app/modules/immutable-file/selectors.ts
  app/modules/tx/interfaces.ts
  app/modules/tx/monitor/selectors.ts
  app/modules/tx/transactions/eto-flow/saga.ts
  app/modules/tx/transactions/sagas.ts
  app/test-e2e/eto-registration/EtoRequiredReqistrationAndSubmit.spec.e2e.ts
  app/utils/storybookHelpers.tsx
  intl/locales/en-en.json
  package.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Adds error Cleans typings
  app/lib/web3/ledger-wallet/LedgerConnector.ts
  app/lib/web3/ledger-wallet/LedgerWallet.ts
  app/modules/wallet-selector/ledger-wizard/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

review fixes
  app/lib/web3/ledger-wallet/errors.ts
  app/lib/web3/ledger-wallet/ledgerUtils.ts
  app/modules/auth/jwt/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Bank transfer flow e2e tests (#2538)
  app/components/modals/bank-transfer-flow/purchase/BankTransferPurchaseSuccess.tsx
  app/components/modals/bank-transfer-flow/purchase/BankTransferPurchaseSummary.tsx
  app/components/modals/bank-transfer-flow/verify/BankTransferVerifySuccess.tsx
  app/components/modals/bank-transfer-flow/verify/BankTransferVerifySummary.tsx
  app/components/modals/tx-sender/investment-flow/Summary.module.scss
  app/components/modals/tx-sender/shared/InfoRow.module.scss
  app/components/modals/tx-sender/shared/InfoRow.tsx
  app/components/shared/CopyToClipboardButton.tsx
  app/components/wallet/BankAccount.tsx
  app/modules/kyc/sagas.ts
  app/modules/sagasUtils.spec.ts
  app/modules/sagasUtils.ts
  app/test-e2e/bank-transfer/BankVerification.spec.e2e.ts
  app/test-e2e/bank-transfer/Purchase.spec.e2e.ts
  app/test-e2e/bank-transfer/assertions.ts
  app/test-e2e/fixtures.ts
  app/test-e2e/settings/LightWalletRegister.spec.e2e.ts
  app/test-e2e/wallets/WalletRecover.spec.e2e.ts
  app/utils/copyToClipboard.ts
  e2e/run_backend.sh
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

Remove dead dev dependency (#2564)
  package.json
  yarn.lock
Due: prettier --write

Adds new banned country list (#2549)
  app/components/shared/forms/fields/FormSelectCountryField.tsx
  app/lib/api/util/schemaHelpers.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

removes ledger-wallet-provider (#2563)
  package.json
  typings/modules.d.ts
  yarn.lock
Due: prettier --write

Fix review
  app/components/portfolio/Portfolio.tsx
  app/components/portfolio/PortfolioLayout.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix PersonalAccountDetails header icon (#2567)
  app/components/settings/personal-account-details/PersonalAccountDetails.stories.tsx
  app/components/settings/personal-account-details/PersonalAccountDetails.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Path conditions:
  yarn tsc: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix --config ./tslint.spec.json: any of: app/**/*.spec.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,js,json,md,gql}
  yarn sasslint: any of: **/*.{sass,scss,css}
