Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

.lintstagedrc:

{
  "app/**/*.{ts,tsx,js}": ["yarn tsc", "tslint --project . --format stylish --fix", "git add"],
  "app/**/*.spec.{ts,tsx}": ["tslint --project . --format stylish --fix --config ./tslint.spec.json", "git add"],
  "**/*.{ts,tsx,js,json,md,gql}": ["prettier --write", "git add"],
  "**/*.{sass,scss,css}": ["yarn sasslint"]
}

Fixes Issue with Gas API Saga (#1777)
  app/modules/gas/reducer.ts
  app/modules/gas/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

tslint fix test
  .huskyrc
  .lintstagedrc
Due: none

prettier fix test
  .huskyrc
Due: none

--amend
  yarn.lock
Due: none

#1756 Fix behaviour when pledge was rejected (#1781)
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedInvestorApprovedWidget.tsx
  app/components/modals/walletAccess/AccessWalletModal.tsx
  app/modules/eto-flow/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1373 refactor personal documentVerification screen simplify markup/css of kyc forms
  app/components/kyc/KYCprocess.stories.tsx
  app/components/kyc/Kyc.tsx
  app/components/kyc/KycPanel.module.scss
  app/components/kyc/KycPanel.tsx
  app/components/kyc/personal/DocumentVerification.module.scss
  app/components/kyc/personal/DocumentVerification.tsx
  app/components/kyc/personal/Start.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#1509 Improve signer errors (#1817)
  app/components/modals/tx-sender/shared/ErrorMessage.tsx
  app/lib/web3/BrowserWallet.ts
  app/lib/web3/LedgerWallet.ts
  app/lib/web3/Web3Adapter.ts
  app/modules/tx/sender/reducer.ts
  app/modules/tx/sender/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Add custom percent YUP schema
  app/lib/api/KycApi.interfaces.ts
  app/lib/api/eto/EtoApi.interfaces.tsx
  app/lib/api/util/schemaHelpers.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix YupTS schema enhance
  app/lib/api/eto/EtoApi.interfaces.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

At/#1747 company media optional fields (#1807)
  app/components/eto/registration/pages/EtoMedia.tsx
  app/components/eto/utils.spec.ts
  app/components/eto/utils.ts
  app/components/shared/MediaLinksEditor.module.scss
  app/components/shared/MediaLinksEditor.tsx
  app/components/shared/SocialProfilesEditor.tsx
  app/lib/api/eto/EtoApi.interfaces.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

Revert "Merge pull request #1812 from Neufund/Moe/Guidelines"
  docs/component-development-guidelines.md
Due: prettier --write

Add e2e tests for landing page (#1824)
  app/components/landing/LandingEto.tsx
  app/components/landing/parts/JoinCta.tsx
  app/components/landing/parts/LandingHeader.tsx
  app/test-e2e/landing/LandingEtoPage.spec.e2e.ts
  app/test-e2e/landing/LandingPage.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

At/#1788 losing data on backend error (#1803)
  app/components/eto/registration/pages/EtoTerms.tsx
  app/components/eto/registration/pages/InvestmentTerms.tsx
  app/components/eto/registration/pages/LegalInformation.tsx
  app/components/shared/forms/form-field/FormInput.tsx
  app/components/shared/forms/form-field/FormRange.tsx
  app/config/constants.ts
  app/lib/api/eto/EtoApi.interfaces.tsx
  app/lib/api/eto/EtoApiUtils.spec.ts
  app/lib/api/eto/EtoApiUtils.ts
  app/modules/eto-flow/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

adds git commit rule (#1818)
  dangerfile.ts
Due: prettier --write

Fixes wallet loading race condition (#1776)
  app/modules/auth/sagas.ts
  app/modules/init/sagas.ts
  app/modules/settings/sagas.ts
  app/modules/wallet-selector/light-wizard/sagas.ts
  app/modules/wallet/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

update plural for numbers
  intl/locales/en-en.json
Due: prettier --write

#1797 Change PEP tooltip (#1825)
  intl/locales/en-en.json
Due: prettier --write

#1459 Update when INVEST NOW button is shown (#1794)
  app/components/eto/EtoDashboard.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentWidget.tsx
  app/components/layouts/LayoutAuthorizedMenu.spec.tsx
  app/components/layouts/LayoutAuthorizedMenu.tsx
  app/modules/investment-flow/selectors.ts
  app/modules/kyc/selectors.ts
  app/modules/notifications/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

update eto forms and add extra validation
  app/components/eto/registration/pages/EtoEquityTokenInfo.tsx
  app/components/eto/registration/pages/EtoMedia.tsx
  app/components/eto/registration/pages/EtoTerms.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

refactor EtoUtils to take full eto data
  app/components/eto/dashboard/EtoOverview.module.scss
  app/components/eto/dashboard/EtoOverview.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/eto/public-view/EtoInvestmentTermsWidget.tsx
  app/components/eto/registration/pages/InvestmentTerms.tsx
  app/components/eto/shared/InvestmentAmount.tsx
  app/lib/api/eto/EtoUtils.spec.ts
  app/lib/api/eto/EtoUtils.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

make txHash and blockId optional in WatchPendingTx
  app/components/modals/tx-sender/TxSender.tsx
  app/components/modals/tx-sender/shared/WatchPeningTxs.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fixes Wallet Selector
  app/components/settings/icbm-wallet-widget/CheckYourICBMWalletWidget.tsx
  app/modules/icbm-wallet-balance-modal/actions.ts
  app/modules/icbm-wallet-balance-modal/reducer.ts
  app/modules/icbm-wallet-balance-modal/sagas.ts
  app/modules/icbm-wallet-balance-modal/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

refactor some selectors to use full app state
  app/components/documents/Documents.tsx
  app/components/eto/EtoDashboard.tsx
  app/modules/eto-flow/selectors.ts
  app/modules/investment-flow/sagas.ts
  app/modules/investment-flow/selectors.ts
  app/modules/public-etos/sagas.ts
  app/modules/public-etos/selectors.ts
  app/modules/tx/transactions/investment/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Pending ooo transaction modal (#1820)
  .huskyrc
  .lintstagedrc
  app/components/modals/tx-sender/TxSender.tsx
  app/components/modals/tx-sender/shared/TxPending.stories.tsx
  app/components/modals/tx-sender/shared/WatchPeningTxs.tsx
  app/modules/tx/monitor/actions.ts
  app/modules/tx/monitor/sagas.ts
  app/modules/tx/sender/actions.ts
  app/modules/tx/sender/reducer.ts
  app/modules/tx/sender/sagas.ts
  app/styles/global.scss
  intl/locales/en-en.json
  package.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

refactor isEligibleToPreEto into a selector
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/eto/overview/EtoOverviewStatus/withIsEligibleToPreEto.ts
  app/modules/investor-tickets/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1827 Registration layout fixes (#1833)
  app/components/shared/Accordion.module.scss
  app/components/wallet-selector/WalletSelector.tsx
  app/components/wallet-selector/wallet-recover/LoginHelp.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Moe/#975 user actiavation link (#1819)
  app/test-e2e/eto/Campaining.spec.e2e.ts
  app/test-e2e/eto/InvestChange.spec.e2e.ts
  app/test-e2e/eto/InvestWithNoMoney.spec.e2e.ts
  app/test-e2e/eto/InvestWithRegularEther.spec.e2e.ts
  app/test-e2e/eto/InvestWithUpgradedWalletEther.spec.e2e.ts
  app/test-e2e/eto/InvestWithUpgradedWalletEurT.spec.e2e.ts
  app/test-e2e/eto/utils.ts
  app/test-e2e/utils/index.ts
  app/test-e2e/verify/walletVerify.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

remove todo
  app/components/kyc/Kyc.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Update KYCFlowIndividualOutsourced.spec.e2e.ts
  app/test-e2e/kyc/KYCFlowIndividualOutsourced.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fixes Migration Tool Texting (#1821)
  README.md
  app/components/modals/icbm-wallet-balance-modal/MigrateModal.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1793 Add Amended ICBM reservation agreement download (#1835)
  app/components/modals/icbm-wallet-balance-modal/BalanceModal.tsx
  app/components/modals/icbm-wallet-balance-modal/IcbmWalletBalanceModal.stories.tsx
  app/components/modals/icbm-wallet-balance-modal/IcbmWalletBalanceModal.tsx
  app/components/modals/tx-sender/TxSender.tsx
  app/components/modals/tx-sender/withdraw-flow/Summary.tsx
  app/modules/icbm-wallet-balance-modal/actions.ts
  app/modules/icbm-wallet-balance-modal/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Improves circle CI flow (#1840)
  .circleci/config.yml
  cypress/cypress-retries.js
  e2e/setup-e2e.sh
  intl/locales/en-en.json
Due: prettier --write

decouples E2E test from translation
  app/test-e2e/eto-view/EtoViewForInvestor.spec.e2e.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

add token price discount to investment summary
  app/components/modals/tx-sender/investment-flow/Summary.stories.tsx
  app/components/modals/tx-sender/investment-flow/Summary.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

try out test assertions in stories
  app/components/shared/StorybookAssertionContainer.tsx
  package.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Disable panel header shrink (#1845)
  app/components/shared/Panel.module.scss
Due: yarn sasslint

add token price discounts to EtoStatus
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/shared/Money.stories.tsx
  app/modules/investor-tickets/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1528 Portfolio change placeholders (#1846)
  app/components/portfolio/PortfolioLayout.tsx
  app/components/shared/NewTable.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

add public discount to investment terms widget
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/eto/public-view/EtoInvestmentTermsWidget.stories.tsx
  app/components/eto/public-view/EtoInvestmentTermsWidget.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

add new tags to tagswidget
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/eto/overview/EtoOverviewStatus/TagsWidget.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/TagsWidget.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write
