Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

.lintstagedrc:

{
  "app/**/*.{ts,tsx,js}": ["yarn tsc", "tslint --project . --format stylish --fix", "git add"],
  "app/**/*.spec.{ts,tsx}": ["tslint --project . --format stylish --fix --config ./tslint.spec.json", "git add"],
  "**/*.{ts,tsx,js,json,md,gql}": ["prettier --write", "git add"],
  "**/*.{sass,scss,css}": ["yarn sasslint"]
}

Add storybook link to readme
  README.md
Due: prettier --write

Add padding to CTA on landing (#2292)
  app/components/dashboard/my-wallet/MyWalletWidget.tsx
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/RegisterNowWidget.tsx
  app/components/eto/registration/pages/KeyIndividuals.tsx
  app/components/landing/parts/JoinCta.tsx
  app/components/landing/parts/LandingFeatured.tsx
  app/components/layouts/Header.tsx
  app/components/layouts/LayoutAuthorizedMenu.tsx
  app/components/modals/icbm-wallet-balance-modal/MigrateModal.tsx
  app/components/modals/tx-sender/investment-flow/BankTransferDetails.tsx
  app/components/modals/tx-sender/upgrade-flow/Summary.tsx
  app/components/modals/tx-sender/withdraw-flow/Summary.tsx
  app/components/settings/icbm-wallet-widget/CheckYourICBMWalletWidget.tsx
  app/components/shared/DocumentLink.tsx
  app/components/shared/buttons/Button.tsx
  app/components/shared/notification-widget/Notification.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Adds private key to seed view (#2281)
  app/components/eto/shared/DashboardSection.tsx
  app/components/settings/backup-seed/BackupSeed.tsx
  app/components/settings/backup-seed/BackupSeedDisplay.module.scss
  app/components/settings/backup-seed/BackupSeedDisplay.spec.tsx
  app/components/settings/backup-seed/BackupSeedDisplay.stories.tsx
  app/components/settings/backup-seed/BackupSeedDisplay.tsx
  app/components/settings/backup-seed/BackupSeedFlowContainer.tsx
  app/components/shared/SectionHeader.module.scss
  app/components/shared/SectionHeader.tsx
  app/config/constants.ts
  app/lib/web3/LightWallet.ts
  app/lib/web3/lightWallet.spec.node.ts
  app/modules/profile/sagas.ts
  app/modules/wallet-selector/light-wizard/sagas.ts
  app/modules/web3/actions.ts
  app/modules/web3/reducer.ts
  app/modules/web3/sagas.spec.ts
  app/modules/web3/sagas.ts
  app/modules/web3/selectors.ts
  app/test-e2e/shared/backupLightWalletSeed.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

Fix console error when filling withdraw amount with invalid value
  app/components/modals/tx-sender/TxSender.tsx
  app/components/modals/tx-sender/withdraw-flow/Withdraw.stories.tsx
  app/components/modals/tx-sender/withdraw-flow/Withdraw.tsx
  app/test-e2e/wallets/WalletWithdraw.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1762 Refactor whole public-etos module to use a new way to create actions
  app/modules/public-etos/actions.ts
  app/modules/public-etos/reducer.ts
  app/modules/public-etos/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Changes Summary Component visuals
  app/components/modals/tx-sender/user-claim/Summary.tsx
  app/components/modals/tx-sender/user-claim/SummaryForm.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Adds document download to portfolio
  app/components/modals/tx-sender/TxSender.tsx
  app/components/portfolio/Portfolio.tsx
  app/components/portfolio/PortfolioLayout.module.scss
  app/components/portfolio/PortfolioLayout.stories.tsx
  app/components/portfolio/PortfolioLayout.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

refines user claim summary
  app/components/modals/tx-sender/user-claim/Summary.module.scss
  app/components/modals/tx-sender/user-claim/Summary.stories.tsx
  app/components/modals/tx-sender/user-claim/Summary.tsx
  app/components/shared/DocumentLink.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Fixes claim from desktop widget
  app/components/eto/overview/EtoOverviewStatus/ClaimRefundWidget/ClaimWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/ClaimRefundWidget/RefundWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/ClaimRefundWidget/withCanClaimToken.ts
  app/components/modals/tx-sender/user-claim/Summary.tsx
  app/components/modals/tx-sender/user-claim/SummaryForm.tsx
  app/components/portfolio/PortfolioLayout.tsx
  app/modules/investor-tickets/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

adjusts layout
  app/components/portfolio/PortfolioLayout.module.scss
  app/components/portfolio/PortfolioLayout.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Fixes claim widget for the case where user already claimed
  app/components/eto/overview/EtoOverviewStatus/ClaimRefundWidget/withCanClaimToken.ts
  app/components/modals/tx-sender/user-claim/Summary.stories.tsx
  app/components/shared/DocumentLink.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fixes storybook
  app/components/modals/tx-sender/user-claim/Summary.stories.tsx
  app/components/portfolio/PorfolioAssetAction.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

adds file name to downloaded files
  app/components/modals/tx-sender/user-claim/Summary.tsx
  app/components/portfolio/PortfolioLayout.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Adds UserClaim Success Modal
  app/components/modals/tx-sender/TxSender.tsx
  app/components/modals/tx-sender/user-claim/Success.module.scss
  app/components/modals/tx-sender/user-claim/Success.stories.tsx
  app/components/modals/tx-sender/user-claim/Success.tsx
  app/modules/public-etos/selectors.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

adds text description
  app/components/modals/tx-sender/user-claim/Summary.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Visual Fixes
  app/components/modals/tx-sender/user-claim/Summary.tsx
  app/components/portfolio/PorfolioAssetAction.tsx
  app/components/portfolio/PortfolioLayout.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Adds correct template generation
  app/components/modals/tx-sender/TxSender.tsx
  app/components/modals/tx-sender/user-claim/Summary.tsx
  app/components/portfolio/Portfolio.tsx
  app/components/portfolio/PortfolioLayout.stories.tsx
  app/components/portfolio/PortfolioLayout.tsx
  app/lib/api/eto/EtoFileApi.ts
  app/modules/eto-documents/actions.ts
  app/modules/eto-documents/sagas.ts
  app/test-e2e/constants.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

adds custom hd path for tests
  app/test-e2e/utils/userHelpers.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2189 Refactor document section (#2276)
  app/components/documents/Documents.module.scss
  app/components/documents/Documents.tsx
  app/components/shared/Document.module.scss
  app/components/shared/Document.tsx
  app/components/shared/SingleColDocumentWidget.module.scss
  app/components/shared/SingleColDocumentWidget.tsx
  app/lib/api/eto/EtoFileApi.interfaces.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Review Fixes
  app/components/eto/overview/EtoOverviewStatus/ClaimRefundWidget/withCanClaimToken.ts
  app/components/modals/tx-sender/user-claim/Summary.tsx
  app/components/portfolio/PortfolioAssetAction.tsx
  app/components/portfolio/PortfolioLayout.tsx
  app/lib/api/eto/EtoFileApi.ts
  app/modules/eto-documents/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

add selectIsAgreementAccepted selector (#2291)
  app/components/modals/accept-tos-modal/AcceptTosModal.stories.tsx
  app/components/modals/accept-tos-modal/AcceptTosModal.tsx
  app/modules/auth/selectors.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix lints on master (#2305)
  app/components/documents/Documents.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Update SEED phrase for withdraw
  app/test-e2e/wallets/WalletWithdraw.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

E2E tests for critical error page
  app/components/AppRouter.tsx
  app/components/layouts/CriticalError.tsx
  app/components/testing/README.md
  app/components/testing/critical-error/TestCriticalError.tsx
  app/components/testing/e2eRoutes.ts
  app/components/testing/embeded-WIdget/TestEmbededWidget.tsx
  app/config/.env.e2e
  app/test-e2e/critical-error/CriticalError.spec.e2e.ts
  app/test-e2e/eto/EtoWidget.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Ban react intl FormattedMessage FormattedHTMLMessage (#2311)
  app/components/modals/tx-sender/shared/WatchPeningTxs.tsx
  app/components/shared/notification-widget/Notification.tsx
  app/utils/injectIntlHelpers.tsx
  package.json
  tslint.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Update Withdraw validation requirements Yup update to 0.26.7 fixes number validation
  app/components/modals/tx-sender/withdraw-flow/Withdraw.tsx
  intl/locales/en-en.json
  package.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

removing translations from sagas
  app/components/translatedMessages/messages.tsx
  app/modules/access-wallet/actions.ts
  app/modules/access-wallet/sagas.ts
  app/modules/auth/sagas.ts
  app/modules/bookbuilding-flow/sagas.ts
  app/modules/eto-documents/sagas.ts
  app/modules/eto-flow/sagas.ts
  app/modules/generic-modal/sagas.ts
  app/modules/kyc/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

removing translations from sagas adding all translations to enums and to to translations json
  app/components/translatedMessages/messages.tsx
  app/lib/dependencies/NotificationCenter.ts
  app/modules/auth/sagas.ts
  app/modules/bookbuilding-flow/sagas.ts
  app/modules/eto-documents/sagas.ts
  app/modules/eto-flow/sagas.ts
  app/modules/icbm-wallet-balance-modal/sagas.ts
  app/modules/immutable-file/actions.ts
  app/modules/immutable-file/sagas.ts
  app/modules/immutable-file/utils.ts
  app/modules/kyc/sagas.ts
  app/modules/profile/sagas.ts
  app/modules/public-etos/sagas.ts
  app/modules/shared/formSingleFileUpload/sagas.ts
  app/modules/shared/remoteFile/sagas.ts
  app/modules/wallet-selector/light-wizard/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

wip
  app/components/translatedMessages/messages.tsx
  app/modules/auth/sagas.ts
  app/modules/icbm-wallet-balance-modal/sagas.ts
  app/modules/immutable-file/utils.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

wip
  app/components/modals/walletAccess/AccessWalletModal.stories.tsx
  app/components/modals/walletAccess/AccessWalletModal.tsx
  app/components/translatedMessages/messages.tsx
  app/modules/access-wallet/reducer.ts
  app/modules/icbm-wallet-balance-modal/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

change Toast typings to accomodate for TMessage
  app/components/shared/Toast.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

removed deps container from downloadLink signature changed neuCall to call for downloadLink (no need in intl anymore) added translations for web3 saga (former flows)
  app/components/modals/walletAccess/AccessWalletModal.stories.tsx
  app/components/modals/walletAccess/AccessWalletModal.tsx
  app/components/shared/CopyToClipboard.tsx
  app/components/translatedMessages/messages.tsx
  app/lib/dependencies/NotificationCenter.ts
  app/modules/access-wallet/sagas.ts
  app/modules/auth/sagas.ts
  app/modules/bookbuilding-flow/sagas.ts
  app/modules/eto-documents/sagas.ts
  app/modules/eto-flow/sagas.ts
  app/modules/generic-modal/sagas.ts
  app/modules/icbm-wallet-balance-modal/sagas.ts
  app/modules/immutable-file/actions.ts
  app/modules/immutable-file/sagas.ts
  app/modules/immutable-file/utils.ts
  app/modules/kyc/sagas.ts
  app/modules/profile/sagas.ts
  app/modules/public-etos/sagas.ts
  app/modules/shared/formSingleFileUpload/sagas.ts
  app/modules/shared/remoteFile/sagas.ts
  app/modules/web3/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

removing translations from sagas
  app/modules/access-wallet/sagas.ts
  app/modules/bookbuilding-flow/sagas.ts
  app/modules/eto-documents/sagas.ts
  app/modules/eto-flow/sagas.ts
  app/modules/generic-modal/sagas.ts
  app/modules/kyc/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

removing translations from sagas adding all translations to enums and to to translations json
  app/modules/immutable-file/actions.ts
  app/modules/kyc/sagas.ts
  app/modules/public-etos/sagas.ts
  app/modules/shared/formSingleFileUpload/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

removed deps container from downloadLink signature changed neuCall to call for downloadLink (no need in intl anymore) added translations for web3 saga (former flows)
  app/modules/access-wallet/sagas.ts
  app/modules/generic-modal/sagas.ts
  app/modules/immutable-file/actions.ts
  app/modules/public-etos/sagas.ts
  app/modules/shared/formSingleFileUpload/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

fix web3 test error
  app/components/modals/walletAccess/AccessWalletModal.tsx
  app/modules/web3/sagas.spec.ts
  app/modules/web3/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

fixed genericModal to accept TMessage fixed failing tests added a hack to squeeze test strings in TMessage (without adding them to locales.json)
  app/components/modals/GenericModal.stories.tsx
  app/components/modals/GenericModal.tsx
  app/components/translatedMessages/messages.tsx
  app/modules/access-wallet/errors.ts
  app/modules/access-wallet/sagas.ts
  app/modules/generic-modal/actions.ts
  app/modules/generic-modal/reducer.ts
  app/modules/wallet-selector/browser-wizard/reducer.spec.ts
  app/modules/wallet-selector/light-wizard/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

remove comments
  app/modules/auth/sagas.ts
  app/modules/bookbuilding-flow/sagas.ts
  app/modules/eto-documents/sagas.ts
  app/modules/eto-flow/sagas.ts
  app/modules/kyc/sagas.ts
  app/modules/profile/sagas.ts
  app/modules/public-etos/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write
