Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

.lintstagedrc:

{
  "app/**/*.{ts,tsx,js}": ["yarn tsc", "tslint --project . --format stylish --fix", "git add"],
  "app/**/*.spec.{ts,tsx}": ["tslint --project . --format stylish --fix --config ./tslint.spec.json", "git add"],
  "**/*.{ts,tsx,js,json,md,gql}": ["prettier --write", "git add"],
  "**/*.{sass,scss,css}": ["yarn sasslint"]
}

#2087 rename ErrorWithData to IMessage
  app/components/modals/walletAccess/AccessWalletModal.tsx
  app/components/translatedMessages/messages.tsx
  app/components/wallet-selector/WalletMessageSigner.tsx
  app/components/wallet-selector/browser/WalletBrowser.tsx
  app/lib/web3/errors.ts
  app/modules/access-wallet/actions.ts
  app/modules/access-wallet/errors.ts
  app/modules/access-wallet/reducer.ts
  app/modules/access-wallet/sagas.ts
  app/modules/wallet-selector/actions.ts
  app/modules/wallet-selector/browser-wizard/actions.ts
  app/modules/wallet-selector/browser-wizard/errors.ts
  app/modules/wallet-selector/browser-wizard/reducer.spec.ts
  app/modules/wallet-selector/browser-wizard/reducer.ts
  app/modules/wallet-selector/ledger-wizard/actions.ts
  app/modules/wallet-selector/ledger-wizard/errors.ts
  app/modules/wallet-selector/light-wizard/actions.ts
  app/modules/wallet-selector/light-wizard/errors.ts
  app/modules/wallet-selector/light-wizard/sagas.ts
  app/modules/wallet-selector/reducer.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

layout fixes for investment
  app/components/modals/tx-sender/investment-flow/Investment.module.scss
  app/components/modals/tx-sender/investment-flow/Investment.stories.tsx
  app/components/modals/tx-sender/investment-flow/Investment.tsx
  app/components/shared/forms/form-field/FormStyles.module.scss
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

little fix in lint staged
  .lintstagedrc
Due: none

add wallet upgrade test for ether
  app/test-e2e/constants.ts
  app/test-e2e/wallets/WalletUpgrade.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2087 add createMessage() to Utils change ErrorWithData to TMessage fix typings everywhere fix tests
  app/components/modals/walletAccess/AccessWalletModal.stories.tsx
  app/components/modals/walletAccess/AccessWalletModal.tsx
  app/components/translatedMessages/messages.tsx
  app/components/translatedMessages/utils.ts
  app/components/wallet-selector/WalletMessageSigner.tsx
  app/components/wallet-selector/browser/WalletBrowser.stories.tsx
  app/components/wallet-selector/browser/WalletBrowser.tsx
  app/components/wallet-selector/ledger/WalletLedgerInitComponent.spec.tsx
  app/components/wallet-selector/ledger/WalletLedgerInitComponent.tsx
  app/components/wallet-selector/light/LoginWithEmailLightWallet.tsx
  app/components/wallet-selector/light/RegisterLightWallet.stories.tsx
  app/components/wallet-selector/light/RegisterLightWallet.tsx
  app/lib/web3/errors.ts
  app/modules/access-wallet/actions.ts
  app/modules/access-wallet/errors.ts
  app/modules/access-wallet/reducer.ts
  app/modules/access-wallet/sagas.ts
  app/modules/auth/sagas.ts
  app/modules/wallet-selector/actions.ts
  app/modules/wallet-selector/browser-wizard/actions.spec.ts
  app/modules/wallet-selector/browser-wizard/actions.ts
  app/modules/wallet-selector/browser-wizard/errors.ts
  app/modules/wallet-selector/browser-wizard/flows.ts
  app/modules/wallet-selector/browser-wizard/reducer.spec.ts
  app/modules/wallet-selector/browser-wizard/reducer.ts
  app/modules/wallet-selector/ledger-wizard/actions.spec.ts
  app/modules/wallet-selector/ledger-wizard/actions.ts
  app/modules/wallet-selector/ledger-wizard/errors.ts
  app/modules/wallet-selector/ledger-wizard/reducer.spec.ts
  app/modules/wallet-selector/ledger-wizard/reducer.ts
  app/modules/wallet-selector/light-wizard/actions.ts
  app/modules/wallet-selector/light-wizard/errors.ts
  app/modules/wallet-selector/light-wizard/reducer.ts
  app/modules/wallet-selector/light-wizard/sagas.ts
  app/modules/wallet-selector/reducer.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#2087 add unit test
  app/components/modals/walletAccess/AccessWalletModal.stories.tsx
  app/components/modals/walletAccess/AccessWalletModal.tsx
  app/components/translatedMessages/utils.spec.ts
  app/components/wallet-selector/browser/WalletBrowser.tsx
  app/components/wallet-selector/ledger/WalletLedgerInitComponent.tsx
  app/components/wallet-selector/light/RegisterLightWallet.tsx
  app/modules/access-wallet/sagas.ts
  app/modules/wallet-selector/browser-wizard/actions.spec.ts
  app/modules/wallet-selector/browser-wizard/reducer.spec.ts
  app/modules/wallet-selector/ledger-wizard/reducer.spec.ts
  app/modules/wallet-selector/reducer.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

some fixes in styles
  app/components/modals/tx-sender/investment-flow/Investment.module.scss
  app/components/modals/tx-sender/investment-flow/Investment.stories.tsx
  app/components/modals/tx-sender/investment-flow/Investment.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Removes false error logs from sentry (#2106)
  app/modules/access-wallet/sagas.ts
  app/modules/auth/errors.ts
  app/modules/auth/sagas.ts
  app/modules/profile/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2087 fix integration tests
  app/components/wallet-selector/WalletSelector.integration.spec.tsx
  app/components/wallet-selector/ledger/WalletLedgerInitComponent.spec.tsx
  app/components/wallet-selector/ledger/WalletLedgerInitComponent.tsx
  app/modules/wallet-selector/light-wizard/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Update FormSelectNationalityField.tsx (#2113)
  app/components/layouts/Footer.tsx
  app/components/shared/forms/form-field/FormSelectNationalityField.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

adds a second catch
  cypress/cypress-retries.js
Due: prettier --write

Removes Crypto Random
  cypress/cypress-retries.js
Due: prettier --write

adds clearStorage
  app/test-e2e/register/LightWalletETOLogin.spec.e2e.ts
  app/test-e2e/register/LightWalletETORegister.spec.e2e.ts
  app/test-e2e/settings/LightWalletRegister.spec.e2e.ts
  app/test-e2e/settings/VerifyEmailWidget.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Takes Catch out
  cypress/cypress-retries.js
Due: prettier --write

increases taskTimeout
  cypress/cypress-retries.js
Due: prettier --write

start min and max ticket calculations
  app/components/modals/tx-sender/investment-flow/Investment.tsx
  app/modules/investment-flow/sagas.ts
  app/modules/investor-tickets/__tests__/selectors.spec.ts
  app/modules/investor-tickets/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

updates message for euro token bank transfer
  app/modules/investment-flow/__tests__/selectors.spec.ts
  app/modules/investment-flow/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#2029 Refresh eto on next state
  app/components/settings/kyc-states/KycStatusWidget.tsx
  app/modules/public-etos/sagas.ts
  app/modules/public-etos/selectors.ts
  app/modules/public-etos/types.ts
  app/modules/sagasUtils.ts
  app/types.d.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Add widget e2e tests
  app/components/AppRouter.tsx
  app/components/e2eRoutes.ts
  app/components/eto/overview/EtoOverviewStatus/CounterWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentWidget.tsx
  app/components/shared/loading-indicator/LoadingIndicator.tsx
  app/components/testing/README.md
  app/components/testing/embededWIdget/embededWidget.tsx
  app/test-e2e/eto/EtoWidget.spec.e2e.ts
  app/test-e2e/utils/index.ts
  app/utils/withParams.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fixes Cypress Failuer
  cypress/cypress-retries.js
Due: prettier --write

changes back browser
  cypress/cypress-retries.js
Due: prettier --write

disables ciBuildId
  cypress/cypress-retries.js
Due: prettier --write

adds second catch
  cypress/cypress-retries.js
Due: prettier --write

try to fix campaigning test
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedWidget.tsx
  app/test-e2e/eto/Campaining.spec.e2e.ts
  app/test-e2e/utils/userHelpers.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

fix bank transfer e2e test
  app/components/modals/tx-sender/investment-flow/Investment.tsx
  app/test-e2e/eto/InvestWithBankTransfer.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1693 add error message to Equity Token Offering Terms -> ETO is not under crowdfunding regulations
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedInvestorApprovedWidgetLayout.tsx
  app/components/eto/registration/pages/EtoTerms.tsx
  app/components/eto/shared/EtoTagWidget.stories.tsx
  app/components/modals/tx-sender/investment-flow/BankTransferDetails.tsx
  app/components/shared/SocialProfilesEditor.stories.tsx
  app/components/shared/forms/form-field/FormCategoryDistribution.stories.tsx
  app/components/shared/forms/form-field/FormCheckbox.stories.tsx
  app/components/shared/forms/form-field/FormCheckbox.tsx
  app/components/shared/forms/form-field/FormConstantField.stories.tsx
  app/components/shared/forms/form-field/FormField.tsx
  app/components/shared/forms/form-field/FormFieldCheckboxGroup.spec.tsx
  app/components/shared/forms/form-field/FormFieldCheckboxGroup.stories.tsx
  app/components/shared/forms/form-field/FormFieldCheckboxGroup.tsx
  app/components/shared/forms/form-field/FormRange.stories.tsx
  app/components/shared/forms/form-field/FormSelectField.stories.tsx
  app/components/shared/forms/form-field/FormToggle.spec.tsx
  app/components/shared/forms/form-field/FormToggle.stories.tsx
  app/components/shared/forms/form-field/NumberTransformingField.stories.tsx
  app/components/shared/forms/form-field/testingUtils.tsx
  app/components/shared/forms/form-field/utils.tsx
  app/lib/api/eto/EtoApi.interfaces.tsx
  app/lib/yup-ts.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Fixes ETOLoginE2ETest
  app/components/eto/EtoPublicView.tsx
  app/components/eto/EtoPublicViewByContractId.tsx
  app/components/eto/overview/EtoOverviewStatus/ClaimRefundWidget/withCanClaimToken.ts
  app/components/kyc/Kyc.tsx
  app/components/kyc/Router.tsx
  app/components/layouts/LayoutAuthorizedMenu.tsx
  app/components/settings/Settings.tsx
  app/components/settings/kyc-states/KycStatusWidget.tsx
  app/components/shared/routing/OnlyAuthorizedRoute.tsx
  app/lib/persistence/WalletStorage.ts
  app/modules/auth/sagas.ts
  app/modules/auth/selectors.ts
  app/modules/init/sagas.ts
  app/modules/public-etos/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Removes unnecessary logout code
  app/modules/auth/sagas.ts
  app/modules/init/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

improve campaigning test
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedWidget.tsx
  app/test-e2e/eto/Campaining.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fixes logout action
  app/components/layouts/Header.tsx
  app/components/modals/accept-tos-modal/AcceptTosModal.tsx
  app/modules/auth/actions.ts
  app/modules/auth/sagas.ts
  app/modules/init/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

mend
  app/modules/auth/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

fix campaigning widget layout
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedWidget.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

linter
  app/components/layouts/Header.tsx
  app/components/modals/accept-tos-modal/AcceptTosModal.tsx
  app/modules/auth/sagas.ts
  app/modules/init/sagas.ts
  app/test-e2e/eto/Campaining.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Add more assertion
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/eto/overview/EtoOverviewStatus/TagsWidget.tsx
  app/components/shared/Tag.tsx
  app/components/testing/embededWIdget/embededWidget.tsx
  app/test-e2e/eto/EtoWidget.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

small campain fix
  app/test-e2e/eto/Campaining.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

fixes pending transaction cleanup #1790
  app/modules/tx/sender/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write
