Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

.lintstagedrc:

{
  "app/**/*.{ts,tsx,js}": ["yarn tsc", "tslint --project . --format stylish --fix", "git add"],
  "app/**/*.spec.{ts,tsx}": ["tslint --project . --format stylish --fix --config ./tslint.spec.json", "git add"],
  "**/*.{ts,tsx,js,json,md,gql}": ["prettier --write", "git add"],
  "**/*.{sass,scss,css}": ["yarn sasslint"]
}

#2623 #2587 Investment visual and invest whole balance fixes (#2656)
  app/components/modals/Modal.module.scss
  app/components/modals/tx-sender/TxSender.tsx
  app/components/modals/tx-sender/investment-flow/Investment.module.scss
  app/components/modals/tx-sender/investment-flow/Investment.stories.unsafe.tsx
  app/components/modals/tx-sender/investment-flow/Investment.tsx
  app/components/modals/tx-sender/investment-flow/InvestmentTypeSelector.tsx
  app/components/shared/forms/fields/FormFieldError.tsx
  app/components/shared/forms/fields/FormInputRaw.unsafe.tsx
  app/components/shared/forms/fields/FormMaskedInput.unsafe.tsx
  app/modules/tx/transactions/investment/sagas.ts
  app/modules/tx/transactions/investment/selectors.spec.ts
  app/modules/tx/transactions/investment/selectors.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

Improve Tx Error logging (#2676)
  app/modules/tx/sender/sagas.ts
  app/modules/tx/sender/utils.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Improve OnEnterAction/OnLeaveAction typings (#2679)
  app/components/App.tsx
  app/components/dashboard/eto-list/EtoList.tsx
  app/components/dashboard/my-portfolio/MyPortfolioWidget.tsx
  app/components/dashboard/my-wallet/MyWalletWidget.tsx
  app/components/documents/Documents.tsx
  app/components/edge-cases/MigrationFromLink.tsx
  app/components/edge-cases/UnlockWalletFundsFromLink.tsx
  app/components/eto/EtoDashboard.tsx
  app/components/eto/EtoIssuerView.tsx
  app/components/eto/EtoPublicView.tsx
  app/components/eto/EtoPublicViewByContractId.tsx
  app/components/eto/EtoWidgetView.tsx
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.stories.tsx
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.tsx
  app/components/eto/dashboard/signInvestmentAgreementWidget/SignInvestmentAgreement.tsx
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedWidget.tsx
  app/components/eto/registration/Start.tsx
  app/components/kyc/Kyc.tsx
  app/components/kyc/business/BeneficialOwners.tsx
  app/components/kyc/business/BusinessData.unsafe.tsx
  app/components/kyc/business/LegalRepresentative.unsafe.tsx
  app/components/kyc/personal/Start.unsafe.tsx
  app/components/kyc/personal/Upload.tsx
  app/components/kyc/shared/AddDocuments.tsx
  app/components/modals/tx-sender/redeem/BankTransferRedeemInit.unsafe.tsx
  app/components/portfolio/Portfolio.tsx
  app/components/settings/Settings.tsx
  app/components/settings/kyc-states/KycStatusWidget.tsx
  app/components/settings/linked-bank-account/LinkedBankAccountWidget.tsx
  app/components/settings/personal-account-details/PersonalAccountDetails.tsx
  app/components/shared/routing/OnlyPublicRoute.unsafe.tsx
  app/components/testing/embeded-widget/TestEmbededWidget.tsx
  app/components/wallet-selector/WalletSelector.tsx
  app/components/wallet-selector/browser/WalletBrowser.tsx
  app/components/wallet-selector/ledger/WalletLedgerChooser.tsx
  app/components/wallet/views/start/Start.unsafe.tsx
  app/utils/OnEnterAction.tsx
  app/utils/OnLeaveAction.tsx
  app/utils/onEnterAction.spec.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

[HOTFIX] Fix masked input predefined value behavior (#2683)
  app/components/shared/forms/fields/FormMaskedInput.unsafe.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix storybook stories marked as unsafe (#2678)
  app/components/eto/EtoWidgetView.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/eto/overview/EtoOverviewStatus/TagsWidget.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/TagsWidget.tsx
  app/components/eto/shared/EtoView.stories.tsx
  app/components/modals/tx-sender/investment-flow/Investment.stories.tsx
  app/components/modals/tx-sender/investment-flow/Investment.stories.unsafe.tsx
  app/components/modals/tx-sender/user-claim/Summary.stories.tsx
  app/components/wallet-selector/light/Login/LoginLightWallet.stories.tsx
  app/components/wallet-selector/light/Login/LoginLightWallet.stories.unsafe.tsx
  test/fixtures.ts
  tslint.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2689 Fix claim summary documents download (#2690)
  app/components/modals/tx-sender/TxSender.tsx
  app/components/modals/tx-sender/user-claim/ClaimTransactionDetails.tsx
  app/components/modals/tx-sender/user-claim/Summary.stories.tsx
  app/components/modals/tx-sender/user-claim/Summary.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Change minimum amount error message in redeem flow (#2681)
  app/components/modals/tx-sender/redeem/BankTransferRedeemInit.unsafe.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

changes yarn installation to npm (#2697)
  .circleci/install-yarn.sh
Due: none

Add getFormattedMoney unit tests (#2699)
  app/components/shared/Money.spec.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Fix investment gas rounding (#2698)
  app/components/modals/tx-sender/investment-flow/Investment.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix profile buttons position and wording (#2696)
  app/styles/mixins/layout.scss
  intl/locales/en-en.json
Due: prettier --write, yarn sasslint

investmentTerms form fixes (#2692)
  app/components/eto/registration/pages/InvestmentTerms.tsx
  app/utils/Money.utils.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix wording in investment flow (#2700)
  app/components/modals/tx-sender/investment-flow/Investment.tsx
  app/components/modals/tx-sender/investment-flow/utils.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix reducers payload typings (#2703)
  app/modules/tx/sender/actions.ts
  app/modules/tx/sender/reducer.ts
  app/modules/tx/sender/sagas.ts
  app/store.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

2669 - Removes CodeCov (#2704)
  .circleci/config.yml
  README.md
  codecov.yml
  package.json
  yarn.lock
Due: prettier --write

#2347 - #2606 reordering key individuals (#2675)
  app/assets/img/inline_icons/down.svg
  app/assets/img/inline_icons/up.svg
  app/components/eto/registration/Router.tsx
  app/components/eto/registration/pages/AllForms.stories.tsx
  app/components/eto/registration/pages/EtoMedia.tsx
  app/components/eto/registration/pages/KeyIndividuals.module.scss
  app/components/eto/registration/pages/KeyIndividuals.tsx
  app/components/eto/utils.ts
  app/components/shared/SocialProfilesEditor.stories.tsx
  app/components/shared/SocialProfilesEditor.tsx
  app/components/shared/buttons/ButtonIcon.tsx
  app/components/shared/forms/FormSection.module.scss
  app/components/shared/forms/FormSection.tsx
  app/components/shared/forms/fields/FormInput.unsafe.tsx
  app/components/shared/forms/fields/FormInputRaw.unsafe.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

2585 - Fixes disappearing light wallet error message (#2713)
  app/modules/access-wallet/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

fix formInputRaw not showing values (#2714)
  app/components/shared/forms/fields/FormInputRaw.spec.tsx
  app/components/shared/forms/fields/FormStyles.module.scss
  app/test-e2e/eto-registration/EtoRequiredReqistrationAndSubmit.spec.e2e.ts
  app/test-e2e/portfolio/AcceptSinglePayout.spec.e2e.ts
  app/test-e2e/utils/forms.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

[HOTFIX] - fix formInputRaw not showing values (#2714) (#2717)
  .circleci/config.yml
  README.md
  app/components/shared/forms/fields/FormInputRaw.spec.tsx
  app/components/shared/forms/fields/FormInputRaw.unsafe.tsx
  app/components/shared/forms/fields/FormStyles.module.scss
  app/modules/tx/sender/actions.ts
  app/modules/tx/sender/reducer.ts
  app/modules/tx/sender/sagas.ts
  app/store.ts
  app/test-e2e/eto-registration/EtoRequiredReqistrationAndSubmit.spec.e2e.ts
  app/test-e2e/portfolio/AcceptSinglePayout.spec.e2e.ts
  app/test-e2e/utils/forms.ts
  codecov.yml
  intl/locales/en-en.json
  package.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

#2649 - #2650 - Initial Migration to Code Checks (#2684)
  .circleci/config.yml
  .circleci/vis-reg-prepare.sh
  .circleci/vis-reg-run.sh
  .circleci/vis-reg-upload-results.sh
  @types/await-exec/index.d.ts
  app/config/.env.commit
  app/config/.env.common
  app/config/.env.e2e
  app/config/getConfig.ts
  app/di/setupBindings.ts
  app/di/symbols.ts
  app/lib/api/client/AuthJsonHttpClient.spec.ts
  app/lib/api/client/HTTPClient.spec.ts
  app/lib/api/client/HttpClient.ts
  app/lib/api/client/JsonHttpClient.spec.ts
  bundlewatch.config.json
  codechecks-vis-reg.ts
  codechecks.json
  codechecks.ts
  dangerfile.ts
  package.json
  setup-bundlewatcher.sh
  test/fixtures.ts
  tsconfig.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Add `Bug` label to Bug Issue template (#2724)
  .github/ISSUE_TEMPLATE/bug-report.md
  e2e/run_backend.sh
Due: prettier --write

#2662 Rethrow ETO Contract fetching error (#2732)
  app/components/translatedMessages/messages.unsafe.tsx
  app/modules/public-etos/sagas.ts
  app/test-e2e/routing/EthererumNodeRPCBatching.spec.e2e.ts
  app/test-e2e/utils/cyPromise.ts
  app/test-e2e/utils/userHelpers.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Remove Blockstate and Brille from landing (#2734)
  app/assets/img/eto_offers/blockstate-hover@1x.png
  app/assets/img/eto_offers/blockstate-hover@2x.png
  app/assets/img/eto_offers/blockstate-hover@3x.png
  app/assets/img/eto_offers/blockstate@1x.jpg
  app/assets/img/eto_offers/blockstate@2x.jpg
  app/assets/img/eto_offers/brille_animation.mp4
  app/assets/img/eto_offers/brille_animation.webm
  app/assets/img/eto_offers/brille_card.jpg
  app/assets/img/landing/blockstate.png
  app/assets/img/landing/blockstate@2x.png
  app/assets/img/landing/blockstate@3x.png
  app/assets/img/landing/brille.png
  app/assets/img/landing/brille@2x.png
  app/components/landing/EtoOfferingCard.stories.tsx
  app/components/landing/EtoOfferingCard.tsx
  app/components/landing/Landing.tsx
  app/components/landing/parts/LandingHeader.tsx
  app/data/etoCompanies.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Remove Blockstate and Brille from landing (#2735)
  app/assets/img/eto_offers/blockstate-hover@1x.png
  app/assets/img/eto_offers/blockstate-hover@2x.png
  app/assets/img/eto_offers/blockstate-hover@3x.png
  app/assets/img/eto_offers/blockstate@1x.jpg
  app/assets/img/eto_offers/blockstate@2x.jpg
  app/assets/img/eto_offers/brille_animation.mp4
  app/assets/img/eto_offers/brille_animation.webm
  app/assets/img/eto_offers/brille_card.jpg
  app/assets/img/landing/blockstate.png
  app/assets/img/landing/blockstate@2x.png
  app/assets/img/landing/blockstate@3x.png
  app/assets/img/landing/brille.png
  app/assets/img/landing/brille@2x.png
  app/components/landing/EtoOfferingCard.stories.tsx
  app/components/landing/EtoOfferingCard.tsx
  app/components/landing/Landing.tsx
  app/components/landing/parts/LandingHeader.tsx
  app/data/etoCompanies.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix unable to redeem minimal amount (#2720)
  app/modules/web3/utils.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

updates contract artifacts / backend SHA (#2739)
  e2e/run_backend.sh
Due: none

Update cypress (#2682)
  app/test-e2e/bank-transfer/Test.spec.e2e.ts
  app/test-e2e/critical-error/CriticalError.spec.e2e.ts
  app/test-e2e/eto-view/EtoViewForInvestor.spec.e2e.ts
  app/test-e2e/eto-view/EtoViewForUnapprovedInvestor.spec.e2e.ts
  app/test-e2e/eto/EtoWidget.spec.e2e.ts
  app/test-e2e/landing/LandingEtoPage.spec.e2e.ts
  app/test-e2e/landing/LandingPage.spec.e2e.ts
  app/test-e2e/portfolio/Portfolio.spec.e2e.ts
  app/test-e2e/utils/userHelpers.ts
  package.json
  tsconfig.cypress.json
  tsconfig.e2e.json
  tsconfig.json
  typings/chai-bignumber.d.ts
  webpack/webpack.config.cypress.js
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix floating promise (#2746)
  app/modules/bank-transfer-flow/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2723 Refactor tooltip components (#2733)
  app/components/dashboard/my-wallet/MyWalletWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedInvestorApprovedWidgetLayout.tsx
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedWidget.tsx
  app/components/eto/registration/pages/EtoMedia.tsx
  app/components/eto/registration/pages/EtoTerms.tsx
  app/components/kyc/business/BeneficialOwner.unsafe.tsx
  app/components/kyc/business/LegalRepresentative.unsafe.tsx
  app/components/kyc/personal/Start.unsafe.tsx
  app/components/layouts/header/PendingTransactionStatus.tsx
  app/components/modals/tx-sender/investment-flow/InvestmentTransactionDetails.tsx
  app/components/settings/icbm-wallet-widget/CheckYourICBMWalletWidget.tsx
  app/components/shared/Tooltip.tsx
  app/components/shared/loading-indicator/LoadingIndicator.module.scss
  app/components/shared/tooltips/Tooltip.module.scss
  app/components/shared/tooltips/Tooltip.stories.tsx
  app/components/shared/tooltips/Tooltip.tsx
  app/components/shared/tooltips/TooltipBase.module.scss
  app/components/shared/tooltips/TooltipBase.stories.tsx
  app/components/shared/tooltips/TooltipBase.tsx
  app/components/shared/tooltips/index.ts
  app/styles/variables.scss
  app/styles/variables/index.scss
  app/styles/variables/tooltip.scss
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

adds termsheet to tamplates (#2748)
  app/lib/api/eto/EtoFileUtils.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2509 Add disabled cursor state for inputs (#2728)
  .storybook/webpack.config.js
  app/components/shared/forms/FormSection.stories.tsx
  app/components/shared/forms/fields/FormCategoryDistribution.stories.tsx
  app/components/shared/forms/fields/FormConstantField.stories.tsx
  app/components/shared/forms/fields/FormField.stories.tsx
  app/components/shared/forms/fields/FormFieldCheckboxGroup.stories.tsx
  app/components/shared/forms/fields/FormFieldColorful.stories.tsx
  app/components/shared/forms/fields/FormFieldDate.stories.tsx
  app/components/shared/forms/fields/FormFieldDatePicker.module.scss
  app/components/shared/forms/fields/FormFieldDatePicker.stories.tsx
  app/components/shared/forms/fields/FormFieldRaw.stories.tsx
  app/components/shared/forms/fields/FormMaskedInput.stories.tsx
  app/components/shared/forms/fields/FormRange.stories.tsx
  app/components/shared/forms/fields/FormSelectField.module.scss
  app/components/shared/forms/fields/FormSelectField.stories.tsx
  app/components/shared/forms/fields/FormSelectField.tsx
  app/components/shared/forms/fields/FormStyles.module.scss
  app/components/shared/forms/fields/FormToggle.module.scss
  app/components/shared/forms/fields/FormToggle.stories.tsx
  app/components/shared/forms/fields/NumberTransformingField.stories.tsx
  app/components/shared/forms/layouts/CheckboxLayout.module.scss
  webpack/webpack.config.dev.js
  webpack/webpack.config.prod.js
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#2555 - Hide small incoming and ready payouts (#2680)
  app/components/dashboard/incoming-payout/IncomingPayoutWidget.tsx
  app/components/portfolio/AssetPortfolio.tsx
  app/components/portfolio/utils.ts
  app/modules/investor-portfolio/__tests__/selectors.spec.ts
  app/modules/investor-portfolio/selectors.ts
  app/modules/investor-portfolio/utils.ts
  app/test-e2e/fixtures.ts
  app/test-e2e/investor-dashboard/LightWalletInvestorDashboard.spec.e2e.ts
  app/test-e2e/portfolio/Portfolio.spec.e2e.ts
  app/test-e2e/utils/navigation.ts
  test/helperTypes.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

uses self deployed cors-anywher (#2729)
  app/config/.env.commit
  app/lib/dependencies/logger/index.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

fix h4 styling in widget (#2749)
  app/components/wallet/VerifiedBankAccount.module.scss
Due: yarn sasslint

add label and text to company tags in company information form (#2750)
  app/components/eto/shared/EtoTagWidget.unsafe.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2654 - Update company details page (#2736)
  app/components/eto/public-view/EtoInvestmentTermsWidget.tsx
  app/lib/api/eto/EtoProductsApi.interfaces.ts
  app/test-e2e/eto-view/EtoViewForInvestor.spec.e2e.ts
  intl/locales/en-en.json
  test/fixtures.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2405 - Add Past investments (#2719)
  app/components/portfolio/Portfolio.tsx
  app/components/portfolio/PortfolioLayout.stories.tsx
  app/components/portfolio/PortfolioLayout.tsx
  app/components/portfolio/PortfolioPastInvestments.stories.tsx
  app/components/portfolio/PortfolioPastInvestments.tsx
  app/modules/investor-portfolio/selectors.ts
  app/modules/investor-portfolio/utils.ts
  app/test-e2e/portfolio/Portfolio.spec.e2e.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2605 - fix layout missing signing widget (#2752)
  app/components/eto/EtoDashboard.stories.tsx
  app/components/eto/EtoDashboard.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write
