Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

add eto dashboard stories
  app/components/eto/EtoDashboard.stories.tsx
  app/components/eto/EtoDashboard.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

remove base64 encoding of ethereum address from bank transfer reference code
  app/modules/investment-flow/__tests__/selectors.spec.ts
  app/modules/investment-flow/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

add message if investor already invested
  app/components/modals/tx-sender/investment-flow/Investment.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

change bank transfer reference code to upper case
  app/modules/investment-flow/__tests__/selectors.spec.ts
  app/modules/investment-flow/reducer.ts
  app/modules/investment-flow/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Shorten iframe chain
  app/test-e2e/eto/EtoWidget.spec.e2e.ts
  app/test-e2e/utils/index.ts
  cypress/support/commands.js
  typings/cypress.d.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

add info text if investor already invested in eto
  app/components/modals/tx-sender/investment-flow/Investment.stories.tsx
  app/components/modals/tx-sender/investment-flow/Investment.tsx
  app/modules/investment-flow/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

add eto start date widget
  app/components/eto/EtoDashboard.stories.tsx
  app/components/eto/EtoDashboard.tsx
  app/components/eto/dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.stories.tsx
  app/components/eto/dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.tsx
  app/components/eto/dashboard/choosePreEtoDateWidget/ChoosePreEtoDateWidget.stories.tsx
  app/components/eto/dashboard/choosePreEtoDateWidget/ChoosePreEtoDateWidget.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1763 Add mobile and tablet breakpoint for visual regression
  .storybook/config.js
Due: prettier --write

Fetch ETO contract state with saga all to improve performance (#2171)
  app/modules/init/sagas.ts
  app/modules/public-etos/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Adds Upload Investment Memorandum
  app/components/eto/EtoDashboard.tsx
  app/components/eto/dashboard/UploadInvestmentMemorandum.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

cleans selectors
  app/components/eto/EtoDashboard.tsx
  app/components/settings/Settings.tsx
  app/components/settings/kyc-states/KycStatusWidget.tsx
  app/modules/notifications/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

adds claims to business
  app/modules/kyc/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

add eto date setting buiness logic, and platform terms constants
  app/components/eto/EtoDashboard.tsx
  app/components/eto/dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.stories.tsx
  app/components/eto/dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.tsx
  app/components/eto/dashboard/choosePreEtoDateWidget/ChoosePreEtoDateWidget.stories.tsx
  app/components/eto/dashboard/choosePreEtoDateWidget/ChoosePreEtoDateWidget.tsx
  app/modules/actions.ts
  app/modules/contracts/actions.ts
  app/modules/contracts/reducer.ts
  app/modules/contracts/sagas.ts
  app/modules/contracts/selectors.ts
  app/modules/eto-flow/actions.ts
  app/modules/eto-flow/reducer.ts
  app/modules/eto-flow/sagas.ts
  app/modules/eto-flow/selectors.ts
  app/modules/eto-flow/types.ts
  app/modules/eto-flow/utils.ts
  app/modules/init/sagas.ts
  app/modules/reducer.ts
  app/modules/tx/interfaces.ts
  app/modules/tx/transactions/actions.ts
  app/modules/tx/transactions/eto-flow/saga.ts
  app/modules/tx/transactions/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2144 error boundary hoc - basic functionality
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.tsx
  app/components/eto/dashboard/bookBuildingWidget/ErrorBoundary.module.scss
  app/components/eto/dashboard/bookBuildingWidget/ErrorBoundary.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#2144 refactor ErrorBoundary HOC to be composable add ErrorBoundary HOC to all top-level router components and to some widgets
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.tsx
  app/components/eto/dashboard/bookBuildingWidget/ErrorBoundary.module.scss
  app/components/eto/dashboard/bookBuildingWidget/ErrorBoundary.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#2144 add errorBoundary visual components to storybook log error stack to Sentry too define errorMessages for Panel and Layout components separately
  app/components/documents/Documents.tsx
  app/components/eto/EtoDashboard.tsx
  app/components/eto/EtoIssuerView.tsx
  app/components/eto/EtoPublicViewByContractId.tsx
  app/components/eto/EtoWidgetView.tsx
  app/components/eto/dashboard/UploadProspectusWidget.tsx
  app/components/eto/dashboard/UploadTermSheetWidget.tsx
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.tsx
  app/components/eto/dashboard/choosePreEtoDateWidget/ChoosePreEtoDateWidget.tsx
  app/components/eto/dashboard/submitProposalWidget/SubmitProposalWidget.tsx
  app/components/eto/registration/Start.tsx
  app/components/kyc/Kyc.tsx
  app/components/landing/Landing.tsx
  app/components/landing/LandingEto.tsx
  app/components/portfolio/Portfolio.tsx
  app/components/settings/Settings.tsx
  app/components/settings/backup-seed/BackupSeed.tsx
  app/components/shared/ErrorBoundary.module.scss
  app/components/shared/ErrorBoundaryLayoutAuthorized.tsx
  app/components/shared/ErrorBoundaryLayoutBase.tsx
  app/components/shared/ErrorBoundaryLayoutUnauthorized.tsx
  app/components/shared/EtoFormProgressWidget.stories.tsx
  app/components/shared/EtoFormProgressWidget.tsx
  app/components/shared/errorBoundary/ErrorBoundary.module.scss
  app/components/shared/errorBoundary/ErrorBoundary.stories.tsx
  app/components/shared/errorBoundary/ErrorBoundary.tsx
  app/components/shared/errorBoundary/ErrorBoundaryLayoutAuthorized.tsx
  app/components/shared/errorBoundary/ErrorBoundaryLayoutBase.tsx
  app/components/shared/errorBoundary/ErrorBoundaryLayoutUnauthorized.tsx
  app/components/shared/errorBoundary/ErrorBoundaryPanel.tsx
  app/components/wallet-selector/WalletSelector.tsx
  app/components/wallet-selector/wallet-recover/WalletRecoverMain.tsx
  app/components/wallet/Wallet.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#2144 Refactor ErrorBoundary to use official logger
  app/components/shared/EtoFormProgressWidget.tsx
  app/components/shared/errorBoundary/ErrorBoundary.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1621 Sort nationalities list (#2178)
  app/components/shared/forms/form-field/FormSelectNationalityField.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Update EtoFormProgressWidget.tsx
  app/components/shared/EtoFormProgressWidget.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Update BookBuildingWidget.tsx
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Add wallet type to sentry
  app/lib/dependencies/Logger.ts
  app/modules/auth/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

At/#2069 whitelisting start/stop and doc upload wording (#2176)
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.tsx
  app/modules/eto-documents/sagas.ts
  app/modules/eto-flow/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2174 Connect ETO with ICO monitor
  app/components/dashboard/my-portfolio/MyNeuWidget.tsx
  app/components/eto/shared/EtoPublicComponent.module.scss
  app/components/eto/shared/EtoPublicComponent.tsx
  app/components/landing/parts/LandingFeatured.tsx
  app/components/layouts/LayoutAuthorizedMenu.tsx
  app/components/modals/tx-sender/investment-flow/utils.tsx
  app/components/portfolio/PortfolioLayout.tsx
  app/components/settings/kyc-states/KycStatusWidget.spec.tsx
  app/components/settings/kyc-states/KycStatusWidget.tsx
  app/components/settings/personal-account-details/PersonalAccountDetails.tsx
  app/components/translatedMessages/messages.tsx
  app/components/wallet-selector/WalletSelector.tsx
  app/components/wallet-selector/wallet-recover/LoginHelp.tsx
  app/config/externalRoutes.ts
  app/lib/web3/types.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

#2174 Fix lints
  app/components/landing/parts/LandingFeatured.tsx
  app/components/settings/kyc-states/KycStatusWidget.tsx
  app/components/settings/personal-account-details/PersonalAccountDetails.tsx
  app/config/externalRoutes.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

removes pending transaction when tx is mined (#2172)
  app/modules/tx/monitor/sagas.ts
  app/modules/tx/sender/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Turn on TypeScript import helpers
  package.json
  tsconfig.cypress.json
  tsconfig.dev.json
  tsconfig.json
Due: prettier --write

Adds is lightWallet to EtoDashboard
  app/components/eto/EtoDashboard.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2144 fix failing translations linter check
  intl/locales/en-en.json
Due: prettier --write

update business logic
  app/components/eto/dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.stories.tsx
  app/components/eto/dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.tsx
  app/modules/contracts/reducer.ts
  app/modules/eto-flow/actions.ts
  app/modules/eto-flow/sagas.ts
  app/modules/eto-flow/selectors.ts
  app/modules/eto-flow/utils.ts
  app/modules/tx/transactions/eto-flow/saga.ts
  app/modules/tx/transactions/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Update en-en.json
  intl/locales/en-en.json
Due: prettier --write

#1683 Implement page title for ETO View, Profile, Portfolio and Documents
  app/components/App.tsx
  app/components/documents/Documents.tsx
  app/components/eto/EtoIssuerView.tsx
  app/components/eto/EtoPublicView.tsx
  app/components/eto/EtoPublicViewByContractId.tsx
  app/components/eto/public-view/LegalInformationWidget.tsx
  app/components/eto/shared/EtoView.tsx
  app/components/portfolio/Portfolio.tsx
  app/components/settings/Settings.tsx
  app/components/shared/charts/ChartDoughnut.tsx
  app/test-e2e/eto-view/EtoViewForInvestor.spec.e2e.ts
  app/test-e2e/eto-view/EtoViewForIssuer.spec.e2e.ts
  app/test-e2e/eto-view/EtoViewForUnapprovedInvestor.spec.e2e.ts
  app/test-e2e/eto-view/EtoViewUtils.ts
  app/utils/injectIntlHelpers.tsx
  app/utils/withMetaTags.tsx
  package.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

add start date tx summary
  app/components/modals/tx-sender/TxSender.tsx
  app/components/modals/tx-sender/eto-flow/SetDateSummary.stories.tsx
  app/components/modals/tx-sender/eto-flow/SetDateSummary.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

some style tweaks
  app/components/eto/EtoDashboard.tsx
  app/components/eto/dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.tsx
  app/components/eto/etoContentWidget.module.scss
  app/components/shared/Panel.module.scss
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#1683 Fix E2E tests
  app/components/eto/shared/EtoView.tsx
  app/test-e2e/eto-view/EtoViewForIssuer.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Adds route for edge case for migration tool
  app/components/AppRouter.tsx
  app/components/appRoutes.ts
  app/components/edge-cases/MigrationFromLink.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Path conditions:
  yarn tsc: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix --config ./tslint.spec.json: any of: app/**/*.spec.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,js,json,md,gql}
  yarn sasslint: any of: **/*.{sass,scss,css}
