Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

#4556 Voting resolution summary UI progress
  packages/design-system/src/components/inputs/Checkbox.module.scss
  packages/web/app/components/issuer-dashboard/NewVotingResolutionModal.module.scss
  packages/web/app/components/issuer-dashboard/NewVotingResolutionModal.tsx
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

#4556 new Tx progress
  packages/web/app/modules/tx/transactions/actions.ts
  packages/web/app/modules/tx/transactions/shareholder-resolution-vote/sagas.ts
  packages/web/app/modules/tx/transactions/shareholder-resolution-vote/setup/sagas.ts
Due: prettier --write

#4483 Fix tests configuration
  packages/shared-utils/src/utils/JWTUtils.ts
  packages/wallet/app/modules/auth/sagas.spec.ts
  packages/wallet/app/modules/wallet-connect/sagaFunctions/connectEvents.spec.ts
  packages/wallet/jest.config.js
  packages/wallet/tsconfig.unit.json
Due: prettier --write

#4483 Fix shared-modules etos tests
  packages/shared-modules/src/modules/eto/sagas.spec.ts
Due: prettier --write

#4556 Load shareCapital & shareCapitalCurrencyCode for form
  packages/web/app/components/issuer-dashboard/NewVotingResolutionModal.tsx
  packages/web/app/modules/shareholder-resolutions-voting-setup/actions.ts
  packages/web/app/modules/shareholder-resolutions-voting-setup/reducer.ts
  packages/web/app/modules/shareholder-resolutions-voting-setup/selectors.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write

#4556 Add summary labels to intl
  packages/web/app/components/issuer-dashboard/NewVotingResolutionModal.tsx
  packages/web/intl/locales/en-en.json
Due: prettier --write

adds unlock feature as a button (#4551)
  packages/shared-modules/src/modules/tx-history/module.ts
  packages/web/app/components/wallet/Balance.spec.tsx
  packages/web/app/components/wallet/BalanceList.stories.tsx
  packages/web/app/components/wallet/BalanceList.tsx
  packages/web/app/components/wallet/Wallet.module.scss
  packages/web/app/components/wallet/utils.tsx
  packages/web/app/modules/shareholder-resolutions-voting/sagas.spec.ts
  packages/web/app/modules/tx/transactions/unlock/sagas.ts
  packages/web/app/modules/wallet-view/sagas.spec.ts
  packages/web/app/modules/wallet-view/sagas.specFixtures.ts
  packages/web/app/modules/wallet-view/sagas.ts
  packages/web/app/modules/wallet-view/types.ts
  packages/web/app/modules/wallet-view/utils.spec.ts
  packages/web/app/modules/wallet-view/utils.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

#4556 Add Governance Resolution Summary story
  packages/web/app/components/modals/tx-sender/governance/GovernanceResolutionSummary.stories.tsx
  packages/web/app/components/modals/tx-sender/governance/GovernanceResolutionSummary.tsx
  packages/web/app/modules/governance/module.ts
Due: prettier --write

#4556 Update Tx generation
  packages/shared-modules/src/modules/tx/constants.ts
  packages/web/app/components/issuer-dashboard/NewVotingResolutionModal.tsx
  packages/web/app/components/issuer-dashboard/signInvestmentAgreementWidget/UploadInvestmentAgreementWidget.tsx
  packages/web/app/components/modals/tx-sender/TxName.tsx
  packages/web/app/components/modals/tx-sender/TxSender/SummaryComponent.tsx
  packages/web/app/components/modals/tx-sender/shareholder-resolution-vote-setup/ShareholderResolutionVoteSetupSummary.stories.tsx
  packages/web/app/components/modals/tx-sender/shareholder-resolution-vote-setup/ShareholderResolutionVoteSetupSummary.tsx
  packages/web/app/modules/shareholder-resolutions-voting-setup/constants.ts
  packages/web/app/modules/shareholder-resolutions-voting-setup/module.ts
  packages/web/app/modules/shareholder-resolutions-voting-setup/types.ts
  packages/web/app/modules/tx/transactions/actions.ts
  packages/web/app/modules/tx/transactions/shareholder-resolution-vote/setup/sagas.ts
Due: prettier --write

#4556 UploadVotingResultsModal progress
  packages/web/app/components/governance/proposal/UploadVotingResultsModal.tsx
  packages/web/app/components/settings/verify-email/AccountSetupVerifyEmailComponent.tsx
  packages/web/app/components/settings/verify-email/VerifyEmailWidget.tsx
  packages/web/app/modules/tx/transactions/shareholder-resolution-vote/setup/sagas.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write

Rename dangerfile to TS
  packages/web/dangerfile.ts
Due: prettier --write

bumps android version to 1.2 (#4563)
  packages/wallet/README.md
  packages/wallet/android/app/build.gradle
Due: prettier --write

#4483 Fix code review comments
  packages/wallet/app/App.tsx
  packages/wallet/app/modules/biometrics/lib/Biometrics.ts
  packages/wallet/app/router/AppNoAuthRouter.tsx
  packages/wallet/app/router/NoBiometricsRoute.tsx
Due: prettier --write

#4554 Fix broken checkbox
  packages/design-system/package.json
  packages/design-system/src/components/inputs/Checkbox.module.scss
  packages/design-system/src/components/inputs/Checkbox.tsx
  packages/web/app/components/modals/tx-sender/investor-payout/AcceptSummary.module.scss
  packages/web/app/components/modals/tx-sender/investor-payout/AcceptSummary.tsx
Due: prettier --write, yarn sasslint

#4556 Update propsal voting details UI
  packages/web/app/components/governance/proposal/UploadVotingResultsModal.tsx
  packages/web/app/components/governance/proposal/voting-details/ProposalVotingDetails.module.scss
  packages/web/app/components/governance/proposal/voting-details/ProposalVotingDetails.tsx
  packages/web/app/components/governance/proposal/voting-details/TokenHolderNomineeBreakdown.tsx
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

#4556 update voting results modal
  packages/web/app/components/governance/proposal/UploadVotingResultsModal.module.scss
  packages/web/app/components/governance/proposal/UploadVotingResultsModal.tsx
Due: prettier --write, yarn sasslint

#4554 Fix broken VirtualizedSelect
  packages/design-system/src/components/inputs/VirtualizedSelect.module.scss
  packages/web/app/components/shared/WarningAlert.module.scss
Due: yarn sasslint

#4556 getShareCapital saga
  packages/web/app/modules/shareholder-resolutions-voting-setup/sagas.ts
Due: prettier --write

#4556 make contractsService.votingCenter.address checksummed
  packages/web/app/modules/shareholder-resolutions-voting/sagas.ts
Due: prettier --write

#4556 update NewVotingResolutionModal ui
  packages/web/app/components/issuer-dashboard/NewVotingResolutionModal.module.scss
  packages/web/app/components/issuer-dashboard/NewVotingResolutionModal.tsx
Due: prettier --write, yarn sasslint

#4556 display nominee_name
  packages/web/app/components/issuer-dashboard/NewVotingResolutionModal.tsx
  packages/web/intl/locales/en-en.json
Due: prettier --write

#4554 Make checkbox styling consistent
  packages/design-system/.storybook/main.js
  packages/design-system/src/components/inputs/Checkbox.module.scss
  packages/design-system/src/components/inputs/Checkbox.stories.tsx
  packages/design-system/src/components/inputs/Checkbox.tsx
Due: prettier --write, yarn sasslint

#4554 Add and deduplicate webpack to design-system
  packages/design-system/package.json
  yarn.lock
Due: prettier --write

#4554 Add a proper focus-visible
  packages/design-system/src/components/inputs/Checkbox.module.scss
Due: yarn sasslint

#4556 ResolutionPublishSuccessModal
  packages/web/app/assets/img/modal-icon_metamask.svg
  packages/web/app/components/issuer-dashboard/voting/ResolutionPublishSuccessModal.module.scss
  packages/web/app/components/issuer-dashboard/voting/ResolutionPublishSuccessModal.tsx
  packages/web/app/modules/shareholder-resolutions-voting-setup/actions.ts
  packages/web/app/modules/shareholder-resolutions-voting-setup/reducer.ts
  packages/web/app/modules/shareholder-resolutions-voting-setup/selectors.ts
Due: prettier --write, yarn sasslint

#4554 Fix lints
  packages/design-system/src/components/inputs/Checkbox.module.scss
  packages/design-system/src/components/inputs/Checkbox.stories.tsx
Due: prettier --write, yarn sasslint

#4556 move EMimeType to shared utils
  packages/shared-utils/src/utils/enums/file.ts
  packages/shared-utils/src/utils/enums/index.ts
  packages/web/app/components/eto/registration/pages/CompanyInformation.tsx
  packages/web/app/components/eto/registration/pages/EtoEquityTokenInfo.tsx
  packages/web/app/components/eto/registration/pages/KeyIndividuals.tsx
  packages/web/app/components/governance/Governance/GeneralInformation/GovernanceUpdateModal.tsx
  packages/web/app/components/governance/proposal/ProposalDetails.tsx
  packages/web/app/components/governance/proposal/UploadVotingResultsModal.tsx
  packages/web/app/components/governance/proposal/voting-details/CapitalShareBreakdown.tsx
  packages/web/app/components/kyc/utils.ts
  packages/web/app/components/shared/SingleFileUpload.stories.tsx
  packages/web/app/components/shared/forms/fields/utils.spec.ts
  packages/web/app/components/shared/forms/fields/utils.tsx
Due: prettier --write

#4556 resolution doc upload & remove
  packages/design-system/src/components/inputs/TextField.tsx
  packages/shared-modules/src/modules/eto/lib/http/eto-api/EtoFileApi.interfaces.ts
  packages/shared-modules/src/modules/eto/lib/http/eto-api/EtoFileApi.ts
  packages/web/app/components/governance/proposal/UploadVotingResultsModal.tsx
  packages/web/app/components/issuer-dashboard/NewVotingResolutionModal.tsx
  packages/web/app/components/issuer-dashboard/NewVotingResolutionModal/NewVotingResolutionForm.tsx
  packages/web/app/components/issuer-dashboard/NewVotingResolutionModal/NewVotingResolutionModal.module.scss
  packages/web/app/components/issuer-dashboard/NewVotingResolutionModal/NewVotingResolutionModal.tsx
  packages/web/app/components/issuer-dashboard/NewVotingResolutionModal/NewVotingResolutionSummary.tsx
  packages/web/app/components/shared/MultiFileUpload.tsx
  packages/web/app/components/shared/UploadedFiles.module.scss
  packages/web/app/components/shared/UploadedFiles.stories.tsx
  packages/web/app/components/shared/UploadedFiles.tsx
  packages/web/app/components/translatedMessages/messages.tsx
  packages/web/app/lib/api/immutable-storage/ImmutableStorageApi.ts
  packages/web/app/modules/shareholder-resolutions-voting-setup/actions.ts
  packages/web/app/modules/shareholder-resolutions-voting-setup/document-upload/sagas.ts
  packages/web/app/modules/shareholder-resolutions-voting-setup/module.ts
  packages/web/app/modules/shareholder-resolutions-voting-setup/reducer.ts
  packages/web/app/modules/shareholder-resolutions-voting-setup/sagas.ts
  packages/web/app/modules/shareholder-resolutions-voting-setup/selectors.ts
  packages/web/app/modules/shareholder-resolutions-voting-setup/types.ts
  packages/web/app/modules/shareholder-resolutions-voting/sagas.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

Path conditions:
  yarn tsc: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix --config ./tslint.spec.json: any of: app/**/*.spec.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,js,json,md,gql}
  yarn sasslint: any of: **/*.{sass,scss,css}
