Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

.lintstagedrc:

{
  "app/**/*.{ts,tsx,js}": ["yarn tsc", "tslint --project . --format stylish --fix", "git add"],
  "app/**/*.spec.{ts,tsx}": ["tslint --project . --format stylish --fix --config ./tslint.spec.json", "git add"],
  "**/*.{ts,tsx,js,json,md,gql}": ["prettier --write", "git add"],
  "**/*.{sass,scss,css}": ["yarn sasslint"]
}

changes myEtherWallet link
  app/utils/myEtherWallet.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

At/set eto start date (#2456)
  app/assets/img/landing/test_rainbowsheep.png
  app/components/eto/dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.tsx
  app/components/modals/tx-sender/eto-flow/SetDateSummary.stories.tsx
  app/components/modals/tx-sender/eto-flow/SetDateSummary.tsx
  app/components/shared/DatePicker.tsx
  app/components/shared/TimeLeft.tsx
  app/components/shared/forms/fields/FormFieldDatePicker.tsx
  app/components/shared/utils.ts
  package.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

adds contract data check before login
  app/components/translatedMessages/messages.tsx
  app/lib/web3/LedgerWallet.ts
  app/modules/wallet-selector/ledger-wizard/errors.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

update cypress
  package.json
  yarn.lock
Due: prettier --write

#2409 Load bank details from api (#2459)
  app/components/translatedMessages/messages.tsx
  app/components/wallet/views/start/Start.tsx
  app/lib/api/KycApi.interfaces.ts
  app/lib/api/KycApi.ts
  app/lib/api/client/IHttpClient.ts
  app/lib/api/client/JsonHttpClient.ts
  app/lib/yup-ts.ts
  app/modules/auth/selectors.ts
  app/modules/kyc/actions.ts
  app/modules/kyc/reducer.ts
  app/modules/kyc/sagas.ts
  app/modules/kyc/selectors.ts
  app/modules/kyc/types.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

decouples token data state from investor ticket state
  app/components/portfolio/PortfolioLayout.tsx
  app/modules/investor-portfolio/selectors.ts
  app/modules/investor-portfolio/types.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Lock bookbuilding pledge length to 8 digits (#2356)
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedInvestorApprovedWidgetLayout.tsx
  app/lib/api/eto/EtoPledgeApi.interfaces.tsx
  app/test-e2e/eto/Campaigning.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Puts permissions into an enum (#2463)
  app/config/constants.ts
  app/modules/auth/jwt/sagas.ts
  app/modules/auth/user/sagas.ts
  app/modules/bookbuilding-flow/sagas.ts
  app/modules/eto-documents/sagas.ts
  app/modules/eto-flow/sagas.ts
  app/modules/kyc/sagas.ts
  app/modules/profile/sagas.ts
  app/modules/terms-of-service-modal/sagas.ts
  app/modules/wallet-selector/light-wizard/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

2465 - Fixes ensureWalletPermission Saga (#2466)
  app/components/eto/EtoDashboard.tsx
  app/modules/auth/jwt/sagas.ts
  app/modules/bookbuilding-flow/sagas.ts
  app/modules/eto-documents/sagas.ts
  app/modules/eto-flow/sagas.ts
  app/modules/kyc/sagas.ts
  app/modules/profile/actions.ts
  app/modules/profile/reducer.ts
  app/modules/profile/sagas.ts
  app/modules/terms-of-service-modal/sagas.ts
  app/modules/web3/selectors.ts
  app/test-e2e/settings/VerifyEmailWidget.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Removes EIP55 and uses web3-utils (#2478)
  app/modules/web3/utils.ts
  app/test-e2e/utils/userHelpers.ts
  package.json
  typings/eip55.d.ts
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Update website link for Kamil Jarzombek
  app/components/landing/parts/testimonials/People.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Update website link for Kamil Jarzombek (#2484)
  app/components/landing/parts/testimonials/People.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Add verified bank account component (#2477)
  app/assets/img/bank-transfer/bank_icon.svg
  app/components/shared/buttons/Button.module.scss
  app/components/shared/buttons/Button.stories.tsx
  app/components/shared/buttons/Button.tsx
  app/components/wallet/BankAccount.module.scss
  app/components/wallet/BankAccount.stories.tsx
  app/components/wallet/BankAccount.tsx
  app/components/wallet/VerifiedBankAccount.module.scss
  app/components/wallet/VerifiedBankAccount.stories.tsx
  app/components/wallet/VerifiedBankAccount.tsx
  app/components/wallet/wallet-balance/UnlockedNEURWallet.tsx
  app/lib/api/KycApi.interfaces.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#2409 Add neur controller to contract service (#2486)
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedInvestorApprovedWidget.tsx
  app/components/modals/bank-transfer-flow/verify/BankTransferVerifyInit.stories.tsx
  app/components/modals/bank-transfer-flow/verify/BankTransferVerifyInit.tsx
  app/components/wallet/BankAccount.module.scss
  app/components/wallet/BankAccount.tsx
  app/components/wallet/wallet-balance/WalletBalance.module.scss
  app/lib/web3/ContractsService.ts
  app/modules/bank-transfer-flow/actions.ts
  app/modules/bank-transfer-flow/reducer.ts
  app/modules/bank-transfer-flow/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Adds unlock funds feature
  app/components/AppRouter.tsx
  app/components/appRoutes.ts
  app/components/dashboard/my-portfolio/MyPortfolioWidget.tsx
  app/components/edge-cases/UnlockWalletFundsFromLink.tsx
  app/components/modals/tx-sender/TxSender.tsx
  app/components/modals/tx-sender/investment-flow/utils.tsx
  app/components/modals/tx-sender/unlock-wallet-flow/Summary.stories.tsx
  app/components/modals/tx-sender/unlock-wallet-flow/Summary.tsx
  app/components/portfolio/PortfolioMyAssets.tsx
  app/components/wallet/views/start/Start.tsx
  app/modules/investment-flow/sagas.ts
  app/modules/tx/interfaces.ts
  app/modules/tx/transactions/actions.ts
  app/modules/tx/transactions/sagas.ts
  app/modules/tx/transactions/unlock/errors.ts
  app/modules/tx/transactions/unlock/sagas.ts
  app/modules/tx/transactions/unlock/selectors.ts
  app/modules/wallet/selectors.spec.ts
  app/modules/wallet/selectors.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#2409 profile linked bank account (#2489)
  app/components/settings/Settings.tsx
  app/components/settings/linked-bank-account/LinkedBankAccountWidget.module.scss
  app/components/settings/linked-bank-account/LinkedBankAccountWidget.stories.tsx
  app/components/settings/linked-bank-account/LinkedBankAccountWidget.tsx
  app/components/shared/buttons/Button.module.scss
  app/components/wallet/BankAccount.module.scss
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Improve stability of Campaigning spec
  app/test-e2e/eto/Campaigning.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2409 Update imports order
  app/components/modals/bank-transfer-flow/verify/BankTransferVerifyInit.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

amends ux
  app/components/appRoutes.ts
  app/components/modals/tx-sender/shared/ErrorMessage.tsx
  app/components/modals/tx-sender/unlock-wallet-flow/Summary.stories.tsx
  app/components/modals/tx-sender/unlock-wallet-flow/Summary.tsx
  app/config/constants.ts
  app/modules/tx/sender/reducer.ts
  app/modules/tx/sender/sagas.ts
  app/modules/tx/transactions/unlock/sagas.ts
  app/test-e2e/wallets/WalletUnlockFunds.spec.e2e.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2415 Rename Top-up to purchase on UI (#2492)
  app/components/shared/AccountBalance.stories.tsx
  app/components/wallet/views/start/Start.tsx
  app/components/wallet/wallet-balance/UnlockedNEURWallet.stories.tsx
  app/components/wallet/wallet-balance/UnlockedNEURWallet.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

fixes etherscan link in withdrawSuccess widget
  app/components/modals/tx-sender/withdraw-flow/Success.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix NEUR feature flag name (#2494)
  app/components/wallet/wallet-balance/UnlockedNEURWallet.tsx
  app/config/.env.example
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

2460 - Fixes etherscan link in withdrawSuccess widget (#2495)
  app/components/modals/tx-sender/withdraw-flow/Success.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Small refactoring to table (#2490)
  app/components/portfolio/AssetPortfolio.tsx
  app/components/portfolio/PortfolioMyAssets.tsx
  app/components/portfolio/PortfolioReservedAssets.tsx
  app/components/shared/table/NewTable.module.scss
  app/components/shared/table/NewTable.stories.tsx
  app/components/shared/table/NewTable.tsx
  app/components/shared/table/TableBody.tsx
  app/components/shared/table/TableCell.tsx
  app/components/shared/table/TableHeader.tsx
  app/components/shared/table/TableRow.tsx
  app/components/shared/table/index.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#2498 Do not call bank api when user is not verified (#2505)
  app/modules/kyc/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Remove patch-package (#2506)
  package.json
  patches/@types/react-intl+2.3.7.patch
  patches/@types/react-router+4.0.30.patch
  yarn.lock
Due: prettier --write

Update sha3 version to fix node 10 build time errors Note: this contains only `yarn.lock` change as sha3 is a transitive dependency
  yarn.lock
Due: none

Update sha3 version to fix node 10 build time errors (#2514)
  yarn.lock
Due: none

#2026 change external link in wallet recovery (#2513)
  app/components/wallet-selector/wallet-recover/help/LoginHelp.tsx
  app/components/wallet-selector/wallet-recover/recovery/RecoverWallet.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Workding change (#2496)
  app/components/settings/kyc-states/KycStatusWidget.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

skip resolving templates if issuer initiates download and eto state is ON_CHAIN
  app/modules/eto-documents/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

remove unnecessary conditions at template generation
  app/modules/eto-documents/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Review fixes
  app/components/edge-cases/UnlockWalletFundsFromLink.tsx
  app/components/modals/tx-sender/unlock-wallet-flow/Summary.stories.tsx
  app/components/modals/tx-sender/unlock-wallet-flow/Summary.tsx
  app/components/modals/tx-sender/withdraw-flow/Success.tsx
  app/modules/tx/transactions/unlock/sagas.ts
  app/modules/tx/transactions/unlock/selectors.ts
  app/modules/wallet/selectors.spec.ts
  app/modules/wallet/selectors.ts
  app/modules/wallet/utils.spec.ts
  app/modules/wallet/utils.ts
  app/utils/Date.utils.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#2413 Redeem flow (#2515)
  app/assets/img/bank-transfer/neur-eur.svg
  app/components/modals/Message.stories.tsx
  app/components/modals/tx-sender/TxSender.tsx
  app/components/modals/tx-sender/redeem/BankTransferRedeemInit.module.scss
  app/components/modals/tx-sender/redeem/BankTransferRedeemInit.stories.tsx
  app/components/modals/tx-sender/redeem/BankTransferRedeemInit.tsx
  app/components/modals/tx-sender/redeem/BankTransferRedeemSuccess.module.scss
  app/components/modals/tx-sender/redeem/BankTransferRedeemSuccess.stories.tsx
  app/components/modals/tx-sender/redeem/BankTransferRedeemSuccess.tsx
  app/components/modals/tx-sender/redeem/BankTransferRedeemSummary.stories.tsx
  app/components/modals/tx-sender/redeem/BankTransferRedeemSummary.tsx
  app/components/modals/tx-sender/redeem/CalculatedFee.tsx
  app/components/modals/tx-sender/redeem/TotalRedeemed.tsx
  app/components/shared/Money.tsx
  app/components/shared/MoneySuiteWidget.module.scss
  app/components/shared/MoneySuiteWidget.tsx
  app/components/wallet/BankAccount.module.scss
  app/components/wallet/BankAccount.stories.tsx
  app/components/wallet/BankAccount.tsx
  app/components/wallet/VerifiedBankAccount.module.scss
  app/components/wallet/VerifiedBankAccount.stories.tsx
  app/components/wallet/VerifiedBankAccount.tsx
  app/components/wallet/views/start/Start.tsx
  app/modules/bank-transfer-flow/actions.ts
  app/modules/bank-transfer-flow/reducer.ts
  app/modules/bank-transfer-flow/sagas.ts
  app/modules/bank-transfer-flow/selectors.ts
  app/modules/tx/interfaces.ts
  app/modules/tx/transactions/actions.ts
  app/modules/tx/transactions/redeem/saga.ts
  app/modules/tx/transactions/sagas.ts
  app/modules/web3/utils.ts
  app/styles/variables/colors.scss
  app/utils/Money.utils.spec.ts
  app/utils/Money.utils.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

Update backend sha used for e2e tests (#2518)
  e2e/run_backend.sh
Due: none

fixes Fee in translation
  app/components/modals/tx-sender/unlock-wallet-flow/Summary.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2409 Update bank verification API (#2512)
  app/components/modals/bank-transfer-flow/verify/BankTransferVerifyInit.tsx
  app/components/modals/bank-transfer-flow/verify/BankTransferVerifySuccess.tsx
  app/components/modals/bank-transfer-flow/verify/BankTransferVerifySummary.tsx
  app/components/modals/tx-sender/redeem/BankTransferRedeemSummary.stories.tsx
  app/components/settings/linked-bank-account/LinkedBankAccountWidget.stories.tsx
  app/components/settings/linked-bank-account/LinkedBankAccountWidget.tsx
  app/components/wallet/BankAccount.stories.tsx
  app/components/wallet/BankAccount.tsx
  app/components/wallet/VerifiedBankAccount.stories.tsx
  app/components/wallet/VerifiedBankAccount.tsx
  app/components/wallet/views/start/Start.tsx
  app/components/wallet/wallet-balance/UnlockedNEURWallet.stories.tsx
  app/components/wallet/wallet-balance/UnlockedNEURWallet.tsx
  app/config/.env.e2e
  app/lib/api/KycApi.interfaces.ts
  app/lib/api/KycApi.ts
  app/modules/bank-transfer-flow/sagas.ts
  app/modules/bank-transfer-flow/selectors.ts
  app/modules/kyc/sagas.ts
  app/modules/kyc/selectors.ts
  app/modules/kyc/types.ts
  app/test-e2e/utils/userHelpers.ts
  cypress.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write
