Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

.lintstagedrc:

{
  "app/**/*.{ts,tsx,js}": ["yarn tsc", "tslint --project . --format stylish --fix", "git add"],
  "app/**/*.spec.{ts,tsx}": ["tslint --project . --format stylish --fix --config ./tslint.spec.json", "git add"],
  "**/*.{ts,tsx,js,json,md,gql}": ["prettier --write", "git add"],
  "**/*.{sass,scss,css}": ["yarn sasslint"]
}

Fixes footer Responsivnes (#4031)
  packages/web/app/components/layouts/Footer.module.scss
Due: yarn sasslint

#3941 Dashboard metrics mobile fixes - Cherry Picked from #3984 (#4035)
  packages/web/app/components/dashboard/my-portfolio/MyPortfolioWidget.module.scss
  packages/web/app/components/dashboard/my-portfolio/PortfolioStats.module.scss
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidget.module.scss
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidget.stories.tsx
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidget.tsx
  packages/web/app/components/dashboard/my-portfolio/my-neu-widget/MyNeuWidgetPendingPayout.tsx
  packages/web/app/components/dashboard/my-wallet/MyWalletWidget.module.scss
  packages/web/app/components/shared/loading-indicator/LoadingIndicator.tsx
  packages/web/health-check-sha.json
Due: prettier --write, yarn sasslint

#3942_unverified_email_reminder_modal (#4027)
  packages/web/app/assets/img/login-link.svg
  packages/web/app/components/modals/unverified-email-reminder/UnverifiedEmailReminderModal.module.scss
  packages/web/app/components/modals/unverified-email-reminder/UnverifiedEmailReminderModal.tsx
  packages/web/app/components/settings/verify-email/ConnectVerifyEmail.ts
  packages/web/app/modules/auth/email/sagas.ts
  packages/web/app/modules/auth/selectors.ts
  packages/web/app/modules/auth/user/sagas.ts
  packages/web/app/modules/profile/sagas.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

fixes issue with etoWidget Announcment (#4038)
  packages/web/app/lib/api/eto/EtoUtils.ts
  packages/web/app/modules/eto/utils.ts
Due: prettier --write

change number vals in LegalForm to become boolean (#4049)
  packages/web/app/components/eto/public-view/LegalInformationWidget.tsx
Due: prettier --write

Add labels to Pr's automatically (#4053)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/boring-cyborg.yml
  packages/web/health-check-sha.json
Due: prettier --write

#3993 Add e2e tests library to mobile app (#4021)
  packages/wallet/README.md
  packages/wallet/android/app/build.gradle
  packages/wallet/android/app/src/androidTest/java/com/wallet/DetoxTest.java
  packages/wallet/android/app/src/main/AndroidManifest.xml
  packages/wallet/android/build.gradle
  packages/wallet/app/components/ImportWallet.tsx
  packages/wallet/app/components/Landing.tsx
  packages/wallet/ios/wallet.xcodeproj/project.pbxproj
  packages/wallet/package.json
  packages/wallet/tests/e2e/README.md
  packages/wallet/tests/e2e/import-wallet/ImportWalletFromPrivateKey.spec.ts
  packages/wallet/tests/e2e/init.ts
  packages/wallet/tests/e2e/jest.config.json
  packages/wallet/tsconfig.e2e.json
  packages/wallet/tsconfig.json
  packages/wallet/tsconfig.spec.json
  yarn.lock
Due: prettier --write

Fix typo in cyborg config (#4057)
  .github/boring-cyborg.yml
Due: none

3992-wallet-storybook (#4040)
  packages/wallet/README.md
  packages/wallet/android/app/build.gradle
  packages/wallet/app/components/Dashboard.stories.tsx
  packages/wallet/app/components/Landing.tsx
  packages/wallet/app/components/common/buttons/Button.stories.tsx
  packages/wallet/app/components/common/buttons/Button.tsx
  packages/wallet/index.ts
  packages/wallet/index.tsx
  packages/wallet/ios/Podfile.lock
  packages/wallet/ios/wallet.xcodeproj/project.pbxproj
  packages/wallet/package.json
  packages/wallet/storybook/.storybook-config
  packages/wallet/storybook/README.md
  packages/wallet/storybook/addons.ts
  packages/wallet/storybook/assets/web-integration-demo.gif
  packages/wallet/storybook/index.tsx
  packages/wallet/storybook/rn-addons.ts
  packages/wallet/storybook/stories.ts
  packages/web/package.json
  yarn.lock
Due: prettier --write

Getting started documentation (#3954)
  packages/web/README.md
  packages/web/health-check-sha.json
Due: prettier --write

#3993 Add unit tests lib to mobile app (#4036)
  packages/wallet/app/components/ImportWallet.spec.tsx
  packages/wallet/jest.config.js
  packages/wallet/package.json
  packages/wallet/tsconfig.json
  packages/wallet/tsconfig.spec.json
  yarn.lock
Due: prettier --write

Running cypress tests with @tags (#4046)
  packages/web/cypress/support/filterTestsByTags.js
  packages/web/cypress/support/index.js
Due: prettier --write

New Password Input Field (#4070)
  packages/web/app/assets/img/inline_icons/password-eye_masked.svg
  packages/web/app/assets/img/inline_icons/password-eye_unmasked.svg
  packages/web/app/components/shared/inputs/Field.tsx
  packages/web/app/components/shared/inputs/Input.module.scss
  packages/web/app/components/shared/inputs/Input.stories.tsx
  packages/web/app/components/shared/inputs/Input.tsx
  packages/web/app/components/shared/inputs/InputBase.module.scss
  packages/web/app/components/shared/inputs/InputBase.stories.tsx
  packages/web/app/components/shared/inputs/InputDescription.stories.tsx
  packages/web/app/components/shared/inputs/InputError.stories.tsx
  packages/web/app/components/shared/inputs/LabelBase.stories.tsx
  packages/web/app/components/shared/inputs/LabelBase.tsx
  packages/web/app/components/shared/inputs/TextField.module.scss
  packages/web/app/components/shared/inputs/TextField.stories.tsx
  packages/web/app/components/shared/inputs/TextField.tsx
  packages/web/app/components/shared/inputs/TextInput.stories.tsx
Due: prettier --write, yarn sasslint

#3942 verify email redirect fix (#4067)
  packages/web/app/components/modals/unverified-email-reminder/UnverifiedEmailReminderModal.module.scss
  packages/web/app/components/modals/unverified-email-reminder/UnverifiedEmailReminderModal.tsx
  packages/web/app/modules/auth/email/sagas.ts
  packages/web/app/modules/routing/selectors.ts
  packages/web/app/test-e2e/1.long-e2e-tests/2.ChangeEmail.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/index.ts
Due: prettier --write, yarn sasslint

Adds new breaking space (#4055)
  packages/web/intl/locales/en-en.json
Due: prettier --write

Fix KYC header close icon (#4058)
  packages/web/app/assets/img/inline_icons/close.svg
  packages/web/app/components/layouts/header/Header.module.scss
  packages/web/app/components/layouts/header/HeaderFullscreen.tsx
Due: prettier --write, yarn sasslint

removes arbitary polling delays in sagas (#4024)
  packages/shared/src/utils/constants.ts
  packages/web/app/config/constants.ts
  packages/web/app/modules/bookbuilding-flow/sagas.ts
  packages/web/app/modules/eto-nominee/sagas.ts
  packages/web/app/modules/icbm-wallet-balance-modal/sagas.ts
  packages/web/app/modules/nominee-flow/sagas.ts
  packages/web/app/modules/shared/tokenPrice/sagas.ts
  packages/web/app/modules/tx-history/constants.ts
  packages/web/app/modules/tx-history/sagas.ts
  packages/web/app/modules/tx/event-channel/sagas.ts
  packages/web/app/modules/tx/monitor/sagas.ts
  packages/web/health-check-sha.json
Due: prettier --write

Connect mobile app with modules (#4041)
  packages/shared-modules/package.json
  packages/shared-modules/src/extensions.ts
  packages/shared-modules/src/index.ts
  packages/shared-modules/src/utils.ts
  packages/wallet/.env.example
  packages/wallet/README.md
  packages/wallet/app/App.tsx
  packages/wallet/app/components/Landing.tsx
  packages/wallet/app/di/setupBindings.ts
  packages/wallet/app/di/symbols.ts
  packages/wallet/app/modules/init/actions.ts
  packages/wallet/app/modules/init/reducer.ts
  packages/wallet/app/modules/init/sagas.ts
  packages/wallet/app/modules/init/selectors.ts
  packages/wallet/app/modules/init/types.ts
  packages/wallet/app/modules/reducers.ts
  packages/wallet/app/modules/sagas.tsx
  packages/wallet/app/polyfills.ts
  packages/wallet/app/store/create.tsx
  packages/wallet/app/store/types.ts
  packages/wallet/app/store/utils.ts
  packages/wallet/index.tsx
  packages/wallet/ios/Podfile.lock
  packages/wallet/metro.config.js
  packages/wallet/package.json
  packages/wallet/storybook/index.tsx
  packages/wallet/tsconfig.json
  packages/web/app/store.ts
Due: prettier --write

refactor wallet selector layout
  packages/web/app/assets/img/wallet_selector/email-alt.svg
  packages/web/app/assets/img/wallet_selector/ledger.svg
  packages/web/app/assets/img/wallet_selector/metamask.svg
  packages/web/app/components/wallet-selector/WalletChooser.tsx
  packages/web/app/components/wallet-selector/WalletRouter.tsx
  packages/web/app/components/wallet-selector/WalletSelector.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLayout.module.scss
  packages/web/app/components/wallet-selector/WalletSelectorLayout.tsx
  packages/web/app/modules/wallet-selector/selectors.ts
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

changes default empty data to contain 0x (#4074)
  packages/web/app/modules/tx/utils.ts
Due: prettier --write

add logout reason notification
  packages/web/app/components/wallet-selector/WalletSelectorLayout.tsx
Due: prettier --write

changes default empty data to contain 0x (#4078)
  packages/web/app/modules/tx/utils.ts
  packages/web/health-check-sha.json
Due: prettier --write

#3950 seed recovery refactor (#4062)
  packages/web/app/components/kyc/shared/KycStep.tsx
  packages/web/app/components/modals/unverified-email-reminder/UnverifiedEmailReminderModal.tsx
  packages/web/app/components/shared/forms/fields/VirtualizedSelect.modules.scss
  packages/web/app/components/shared/forms/fields/VirtualizedSelect.tsx
  packages/web/app/components/translatedMessages/messages.tsx
  packages/web/app/components/wallet-selector/light/Login/MissingEmailLightWallet.tsx
  packages/web/app/components/wallet-selector/wallet-recover/WalletRecoverMain.tsx
  packages/web/app/components/wallet-selector/wallet-recover/help/LoginHelp.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/LightWalletRecoverySignUp.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/RecoverWallet.stories.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/RecoverWallet.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/RecoverWalletCheckSeed.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/RecoveryStep.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/SeedRecovery.spec.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/SeedRecovery.unsafe.module.scss
  packages/web/app/components/wallet-selector/wallet-recover/recovery/SeedRecovery.unsafe.tsx
  packages/web/app/components/wallet-selector/wallet-recover/router/RecoverRouter.tsx
  packages/web/app/components/wallet-selector/wallet-recover/router/recoverRoutes.tsx
  packages/web/app/components/wallet-selector/wallet-recover/success/RecoverySuccess.module.scss
  packages/web/app/components/wallet-selector/wallet-recover/success/RecoverySuccess.stories.tsx
  packages/web/app/components/wallet-selector/wallet-recover/success/RecoverySuccess.tsx
  packages/web/app/modules/notification-modal/actions.ts
  packages/web/app/modules/routing/actions.ts
  packages/web/app/modules/wallet-selector/light-wizard/sagas.ts
  packages/web/app/test-e2e/utils/index.ts
  packages/web/app/test-e2e/wallets/WalletRecover.spec.e2e.io.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

At/#3950 move virtualized select to nds package -> onBoaridng (#4082)
  packages/design-system/src/components/inputs/VirtualizedSelect.modules.scss
  packages/design-system/src/components/inputs/VirtualizedSelect.tsx
  packages/design-system/src/components/inputs/index.ts
  packages/design-system/src/index.ts
  packages/web/app/components/eto/shared/EtoTagWidget.unsafe.tsx
  packages/web/app/components/settings/backup-seed/BackupSeedVerify.unsafe.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/SeedRecovery.unsafe.tsx
  packages/web/health-check-sha.json
Due: prettier --write, yarn sasslint

fix e2e tests
  packages/web/app/components/wallet-selector/WalletSelectorLayout.tsx
  packages/web/app/test-e2e/utils/index.ts
  packages/web/health-check-sha.json
Due: prettier --write

#3947 new wallet selector (#4080)
  packages/web/app/assets/img/wallet_selector/email-alt.svg
  packages/web/app/assets/img/wallet_selector/ledger.svg
  packages/web/app/assets/img/wallet_selector/metamask.svg
  packages/web/app/components/wallet-selector/WalletChooser.tsx
  packages/web/app/components/wallet-selector/WalletRouter.tsx
  packages/web/app/components/wallet-selector/WalletSelector.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLayout.module.scss
  packages/web/app/components/wallet-selector/WalletSelectorLayout.tsx
  packages/web/app/components/wallet-selector/utils.ts
  packages/web/app/modules/wallet-selector/selectors.ts
  packages/web/app/test-e2e/routing/RegisterRedirectIfNoVerifiedEmail.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/index.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

Fix broken storybook production build (#4087)
  packages/web/app/index.tsx
  packages/web/app/store.ts
  packages/web/health-check-sha.json
Due: prettier --write

Fix double /eto call (#4072)
  packages/web/app/components/dashboard/Dashboard.tsx
  packages/web/app/test-e2e/investor/portfolio/payout/IncomingPayout.spec.e2e.io.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write

add new components for browserWallet refactor components structure start removing browser-wizard
  packages/web/app/components/wallet-selector/WalletSelector.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLayout.module.scss
  packages/web/app/components/wallet-selector/WalletSelectorLayout.tsx
  packages/web/app/components/wallet-selector/browser/WalletBrowser.module.scss
  packages/web/app/components/wallet-selector/browser/WalletBrowser.stories.tsx
  packages/web/app/components/wallet-selector/browser/WalletBrowser.tsx
  packages/web/app/config/externalRoutes.ts
  packages/web/app/modules/wallet-selector/browser-wizard/actions.ts
  packages/web/app/modules/wallet-selector/browser-wizard/reducer.ts
  packages/web/app/modules/wallet-selector/browser-wizard/sagas.ts
  packages/web/app/modules/wallet-selector/reducer.ts
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

Setup Docs for Storybook (#4017)
  packages/design-system/.storybook/addons.js
  packages/design-system/.storybook/config.js
  packages/design-system/.storybook/main.js
  packages/design-system/package.json
  packages/design-system/src/components/buttons/Button.md
  packages/design-system/src/components/buttons/Button.stories.tsx
  packages/design-system/src/components/buttons/Button.tsx
  packages/design-system/src/storybook-decorators.tsx
  packages/design-system/typings/files.d.ts
  packages/web/health-check-sha.json
  yarn.lock
Due: prettier --write

Tagged Other automation flow tests (#4066)
  packages/web/app/test-e2e/1.long-e2e-tests/2.ChangeEmail.spec.e2e.io.ts
  packages/web/app/test-e2e/general-app/AutoLoginLogoutActions.spec.e2e.io.ts
  packages/web/app/test-e2e/landing/LandingPage.spec.e2e.io.ts
  packages/web/app/test-e2e/link-triggered-flows/WalletVerify.spec.e2e.io.ts
  packages/web/app/test-e2e/other/CriticalError.spec.e2e.io.ts
  packages/web/app/test-e2e/other/OfflineMode.spec.e2e.io.ts
  packages/web/app/test-e2e/other/email/change/ChangeEmail.spec.e2e.io.ts
  packages/web/app/test-e2e/other/email/verification/VerifyEmailWidget.spec.e2e.io.ts
  packages/web/app/test-e2e/other/login/lightwallet/InvestorLogin.spec.e2e.io.ts
  packages/web/app/test-e2e/other/login/lightwallet/IssuerLogin.spec.e2e.io.ts
  packages/web/app/test-e2e/other/logout/JWT.spec.e2e.io.ts
  packages/web/app/test-e2e/other/logout/LogoutActions.spec.e2e.io.ts
  packages/web/app/test-e2e/other/recovery/Backup.spec.e2e.io.ts
  packages/web/app/test-e2e/other/recovery/WalletRecovery.spec.e2e.io.ts
  packages/web/app/test-e2e/other/routing/AuthenticationRouting.spec.e2e.io.ts
  packages/web/app/test-e2e/other/routing/EthereumRouting.spec.e2e.io.ts
  packages/web/app/test-e2e/other/routing/OtherRouting.spec.e2e.io.ts
  packages/web/app/test-e2e/other/utils.ts
  packages/web/app/test-e2e/register/LightWalletETOLogin.spec.e2e.io.ts
  packages/web/app/test-e2e/register/LightWalletETORegister.spec.e2e.io.ts
  packages/web/app/test-e2e/routing/EthererumNodeRPCBatching.spec.e2e.io.ts
  packages/web/app/test-e2e/routing/RegisterRedirectIfNoVerifiedEmail.spec.e2e.io.ts
  packages/web/app/test-e2e/routing/UserRouting.spec.e2e.io.ts
Due: prettier --write

E2E test enhancments (#4083)
  packages/web/app/test-e2e/eto-registration/EtoCompanyInformationFieldValidation.spec.e2e.io.ts
  packages/web/app/test-e2e/eto-registration/EtoPreviewRegistrationAndSubmit.spec.e2e.io.ts
  packages/web/app/test-e2e/eto-registration/SetEtoStartDate.spec.e2e.ts
  packages/web/app/test-e2e/eto-view/EtoViewForIssuer.spec.e2e.io.ts
  packages/web/app/test-e2e/eto-view/EtoViewForUnapprovedInvestor.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/bank/redeem/RedeemNEUR.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/bank/redeem/RedeemNEUR.spec.e2e.ts
  packages/web/app/test-e2e/investor/kyc/IDnow.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/kyc/KYC.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/portfolio/payout/IncomingPayout.spec.e2e.io.ts
  packages/web/app/test-e2e/obsolete/KYCFlowIndividualManual.spec.e2e-obsolete.io.ts
  packages/web/health-check-sha.json
  packages/web/package.json
Due: prettier --write

merge base branch
  packages/web/app/components/wallet-selector/WalletSelector.tsx
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write

fix e2e tests
  packages/web/app/test-e2e/register/BrowserWalletLogin.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/assertions.ts
  packages/web/app/test-e2e/utils/index.ts
Due: prettier --write

fix merge
  packages/web/app/components/shared/inputs/TextField.tsx
  packages/web/app/components/shared/inputs/TextInput.module.scss
  packages/web/app/components/shared/inputs/TextInput.stories.tsx
  packages/web/app/components/shared/inputs/TextInput.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/LightWalletRecoverySignUp.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/SeedRecovery.unsafe.tsx
  packages/web/app/test-e2e/other/recovery/WalletRecovery.spec.e2e.io.ts
  packages/web/app/test-e2e/other/routing/OtherRouting.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/index.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

#3950 seed recovery refactor (#4062)
  packages/web/app/components/kyc/shared/KycStep.tsx
  packages/web/app/components/modals/unverified-email-reminder/UnverifiedEmailReminderModal.tsx
  packages/web/app/components/shared/forms/fields/VirtualizedSelect.modules.scss
  packages/web/app/components/shared/forms/fields/VirtualizedSelect.tsx
  packages/web/app/components/translatedMessages/messages.tsx
  packages/web/app/components/wallet-selector/light/Login/MissingEmailLightWallet.tsx
  packages/web/app/components/wallet-selector/wallet-recover/WalletRecoverMain.tsx
  packages/web/app/components/wallet-selector/wallet-recover/help/LoginHelp.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/LightWalletRecoverySignUp.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/RecoverWallet.stories.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/RecoverWallet.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/RecoverWalletCheckSeed.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/RecoveryStep.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/SeedRecovery.spec.tsx
  packages/web/app/components/wallet-selector/wallet-recover/recovery/SeedRecovery.unsafe.module.scss
  packages/web/app/components/wallet-selector/wallet-recover/recovery/SeedRecovery.unsafe.tsx
  packages/web/app/components/wallet-selector/wallet-recover/router/RecoverRouter.tsx
  packages/web/app/components/wallet-selector/wallet-recover/router/recoverRoutes.tsx
  packages/web/app/components/wallet-selector/wallet-recover/success/RecoverySuccess.module.scss
  packages/web/app/components/wallet-selector/wallet-recover/success/RecoverySuccess.stories.tsx
  packages/web/app/components/wallet-selector/wallet-recover/success/RecoverySuccess.tsx
  packages/web/app/modules/notification-modal/actions.ts
  packages/web/app/modules/routing/actions.ts
  packages/web/app/modules/wallet-selector/light-wizard/sagas.ts
  packages/web/app/test-e2e/other/recovery/WalletRecovery.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/index.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint
