Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

#2721 Add e2e tests for EtoTerms (#2745)
  app/components/eto/registration/pages/EtoTerms.tsx
  app/components/shared/tooltips/Tooltip.tsx
  app/test-e2e/eto-registration/EtoTerms.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Turn on react strict mode checks (#2755)
  app/components/App.tsx
  e2e/run_backend.sh
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Add default react-intl tag for storybook components (#2763)
  .storybook/config.js
Due: prettier --write

#2647 Remove logger from form props (#2771)
  app/components/shared/forms/Form.ts
  app/components/utils/omitProps.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2766 Fix ICBM migration call to action button position (#2770)
  app/components/settings/icbm-wallet-widget/CheckYourICBMWalletWidget.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2709 - shows notification bar with error message when email activation link is wrong (#2743)
  app/components/settings/change-email/ChangeEmail.tsx
  app/components/shared/Toast.tsx
  app/components/translatedMessages/messages.unsafe.tsx
  app/config/constants.ts
  app/modules/auth/sagas.ts
  app/test-e2e/eto-registration/FullEtoRegistrationAndSubmit.spec.e2e.ts
  app/test-e2e/link-triggered-flows/WalletVerify.spec.e2e.ts
  app/test-e2e/settings/BackupSeed.spec.e2e.ts
  app/test-e2e/settings/ChangeEmail.spec.e2e.ts
  app/test-e2e/utils/assertions.ts
  app/types.d.ts
  cypress/plugins/index.js
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Add nominee name to ETO details (#2776)
  app/components/eto/public-view/EtoInvestmentTermsWidget.tsx
  app/lib/api/eto/EtoApi.interfaces.unsafe.tsx
  app/test-e2e/eto-view/EtoViewForInvestor.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2687 Refactor Money Input (#2747)
  app/components/modals/tx-sender/investment-flow/Investment.stories.tsx
  app/components/modals/tx-sender/investment-flow/Investment.tsx
  app/components/shared/MaskedMoneyInput.stories.tsx
  app/components/shared/MaskedMoneyInput.tsx
  app/components/shared/Money.unsafe.tsx
  app/components/shared/forms/fields/FormInputRaw.spec.tsx
  app/components/shared/forms/fields/FormInputRaw.unsafe.tsx
  app/utils/Money.utils.spec.ts
  app/utils/Money.utils.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Remove unused images (#2783)
  app/assets/img/id_img.svg
  app/assets/img/id_now.svg
  app/assets/img/landing_hero_bg.jpg
  app/assets/img/landing_hero_bg@2x.jpg
  app/assets/img/landing_hero_bg@3x.jpg
  app/assets/img/person.jpg
  app/assets/img/person.png
  app/assets/img/person@2x.jpg
  app/assets/img/person@2x.png
  app/assets/img/person@3x.jpg
  app/assets/img/person@3x.png
  app/components/settings/personal-account-details/PersonalAccountDetails.tsx
  app/test-e2e/eto-registration/EtoTerms.spec.e2e.ts
  e2e/run_backend.sh
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2543 - Add e2e tests for redeem flow (#2775)
  app/components/modals/tx-sender/redeem/BankTransferRedeemDetails.tsx
  app/components/modals/tx-sender/redeem/BankTransferRedeemInit.unsafe.tsx
  app/components/modals/tx-sender/redeem/BankTransferRedeemSuccess.tsx
  app/components/modals/tx-sender/redeem/BankTransferRedeemSummary.tsx
  app/test-e2e/bank-transfer/RedeemNEUR.spec.e2e.ts
  app/test-e2e/fixtures.ts
  app/test-e2e/utils/index.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix css styles order differences (#2782)
  app/components/kyc/business/BeneficialOwners.module.scss
  app/components/kyc/business/BeneficialOwners.tsx
  app/index.tsx
  app/styles/overrides.scss
  webpack/webpack.config.dev.js
  webpack/webpack.config.prod.js
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Reorder ETO cards on landing page (#2797)
  app/assets/img/eto_offers/curf.jpg
  app/assets/img/eto_offers/curf@2x.jpg
  app/assets/img/eto_offers/curfhover@1x.mp4
  app/assets/img/eto_offers/curfhover@1x.webm
  app/assets/img/eto_offers/nextbigthing.jpg
  app/assets/img/eto_offers/nextbigthing@2x.jpg
  app/assets/img/eto_offers/nextbigthinghover@1x.jpg
  app/assets/img/eto_offers/nextbigthinghover@2x.jpg
  app/components/shared/ResponsiveVideo.stories.tsx
  app/data/etoCompanies.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2760 - Adds ledger not supported message (#2780)
  app/components/translatedMessages/messages.tsx
  app/components/wallet-selector/ledger/WalletLedgerInitComponent.spec.tsx
  app/components/wallet-selector/ledger/WalletLedgerInitComponent.tsx
  app/components/wallet/wallet-balance/UnlockedETHWallet.tsx
  app/config/externalRoutes.ts
  app/lib/web3/ledger-wallet/ledgerUtils.ts
  app/modules/wallet-selector/ledger-wizard/errors.ts
  docs/component-development-guidelines.md
  intl/locales/en-en.json
  package.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#2794 - Update Ngrave ETO card (#2798)
  app/assets/img/eto_offers/ngrave.jpg
  app/assets/img/eto_offers/ngrave@2x.jpg
  app/assets/img/eto_offers/ngravehover@1x.jpg
  app/assets/img/eto_offers/ngravehover@2x.jpg
Due: none

#2663 - Update TOS modal (#2774)
  app/assets/img/tos.jpg
  app/components/modals/accept-tos-modal/AcceptTosModal.module.scss
  app/components/modals/accept-tos-modal/AcceptTosModal.tsx
  app/components/shared/buttons/Button.module.scss
  app/modules/auth/selectors.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#2570 - Add Bank transfer fee tooltip (#2740)
  app/components/modals/tx-sender/redeem/BankTransferRedeemInit.unsafe.tsx
  app/components/shared/tooltips/Tooltip.module.scss
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Update router related dependencies (#2803)
  package.json
  yarn.lock
Due: prettier --write

#2221 - Show not enabled ICBM wallets on Investment flow (#2731)
  app/components/modals/tx-sender/investment-flow/Investment.stories.tsx
  app/components/modals/tx-sender/investment-flow/Investment.tsx
  app/components/modals/tx-sender/investment-flow/InvestmentTypeSelector.module.scss
  app/components/modals/tx-sender/investment-flow/InvestmentTypeSelector.stories.tsx
  app/components/modals/tx-sender/investment-flow/InvestmentTypeSelector.tsx
  app/components/modals/tx-sender/investment-flow/utils.tsx
  app/components/modals/tx-sender/upgrade-flow/Summary.unsafe.tsx
  app/test-e2e/eto/InvestStartUpgradeFlow.spec.e2e.ts
  app/test-e2e/wallets/WalletUpgrade.spec.e2e.ts
  app/utils/storybookHelpers.unsafe.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#2655 Add restricted jurisdiction disclaimer modal (#2784)
  app/assets/img/eto/city.png
  app/components/App.tsx
  app/components/eto/EtoPublicView.tsx
  app/components/eto/EtoPublicViewByContractId.tsx
  app/components/eto/overview/EtoOverviewThumbnail/Cover.tsx
  app/components/eto/public-view/EtoInvestmentTermsWidget.tsx
  app/components/eto/public-view/JurisdictionDisclaimerModal.stories.tsx
  app/components/eto/public-view/JurisdictionDisclaimerModal.tsx
  app/components/eto/shared/withJurisdictionDisclaimer.ts
  app/components/layouts/LayoutAuthorizedMenu.unsafe.tsx
  app/components/modals/GenericModal.stories.tsx
  app/components/modals/GenericModal.tsx
  app/components/modals/Message.tsx
  app/components/modals/tx-sender/investment-flow/Success.tsx
  app/components/shared/buttons/ButtonLink.tsx
  app/components/shared/forms/fields/FormSelectCountryField.unsafe.tsx
  app/components/shared/routing/OnlyAuthorizedRoute.unsafe.tsx
  app/components/wallet-selector/WalletMessageSigner.tsx
  app/lib/api/eto/EtoProductsApi.interfaces.ts
  app/lib/api/util/countries.enum.ts
  app/lib/api/util/schemaHelpers.unsafe.tsx
  app/modules/auth/user/sagas.ts
  app/modules/generic-modal/actions.ts
  app/modules/generic-modal/reducer.ts
  app/modules/generic-modal/selectors.ts
  app/modules/kyc/actions.ts
  app/modules/kyc/sagas.ts
  app/modules/kyc/selectors.ts
  app/modules/public-etos/actions.ts
  app/modules/public-etos/sagas.ts
  app/modules/public-etos/utils.ts
  app/modules/routing/actions.ts
  app/modules/routing/selectors.ts
  app/test-e2e/eto-view/EtoViewForInvestor.spec.e2e.ts
  app/test-e2e/eto-view/EtoViewForLIInvestor.spec.e2e.ts
  app/test-e2e/eto-view/EtoViewForUnauthorized.spec.e2e.ts
  app/test-e2e/fixtures.ts
  app/test-e2e/utils/assertions.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2779 - Updates Banned Countries list (#2818)
  app/lib/api/util/schemaHelpers.unsafe.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2195 Add refund timeline state (#2801)
  app/components/eto/EtoIssuerView.tsx
  app/components/eto/EtoPublicView.tsx
  app/components/eto/EtoPublicViewByContractId.tsx
  app/components/eto/overview/EtoTimeline.tsx
  app/components/eto/overview/EtoTimeline/Block.module.scss
  app/components/eto/overview/EtoTimeline/Block.tsx
  app/components/eto/overview/EtoTimeline/EtoTimeline.stories.tsx
  app/components/eto/overview/EtoTimeline/EtoTimeline.tsx
  app/components/eto/overview/EtoTimeline/Point.module.scss
  app/components/eto/overview/EtoTimeline/Point.tsx
  app/components/eto/overview/EtoTimeline/index.ts
  app/components/eto/public-view/LegalInformationWidget.tsx
  app/components/eto/shared/EtoView.stories.tsx
  app/components/eto/shared/EtoView.tsx
  app/components/shared/charts/ChartDoughnut.unsafe.tsx
  app/utils/storybookHelpers.unsafe.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#2614 - Add transaction reset button on testing environments (#2815)
  app/components/modals/tx-sender/shared/TxPending.stories.tsx
  app/components/modals/tx-sender/shared/TxPending.tsx
  app/config/.env.common
  app/modules/tx/transactions/actions.ts
  app/modules/tx/transactions/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

fix "invalid regexp group" error in firefox and safari (#2841)
  app/utils/Money.utils.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

fix `SyntaxError: invalid regexp group` in firefox (#2843)
  app/utils/Money.utils.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2809 - fix new etoCard layout (#2811)
  app/components/eto/overview/EtoOverviewThumbnail/Cover.module.scss
  app/components/eto/overview/EtoOverviewThumbnail/Cover.tsx
  app/components/eto/overview/EtoOverviewThumbnail/EtoOverviewThumbnail.module.scss
  app/components/eto/overview/EtoOverviewThumbnail/EtoOverviewThumbnail.tsx
  app/components/shared/Panel.module.scss
  app/styles/variables.scss
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Upgrade Ledger Nano firmware support to 1.5.5 (#2837)
  intl/locales/en-en.json
Due: prettier --write

fix backend sha (#2861)
  e2e/run_backend.sh
Due: none

change all dashboard headings to DashboardHeading component, ensure consistent styling (#2846)
  app/components/dashboard/eto-list/EtoList.module.scss
  app/components/dashboard/eto-list/EtoList.tsx
  app/components/edge-cases/MigrationFromLink.tsx
  app/components/eto/EtoDashboard.tsx
  app/components/eto/shared/DashboardHeading.tsx
  app/components/eto/shared/EtoView.tsx
  app/components/portfolio/AssetPortfolio.tsx
  app/components/portfolio/PortfolioMyAssets.tsx
  app/components/portfolio/PortfolioPastInvestments.tsx
  app/components/portfolio/PortfolioReservedAssets.tsx
  app/components/settings/Settings.tsx
  app/components/shared/Heading.tsx
  app/components/shared/Panel.module.scss
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Add `noFallthroughCasesInSwitch` and `noImplicitReturns` (#2858)
  app/components/eto/registration/pages/etoTermsUtils.tsx
  app/components/eto/utils.ts
  app/components/modals/tx-sender/shared/ValidationErrorMessage.tsx
  app/components/shared/forms/fields/FormCategoryDistribution.unsafe.tsx
  app/lib/api/eto/EtoProductsApi.interfaces.ts
  app/lib/persistence/Storage.ts
  app/lib/persistence/WalletStorage.ts
  app/lib/web3/Web3Adapter.ts
  app/modules/eto-flow/selectors.ts
  app/modules/eto/selectors.ts
  app/modules/investor-portfolio/selectors.ts
  app/modules/kyc/selectors.ts
  tsconfig.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2869 - Remove Founders Bank card (#2872)
  app/assets/img/eto_offers/Foundersbankhover.png
  app/assets/img/eto_offers/Foundersbankhover@1x.png
  app/assets/img/eto_offers/Foundersbankhover@3x.png
  app/assets/img/eto_offers/foundersbank.png
  app/assets/img/eto_offers/foundersbank@2x.png
  app/assets/img/eto_offers/foundersbank@3x.png
  app/data/etoCompanies.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2866 - fix form justification (#2867)
  app/components/eto/registration/EtoFormBase.module.scss
  app/components/eto/registration/pages/AllForms.stories.tsx
  app/components/eto/registration/pages/EtoTerms.stories.tsx
  app/components/eto/registration/pages/InvestmentTerms.stories.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#2663 - Update TOS image to higher resolution (#2860)
  app/assets/img/tos.jpg
Due: none

#2869 - Remove Founders Bank card (#2872) (#2881)
  app/assets/img/eto_offers/Foundersbankhover.png
  app/assets/img/eto_offers/Foundersbankhover@1x.png
  app/assets/img/eto_offers/Foundersbankhover@3x.png
  app/assets/img/eto_offers/foundersbank.png
  app/assets/img/eto_offers/foundersbank@2x.png
  app/assets/img/eto_offers/foundersbank@3x.png
  app/data/etoCompanies.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Path conditions:
  yarn tsc: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix --config ./tslint.spec.json: any of: app/**/*.spec.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,js,json,md,gql}
  yarn sasslint: any of: **/*.{sass,scss,css}
