Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

#3257 Fix possible negative values in Invest terms fllow (#3353)
  packages/web/app/components/eto/registration/pages/InvestmentTerms.spec.tsx
  packages/web/app/components/eto/registration/pages/InvestmentTerms.tsx
  packages/web/app/lib/api/eto/EtoUtils.ts
Due: prettier --write

Make STORYBOOK_RUN env flag checks consistent (#3367)
  packages/web/app/components/shared/Counter.unsafe.tsx
  packages/web/app/components/shared/forms/fields/testingUtils.unsafe.tsx
  packages/web/app/components/shared/hooks/useLogger.ts
  packages/web/app/config/.env.common
  packages/web/app/config/.env.example
  packages/web/health-check-sha.json
Due: prettier --write

#3319 nominee documents section (#3334)
  packages/web/app/components/AppRouter.tsx
  packages/web/app/components/documents/DocumentList.tsx
  packages/web/app/components/documents/Documents.stories.tsx
  packages/web/app/components/documents/Documents.tsx
  packages/web/app/components/documents/issuerDocuments/Documents.tsx
  packages/web/app/components/documents/issuerDocuments/DocumentsLayout.tsx
  packages/web/app/components/documents/nomineeDocuments/NomineeDocuments.tsx
  packages/web/app/components/documents/nomineeDocuments/NomineeDocumentsLayout.tsx
  packages/web/app/components/documents/utils.tsx
  packages/web/app/components/eto/public-view/DocumentsWidget.tsx
  packages/web/app/components/eto/public-view/EtoInvestmentTermsWidget.tsx
  packages/web/app/components/layouts/menus/MenuData.tsx
  packages/web/app/components/modals/download-token-agreements-modal/DownloadTokenAgreementModal.tsx
  packages/web/app/components/modals/icbm-wallet-balance-modal/IcbmWalletBalanceModal.tsx
  packages/web/app/components/modals/tx-sender/user-claim/Summary.tsx
  packages/web/app/components/nominee-dashboard/NomineeDashboard.tsx
  packages/web/app/components/nominee-dashboard/nomineeDashboardContainer/NomineeDashboardContainer.tsx
  packages/web/app/components/shared/SingleColDocumentWidget.tsx
  packages/web/app/lib/api/eto/EtoFileUtils.ts
  packages/web/app/modules/eto-documents/sagas.ts
  packages/web/app/modules/eto-documents/selectors.ts
  packages/web/app/modules/eto-flow/selectors.ts
  packages/web/app/modules/eto/selectors.ts
  packages/web/app/modules/selectors.ts
  packages/web/app/utils/objectToFilteredArray.spec.ts
  packages/web/app/utils/objectToFilteredArray.ts
  packages/web/intl/locales/en-en.json
  yarn.lock
Due: prettier --write

#3282 terms of use fixes (#3342)
  packages/web/app/components/layouts/Footer.tsx
  packages/web/app/components/layouts/Layout.tsx
  packages/web/app/components/layouts/TransitionalLayout.tsx
  packages/web/app/components/modals/accept-tos-modal/AcceptTosModal.module.scss
  packages/web/app/components/modals/accept-tos-modal/AcceptTosModal.stories.tsx
  packages/web/app/components/modals/accept-tos-modal/AcceptTosModal.tsx
  packages/web/app/components/shared/links/ExternalLink.tsx
  packages/web/app/components/wallet-selector/WalletSelector.tsx
  packages/web/app/components/wallet-selector/wallet-recover/WalletRecoverMain.tsx
  packages/web/app/config/externalRoutes.ts
  packages/web/app/modules/auth/reducer.ts
  packages/web/app/modules/auth/selectors.ts
  packages/web/app/modules/auth/user/sagas.ts
  packages/web/app/modules/terms-of-service-modal/actions.ts
  packages/web/app/modules/terms-of-service-modal/sagas.ts
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

#3237 Nominee agreements (#3317)
  packages/web/app/components/modals/tx-sender/TxDetails.unsafe.tsx
  packages/web/app/components/modals/tx-sender/TxName.tsx
  packages/web/app/components/modals/tx-sender/TxSender.tsx
  packages/web/app/components/modals/tx-sender/nominee/sign-agreement/SignAgreementSuccess.stories.tsx
  packages/web/app/components/modals/tx-sender/nominee/sign-agreement/SignAgreementSuccess.tsx
  packages/web/app/components/modals/tx-sender/nominee/sign-agreement/SignAgreementSummary.stories.tsx
  packages/web/app/components/modals/tx-sender/nominee/sign-agreement/SignAgreementSummary.tsx
  packages/web/app/components/modals/tx-sender/nominee/sign-agreement/utils.ts
  packages/web/app/components/nominee-dashboard/AcceptAgreement.tsx
  packages/web/app/components/nominee-dashboard/AcceptTha.tsx
  packages/web/app/components/nominee-dashboard/NomineeDashboard.tsx
  packages/web/app/components/nominee-dashboard/NomineeTasksData.tsx
  packages/web/app/components/shared/buttons/Button.module.scss
  packages/web/app/lib/web3/Web3Manager/Web3Manager.ts
  packages/web/app/modules/nominee-flow/reducer.ts
  packages/web/app/modules/nominee-flow/sagas.ts
  packages/web/app/modules/nominee-flow/selectors.ts
  packages/web/app/modules/nominee-flow/utils.ts
  packages/web/app/modules/tx/transactions/actions.ts
  packages/web/app/modules/tx/transactions/nominee/sign-agreement/saga.ts
  packages/web/app/modules/tx/transactions/nominee/sign-agreement/types.ts
  packages/web/app/modules/tx/transactions/sagas.ts
  packages/web/app/modules/tx/types.ts
  packages/web/app/test-e2e/eto-registration/2.EtoRequiredReqistrationAndSubmit.spec.e2e.io.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

#3359 Fix rich-text editor content trimming (#3366)
  packages/web/app/components/eto/registration/pages/CompanyInformation.tsx
  packages/web/app/components/eto/registration/pages/EtoVotingRights.tsx
  packages/web/app/components/shared/Field.module.scss
  packages/web/app/components/shared/SanitizedHtml.spec.tsx
  packages/web/app/components/shared/SanitizedHtml.tsx
  packages/web/app/components/shared/forms/fields/FormTextArea.tsx
  packages/web/app/components/shared/forms/fields/FormToggle.spec.tsx
  packages/web/app/components/shared/forms/fields/FormToggle.stories.tsx
  packages/web/app/components/shared/forms/fields/FormToggle.tsx
  packages/web/app/components/shared/forms/index.tsx
  packages/web/app/lib/api/eto/EtoApi.interfaces.unsafe.ts
  packages/web/app/lib/yup-ts.spec.ts
  packages/web/app/lib/yup-ts.unsafe.tsx
  packages/web/intl/locales/en-en.json
  packages/web/package.json
  yarn.lock
Due: prettier --write, yarn sasslint

Fix flashing of white page when navigation from issuer dashboard to form (#3373)
  packages/web/app/components/eto/registration/Start.tsx
Due: prettier --write

#3378 Issuer flow visual fixes (#3383)
  packages/web/app/components/eto/public-view/EtoAccordionElements.tsx
  packages/web/app/components/kyc/business/BeneficialOwner.unsafe.tsx
  packages/web/app/components/shared/Accordion.module.scss
  packages/web/app/components/shared/Accordion.stories.tsx
  packages/web/app/components/shared/Accordion.tsx
  packages/web/app/components/shared/PeopleSwiperWidget.module.scss
  packages/web/app/components/shared/PeopleSwiperWidget.stories.tsx
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

#3292 recovery fix (#3376)
  packages/web/app/components/AppRouter.tsx
  packages/web/app/components/appRoutes.ts
  packages/web/app/components/landing/LandingEto.module.scss
  packages/web/app/components/landing/LandingEto.tsx
  packages/web/app/components/layouts/Layout.stories.tsx
  packages/web/app/components/layouts/Layout.tsx
  packages/web/app/components/layouts/TransitionalLayout.tsx
  packages/web/app/components/layouts/header/Header.stories.tsx
  packages/web/app/components/layouts/header/Header.tsx
  packages/web/app/components/wallet-selector/WalletSelector.tsx
  packages/web/app/components/wallet-selector/light/Register/RegisterLightWallet.unsafe.tsx
  packages/web/app/components/wallet-selector/wallet-recover/WalletRecoverMain.tsx
  packages/web/app/components/wallet-selector/wallet-recover/success/RecoverySuccess.tsx
  packages/web/app/modules/auth/sagas.ts
  packages/web/app/modules/auth/types.ts
  packages/web/app/modules/auth/user/sagas.ts
  packages/web/app/modules/terms-of-service-modal/actions.ts
  packages/web/app/modules/wallet-selector/actions.ts
  packages/web/app/modules/wallet-selector/browser-wizard/sagas.ts
  packages/web/app/modules/wallet-selector/light-wizard/actions.ts
  packages/web/app/modules/wallet-selector/light-wizard/reducer.ts
  packages/web/app/modules/wallet-selector/light-wizard/sagas.ts
  packages/web/app/modules/wallet-selector/reducer.ts
  packages/web/app/modules/wallet-selector/sagas.ts
  packages/web/app/test-e2e/landing/LandingEtoPage.spec.e2e.io.ts
  packages/web/app/test-e2e/settings/LightWalletRegister.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/index.ts
  packages/web/app/test-e2e/wallets/WalletRecover.spec.e2e.io.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

#3379 Add upload termsheet step (#3380)
  packages/web/app/components/issuer-dashboard/dashboardStep/DashboardStep.tsx
  packages/web/app/components/issuer-dashboard/utils.ts
  packages/web/app/test-e2e/eto-registration/2.EtoRequiredReqistrationAndSubmit.spec.e2e.io.ts
  packages/web/app/test-e2e/eto-registration/EtoLinkNomineeStep.spec.e2e.io.ts
  packages/web/app/test-e2e/eto-registration/EtoRegistrationUtils.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write

Improve codechecks bundle watcher and minor fixes (#3391)
  package.json
  packages/web/.storybook/config.js
  packages/web/app/components/eto/public-view/EtoAccordionElements.tsx
  packages/web/app/components/eto/public-view/LegalInformationWidget.tsx
  packages/web/app/components/shared/charts/ChartDoughnutLazy.tsx
  packages/web/app/utils/storeDecorator.unsafe.tsx
  packages/web/codechecks.json
  packages/web/health-check-sha.json
  packages/web/package.json
  packages/web/webpack/webpack.config.common.js
  patches/bitcore-mnemonic+8.3.3.patch
Due: prettier --write

#3237 Nominee agreements E2E tests (#3393)
  packages/web/app/components/modals/tx-sender/nominee/sign-agreement/SignAgreementSuccess.tsx
  packages/web/app/components/modals/tx-sender/nominee/sign-agreement/SignAgreementSummary.tsx
  packages/web/app/components/nominee-dashboard/AcceptAgreement.tsx
  packages/web/app/components/nominee-dashboard/NoTasks.tsx
  packages/web/app/test-e2e/nominee-flow/NomineeAgreementsAcceptanceFlow.spec.e2e.ts
  packages/web/app/test-e2e/nominee-flow/NomineeFlowUtils.ts
Due: prettier --write

#3250 token holder rights form (#3381)
  packages/web/app/components/eto/registration/Router.tsx
  packages/web/app/components/eto/registration/Shared.module.scss
  packages/web/app/components/eto/registration/pages/AllForms.stories.tsx
  packages/web/app/components/eto/registration/pages/EtoVotingRights.tsx
  packages/web/app/components/eto/registration/pages/EtoVotingRights/AdvisoryBoard.tsx
  packages/web/app/components/eto/registration/pages/EtoVotingRights/EtoVotingRights.tsx
  packages/web/app/components/eto/registration/pages/EtoVotingRights/connectEtoVotingRightsForm.ts
  packages/web/app/components/eto/registration/pages/Nominee/Nominee.tsx
  packages/web/app/components/eto/utils.spec.ts
  packages/web/app/components/eto/utils.ts
  packages/web/app/components/shared/MaskedNumberInput.tsx
  packages/web/app/components/shared/forms/Form.ts
  packages/web/app/components/shared/forms/fields/FormFieldBoolean.tsx
  packages/web/app/components/shared/forms/fields/FormMaskedNumberInput.tsx
  packages/web/app/components/shared/forms/fields/FormStaticRadioButton.module.scss
  packages/web/app/components/shared/forms/fields/FormStaticRadioButton.stories.tsx
  packages/web/app/components/shared/forms/fields/FormStaticRadioButton.tsx
  packages/web/app/components/shared/forms/fields/FormTextArea.tsx
  packages/web/app/components/shared/forms/layouts/InputLayout.tsx
  packages/web/app/config/constants.ts
  packages/web/app/lib/api/eto/EtoApi.interfaces.unsafe.ts
  packages/web/app/modules/nominee-flow/sagas.ts
  packages/web/app/modules/tx/transactions/nominee/sign-agreement/saga.ts
  packages/web/app/test-e2e/eto-registration/2.EtoRequiredReqistrationAndSubmit.spec.e2e.io.ts
  packages/web/app/test-e2e/eto-registration/EtoLinkNomineeStep.spec.e2e.io.ts
  packages/web/app/test-e2e/eto-registration/fixtures.ts
  packages/web/app/utils/errors.ts
  packages/web/intl/locales/en-en.json
  packages/web/test/fixtures.ts
Due: prettier --write, yarn sasslint

Rename shareholder form (#3400)
  packages/web/app/components/issuer-dashboard/EtoDashboard.tsx
  packages/web/app/components/issuer-dashboard/dashboardStep/LinkNomineeStep.tsx
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write

Fixes PeopleSwiperWidget initial width calculation bug (#3402)
  packages/web/app/components/shared/charts/ChartDoughnutLazy.tsx
Due: prettier --write

Rename shareholder form (#3403)
  packages/web/app/components/issuer-dashboard/EtoDashboard.tsx
  packages/web/app/components/issuer-dashboard/dashboardStep/LinkNomineeStep.tsx
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write

Adds user logout when WalletMetadata is undefined (#3365)
  packages/web/app/modules/auth/sagas.ts
  packages/web/app/modules/init/errors.ts
  packages/web/app/modules/init/sagas.ts
  packages/web/app/test-e2e/eto-view/EtoViewForUnauthorized.spec.e2e.io.ts
  packages/web/app/test-e2e/general-app/JWTEscalationAndRefreshing.spec.e2e.io.ts
  packages/web/app/test-e2e/general-app/autoLoginLogoutActions.spec.e2e.io.ts
  packages/web/app/test-e2e/general-app/autoLoginLogoutActions.spec.e2e.skip.ts
  packages/web/app/test-e2e/landing/LandingPage.spec.e2e.io.ts
  packages/web/app/test-e2e/routing/AuthenticationRouting.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/assertions.ts
  packages/web/app/test-e2e/utils/index.ts
  packages/web/app/test-e2e/utils/navigation.ts
  packages/web/app/test-e2e/utils/userHelpers.ts
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write

Fix key individuals form empty submit (#3407)
  packages/web/app/components/eto/registration/pages/KeyIndividuals.tsx
  packages/web/app/test-e2e/1.long-e2e-tests/1.FullEtoRegistrationAndSubmit.spec.e2e.io.ts
  packages/web/app/test-e2e/1.long-e2e-tests/2.ChangeEmail.spec.e2e.io.ts
  packages/web/app/test-e2e/eto-registration/fixtures.ts
  packages/web/app/test-e2e/register/LightWalletETORegister.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/generateRandomSeedAndAddress.spec.node.ts
  packages/web/app/test-e2e/utils/generateSeedAndAddress.spec.node.ts
  packages/web/app/test-e2e/wallets/WalletRecover.spec.e2e.io.ts
Due: prettier --write

Fix key individuals form empty submit (#3407) (#3408)
  packages/web/app/components/eto/registration/pages/KeyIndividuals.tsx
  packages/web/app/test-e2e/1.long-e2e-tests/1.FullEtoRegistrationAndSubmit.spec.e2e.io.ts
  packages/web/app/test-e2e/1.long-e2e-tests/2.ChangeEmail.spec.e2e.io.ts
  packages/web/app/test-e2e/eto-registration/fixtures.ts
  packages/web/app/test-e2e/register/LightWalletETORegister.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/generateRandomSeedAndAddress.spec.node.ts
  packages/web/app/test-e2e/utils/generateSeedAndAddress.spec.node.ts
  packages/web/app/test-e2e/utils/userHelpers.ts
  packages/web/app/test-e2e/wallets/WalletRecover.spec.e2e.io.ts
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write

#3230 Fix only public route to wait for auth state (#3409)
  packages/web/app/components/App.tsx
  packages/web/app/components/shared/routing/OnlyPublicRoute.tsx
  packages/web/app/modules/auth/actions.ts
  packages/web/app/modules/auth/reducer.ts
  packages/web/app/modules/auth/sagas.ts
  packages/web/app/modules/web3/actions.ts
  packages/web/app/test-e2e/eto-registration/EtoLinkNomineeStep.spec.e2e.io.ts
  packages/web/health-check-sha.json
Due: prettier --write

#3384 #3394 ISHA upload and waiting for contracts issuer steps (#3399)
  packages/web/app/components/issuer-dashboard/EtoDashboard.stories.tsx
  packages/web/app/components/issuer-dashboard/EtoDashboard.tsx
  packages/web/app/components/issuer-dashboard/UploadISHA.tsx
  packages/web/app/components/issuer-dashboard/UploadInvestmentMemorandum.tsx
  packages/web/app/components/issuer-dashboard/UploadProspectusWidget.tsx
  packages/web/app/components/issuer-dashboard/UploadTermSheetWidget.tsx
  packages/web/app/components/issuer-dashboard/dashboardStep/DashboardStep.tsx
  packages/web/app/components/issuer-dashboard/signInvestmentAgreementWidget/UploadInvestmentAgreementWidget.stories.tsx
  packages/web/app/components/issuer-dashboard/signInvestmentAgreementWidget/UploadInvestmentAgreementWidget.tsx
  packages/web/app/components/issuer-dashboard/utils.spec.ts
  packages/web/app/components/issuer-dashboard/utils.ts
  packages/web/app/components/shared/dashboard-link-widget/DashboardLinkWidget.module.scss
  packages/web/app/components/shared/dashboard-link-widget/DashboardLinkWidget.stories.tsx
  packages/web/app/components/shared/dashboard-link-widget/DashboardLinkWidget.tsx
  packages/web/app/modules/eto-flow/selectors.ts
  packages/web/app/test-e2e/eto-registration/2.EtoRequiredReqistrationAndSubmit.spec.e2e.io.ts
  packages/web/app/test-e2e/eto-registration/EtoRegistrationUtils.ts
  packages/web/app/test-e2e/eto-registration/EtoUploadOfferingAndISHADocumentsSteps.spec.e2e.ts
  packages/web/app/test-e2e/utils/forms.ts
  packages/web/cypress/fixtures/example2.pdf
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

#3411 eto header fix (#3419)
  packages/web/app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.module.scss
  packages/web/app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/TokenSymbolWidget.module.scss
  packages/web/app/components/eto/overview/EtoOverviewStatus/TokenSymbolWidget.tsx
  packages/web/app/components/eto/public-view/CompanyDescription.tsx
  packages/web/app/components/eto/public-view/Cover.module.scss
  packages/web/app/components/eto/public-view/Cover.tsx
  packages/web/app/components/eto/public-view/CoverBanner.module.scss
  packages/web/app/components/eto/shared/EtoView.tsx
  packages/web/app/components/shared/ResponsiveImage.tsx
  packages/web/app/styles/variables/spacings.scss
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

Issuer flow text changes (#3425)
  packages/web/app/components/issuer-dashboard/submitProposalWidget/SubmitProposalWidget.tsx
  packages/web/intl/locales/en-en.json
Due: prettier --write

[All devs approval required] Cache redux selector to prevent rerendering (#3392)
  packages/web/app/components/App.tsx
  packages/web/app/components/modals/download-token-agreements-modal/DownloadTokenAgreementModal.tsx
  packages/web/app/components/modals/tx-sender/user-claim/Summary.stories.tsx
  packages/web/app/components/modals/tx-sender/user-claim/Summary.tsx
  packages/web/app/components/shared/forms/fields/FormSingleFileUpload.unsafe.tsx
  packages/web/app/components/shared/forms/layouts/RichTextAreaLayout.tsx
  packages/web/app/components/shared/notification-widget/NotificationWidget.tsx
  packages/web/app/modules/eto-flow/selectors.ts
  packages/web/app/modules/eto/selectors.ts
  packages/web/app/modules/immutable-file/selectors.ts
  packages/web/app/modules/notifications/reducer.ts
  packages/web/app/modules/notifications/selectors.ts
  packages/web/package.json
  yarn.lock
Due: prettier --write

Hotfix - at/#3411 eto header fix (#3429)
  packages/web/app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.module.scss
  packages/web/app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/TokenSymbolWidget.module.scss
  packages/web/app/components/eto/overview/EtoOverviewStatus/TokenSymbolWidget.tsx
  packages/web/app/components/eto/public-view/CompanyDescription.tsx
  packages/web/app/components/eto/public-view/Cover.module.scss
  packages/web/app/components/eto/public-view/Cover.tsx
  packages/web/app/components/eto/public-view/CoverBanner.module.scss
  packages/web/app/components/eto/shared/EtoView.tsx
  packages/web/app/components/shared/ResponsiveImage.tsx
  packages/web/app/styles/variables/spacings.scss
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

#2425 Add custom X-NF-Authorization header to AuthHttpClient (#3431)
  packages/web/app/lib/api/client/AuthHttpClient.ts
Due: prettier --write

#3385 hide public sale discount field (#3426)
  packages/web/app/components/eto/registration/pages/InvestmentTerms.tsx
  packages/web/app/test-e2e/eto-registration/fixtures.ts
Due: prettier --write

#3411 eto header fix (#3434)
  packages/web/app/components/eto/public-view/Cover.module.scss
Due: yarn sasslint

[Production hotfix] - 3411 eto header (#3435)
  packages/web/app/components/eto/public-view/Cover.module.scss
Due: yarn sasslint

#3245 storybook tests for #3205 (#3430)
  packages/web/app/components/nominee-dashboard/NomineeDashboard.tsx
  packages/web/app/components/nominee-dashboard/NomineeDashboardTitle.tsx
  packages/web/app/components/nominee-dashboard/accountSetup/AccountSetup.tsx
  packages/web/app/components/nominee-dashboard/accountSetup/AccountSetupKycPending.stories.tsx
  packages/web/app/components/nominee-dashboard/accountSetup/AccountSetupKycPending.tsx
  packages/web/app/components/settings/backup-seed/AccountSetupBackupSeedComponent.stories.tsx
  packages/web/app/components/settings/verify-email/AccountSetupVerifyEmailComponent.stories.tsx
Due: prettier --write

User inactivity logout (#3414)
  packages/web/app/components/App.tsx
  packages/web/app/components/layouts/header/Header.tsx
  packages/web/app/components/shared/routing/OnlyAuthorizedRoute.tsx
  packages/web/app/components/wallet-selector/WalletSelector.tsx
  packages/web/app/components/wallet-selector/wallet-recover/help/LoginHelp.tsx
  packages/web/app/components/wallet-selector/walletRoutes.tsx
  packages/web/app/config/getConfig.ts
  packages/web/app/di/setupBindings.ts
  packages/web/app/di/symbols.ts
  packages/web/app/lib/dependencies/broadcast-channel/BroadcastChannel.mock.ts
  packages/web/app/lib/dependencies/broadcast-channel/broadcastChannel.ts
  packages/web/app/lib/dependencies/broadcast-channel/types.ts
  packages/web/app/modules/auth/actions.ts
  packages/web/app/modules/auth/constants.ts
  packages/web/app/modules/auth/email/actions.ts
  packages/web/app/modules/auth/email/sagas.ts
  packages/web/app/modules/auth/jwt/actions.ts
  packages/web/app/modules/auth/jwt/sagas.ts
  packages/web/app/modules/auth/sagas.ts
  packages/web/app/modules/auth/types.ts
  packages/web/app/modules/auth/user/actions.ts
  packages/web/app/modules/auth/user/external/sagas.ts
  packages/web/app/modules/auth/user/sagas.ts
  packages/web/app/modules/auth/watcher/sagas.ts
  packages/web/app/modules/init/sagas.ts
  packages/web/app/modules/profile/sagas.ts
  packages/web/app/modules/wallet-selector/light-wizard/sagas.ts
  packages/web/app/test-e2e/general-app/autoLoginLogoutActions.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/assertions.ts
  packages/web/package.json
  packages/web/test/integrationTestUtils.unsafe.tsx
  yarn.lock
Due: prettier --write

Adds error cases to getEto (#3441)
  packages/web/app/test-e2e/utils/userHelpers.ts
Due: prettier --write

Path conditions:
  yarn tsc: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix --config ./tslint.spec.json: any of: app/**/*.spec.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,js,json,md,gql}
  yarn sasslint: any of: **/*.{sass,scss,css}
