Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

disable texts in slider
  app/components/shared/SlidePerson.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

E2E fixes ETOViewForInvestor(#3046) (#3047)
  app/components/dashboard/Dashboard.tsx
  app/components/eto/public-view/EtoInvestmentTermsWidget.tsx
  app/components/layouts/LayoutAuthorized.tsx
  app/components/modals/tx-sender/investment-flow/Investment.tsx
  app/components/modals/tx-sender/investor-payout/AcceptSummary.tsx
  app/components/modals/tx-sender/investor-payout/AcceptTransactionDetails.tsx
  app/components/modals/tx-sender/redeem/BankTransferRedeemInit.tsx
  app/components/portfolio/AssetPortfolio.tsx
  app/components/shared/Money.unsafe.tsx
  app/components/shared/formatters/FormatShortNumber.tsx
  app/components/shared/formatters/Money.tsx
  app/components/shared/formatters/MoneyRange.tsx
  app/components/shared/formatters/utils.ts
  app/components/shared/icons/CurrencyIcon.tsx
  app/config/constants.ts
  app/test-e2e/1.long-e2e-tests/2.ChangeEmail.spec.e2e.io.ts
  app/test-e2e/bank-transfer/Purchase.spec.e2e.ts
  app/test-e2e/bank-transfer/assertions.ts
  app/test-e2e/eto-view/EtoViewForInvestor.spec.e2e.io.ts
  app/test-e2e/portfolio/BlockedPayout.spec.e2e.ts
  app/test-e2e/utils/index.ts
  app/test-e2e/utils/userHelpers.ts
  app/test-e2e/wallets/WalletMigrate.spec.e2e.ts
  app/test-e2e/wallets/WalletRecover.spec.e2e.io.ts
  app/test-e2e/wallets/WalletUpgrade.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2993 Critical issuer documents page fix (#3034)
  app/components/eto/EtoDashboard.tsx
  app/components/eto/EtoIssuerView.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/eto/overview/EtoOverviewThumbnail/EtoOverviewThumbnail.stories.tsx
  app/components/eto/overview/EtoOverviewThumbnail/EtoOverviewThumbnail.tsx
  app/components/eto/overview/EtoOverviewThumbnail/EtoStatusManager.tsx
  app/components/eto/overview/EtoOverviewThumbnail/Whitelist/Whitelist.tsx
  app/components/eto/shared/ETOState.tsx
  app/components/eto/shared/EtoView.tsx
  app/components/portfolio/PortfolioPastInvestments.tsx
  app/components/portfolio/PortfolioReservedAssets.tsx
  app/components/translatedMessages/messages.tsx
  app/config/constants.ts
  app/lib/api/eto/EtoApi.ts
  app/modules/eto-flow/actions.ts
  app/modules/eto-flow/reducer.ts
  app/modules/eto-flow/sagas.ts
  app/modules/eto-flow/selectors.ts
  app/modules/eto-flow/types.ts
  app/modules/eto/reducer.ts
  app/modules/eto/sagas.ts
  app/modules/eto/selectors.ts
  app/modules/eto/types.ts
  app/modules/eto/utils.ts
  app/test-e2e/1.long-e2e-tests/1.FullEtoRegistrationAndSubmit.spec.e2e.io.ts
  app/test-e2e/bank-transfer/BankVerification.spec.e2e.ts
  app/test-e2e/bank-transfer/Purchase.spec.e2e.ts
  app/test-e2e/eto-registration/2.EtoRequiredReqistrationAndSubmit.spec.e2e.io.ts
  app/test-e2e/eto-registration/EtoCompanyInformationFieldValidation.spec.e2e.io.ts
  app/test-e2e/eto-registration/EtoPreviewRegistrationAndSubmit.spec.e2e.io.ts
  app/test-e2e/eto-view/EtoViewForIssuer.spec.e2e.io.ts
  app/test-e2e/eto-view/EtoViewForUnapprovedInvestor.spec.e2e.io.ts
  app/test-e2e/utils/navigation.ts
  app/test-e2e/wallets/WalletRecover.spec.e2e.io.ts
  cypress/support/commands.js
  intl/locales/en-en.json
  test/fixtures.ts
  test/fixtures/mockedStore.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

makes tests more robust (#3050)
  app/modules/eto-flow/sagas.ts
  package.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

makes tests more robust (#3050) (#3053)
  app/test-e2e/1.long-e2e-tests/2.ChangeEmail.spec.e2e.io.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fixes IOS12 login issue(#3056)
  package.json
  yarn.lock
Due: prettier --write

#2976 Add coming soon thumbnail (#3030)
  app/assets/img/etos-comings-soon/coming-soon.png
  app/components/dashboard/eto-list/EtoList.tsx
  app/components/eto/overview/EtoOverviewStatus/EtosComingSoonThumbnail.module.scss
  app/components/eto/overview/EtoOverviewStatus/EtosComingSoonThumbnail.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/EtosComingSoonThumbnail.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

adds backend fixtures (#2836)
  e2e/run_backend.sh
  e2e/setup-e2e.sh
Due: none

#2877 money formatters investment modal (#3058)
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.stories.tsx
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.tsx
  app/components/eto/dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.stories.tsx
  app/components/eto/dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.tsx
  app/components/modals/tx-sender/investment-flow/Investment.tsx
  app/components/modals/tx-sender/investment-flow/InvestmentTypeSelector.tsx
  app/components/modals/tx-sender/investment-flow/utils.tsx
  app/components/shared/DatePicker.tsx
  app/components/shared/TimeLeft.unsafe.tsx
  app/components/shared/forms/index.tsx
  app/modules/eto-flow/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

upper cases jurisdiction from backend (#3020)
  app/components/eto/overview/EtoOverviewThumbnail/Cover.tsx
  app/lib/api/eto/EtoApi.ts
  app/modules/eto/sagas.ts
  app/modules/eto/utils.spec.ts
  app/modules/eto/utils.ts
  app/test-e2e/investor-dashboard/LightWalletInvestorDashboard.spec.e2e.io.ts
  test/fixtures.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#3024 fix set eto start date widget (#3048)
  .circleci/config.yml
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.tsx
  app/components/eto/dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.stories.tsx
  app/components/eto/dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.tsx
  app/config/constants.ts
  app/modules/eto-flow/actions.ts
  app/modules/eto-flow/reducer.ts
  app/modules/eto-flow/sagas.ts
  app/modules/eto-flow/selectors.ts
  app/modules/eto-flow/types.ts
  app/modules/tx/transactions/sagas.ts
  app/test-e2e/eto-registration/SetEtoStartDate.spec.e2e.io.ts
  app/test-e2e/issuer-dashboard/LightWalletETODashboard.spec.e2e.io.ts
  app/utils/Date.utils.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2921 Add color generator to shareholders chart (#3029)
  app/components/eto/public-view/LegalInformationWidget.stories.tsx
  app/components/eto/public-view/LegalInformationWidget.tsx
  app/components/shared/charts/utils.ts
  app/lib/api/eto/EtoApi.interfaces.unsafe.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Changes eto test widget to use preview code (#3063)
  app/components/AppRouter.tsx
  app/components/testing/e2eRoutes.ts
  app/components/testing/embeded-widget/TestEmbededWidget.tsx
  app/test-e2e/bank-transfer/RedeemNEUR.spec.e2e.io.ts
  app/test-e2e/bank-transfer/RedeemNEUR.spec.e2e.ts
  app/test-e2e/eto/EtoWidget.spec.e2e.io.ts
  app/test-e2e/utils/forms.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

sets mime type of tos to pdf (#3071)
  app/modules/terms-of-service-modal/sagas.ts
  app/test-e2e/bank-transfer/RedeemNEUR.spec.e2e.ts
  app/test-e2e/eto-view/EtoViewForInvestor.spec.e2e.io.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

E2E type checking (#3070)
  app/test-e2e/1.long-e2e-tests/1.FullEtoRegistrationAndSubmit.spec.e2e.io.ts
  app/test-e2e/1.long-e2e-tests/2.ChangeEmail.spec.e2e.io.ts
  app/test-e2e/bank-transfer/RedeemNEUR.spec.e2e.io.ts
  app/test-e2e/eto-view/EtoViewForInvestor.spec.e2e.io.ts
  app/test-e2e/eto-view/EtoViewForUnauthorized.spec.e2e.io.ts
  app/test-e2e/eto-view/EtoViewUtils.ts
  app/test-e2e/register/LightWalletETORegister.spec.e2e.io.ts
  app/test-e2e/settings/VerifyEmailWidget.spec.e2e.io.ts
  app/test-e2e/utils/index.ts
  app/test-e2e/utils/userHelpers.ts
  app/test-e2e/wallets/WalletRecover.spec.e2e.io.ts
  tsconfig.e2e.json
  typings/cypress.d.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2877 money formatters in wallet (#3065)
  app/components/modals/icbm-wallet-balance-modal/BalanceModal.tsx
  app/components/modals/icbm-wallet-balance-modal/IcbmWalletBalanceModal.stories.tsx
  app/components/shared/formatters/Money.stories.tsx
  app/components/shared/formatters/Money.tsx
  app/components/wallet-selector/ledger/WalletLedgerChooserComponent.stories.tsx
  app/components/wallet-selector/ledger/WalletLedgerChooserTableAdvanced.tsx
  app/components/wallet-selector/ledger/WalletLedgerChooserTableSimple.tsx
  app/components/wallet/TotalEuro.module.scss
  app/components/wallet/TotalEuro.tsx
  app/components/wallet/transaction-list/TransactionList.unsafe.tsx
  app/components/wallet/wallet-balance/WalletBalance.tsx
  app/test-e2e/wallets/WalletMigrate.spec.e2e.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#3075 Fix bad formatting of investment cards (#3077)
  app/components/dashboard/eto-list/EtoList.tsx
  app/components/eto/overview/EtoOverviewStatus/CounterWidget.module.scss
  app/components/eto/overview/EtoOverviewThumbnail/Cover.tsx
  app/components/eto/overview/EtoOverviewThumbnail/EtoCardPanel.module.scss
  app/components/eto/overview/EtoOverviewThumbnail/EtoCardPanel.tsx
  app/components/eto/overview/EtoOverviewThumbnail/EtoOverviewThumbnail.tsx
  app/components/eto/overview/EtoOverviewThumbnail/EtosComingSoonThumbnail.module.scss
  app/components/eto/overview/EtoOverviewThumbnail/EtosComingSoonThumbnail.stories.tsx
  app/components/eto/overview/EtoOverviewThumbnail/EtosComingSoonThumbnail.tsx
  app/components/eto/public-view/Cover.module.scss
  app/components/eto/public-view/Cover.tsx
  app/components/landing/EtoOfferingCard.tsx
  app/components/shared/ResponsiveImage.module.scss
  app/components/shared/ResponsiveImage.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Dispatch correct action on product change (#3072)
  app/modules/eto-flow/reducer.ts
  app/modules/eto-flow/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#3078 - set eto date calender widget bug fix(#3079)
  app/components/shared/DatePicker.tsx
  app/components/shared/forms/fields/FormFieldDatePicker.stories.tsx
  app/components/shared/forms/fields/FormFieldDatePicker.unsafe.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Enables Skipped tests (#3068)
  .circleci/config.yml
  app/test-e2e/eto/Campaigning.spec.e2e.ts
  app/test-e2e/portfolio/Portfolio.spec.e2e.io.ts
  app/test-e2e/settings/BackupSeed.spec.e2e.io.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Revert "sets mime type of tos to pdf (#3071)" (#3082)
  app/modules/terms-of-service-modal/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Disable strict mode (#3085)
  app/components/App.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Adds retry to nRedeem (#3088)
  app/test-e2e/bank-transfer/RedeemNEUR.spec.e2e.io.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

upperCases All jurisdictions
  app/components/eto/shared/routing/withJurisdictionRoute.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Merge pull request #3089 from Neufund/moe/hotFix-jurisdiction
  app/components/eto/shared/routing/withJurisdictionRoute.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix eto terms tests (#3095)
  app/components/eto/registration/pages/EtoTerms.tsx
  app/test-e2e/1.long-e2e-tests/1.FullEtoRegistrationAndSubmit.spec.e2e.io.ts
  app/test-e2e/eto-registration/EtoTerms.spec.e2e.ts
  app/test-e2e/eto-registration/fixtures.ts
  app/test-e2e/utils/forms.ts
  app/test-e2e/utils/selectors.ts
  app/test-e2e/utils/userHelpers.ts
  e2e/run_backend.sh
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2980 - Rearrange ETO Dashboard (#2998)
  app/components/eto/EtoDashboard.module.scss
  app/components/eto/EtoDashboard.stories.tsx
  app/components/eto/EtoDashboard.tsx
  app/components/eto/shared/ETOState.module.scss
  app/components/eto/shared/ETOState.tsx
  app/components/eto/utils.spec.ts
  app/components/eto/utils.ts
  app/components/shared/Heading.module.scss
  app/components/shared/Heading.tsx
  app/test-e2e/eto-registration/EtoRegistrationUtils.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

Fix EtoFileApi typings (#3080)
  app/components/documents/Documents.tsx
  app/lib/api/eto/EtoFileApi.ts
  app/modules/eto-documents/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Add easy way to connect to VM backend (#3097)
  app/config/.env.common
  package.json
  webpack/proxy-urls.js
  webpack/webpack.config.dev.js
Due: prettier --write

#2877 money formatters in tx-sender (#3060)
  app/components/modals/tx-sender/investor-payout/AcceptTransactionDetails.tsx
  app/components/modals/tx-sender/investor-payout/RedistributeTransactionDetails.tsx
  app/components/modals/tx-sender/redeem/BankTransferRedeemDetails.tsx
  app/components/modals/tx-sender/unlock-wallet-flow/UnlockWalletTransactionDetails.tsx
  app/components/modals/tx-sender/upgrade-flow/UpgradeTransactionDetails.unsafe.tsx
  app/components/modals/tx-sender/user-claim/ClaimTransactionDetails.tsx
  app/components/modals/tx-sender/withdraw-flow/WithdrawTransactionDetails.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Remove unused `get-params` dependency (#3099)
  package.json
  yarn.lock
Due: prettier --write

Fix flaky change email test (#3098)
  app/components/layouts/LayoutAuthorized.tsx
  app/components/layouts/LayoutAuthorizedMenu.spec.tsx
  app/components/layouts/LayoutAuthorizedMenu.stories.tsx
  app/components/layouts/LayoutAuthorizedMenu.tsx
  app/components/modals/accept-tos-modal/AcceptTosModal.tsx
  app/test-e2e/1.long-e2e-tests/2.ChangeEmail.spec.e2e.io.ts
  app/test-e2e/link-triggered-flows/WalletVerify.spec.e2e.io.ts
  app/test-e2e/register/LightWalletETOLogin.spec.e2e.io.ts
  app/test-e2e/routing/RegisterRedirectIfNoVerifiedEmail.spec.e2e.io.ts
  app/test-e2e/settings/BackupSeed.spec.e2e.io.ts
  app/test-e2e/settings/LightWalletRegister.spec.e2e.io.ts
  app/test-e2e/settings/VerifyEmailWidget.spec.e2e.io.ts
  app/test-e2e/utils/index.ts
  app/test-e2e/wallets/WalletRecover.spec.e2e.io.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#2320 move formatted message out of interfaces (#3083)
  app/components/shared/formatters/FormatShortNumber.spec.tsx
  app/components/shared/formatters/FormatShortNumber.tsx
  app/components/shared/formatters/Money.spec.tsx
  app/components/shared/formatters/Money.tsx
  app/components/shared/formatters/MoneyRange.tsx
  app/components/shared/formatters/utils.ts
  app/components/translatedMessages/messages.tsx
  app/lib/api/eto/EtoApi.interfaces.unsafe.ts
  app/lib/api/eto/EtoPledgeApi.interfaces.unsafe.ts
  app/lib/api/eto/EtoPledgeApi.interfaces.unsafe.tsx
  app/lib/api/util/schemaHelpers.unsafe.ts
  app/test-e2e/utils/index.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

number of investors fix (#3090)
  app/components/eto/overview/EtoOverviewStatus/EtoMaxCapExceeded.tsx
  app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentWidget.tsx
  app/components/eto/overview/EtoOverviewThumbnail/InvestmentStatus/InvestmentStatus.spec.tsx
  app/components/eto/overview/EtoOverviewThumbnail/InvestmentStatus/InvestmentStatus.tsx
  app/components/shared/formatters/utils.spec.ts
  app/test-e2e/investor-dashboard/LightWalletInvestorDashboard.spec.e2e.io.ts
  app/types.d.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Adds automatic Backend Contract SHA generation (#3066)
  .circleci/config.yml
  .prettierignore
  README.md
  app/test-e2e/bank-transfer/RedeemNEUR.spec.e2e.io.ts
  app/test-e2e/eto/InvestWithNEur.spec.e2e.ts
  e2e/run-backend.js
  e2e/run_backend.sh
  e2e/setup-e2e.sh
  health-check-sha.json
  package.json
  patches/bitcore-mnemonic+8.3.3.patch
  scripts/getShasFromHealthCheck.js
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2877 money formatters in bank flow (#3069)
  app/components/eto/overview/EtoOverviewThumbnail/EtoOverviewThumbnail.stories.tsx
  app/components/modals/bank-transfer-flow/purchase/BankTransferPurchaseSummary.tsx
  app/components/modals/bank-transfer-flow/verify/BankTransferVerifyAgreement.tsx
  app/components/modals/bank-transfer-flow/verify/BankTransferVerifySummary.tsx
  app/components/modals/tx-sender/redeem/BankTransferRedeemInit.tsx
  app/components/modals/tx-sender/user-claim/Summary.stories.tsx
  app/components/portfolio/AssetPortfolio.tsx
  app/components/portfolio/PortfolioMyAssets.tsx
  app/components/portfolio/PortfolioPastInvestments.stories.tsx
  app/components/portfolio/PortfolioPastInvestments.tsx
  app/components/portfolio/PortfolioReservedAssets.tsx
  app/components/shared/InvestmentPreview.tsx
  app/modules/investor-portfolio/selectors.ts
  app/modules/investor-portfolio/types.ts
  app/modules/investor-portfolio/utils.ts
  app/test-e2e/bank-transfer/BankVerification.spec.e2e.ts
  app/test-e2e/bank-transfer/Purchase.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Splits FullEtoRegistration into smaller tests for memory optimization (#3112)
  .circleci/config.yml
  app/test-e2e/1.long-e2e-tests/1.FullEtoRegistrationAndSubmit.spec.e2e.io.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Path conditions:
  yarn tsc: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix --config ./tslint.spec.json: any of: app/**/*.spec.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,js,json,md,gql}
  yarn sasslint: any of: **/*.{sass,scss,css}
