Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

.lintstagedrc:

{
  "app/**/*.{ts,tsx,js}": ["yarn tsc", "tslint --project . --format stylish --fix", "git add"],
  "app/**/*.spec.{ts,tsx}": ["tslint --project . --format stylish --fix --config ./tslint.spec.json", "git add"],
  "**/*.{ts,tsx,js,json,md,gql}": ["prettier --write", "git add"],
  "**/*.{sass,scss,css}": ["yarn sasslint"]
}

#4379 access wallet tests (#4395)
  packages/sagas/package.json
  packages/sagas/setupTests.ts
  packages/sagas/src/index.ts
  packages/sagas/src/sagaTestUtils.spec.ts
  packages/sagas/src/sagaTestUtils.ts
  packages/web/app/modules/access-wallet/actions.spec.ts
  packages/web/app/modules/access-wallet/errors.spec.ts
  packages/web/app/modules/access-wallet/reducer.ts
  packages/web/app/modules/access-wallet/sagas.spec.ts
  packages/web/app/modules/access-wallet/sagas.ts
  packages/web/app/modules/access-wallet/selectors.spec.ts
Due: prettier --write

Use proposal token company legal representative to get company id (#4408)
  packages/web/app/modules/shareholder-resolutions-voting/sagas.ts
  packages/web/app/modules/shareholder-resolutions-voting/selectors.ts
  packages/web/app/modules/shareholder-resolutions-voting/types.ts
  packages/web/app/modules/shareholder-resolutions-voting/utils.spec.ts
  packages/web/app/modules/shareholder-resolutions-voting/utils.ts
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write

Galactic Production RC 3 (#4409)
  packages/sagas/package.json
  packages/sagas/setupTests.ts
  packages/sagas/src/index.ts
  packages/sagas/src/sagaTestUtils.spec.ts
  packages/sagas/src/sagaTestUtils.ts
  packages/web/app/modules/access-wallet/actions.spec.ts
  packages/web/app/modules/access-wallet/errors.spec.ts
  packages/web/app/modules/access-wallet/reducer.ts
  packages/web/app/modules/access-wallet/sagas.spec.ts
  packages/web/app/modules/access-wallet/sagas.ts
  packages/web/app/modules/access-wallet/selectors.spec.ts
  packages/web/app/modules/shareholder-resolutions-voting/sagas.ts
  packages/web/app/modules/shareholder-resolutions-voting/selectors.ts
  packages/web/app/modules/shareholder-resolutions-voting/types.ts
  packages/web/app/modules/shareholder-resolutions-voting/utils.spec.ts
  packages/web/app/modules/shareholder-resolutions-voting/utils.ts
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write

Adds Investment Module tests (#4401)
  packages/shared-modules/src/modules/gas/module.ts
  packages/shared-modules/src/modules/token-price/module.ts
  packages/shared-modules/src/modules/wallet/module.ts
  packages/web/app/modules/investment-flow/sagas.spec.ts
  packages/web/app/modules/investment-flow/sagas.ts
Due: prettier --write

Add proper margin for logout inactivity message (#4403)
  packages/web/app/components/layouts/Layout.module.scss
  packages/web/app/components/layouts/Layout.tsx
  packages/web/app/components/shared/WarningAlert.module.scss
  packages/web/app/components/shared/WarningAlert.stories.tsx
  packages/web/app/components/shared/WarningAlert.tsx
  packages/web/app/components/wallet-selector/shared/RegisterWalletSelector.module.scss
  packages/web/app/components/wallet-selector/shared/ledger-wallet/WalletLedgerChooser/WalletLedgerChooserError.tsx
Due: prettier --write, yarn sasslint

Fix e2e tests (#4420)
  packages/web/app/test-e2e/utils/index.ts
  packages/web/health-check-sha.json
Due: prettier --write

presists full workspace
  .circleci/config.yml
Due: none

adds nvm command
  .circleci/config.yml
Due: none

moves new jobs to virtual machines
  .circleci/config.yml
Due: none

At/#4387 signer modal fix (#4415)
  packages/design-system/src/styles/variables/colors.scss
  packages/web/app/assets/img/wallet_selector/gnosis.svg
  packages/web/app/assets/img/wallet_selector/opera.svg
  packages/web/app/assets/img/wallet_selector/wallet_connect_logo.svg
  packages/web/app/components/modals/tx-sender/TxSender/TxSenderBody.tsx
  packages/web/app/components/modals/wallet-access/AccessLightWalletPrompt.tsx
  packages/web/app/components/modals/wallet-access/AccessWallet.tsx
  packages/web/app/components/modals/wallet-access/AccessWalletLayoutBase.tsx
  packages/web/app/components/modals/wallet-access/AccessWalletModal.module.scss
  packages/web/app/components/modals/wallet-access/AccessWalletModal.stories.tsx
  packages/web/app/components/modals/wallet-access/AccessWalletModal.tsx
  packages/web/app/components/shared/WarningAlert.module.scss
  packages/web/app/components/shared/WarningAlert.stories.tsx
  packages/web/app/lib/web3/wallet-connect/WalletConnectConnector.ts
  packages/web/app/modules/access-wallet/sagas.spec.ts
  packages/web/app/modules/access-wallet/sagas.ts
  packages/web/app/utils/react-connected-components/storybookHelpers.unsafe.tsx
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

Fix broken #p3 e2e tests (#4425)
  packages/web/app/modules/kyc/actions.ts
  packages/web/app/modules/kyc/sagas.ts
  packages/web/app/modules/wallet/sagas.ts
  packages/web/app/test-e2e/other/login/BrowserWalletLogin.spec.e2e.io.ts
Due: prettier --write

Fix memory leaks in unit tests (#4431)
  packages/eslint-config/base.js
  packages/wallet/app/__mocks__/react-native-config.ts
  packages/wallet/app/components/shared/modal-header/ModalStackHeaderLevel1.stories.tsx
  packages/wallet/app/components/shared/modal-header/ModalStackHeaderLevel2.stories.tsx
  packages/wallet/app/hooks/usePrevious.spec.tsx
  packages/wallet/app/modules/device-information/DeviceInformation.spec.ts
  packages/wallet/app/modules/device-information/DeviceInformation.ts
  packages/wallet/app/modules/eth/lib/EthAdapter.ts
  packages/wallet/app/modules/eth/lib/EthManager.ts
  packages/wallet/app/modules/eth/lib/EthSecureEnclave.spec.ts
  packages/wallet/app/modules/eth/lib/SecureStorage.spec.ts
  packages/wallet/app/modules/eth/lib/SecureStorage.ts
  packages/wallet/app/modules/eth/lib/utils.spec.ts
  packages/wallet/app/modules/eth/lib/utils.ts
  packages/wallet/app/modules/wallet-connect/lib/WalletConnectAdapter.ts
  packages/wallet/app/utils/memoryCache.spec.ts
Due: prettier --write

Update jest (#4434)
  .circleci/config.yml
  packages/wallet/package.json
  yarn.lock
Due: prettier --write

removes clearEmailServer from e2e tests (#4429)
  packages/shared-modules/src/modules/auth/user/sagas.spec.ts
  packages/shared-modules/src/tests/wrapperFetch.ts
  packages/web/app/test-e2e/investor/bank/BankVerification.spec.e2e.ts
  packages/web/app/test-e2e/investor/bank/purchase/Purchase.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/wallet/withdraw/Withdraw.spec.e2e.io.ts
  packages/web/app/test-e2e/issuer/eto/EtoRegistrationUtils.ts
  packages/web/app/test-e2e/utils/index.ts
  packages/web/app/test-e2e/utils/userHelpers.ts
Due: prettier --write

updates sha
  packages/web/health-check-sha.json
Due: prettier --write

updates node version
  .circleci/config.yml
  .nvmrc
Due: none

restores yarn cache only
  .circleci/config.yml
Due: none

#4410 walletConnect landing page redesign (#4424)
  packages/web/app/assets/img/inline_icons/alert.svg
  packages/web/app/assets/img/inline_icons/warning-circle--solid.svg
  packages/web/app/assets/img/inline_icons/wc_logo.svg
  packages/web/app/components/shared/WarningAlert.module.scss
  packages/web/app/components/shared/WarningAlert.tsx
  packages/web/app/components/wallet-selector/wallet-connect/WalletConnect.module.scss
  packages/web/app/components/wallet-selector/wallet-connect/WalletConnect.stories.tsx
  packages/web/app/components/wallet-selector/wallet-connect/WalletConnect.tsx
  packages/web/app/config/externalRoutes.ts
  packages/web/app/modules/routing/routes.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

removes production CRON job (#4441)
  .circleci/config.yml
Due: none

Add e2e tests for voting flow (#4428)
  packages/web/app/components/appRouteUtils.ts
  packages/web/app/components/governance/proposal/ProposalDetails.tsx
  packages/web/app/components/governance/proposal/ProposalInvestor.tsx
  packages/web/app/components/governance/proposal/ProposalIssuer.tsx
  packages/web/app/components/governance/proposal/ProposalShareholderVoteWidget.tsx
  packages/web/app/components/governance/proposal/voting-details/PoposalVotingBasicDetails.tsx
  packages/web/app/components/modals/tx-sender/shareholder-resolution-vote-flow/ShareholderResolutionVoteSummary.tsx
  packages/web/app/modules/shareholder-resolutions-voting-view/sagas.ts
  packages/web/app/test-e2e/investor/governance/Proposal.spec.e2e.ts
  packages/web/app/test-e2e/investor/governance/utils.ts
  packages/web/app/test-e2e/investor/invest/Invest.spec.e2e.io.ts
  packages/web/app/test-e2e/investor/onboarding/Onboarding.spec.e2e.io.ts
  packages/web/app/test-e2e/issuer/eto/view/ViewForLIInvestor.spec.e2e.io.ts
  packages/web/app/test-e2e/issuer/eto/view/ViewForUnapprovedInvestor.spec.e2e.io.ts
  packages/web/app/test-e2e/issuer/governance/Proposal.spec.e2e.ts
  packages/web/app/test-e2e/issuer/governance/utils.ts
  packages/web/app/test-e2e/other/email/verification/VerifyEmailWidget.spec.e2e.io.ts
  packages/web/app/test-e2e/other/login/BrowserWalletLogin.spec.e2e.io.ts
  packages/web/app/test-e2e/other/login/lightwallet/InvestorLogin.spec.e2e.io.ts
  packages/web/app/test-e2e/other/logout/JWT.spec.e2e.io.ts
  packages/web/app/test-e2e/other/logout/LogoutActions.spec.e2e.io.ts
  packages/web/app/test-e2e/other/recovery/WalletRecovery.spec.e2e.io.ts
  packages/web/app/test-e2e/other/routing/OtherRouting.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/assertions.ts
  packages/web/app/test-e2e/utils/index.ts
  packages/web/app/test-e2e/utils/navigation.ts
  packages/web/app/test-e2e/vis-reg/Investor.spec.e2e.visreg.ts
  packages/web/app/test-e2e/vis-reg/Issuer.spec.e2e.visreg.ts
Due: prettier --write

App center integration (#4435)
  packages/eslint-config/react-native.js
  packages/wallet/.env.example
  packages/wallet/.gitignore
  packages/wallet/android/app/build.gradle
  packages/wallet/app/index.tsx
  packages/wallet/appcenter-post-clone.sh
  packages/wallet/index.js
  packages/wallet/ios/Config.xcconfig
  packages/wallet/ios/Podfile.lock
  packages/wallet/ios/wallet.xcodeproj/project.pbxproj
  packages/wallet/ios/wallet.xcodeproj/xcshareddata/xcschemes/wallet.xcscheme
  packages/wallet/metro.config.js
  packages/wallet/package.json
  packages/wallet/patches/@react-native-community+cli-platform-android+3.0.3.patch
  packages/wallet/patches/README.md
  packages/wallet/scripts/appcenter-monorepo-patch.sh
  packages/wallet/scripts/generate-env.sh
  yarn.lock
Due: prettier --write

Fixes out of gas when node is Geth (#4443)
  packages/web/app/modules/tx/sender/sagas.ts
  packages/web/health-check-sha.json
Due: prettier --write

#4427 fix signer modal (#4436)
  packages/web/app/components/modals/tx-sender/TxSender/TxSender.stories.tsx
  packages/web/app/components/modals/tx-sender/TxSender/TxSenderBody.tsx
  packages/web/app/components/modals/tx-sender/investment-flow/Investment.tsx
  packages/web/app/components/modals/wallet-access/AccessWallet.tsx
  packages/web/app/components/modals/wallet-access/AccessWalletLayoutBase.tsx
  packages/web/app/components/modals/wallet-access/AccessWalletModal.module.scss
  packages/web/app/components/modals/wallet-access/AccessWalletModal.tsx
  packages/web/app/components/shared/hooks/useLogger.ts
  packages/web/app/modules/access-wallet/actions.spec.ts
  packages/web/app/modules/access-wallet/reducer.ts
  packages/web/app/modules/access-wallet/sagas.spec.ts
  packages/web/app/utils/react-connected-components/storeDecorator.unsafe.tsx
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

#4439 new landing page (#4445)
  packages/web/app/assets/img/neufund_landing_visual.png
  packages/web/app/components/landing/Landing.module.scss
  packages/web/app/components/landing/Landing.tsx
  packages/web/app/config/externalRoutes.ts
  packages/web/app/data/etoCompanies.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

fix gas cost in euros not displaying properly (#4448)
  packages/web/app/components/modals/tx-sender/withdraw-flow/Summary/TransferSummary/TransferSummary.tsx
  packages/web/app/components/modals/tx-sender/withdraw-flow/TransferTransactionLayout/TransferTransaction.tsx
Due: prettier --write

Fix merge collision (#4451)
  packages/web/app/components/modals/tx-sender/TxSender/TxSender.stories.tsx
Due: prettier --write

adds not enough gas for estimateGasWithOverhead
  packages/web/app/lib/web3/Web3Manager/Web3Manager.ts
Due: prettier --write

checks out only
  .circleci/config.yml
  packages/web/health-check-sha.json
Due: prettier --write

installs only the web package
  .circleci/config.yml
Due: none

removes install step
  .circleci/config.yml
Due: none

adds web package install step after checkout
  .circleci/config.yml
Due: none

adds contract generation
  .circleci/config.yml
Due: none

test pull 4 signup
  packages/web/app/test-e2e/nikola/signup.spec.e2e.io.1.ts
Due: prettier --write

updates
  packages/web/app/test-e2e/nikola/signup.spec.e2e.io.1.ts
Due: prettier --write

update artifacts
  packages/web/health-check-sha.json
Due: prettier --write

added element test id
  packages/design-system/src/components/inputs/TextField.tsx
Due: prettier --write
