Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

#3216 - Fix wallet metadata not being updated on email change (#3262)
  app/modules/auth/email/sagas.ts
  app/test-e2e/1.long-e2e-tests/2.ChangeEmail.spec.e2e.io.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Do not report compile errors `noUnusedLocals` and `noUnusedParameters` for unit tests development flow (#3272)
  tsconfig.json
  tsconfig.spec.json
Due: prettier --write

#3159 - Add unsubscribe page (#3274)
  app/components/AppRouter.tsx
  app/components/appRoutes.ts
  app/components/settings/unsubscription/Unsubscription.module.scss
  app/components/settings/unsubscription/Unsubscription.stories.tsx
  app/components/settings/unsubscription/Unsubscription.tsx
  app/components/settings/unsubscription/UnsubscriptionSuccess.stories.tsx
  app/components/settings/unsubscription/UnsubscriptionSuccess.tsx
  app/components/translatedMessages/messages.tsx
  app/di/setupBindings.ts
  app/di/symbols.ts
  app/lib/api/users/MarketingEmailsApi.ts
  app/modules/actions.ts
  app/modules/marketing-emails/actions.ts
  app/modules/marketing-emails/sagas.ts
  app/modules/marketing-emails/selectors.ts
  app/modules/marketing-emails/utils.spec.ts
  app/modules/marketing-emails/utils.ts
  app/modules/routing/actions.ts
  app/modules/sagas.ts
  app/utils/StringUtils.ts
  health-check-sha.json
  intl/locales/en-en.json
  webpack/webpack.config.dev.js
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

Fix NEUR Redeem history bug (#3278)
  app/modules/tx-history/sagas.spec.ts
  app/modules/tx-history/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Fix NEUR Redeem history bug (#3278) (#3281)
  app/modules/tx-history/sagas.spec.ts
  app/modules/tx-history/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Add new transaction types to prevent logging warnings by logger (#3284)
  app/lib/api/analytics-api/interfaces.ts
  app/modules/tx-history/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

updates email parsing for sendgrid_mock
  app/test-e2e/bank-transfer/assertions.ts
  app/test-e2e/settings/LightWalletRegister.spec.e2e.io.ts
  app/test-e2e/utils/assertions.ts
  app/test-e2e/utils/index.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

fix typo in maskedMoneyInput -> parseInputToNumber, add test case
  app/components/shared/formatters/utils.spec.ts
  app/components/shared/formatters/utils.ts
  health-check-sha.json
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

[Hotfix] unknown transaction details (#3316)
  app/modules/tx-history/sagas.ts
  app/test-e2e/bank-transfer/assertions.ts
  app/test-e2e/settings/LightWalletRegister.spec.e2e.io.ts
  app/test-e2e/utils/assertions.ts
  app/test-e2e/utils/index.ts
  health-check-sha.json
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

fix typo in maskedMoneyInput -> parseInputToNumber, add test case (#3312)
  app/components/shared/formatters/utils.spec.ts
  app/components/shared/formatters/utils.ts
  health-check-sha.json
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Fix transactions history staging error with unknown transactions (#3315)
  app/modules/tx-history/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

removes memorandum template from hidden autogenerated templates (#3318)
  packages/web/app/lib/api/eto/EtoFileUtils.ts
Due: prettier --write

Issuer Flow Meeting Fixes (#3289)
  packages/web/app/components/eto/EtoDashboard.tsx
  packages/web/app/components/eto/dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.tsx
  packages/web/app/components/eto/registration/pages/CompanyInformation.tsx
  packages/web/app/components/eto/registration/pages/EtoEquityTokenInfo.tsx
  packages/web/app/components/eto/registration/pages/KeyIndividuals.tsx
  packages/web/app/components/eto/registration/pages/LegalInformation.tsx
  packages/web/app/components/eto/shared/ETOState.tsx
  packages/web/app/components/eto/shared/EtoTagWidget.unsafe.tsx
  packages/web/app/components/eto/utils.spec.ts
  packages/web/app/components/eto/utils.ts
  packages/web/app/config/constants.ts
  packages/web/app/lib/api/eto/EtoApi.interfaces.unsafe.ts
  packages/web/app/modules/eto-flow/utils.ts
  packages/web/app/test-e2e/eto-registration/EtoPreviewRegistrationAndSubmit.spec.e2e.io.ts
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write

adds isha preview and isha summary (#3335)
  packages/web/app/components/documents/utils.tsx
  packages/web/app/components/eto/dashboard/signInvestmentAgreementWidget/UploadInvestmentAgreementWidget.unsafe.tsx
  packages/web/app/components/eto/public-view/DocumentsWidget.stories.tsx
  packages/web/app/components/eto/public-view/EtoInvestmentTermsWidget.tsx
  packages/web/app/lib/api/eto/EtoFileApi.interfaces.ts
  packages/web/app/modules/eto-documents/sagas.ts
  packages/web/app/test-e2e/eto-registration/2.EtoRequiredReqistrationAndSubmit.spec.e2e.io.ts
  packages/web/intl/locales/en-en.json
  packages/web/test/fixtures.ts
Due: prettier --write

Fix wrong readme formatting (#3336)
  README.md
Due: prettier --write

#3305 Fix whitelisting status (#3337)
  packages/web/app/components/eto/EtoDashboard.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/CounterWidget.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  packages/web/app/components/eto/overview/EtoOverviewThumbnail/EtoOverviewThumbnail.stories.tsx
  packages/web/app/components/eto/overview/EtoOverviewThumbnail/EtoOverviewThumbnail.tsx
  packages/web/app/components/eto/overview/EtoTimeline/EtoTimeline.stories.tsx
  packages/web/app/components/eto/overview/EtoTimeline/EtoTimeline.tsx
  packages/web/app/components/eto/public-view/CoverBanner.tsx
  packages/web/app/components/eto/public-view/ETOTimeline.tsx
  packages/web/app/components/eto/shared/ETOState.tsx
  packages/web/app/components/portfolio/PortfolioPastInvestments.tsx
  packages/web/app/components/portfolio/PortfolioReservedAssets.tsx
  packages/web/app/components/shared/links/ExternalLink.tsx
  packages/web/app/modules/eto/types.ts
  packages/web/app/modules/eto/utils.ts
  packages/web/app/test-e2e/eto-view/EtoPreviewForIssuer.spec.e2e.io.ts
  packages/web/app/test-e2e/eto-view/EtoViewForIssuer.spec.e2e.io.ts
  packages/web/app/test-e2e/eto-view/EtoViewUtils.ts
  packages/web/app/test-e2e/eto/Campaigning.spec.e2e.ts
  packages/web/app/test-e2e/utils/userHelpers.ts
  packages/web/app/types.d.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write

Fix transaction monitor header mobile ui bugs (#3339)
  packages/web/app/components/layouts/header/PendingTransactionStatus.tsx
Due: prettier --write

Fix confirmation link validator in unsubscribe flow (#3321)
  packages/web/app/components/settings/unsubscription/Unsubscription.tsx
  packages/web/app/di/setupBindings.ts
  packages/web/app/modules/marketing-emails/selectors.ts
  packages/web/app/modules/marketing-emails/utils.spec.ts
  packages/web/app/modules/marketing-emails/utils.ts
Due: prettier --write

#3341 Fix broken links to eto documents (#3346)
  packages/web/app/components/appRouteUtils.ts
  packages/web/app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/TagsWidget.stories.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/TagsWidget.tsx
  packages/web/app/components/eto/overview/EtoOverviewThumbnail/Cover.tsx
  packages/web/app/components/eto/public-view/Cover.tsx
  packages/web/app/components/eto/shared/EtoTagWidget.unsafe.tsx
  packages/web/app/components/eto/shared/EtoView.tsx
  packages/web/app/components/shared/InvestmentPreview.tsx
  packages/web/app/components/shared/Tag.stories.tsx
  packages/web/app/components/shared/Tag.tsx
  packages/web/app/components/shared/Tag.unsafe.tsx
  packages/web/app/components/shared/links/EtherscanLink.spec.tsx
  packages/web/app/components/shared/links/EtherscanLink.tsx
  packages/web/app/components/shared/links/ExternalLink.tsx
  packages/web/app/config/externalRoutes.ts
  packages/web/app/modules/eto-documents/sagas.ts
  packages/web/app/modules/immutable-file/sagas.ts
  packages/web/app/modules/immutable-file/utils.ts
  packages/web/app/test-e2e/eto-view/EtoViewForInvestor.spec.e2e.io.ts
  packages/web/app/test-e2e/eto-view/EtoViewWidget.spec.e2e.io.ts
  packages/web/app/test-e2e/eto-view/EtoWidget.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/assertions.ts
  packages/web/app/test-e2e/utils/index.ts
  packages/web/app/types.d.ts
  packages/web/app/utils/withParams.ts
  packages/web/health-check-sha.json
  packages/web/typings/cypress.d.ts
Due: prettier --write

Fix eto layout issue on mobile (#3343)
  packages/web/app/components/eto/public-view/Individuals.tsx
  packages/web/app/components/shared/PeopleSwiperWidget.module.scss
  packages/web/app/components/shared/PeopleSwiperWidget.stories.tsx
  packages/web/app/components/shared/PeopleSwiperWidget.tsx
  packages/web/test/fixtures/fixturesPersons.ts
Due: prettier --write, yarn sasslint

#3302 Add Marketing listing in review sub state (#3340)
  packages/web/app/components/eto/EtoDashboard.stories.tsx
  packages/web/app/components/eto/EtoDashboard.tsx
  packages/web/app/components/eto/dashboard/PublishETOWidget.stories.tsx
  packages/web/app/components/eto/dashboard/PublishETOWidget.tsx
  packages/web/app/components/eto/shared/ETOState.tsx
  packages/web/app/modules/eto/types.ts
  packages/web/app/modules/eto/utils.ts
  packages/web/app/test-e2e/eto-registration/EtoPreviewRegistrationAndSubmit.spec.e2e.io.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write

[HOTFIX] - #3341 Fix broken links to eto documents (#3349)
  packages/web/app/components/appRouteUtils.ts
  packages/web/app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/TagsWidget.stories.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/TagsWidget.tsx
  packages/web/app/components/eto/overview/EtoOverviewThumbnail/Cover.tsx
  packages/web/app/components/eto/public-view/Cover.tsx
  packages/web/app/components/eto/shared/EtoTagWidget.unsafe.tsx
  packages/web/app/components/eto/shared/EtoView.tsx
  packages/web/app/components/shared/InvestmentPreview.tsx
  packages/web/app/components/shared/Tag.stories.tsx
  packages/web/app/components/shared/Tag.tsx
  packages/web/app/components/shared/Tag.unsafe.tsx
  packages/web/app/components/shared/links/EtherscanLink.spec.tsx
  packages/web/app/components/shared/links/EtherscanLink.tsx
  packages/web/app/components/shared/links/ExternalLink.tsx
  packages/web/app/config/externalRoutes.ts
  packages/web/app/modules/eto-documents/sagas.ts
  packages/web/app/modules/immutable-file/sagas.ts
  packages/web/app/modules/immutable-file/utils.ts
  packages/web/app/test-e2e/eto-view/EtoViewForInvestor.spec.e2e.io.ts
  packages/web/app/test-e2e/eto-view/EtoViewUtils.ts
  packages/web/app/test-e2e/eto-view/EtoViewWidget.spec.e2e.io.ts
  packages/web/app/test-e2e/eto-view/EtoWidget.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/assertions.ts
  packages/web/app/test-e2e/utils/index.ts
  packages/web/app/types.d.ts
  packages/web/app/utils/withParams.ts
  packages/web/health-check-sha.json
  packages/web/typings/cypress.d.ts
Due: prettier --write

Rename `IS_CYPRESS` to `NF_CYPRESS_RUN` to match our approach of env naming (#3348)
  packages/web/app/components/AppRouter.tsx
  packages/web/app/components/portfolio/utils.ts
  packages/web/app/components/settings/backup-seed/PrivateKeyDisplay.tsx
  packages/web/app/components/shared/DatePicker.tsx
  packages/web/app/components/shared/Toast.tsx
  packages/web/app/components/shared/forms/layouts/RichTextAreaLayout.tsx
  packages/web/app/components/shared/links/ExternalLink.tsx
  packages/web/app/config/.env.common
  packages/web/app/config/.env.e2e
  packages/web/app/config/.env.e2e.io
  packages/web/app/config/.env.example
  packages/web/app/config/constants.ts
  packages/web/app/modules/immutable-file/utils.ts
  packages/web/app/modules/investor-portfolio/utils.ts
Due: prettier --write

Clean up readme (#3347)
  .circleci/config.yml
  README.md
  packages/shared/README.md
  packages/web/README.md
  packages/web/package.json
  packages/web/scripts/ganache-cli.sh
Due: prettier --write

Fix eto layout issue on mobile (#3343) (#3351)
  packages/web/app/components/eto/public-view/Individuals.tsx
  packages/web/app/components/shared/PeopleSwiperWidget.module.scss
  packages/web/app/components/shared/PeopleSwiperWidget.stories.tsx
  packages/web/app/components/shared/PeopleSwiperWidget.tsx
  packages/web/test/fixtures/fixturesPersons.ts
Due: prettier --write, yarn sasslint

Fix firefox date field input shrinking (#3354)
  packages/web/app/components/shared/forms/fields/FormFieldDate.module.scss
  packages/web/health-check-sha.json
Due: prettier --write, yarn sasslint

Fix firefox date field input shrinking (#3354) (#3355)
  packages/web/app/components/shared/forms/fields/FormFieldDate.module.scss
  packages/web/health-check-sha.json
Due: prettier --write, yarn sasslint

#3210 cleanup for #3193 (#3350)
  packages/web/app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedWidget.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/EtoStats.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentWidget.tsx
  packages/web/app/modules/investor-portfolio/selectors.ts
Due: prettier --write

updates SHA
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write

Path conditions:
  yarn tsc: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix --config ./tslint.spec.json: any of: app/**/*.spec.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,js,json,md,gql}
  yarn sasslint: any of: **/*.{sass,scss,css}
