Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

fixes routing bug
  app/components/AppRouter.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Disable SW
  app/index.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix lint
  app/index.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Lock duplicated document download
  app/components/modals/download-token-agreements-modal/DownloadTokenAgreementModal.module.scss
  app/components/modals/download-token-agreements-modal/DownloadTokenAgreementModal.tsx
  app/components/modals/tx-sender/user-claim/Summary.module.scss
  app/components/modals/tx-sender/user-claim/Summary.stories.tsx
  app/components/modals/tx-sender/user-claim/Summary.tsx
  app/components/shared/buttons/Button.module.scss
  app/components/shared/buttons/Button.tsx
  app/modules/eto-documents/sagas.ts
  app/modules/immutable-file/actions.ts
  app/modules/immutable-file/reducer.ts
  app/modules/immutable-file/sagas.ts
  app/modules/immutable-file/selectors.ts
  app/modules/reducer.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Fix lints
  app/index.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

changes condition
  app/config/constants.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix review
  app/modules/eto-documents/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Move file download done action to finally block
  app/modules/eto-documents/sagas.ts
  app/modules/immutable-file/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Remove addPrefix method from gas
  app/modules/tx/transactions/claim/saga.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Remove unnecessary addHexPrefix
  app/modules/tx/transactions/upgrade/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

adds isCypress ENV (#2399)
  app/components/AppRouter.tsx
  app/config/.env.e2e
  app/config/constants.ts
  app/test-e2e/routing/routing.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Update new-feature.md
  .github/ISSUE_TEMPLATE/new-feature.md
Due: prettier --write

adds seperate build process to circle
  .circleci/config.yml
Due: none

Update backend hash to latest
  e2e/run_backend.sh
Due: none

adds seperate backend process
  .circleci/config.yml
  e2e/run_backend.sh
  e2e/setup-backend.sh
  e2e/setup-e2e.sh
  package.json
Due: prettier --write

Removes seperate backend build
  .circleci/config.yml
  e2e/run_backend.sh
  e2e/setup-backend.sh
Due: none

#1733 Load claimables only when feature flag is enabled
  app/components/portfolio/Portfolio.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

enables all circl ci jobs
  .circleci/config.yml
  package.json
Due: prettier --write

makes install and lint one jobe
  .circleci/config.yml
Due: none

cleanup and renable parrallism
  .circleci/config.yml
Due: none

configures chrome-e2e job
  .circleci/config.yml
Due: none

restores all CI
  .circleci/config.yml
  package.json
Due: prettier --write

#1529 Add Web3 auto request batching mechanism (#2355)
  app/di/setupBindings.ts
  app/di/symbols.ts
  app/lib/web3/ContractsService.ts
  app/lib/web3/Web3Adapter.ts
  app/lib/web3/Web3Batch.spec.ts
  app/lib/web3/Web3Batch.ts
  app/lib/web3/Web3Manager.spec.ts
  app/lib/web3/Web3Manager.ts
  app/modules/contracts/sagas.ts
  app/test-e2e/routing/EthererumNodeRPCBatching.spec.e2e.ts
  app/test-e2e/utils/ethRpcUtils.ts
  app/types.d.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

update bug report template
  .github/ISSUE_TEMPLATE/bug-report.md
Due: prettier --write

remove state from acceptTosModal in order to enable the 'accept tos' button by default convert acceptTosModal to a function component
  app/components/modals/accept-tos-modal/AcceptTosModal.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1733 Rename payout modal components
  app/components/modals/tx-sender/TxSender.tsx
  app/components/modals/tx-sender/investor-payout/AcceptSuccess.stories.tsx
  app/components/modals/tx-sender/investor-payout/AcceptSuccess.tsx
  app/components/modals/tx-sender/investor-payout/AcceptSummary.module.scss
  app/components/modals/tx-sender/investor-payout/AcceptSummary.stories.tsx
  app/components/modals/tx-sender/investor-payout/AcceptSummary.tsx
  app/modules/tx/interfaces.ts
  app/modules/tx/transactions/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#1733 Add redistribute summary component
  app/components/modals/tx-sender/investor-payout/RedistributeSummary.module.scss
  app/components/modals/tx-sender/investor-payout/RedistributeSummary.stories.tsx
  app/components/modals/tx-sender/investor-payout/RedistributeSummary.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#1733 Implement redistribution basic flow
  app/components/modals/tx-sender/TxSender.tsx
  app/components/modals/tx-sender/investor-payout/AcceptSuccess.tsx
  app/components/modals/tx-sender/investor-payout/RedistributeSuccess.stories.tsx
  app/components/modals/tx-sender/investor-payout/RedistributeSuccess.tsx
  app/components/modals/tx-sender/investor-payout/RedistributeSummary.stories.tsx
  app/components/modals/tx-sender/investor-payout/RedistributeSummary.tsx
  app/components/modals/tx-sender/user-claim/Success.tsx
  app/components/portfolio/AssetPortfolio.tsx
  app/components/shared/buttons/Button.module.scss
  app/modules/tx/interfaces.ts
  app/modules/tx/transactions/actions.ts
  app/modules/tx/transactions/payout/redistribute/saga.ts
  app/modules/tx/transactions/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#1733 Add redistribute confirmation
  app/components/modals/tx-sender/TxSender.tsx
  app/components/modals/tx-sender/investor-payout/RedistributeConfirm.stories.tsx
  app/components/modals/tx-sender/investor-payout/RedistributeConfirm.tsx
  app/modules/tx/sender/actions.ts
  app/modules/tx/transactions/investment/sagas.ts
  app/modules/tx/transactions/payout/redistribute/saga.ts
  app/modules/tx/transactions/withdraw/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1733 Use semantic tag over styling thought css for payout summary
  app/components/modals/tx-sender/investor-payout/AcceptSummary.module.scss
  app/components/modals/tx-sender/investor-payout/AcceptSummary.tsx
  app/components/modals/tx-sender/investor-payout/RedistributeSummary.module.scss
  app/components/modals/tx-sender/investor-payout/RedistributeSummary.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#1733 Fix naming collision
  app/components/portfolio/AssetPortfolio.tsx
  app/modules/tx/transactions/actions.ts
  app/modules/tx/transactions/payout/accept/saga.ts
  app/modules/tx/transactions/payout/redistribute/saga.ts
  app/modules/tx/transactions/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1733 Fix lints
  app/modules/tx/transactions/sagas.ts
  app/modules/tx/transactions/withdraw/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1733 Add hint from translations
  app/components/modals/tx-sender/investor-payout/RedistributeSummary.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1733 Code review fixes
  app/assets/img/redistribute.svg
  app/components/modals/tx-sender/investor-payout/AcceptSummary.tsx
  app/components/modals/tx-sender/investor-payout/RedistributeConfirm.stories.tsx
  app/components/modals/tx-sender/investor-payout/RedistributeConfirm.tsx
  app/components/modals/tx-sender/investor-payout/RedistributeSuccess.stories.tsx
  app/components/modals/tx-sender/investor-payout/RedistributeSuccess.tsx
  app/components/modals/tx-sender/investor-payout/RedistributeSummary.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Path conditions:
  yarn tsc: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix --config ./tslint.spec.json: any of: app/**/*.spec.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,js,json,md,gql}
  yarn sasslint: any of: **/*.{sass,scss,css}
