Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

.lintstagedrc:

{
  "app/**/*.{ts,tsx,js}": ["yarn tsc", "tslint --project . --format stylish --fix", "git add"],
  "app/**/*.spec.{ts,tsx}": ["tslint --project . --format stylish --fix --config ./tslint.spec.json", "git add"],
  "**/*.{ts,tsx,js,json,md,gql}": ["prettier --write", "git add"],
  "**/*.{sass,scss,css}": ["yarn sasslint"]
}

fix a little text issue
  intl/locales/en-en.json
Due: prettier --write

fix behaviour of kyc submitted modal popup
  app/components/kyc/Kyc.tsx
  app/modules/kyc/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Change series label
  app/data/etoCompanies.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Change assets
  app/assets/img/eto_offers/neufund@1x.png
  app/assets/img/eto_offers/neufund@2x.png
Due: none

Adds pitch-deck.html to load iframe (#1964)
  app/components/shared/Slides.tsx
  app/external/pitch-deck-iframe.html
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1904 #1902 #1894 Usability fixes to Ledger registration / logging and recovery phrase
  app/assets/img/wallet_selector/ledger_login_step_5.svg
  app/components/settings/backup-seed/BackupSeedFlowContainer.tsx
  app/components/settings/backup-seed/BackupSeedVerify.tsx
  app/components/shared/HeaderProgressStepper.tsx
  app/components/wallet-selector/ledger/WalletLedgerInitComponent.tsx
  app/components/wallet/views/start/Start.tsx
  app/config/.env.example
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Update intl/locales/en-en.json
  intl/locales/en-en.json
Due: prettier --write

Update en-en.json
  intl/locales/en-en.json
Due: prettier --write

work on upgrade test
  app/components/modals/ModalComponentBody.tsx
  app/test-e2e/utils/index.ts
  app/test-e2e/wallets/WalletUpgrade.spec.e2e.ts
  app/test-e2e/wallets/WalletWithdraw.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

update gitignore to exclude macos meta files
  .gitignore
Due: none

updated key pre-eto
  intl/locales/en-en.json
Due: prettier --write

#1904 #1902 #1894 Fix code review comments
  app/assets/img/wallet_selector/ledger_login_step_6.svg
  app/components/wallet-selector/ledger/WalletLedgerInitComponent.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1635 Add additional cap exceeded status (#1754)
  app/components/eto/overview/EtoOverviewStatus/EtoMaxCapExceeded.module.scss
  app/components/eto/overview/EtoOverviewStatus/EtoMaxCapExceeded.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoMaxCapExceeded.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentWidget.tsx
  app/modules/investment-flow/sagas.ts
  app/modules/investor-tickets/actions.ts
  app/modules/investor-tickets/reducer.ts
  app/modules/investor-tickets/sagas.ts
  app/modules/investor-tickets/selectors.ts
  app/modules/public-etos/reducer.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

add assertions to test
  app/components/shared/AccountBalance.tsx
  app/components/wallet/wallet-balance/LockedWallet.tsx
  app/components/wallet/wallet-balance/UnlockedWallet.tsx
  app/test-e2e/wallets/WalletUpgrade.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Hides company links without urls (#1967)
  app/components/eto/public-view/DocumentsWidget.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Update en-en.json (#1983)
  intl/locales/en-en.json
Due: prettier --write

Fix portfolio top spacing (#1986)
  app/components/portfolio/PortfolioLayout.module.scss
  app/components/portfolio/PortfolioLayout.tsx
  app/components/shared/notification-widget/Notification.module.scss
  app/styles/config/spacings.scss
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

lint fix
  app/components/modals/walletAccess/AccessWalletModal.module.scss
  intl/locales/en-en.json
Due: prettier --write, yarn sasslint

updates signing modal to be more helpful for ledger and metamask users
  app/components/modals/tx-sender/TxSender.tsx
  app/components/modals/walletAccess/AccessWalletModal.module.scss
  app/components/modals/walletAccess/AccessWalletModal.stories.tsx
  app/components/modals/walletAccess/AccessWalletModal.tsx
  app/modules/auth/sagas.ts
  app/modules/bookbuilding-flow/sagas.ts
  app/modules/eto-documents/sagas.ts
  app/modules/eto-flow/sagas.ts
  app/modules/kyc/sagas.ts
  app/modules/settings/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

fix test
  app/test-e2e/wallets/WalletUpgrade.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

another test fix
  app/test-e2e/wallets/WalletUpgrade.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

add assertion that icbm wallet is not displayed any more
  app/components/wallet/views/start/Start.tsx
  app/test-e2e/wallets/WalletUpgrade.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1887 add link to recovery/help center on the light wallet screen
  app/components/wallet-selector/light/MissingEmailLightWallet.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix spacing
  intl/locales/en-en.json
Due: prettier --write

fix and improve bank transfer test
  app/components/modals/tx-sender/investment-flow/BankTransferDetails.tsx
  app/test-e2e/eto/InvestWithBankTransfer.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Improve error logging
  app/components/App.tsx
  app/lib/dependencies/Logger.ts
  app/lib/web3/errors.ts
  app/modules/access-wallet/errors.ts
  app/modules/access-wallet/sagas.ts
  app/modules/wallet-selector/browser-wizard/errors.ts
  app/modules/wallet-selector/browser-wizard/flows.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

changes storybook modals, see if it works for danger ci
  app/components/modals/walletAccess/AccessWalletModal.stories.tsx
  app/components/shared/modals/TransactionState.stories.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

adds missing strings
  app/components/modals/walletAccess/AccessWalletModal.tsx
  app/modules/settings/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1930 #1978 #1895 Profile text overflow / Eto timeline design change / Verification widget route fix
  app/components/eto/overview/EtoTimeline.tsx
  app/components/kyc/Kyc.tsx
  app/components/settings/kyc-states/KycStatusWidget.module.scss
  app/components/settings/kyc-states/KycStatusWidget.spec.tsx
  app/components/settings/kyc-states/KycStatusWidget.stories.tsx
  app/components/settings/kyc-states/KycStatusWidget.tsx
  app/components/settings/verify-email/VerifyEmailWidget.module.scss
  app/components/settings/verify-email/VerifyEmailWidget.stories.tsx
  app/components/settings/verify-email/VerifyEmailWidget.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

#1887 reshuffle imports, change typings
  app/components/wallet-selector/light/MissingEmailLightWallet.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Add new widget state for presale max cap exceeded
  app/components/eto/overview/EtoOverviewStatus/CounterWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoMaxCapExceeded.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoMaxCapExceeded.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

adds better modals storybook integration
  app/components/modals/icbm-wallet-balance-modal/IcbmWalletBalanceModal.stories.tsx
  app/components/modals/icbm-wallet-balance-modal/IcbmWalletBalanceModal.tsx
  app/components/modals/walletAccess/AccessWalletModal.stories.tsx
  app/components/shared/modals/TransactionState.stories.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix landing box replacement
  app/components/shared/EtoOfferingCard.tsx
  app/data/etoCompanies.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fixes TxMiner exit or error behavior
  app/modules/tx/sender/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

add brandname to token widget in eto overview
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/eto/overview/EtoOverviewStatus/TokenSymbolWidget.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1910 #1899 add/change translations to kyc panel and to myPortfolio
  app/components/dashboard/my-portfolio/MyPortfolioWidget.tsx
  app/components/settings/kyc-states/KycStatusWidget.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write
