Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

Fix ETO layout alignment issues (#4142)
  packages/design-system/src/components/tables/Table.module.scss
  packages/web/app/components/eto/eto-full-view/shared/EtoAccordionElements.tsx
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/CampaignOverviewLayout.tsx
  packages/web/app/components/shared/Field.tsx
Due: prettier --write, yarn sasslint

IOS setup
  packages/wallet/android/app/src/main/AndroidManifest.xml
  packages/wallet/app/components/Landing.tsx
  packages/wallet/app/modules/init/sagas.ts
  packages/wallet/ios/Podfile
  packages/wallet/ios/Podfile.lock
  packages/wallet/ios/wallet.xcodeproj/project.pbxproj
  packages/wallet/ios/wallet/AppDelegate.m
  packages/wallet/ios/wallet/Info.plist
  packages/wallet/package.json
Due: prettier --write

Update lock
  yarn.lock
Due: none

update ledger title and desc
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedger.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/WalletLedgerChooserComponent.module.scss
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/WalletLedgerChooserComponent.tsx
  packages/web/app/modules/wallet-selector/ledger-wizard/actions.ts
  packages/web/app/modules/wallet-selector/ledger-wizard/reducer.ts
  packages/web/app/modules/wallet-selector/ledger-wizard/sagas.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

Fix simulator failure
  packages/wallet/app/modules/init/sagas.ts
  packages/wallet/ios/Podfile
  packages/wallet/ios/wallet/AppDelegate.m
Due: prettier --write

Fixes issues with lightwallet recovery
  packages/web/app/components/wallet-selector/WalletRecovery/RecoverWallet/LightWalletRecoverySignUp/LightWalletRecoverySignUp.tsx
  packages/web/app/components/wallet-selector/WalletSelector.integration.spec.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/LoginLightWallet/LoginLightWallet.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedger.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/WalletLedgerChooserComponent.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLoginRouter.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletSelectorLogin.tsx
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterBrowserWallet/RegisterBrowserWalletContainer.tsx
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterLedger/RegisterLedger.tsx
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterLightWallet/RegisterLightWallet.stories.tsx
  packages/web/app/components/wallet-selector/shared/RegisterWalletSelector.module.scss
  packages/web/app/lib/api/client/AuthHttpClient.ts
  packages/web/app/lib/api/users/UsersApi.ts
  packages/web/app/lib/web3/Web3Manager/Web3Manager.spec.ts
  packages/web/app/lib/web3/browser-wallet/BrowserWallet.ts
  packages/web/app/lib/web3/ledger-wallet/LedgerWallet.ts
  packages/web/app/lib/web3/light-wallet/LightWalletUtils.ts
  packages/web/app/lib/web3/light-wallet/lightWalletUtils.spec.node.ts
  packages/web/app/modules/auth/user/sagas.ts
  packages/web/app/modules/wallet-selector/browser-wizard/actions.spec.ts
  packages/web/app/modules/wallet-selector/ledger-wizard/actions.spec.ts
  packages/web/app/modules/wallet-selector/light-wizard/sagas.ts
  packages/web/app/modules/wallet-selector/sagas.ts
  packages/web/app/modules/wallet-selector/types.ts
  packages/web/app/modules/web3/fixtures.ts
  packages/web/app/modules/web3/reducer.spec.ts
  packages/web/app/modules/web3/selectors.ts
  packages/web/app/modules/web3/types.ts
  packages/web/app/test-e2e/obsolete/generateRandomSeedAndAddress.ts
  packages/web/app/test-e2e/other/email/change/ChangeEmail.spec.e2e.io.ts
  packages/web/app/test-e2e/other/login/lightwallet/InvestorLogin.spec.e2e.io.ts
  packages/web/app/test-e2e/other/recovery/WalletRecovery.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/index.ts
Due: prettier --write, yarn sasslint

Removes secret protected component
  docs/feature-flags.md
  packages/web/app/components/AppRouter.tsx
  packages/web/app/components/shared/routing/SecretProtected.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/LoginLightWallet/LoginLightWallet.stories.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/WalletLedgerChooserTableAdvanced.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/WalletLedgerChooserTableSimple.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLoginRouter.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletSelectorLogin.tsx
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterBrowserWallet/RegisterBrowserWalletError.tsx
  packages/web/app/lib/api/users/UsersApi.ts
  packages/web/app/test-e2e/utils/index.ts
Due: prettier --write

Notifications module
  packages/wallet/android/app/google-services.json
  packages/wallet/app/components/Landing.tsx
  packages/wallet/app/di/setupBindings.ts
  packages/wallet/app/di/symbols.ts
  packages/wallet/app/modules/init/sagas.ts
  packages/wallet/app/modules/notifications/FirebaseProvider.ts
  packages/wallet/app/modules/notifications/INotificationsProvider.ts
  packages/wallet/app/modules/notifications/Notifications.ts
  packages/wallet/app/modules/notifications/bindings.ts
  packages/wallet/app/modules/notifications/module.ts
  packages/wallet/app/modules/notifications/symbols.ts
  packages/wallet/app/modules/permissions/Permissions.ts
  packages/wallet/app/modules/sagas.tsx
  packages/wallet/app/store/create.tsx
  packages/wallet/ios/GoogleService-Info.plist
Due: prettier --write

Add plist files to ignore
  .gitignore
Due: none

use FullscreenProgressLayout for ledger
  packages/web/app/components/layouts/header/Header.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/LedgerInit/WalletLedgerInitComponent.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedger.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/WalletLedgerChooserComponent.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletSelectorLogin.tsx
  packages/web/app/modules/wallet-selector/selectors.ts
Due: prettier --write

handle cancel ledger modal
  packages/web/app/components/translatedMessages/messages.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/WalletLedgerChooser.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletSelectorLogin.tsx
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterLedger/RegisterLedger.tsx
  packages/web/intl/locales/en-en.json
Due: prettier --write

remove unused RegisterLedgerWalletChooser
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterLedger/RegisterLedgerWalletChooser.tsx
Due: prettier --write

rename ledger components
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedger.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerInit/WalletLedgerInit.module.scss
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerInit/WalletLedgerInit.spec.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerInit/WalletLedgerInit.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerInit/WalletLedgerInitHeader.module.scss
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerInit/WalletLedgerInitHeader.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerNotSupported/WalletLedgerNotSupported.module.scss
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerNotSupported/WalletLedgerNotSupported.stories.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerNotSupported/WalletLedgerNotSupported.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletSelectorLogin.tsx
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterLedger/RegisterLedger.tsx
Due: prettier --write, yarn sasslint

Fix legal information widget word-break
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/legal-information-widget/LegalInformationWidget.module.scss
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/legal-information-widget/LegalInformationWidget.tsx
  packages/web/app/components/shared/charts/ChartLegend.module.scss
  packages/web/health-check-sha.json
Due: prettier --write, yarn sasslint

Additional fixes + documentation
  packages/design-system/src/components/inputs/Checkbox.module.scss
  packages/design-system/src/components/inputs/TextField.module.scss
  packages/web/app/components/AppRouter.tsx
  packages/web/app/components/shared/forms/Form.tsx
  packages/web/app/components/translatedMessages/messages.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/WalletLedgerChooser.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLoginRouter.tsx
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterLightWallet/RegisterLightWalletForm.tsx
  packages/web/app/lib/api/client/AuthHttpClient.ts
  packages/web/app/lib/api/users/UsersApi.ts
  packages/web/app/lib/web3/light-wallet/LightWalletUtils.ts
  packages/web/app/modules/eto/utils.ts
Due: prettier --write, yarn sasslint

Fix review
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/legal-information-widget/LegalInformationWidget.module.scss
Due: yarn sasslint

Add events
  packages/wallet/app/components/Landing.tsx
  packages/wallet/app/di/setupBindings.ts
  packages/wallet/app/modules/init/sagas.ts
  packages/wallet/app/modules/notifications/FirebaseProvider.ts
  packages/wallet/app/modules/notifications/Notifications.ts
  packages/wallet/app/modules/notifications/bindings.ts
  packages/wallet/app/modules/notifications/symbols.ts
  packages/wallet/app/modules/permissions/Permissions.ts
  packages/wallet/app/store/create.tsx
Due: prettier --write

cleans up creatOrLoad user
  packages/web/app/modules/auth/user/sagas.ts
Due: prettier --write

use new table for ledger simple table chooser
  packages/web/app/components/layouts/FullscreenProgressLayout.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedger.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/WalletLedgerChooser.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/WalletLedgerChooserBase.module.scss
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/WalletLedgerChooserBase.spec.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/WalletLedgerChooserBase.stories.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/WalletLedgerChooserBase.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/WalletLedgerChooserTableSimple.module.scss
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/WalletLedgerChooserTableSimple.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerInit/WalletLedgerInitHeader.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletSelectorLogin.tsx
  packages/web/app/components/wallet-selector/shared/RegisterWalletSelector.module.scss
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

Cleanup
  packages/wallet/app/modules/init/sagas.ts
  packages/wallet/app/modules/notifications/Notifications.ts
  packages/wallet/package.json
  packages/web/health-check-sha.json
Due: prettier --write

fixes issue with user register and tos
  packages/web/app/components/wallet-selector/WalletRecovery/RecoverWallet/LightWalletRecoverySignUp/RestoreLightWallet.tsx
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterLightWallet/RegisterLightWallet.tsx
  packages/web/app/modules/auth/user/sagas.ts
  packages/web/app/modules/wallet-selector/actions.ts
  packages/web/app/modules/wallet-selector/light-wizard/sagas.ts
Due: prettier --write

updates investorLogin tests
  packages/web/app/test-e2e/other/login/lightwallet/InvestorLogin.spec.e2e.io.ts
Due: prettier --write

trim address
  packages/shared/src/index.ts
  packages/shared/src/utils/address-utils.ts
  packages/web/app/components/shared/links/EtherscanLink.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/WalletLedgerChooserTableSimple.tsx
Due: prettier --write

tooltip for truncated address
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/WalletLedgerChooserTableSimple.tsx
Due: prettier --write

Add device info
  packages/wallet/app/di/setupBindings.ts
  packages/wallet/app/di/symbols.ts
  packages/wallet/app/modules/device-information/DeviceInformation.ts
  packages/wallet/app/modules/notifications/Notifications.ts
  packages/wallet/ios/Podfile.lock
  packages/wallet/ios/wallet.xcodeproj/project.pbxproj
  packages/wallet/package.json
  yarn.lock
Due: prettier --write

Add a reminder
  packages/wallet/app/modules/notifications/Notifications.ts
Due: prettier --write

Cleans up lightwallet restore saga
  packages/web/app/modules/auth/user/sagas.ts
  packages/web/app/modules/wallet-selector/light-wizard/sagas.ts
  packages/web/app/test-e2e/other/login/lightwallet/InvestorLogin.spec.e2e.io.ts
Due: prettier --write

Add os info
  packages/wallet/app/modules/device-information/DeviceInformation.ts
  packages/wallet/app/modules/notifications/Notifications.ts
Due: prettier --write

Format fixes
  packages/wallet/app/di/setupBindings.ts
  packages/wallet/app/di/symbols.ts
  packages/wallet/app/modules/device-information/DeviceInformation.ts
  packages/wallet/app/modules/notifications/Notifications.ts
Due: prettier --write

Add device info comments
  packages/wallet/app/modules/device-information/DeviceInformation.ts
Due: prettier --write

Cleans up more data
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletSelectorLogin.tsx
  packages/web/app/modules/auth/user/sagas.ts
  packages/web/app/modules/wallet-selector/forms/sagas.ts
  packages/web/app/modules/wallet-selector/light-wizard/sagas.ts
  packages/web/app/modules/wallet-selector/light-wizard/signing/sagas.ts
  packages/web/app/modules/wallet-selector/sagas.ts
Due: prettier --write

moves browser wallet to browser-wizard
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterLedger/RegisterLedger.tsx
  packages/web/app/modules/wallet-selector/browser-wizard/sagas.ts
  packages/web/app/modules/wallet-selector/sagas.ts
Due: prettier --write

Adds error handeling
  packages/web/app/components/wallet-selector/WalletRecovery/RecoverWallet/RecoverWallet.tsx
  packages/web/app/modules/auth/user/sagas.ts
  packages/web/app/modules/wallet-selector/browser-wizard/sagas.ts
  packages/web/app/modules/wallet-selector/forms/sagas.ts
  packages/web/app/modules/wallet-selector/light-wizard/actions.ts
  packages/web/app/modules/wallet-selector/light-wizard/reducer.ts
  packages/web/app/modules/wallet-selector/light-wizard/sagas.ts
  packages/web/app/modules/wallet-selector/light-wizard/selectors.ts
  packages/web/app/test-e2e/other/recovery/WalletRecovery.spec.e2e.io.ts
Due: prettier --write

unskips recovery test
  packages/web/app/test-e2e/other/recovery/WalletRecovery.spec.e2e.io.ts
Due: prettier --write

Add notification docs
  packages/wallet/app/modules/device-information/DeviceInformation.ts
  packages/wallet/app/modules/notifications/Notifications.ts
  packages/wallet/app/modules/permissions/Permissions.ts
Due: prettier --write

Add notification docs
  packages/wallet/app/modules/init/sagas.ts
  packages/wallet/app/modules/notifications/Notifications.ts
Due: prettier --write

Provider dovs
  packages/wallet/app/modules/notifications/FirebaseProvider.ts
Due: prettier --write

table controls and error message
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/TableControls.module.scss
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/TableControls.spec.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/TableControls.stories.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/TableControls.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/WalletLedgerChooserBase.module.scss
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/WalletLedgerChooserBase.spec.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/WalletLedgerChooserBase.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/WalletLedgerChooserTableSimple.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/WalletLedgerDPChooser.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLoginRouter.tsx
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

address table navigation
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/TableControls.module.scss
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/TableControls.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/WalletLedgerChooserBase.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/WalletLedgerChooserTableAdvanced.module.scss
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/WalletLedgerChooserTableAdvanced.spec.tsx
  packages/web/app/components/wallet-selector/WalletSelectorLogin/WalletLedger/WalletLedgerChooser/WalletLedgerChooserTableAdvanced.tsx
Due: prettier --write, yarn sasslint

show heaer progress only if provided
  packages/web/app/components/layouts/FullscreenProgressLayout.tsx
Due: prettier --write

Path conditions:
  yarn tsc: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix --config ./tslint.spec.json: any of: app/**/*.spec.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,js,json,md,gql}
  yarn sasslint: any of: **/*.{sass,scss,css}
