Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

Fixes unlock wallet feature (#2874)
  .circleci/config.yml
  app/components/modals/tx-sender/unlock-wallet-flow/UnlockWalletTransactionDetails.tsx
  app/config/constants.ts
  app/test-e2e/1.long-e2e-tests/1.FullEtoRegistrationAndSubmit.spec.e2e.ts
  app/test-e2e/1.long-e2e-tests/2.ChangeEmail.spec.e2e.ts
  app/test-e2e/eto-registration/2.EtoRequiredReqistrationAndSubmit.spec.e2e.ts
  app/test-e2e/eto-registration/EtoCompanyInformationFieldValidation.spec.e2e.ts
  app/test-e2e/eto-registration/EtoRegistrationUtils.ts
  app/test-e2e/eto-registration/EtoTerms.spec.e2e.ts
  app/test-e2e/eto-registration/SetEtoStartDate.spec.e2e.ts
  app/test-e2e/eto-registration/fixtures.ts
  app/test-e2e/eto/InvestStartUpgradeFlow.spec.e2e.ts
  app/test-e2e/eto/InvestWithUpgradedWalletNEur.spec.e2e.ts
  app/test-e2e/fixtures.ts
  app/test-e2e/wallets/WalletUnlockFunds.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fixes Unlock Wallet Feature (#2874) (#2889)
  .circleci/config.yml
  app/components/modals/tx-sender/unlock-wallet-flow/UnlockWalletTransactionDetails.tsx
  app/config/constants.ts
  app/test-e2e/1.long-e2e-tests/1.FullEtoRegistrationAndSubmit.spec.e2e.ts
  app/test-e2e/1.long-e2e-tests/2.ChangeEmail.spec.e2e.ts
  app/test-e2e/eto-registration/2.EtoRequiredReqistrationAndSubmit.spec.e2e.ts
  app/test-e2e/eto/InvestStartUpgradeFlow.spec.e2e.ts
  app/test-e2e/eto/InvestWithUpgradedWalletNEur.spec.e2e.ts
  app/test-e2e/fixtures.ts
  app/test-e2e/wallets/WalletUnlockFunds.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

at/fix sign investmentAgreement flow bugs (#2838)
  app/components/documents/utils.spec.ts
  app/components/documents/utils.tsx
  app/components/eto/EtoContentWidget.module.scss
  app/components/eto/dashboard/signInvestmentAgreementWidget/SignInvestmentAgreement.stories.tsx
  app/components/eto/dashboard/signInvestmentAgreementWidget/UploadInvestmentAgreementWidget.unsafe.tsx
  app/components/modals/tx-sender/eto-flow/SignInvestmentAgreementSummary.module.scss
  app/components/modals/tx-sender/eto-flow/SignInvestmentAgreementSummary.tsx
  app/components/shared/Document.stories.tsx
  app/config/constants.ts
  app/modules/auth/selectors.ts
  app/modules/bank-transfer-flow/sagas.ts
  app/modules/icbm-wallet-balance-modal/sagas.ts
  app/modules/terms-of-service-modal/sagas.ts
  app/modules/tx/transactions/eto-flow/saga.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

#2789 - Filters ETO's based on jurisdiction (#2840)
  app/components/settings/kyc-states/KycStatusWidget.tsx
  app/config/.env.common
  app/modules/eto-flow/sagas.ts
  app/modules/eto/constants.ts
  app/modules/eto/sagas.ts
  app/modules/eto/utils.ts
  app/modules/kyc/actions.ts
  app/modules/kyc/sagas.ts
  app/modules/kyc/selectors.ts
  app/modules/notifications/selectors.ts
  app/test-e2e/eto/InvestChange.spec.e2e.ts
  app/test-e2e/eto/InvestWithNoMoney.spec.e2e.ts
  app/test-e2e/eto/InvestWithRegularEther.spec.e2e.ts
  app/test-e2e/eto/InvestWithUpgradedWalletEther.spec.e2e.ts
  app/test-e2e/investor-dashboard/utils.ts
  app/test-e2e/kyc/KYCFlowIndividualManual.spec.e2e.ts
  app/test-e2e/kyc/KYCFlowSmallBusinessManual.spec.e2e.ts
  app/test-e2e/kyc/fixtures.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2741 Handle transferability correctly (#2826)
  app/components/eto/public-view/EtoInvestmentTermsWidget.tsx
  app/components/eto/registration/pages/EtoTerms.tsx
  app/lib/api/eto/EtoApi.interfaces.unsafe.tsx
  app/test-e2e/eto-registration/EtoTerms.spec.e2e.ts
  app/test-e2e/eto-registration/fixtures.ts
  app/test-e2e/eto-view/EtoViewForInvestor.spec.e2e.ts
  app/test-e2e/pending-transactions/SupportForPendingTransactionsDuringTxFlow.spec.e2e.ts
  app/test-e2e/utils/userHelpers.ts
  intl/locales/en-en.json
  test/fixtures.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Remove claimed dividends unused component from wallet (#2865)
  app/components/wallet/Router.tsx
  app/components/wallet/claimed-dividends/ClaimedDividends.module.scss
  app/components/wallet/claimed-dividends/ClaimedDividends.unsafe.tsx
  app/components/wallet/views/start/Start.tsx
  app/config/.env.common
  app/config/.env.example
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#2659 Restrict number of company tags (#2868)
  app/components/eto/public-view/Cover.tsx
  app/components/eto/registration/pages/CompanyInformation.tsx
  app/components/eto/shared/EtoTagWidget.unsafe.tsx
  app/config/constants.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Do not report critical error on tx mismatch (#2870)
  app/components/layouts/header/PendingTransactionStatus.tsx
  app/modules/tx/monitor/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

updates contracts and backend SHA (#2893)
  e2e/run_backend.sh
Due: none

Lazy load Kyc, Eto registration, Backup seed and Wallet Recovery (#2574)
  .babelrc
  app/components/AppRouter.tsx
  app/components/eto/constants.tsx
  app/components/eto/overview/EtoOverviewThumbnail/EtoOverviewThumbnail.tsx
  app/components/eto/public-view/LegalInformationWidget.tsx
  app/components/eto/registration/Start.tsx
  app/components/eto/registration/StartLayout.tsx
  app/components/eto/registration/pages/LegalInformation.tsx
  app/components/kyc/Kyc.module.scss
  app/components/kyc/Kyc.tsx
  app/components/kyc/KycLayout.tsx
  app/components/layouts/LayoutAuthorized.tsx
  app/components/layouts/LayoutRegisterLogin.tsx
  app/components/settings/backup-seed/BackupSeed.tsx
  app/components/settings/backup-seed/BackupSeedFlowContainer.unsafe.tsx
  app/components/wallet-selector/wallet-recover/WalletRecoverMain.tsx
  codechecks.json
  package.json
  test/setupTests.ts
  tsconfig.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Remove Mist and Parity logos from login page (#2891)
  app/assets/img/wallet_selector/logo_mist.png
  app/assets/img/wallet_selector/logo_mist@2x.png
  app/assets/img/wallet_selector/logo_mist@3x.png
  app/assets/img/wallet_selector/logo_parity.png
  app/assets/img/wallet_selector/logo_parity@2x.png
  app/assets/img/wallet_selector/logo_parity@3x.png
  app/components/shared/ResponsiveImage.stories.tsx
  app/components/wallet-selector/browser/WalletBrowser.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Remove `allowRetailInvestors` and `notUnderCrowdfundingRegulations` (#2886)
  app/components/documents/Documents.stories.tsx
  app/components/documents/Documents.tsx
  app/components/documents/utils.tsx
  app/components/eto/EtoDashboard.stories.tsx
  app/components/eto/EtoDashboard.tsx
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.tsx
  app/components/eto/dashboard/signInvestmentAgreementWidget/SignInvestmentAgreement.tsx
  app/components/eto/dashboard/signInvestmentAgreementWidget/UploadInvestmentAgreementWidget.unsafe.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/eto/overview/EtoOverviewStatus/TagsWidget.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/TagsWidget.tsx
  app/components/eto/public-view/DocumentsWidget.stories.tsx
  app/components/eto/public-view/DocumentsWidget.tsx
  app/components/eto/shared/EtoView.tsx
  app/components/modals/download-token-agreements-modal/DownloadTokenAgreementModal.tsx
  app/components/modals/tx-sender/user-claim/Summary.tsx
  app/components/shared/SingleColDocumentWidget.stories.tsx
  app/components/shared/SingleColDocumentWidget.tsx
  app/lib/api/eto/EtoApi.interfaces.unsafe.tsx
  app/modules/eto-documents/sagas.ts
  app/modules/eto-flow/selectors.ts
  app/test-e2e/bank-transfer/RedeemNEUR.spec.e2e.ts
  app/test-e2e/eto-registration/2.EtoRequiredReqistrationAndSubmit.spec.e2e.ts
  app/test-e2e/eto-view/EtoViewForInvestor.spec.e2e.ts
  app/test-e2e/eto-view/EtoViewForLIInvestor.spec.e2e.ts
  app/test-e2e/eto-view/EtoViewForUnapprovedInvestor.spec.e2e.ts
  app/test-e2e/eto-view/EtoViewForUnauthorized.spec.e2e.ts
  app/test-e2e/routing/RegisterRedirectIfNoVerifiedEmail.spec.e2e.ts
  intl/locales/en-en.json
  test/fixtures.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2853 Add company legal description to Legal Info issuer form (#2898)
  app/components/eto/registration/pages/LegalInformation.tsx
  app/lib/api/eto/EtoApi.interfaces.unsafe.tsx
  app/test-e2e/eto-registration/2.EtoRequiredReqistrationAndSubmit.spec.e2e.ts
  app/test-e2e/eto-registration/fixtures.ts
  intl/locales/en-en.json
  test/fixtures.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2786 add investor eto state (#2822)
  app/components/dashboard/eto-list/EtoList.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/eto/overview/EtoOverviewThumbnail/EtoOverviewThumbnail.module.scss
  app/components/eto/overview/EtoOverviewThumbnail/EtoOverviewThumbnail.stories.tsx
  app/components/eto/overview/EtoOverviewThumbnail/EtoOverviewThumbnail.tsx
  app/components/eto/overview/EtoOverviewThumbnail/EtoStatusManager.tsx
  app/components/eto/overview/EtoOverviewThumbnail/Whitelist/Whitelist.tsx
  app/components/eto/shared/ETOState.tsx
  app/modules/eto/selectors.ts
  app/modules/eto/types.ts
  app/modules/investor-portfolio/selectors.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#2761 stop requesting eto data before kyc (#2844)
  app/components/documents/Documents.tsx
  app/components/eto/EtoDashboard.stories.tsx
  app/components/eto/EtoDashboard.tsx
  app/components/eto/dashboard/ETOFormsProgressSection.tsx
  app/components/layouts/LayoutAuthorizedMenu.unsafe.tsx
  app/modules/eto-flow/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Remove unused bootstrap css (#2907)
  app/styles/bootstrap.scss
Due: yarn sasslint

Refactor button to use enums (#2906)
  app/components/dashboard/incoming-payout/IncomingPayoutWidget.tsx
  app/components/dashboard/my-portfolio/MyNeuWidget.tsx
  app/components/dashboard/my-wallet/MyWalletWidget.tsx
  app/components/eto/dashboard/EtoFormProgressWidget.tsx
  app/components/eto/registration/pages/KeyIndividuals.tsx
  app/components/kyc/KycLayout.tsx
  app/components/kyc/KycPanel.tsx
  app/components/kyc/business/BeneficialOwners.tsx
  app/components/kyc/personal/DocumentVerification.tsx
  app/components/landing/parts/JoinCta.unsafe.tsx
  app/components/landing/parts/LandingFeatured.tsx
  app/components/landing/shared/RegisterCta.tsx
  app/components/layouts/header/Header.tsx
  app/components/modals/accept-tos-modal/AcceptTosModal.tsx
  app/components/modals/tx-sender/investment-flow/InvestmentTypeSelector.tsx
  app/components/portfolio/AssetPortfolio.tsx
  app/components/portfolio/PortfolioAssetAction.tsx
  app/components/portfolio/PortfolioMyAssets.tsx
  app/components/settings/backup-seed/BackupSeedDisplay.tsx
  app/components/settings/backup-seed/BackupSeedIntro.tsx
  app/components/settings/backup-seed/BackupSeedVerify.unsafe.tsx
  app/components/settings/backup-seed/BackupSeedWidget.tsx
  app/components/settings/backup-seed/PrivateKeyDisplay.tsx
  app/components/settings/icbm-wallet-widget/CheckYourICBMWalletWidget.tsx
  app/components/settings/kyc-states/KycStatusWidget.tsx
  app/components/settings/linked-bank-account/LinkedBankAccountWidget.tsx
  app/components/settings/personal-account-details/PersonalAccountDetails.tsx
  app/components/shared/AccountBalance.tsx
  app/components/shared/SingleFileUpload.tsx
  app/components/shared/buttons/Button.stories.tsx
  app/components/shared/buttons/Button.unsafe.tsx
  app/components/shared/tooltips/TooltipBase.stories.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2910 - Filters only offers for multi-jurisdiction logic (#2909)
  app/modules/eto/sagas.ts
  app/modules/eto/selectors.ts
  app/modules/eto/utils.ts
  app/modules/kyc/selectors.ts
  app/test-e2e/kyc/fixtures.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Copy edits ETO Listing is in review for ticket #2850. (#2915)
  app/components/eto/EtoDashboard.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Made copy changes as per #2848 - ETO copy change for Step 2 of the ETO application process on the dashboard. ETO Step 2 title change and edits to the dashboard description text. (#2913)
  app/components/eto/EtoDashboard.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2730 - Adds Multi jurisdiction Routing (#2839)
  app/components/AppRouter.tsx
  app/components/appRouteUtils.ts
  app/components/appRoutes.ts
  app/components/eto/EtoPublicView.tsx
  app/components/eto/EtoPublicViewByContractId.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/TagsWidget.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/TagsWidget.tsx
  app/components/eto/overview/EtoOverviewThumbnail/EtoOverviewThumbnail.tsx
  app/components/eto/shared/EtoView.tsx
  app/components/eto/shared/routing/RedirectToEtoById.tsx
  app/components/eto/shared/routing/RedirectToEtoLink.tsx
  app/components/eto/shared/routing/withJurisdictionDisclaimer.ts
  app/components/eto/shared/routing/withJurisdictionRoute.ts
  app/components/modals/tx-sender/investor-payout/AcceptSummary.tsx
  app/components/modals/tx-sender/investor-payout/RedistributeSummary.tsx
  app/components/portfolio/PortfolioMyAssets.tsx
  app/components/portfolio/PortfolioPastInvestments.tsx
  app/components/portfolio/PortfolioReservedAssets.tsx
  app/components/testing/embeded-widget/TestEmbededWidget.tsx
  app/lib/api/eto/EtoPledgeApi.ts
  app/modules/eto/actions.ts
  app/modules/eto/sagas.ts
  app/modules/routing/actions.ts
  app/test-e2e/eto-view/EtoViewForInvestor.spec.e2e.ts
  app/test-e2e/eto-view/EtoViewForLIInvestor.spec.e2e.ts
  app/test-e2e/eto-view/EtoViewForUnapprovedInvestor.spec.e2e.ts
  app/test-e2e/eto-view/EtoViewForUnauthorized.spec.e2e.ts
  app/test-e2e/eto-view/EtoViewUtils.ts
  app/test-e2e/eto/Campaigning.spec.e2e.ts
  app/test-e2e/eto/EtoWidget.spec.e2e.ts
  app/test-e2e/pending-transactions/SupportForPendingTransactionsDuringTxFlow.spec.e2e.ts
  app/test-e2e/utils/userHelpers.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2849 Copy edits ETO setup Step 3 next step component: (#2914)
  app/components/eto/EtoDashboard.tsx
  app/components/eto/dashboard/UploadTermSheetWidget.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2787 Add keyboard navigation support to eto cards (#2864)
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.tsx
  app/components/eto/dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.tsx
  app/components/eto/dashboard/signInvestmentAgreementWidget/SignInvestmentAgreement.tsx
  app/components/eto/dashboard/signInvestmentAgreementWidget/UploadInvestmentAgreementWidget.unsafe.tsx
  app/components/eto/overview/EtoOverviewThumbnail/EtoOverviewThumbnail.module.scss
  app/components/eto/overview/EtoOverviewThumbnail/EtoOverviewThumbnail.tsx
  app/components/eto/public-view/JurisdictionDisclaimerModal.tsx
  app/components/landing/parts/JoinCta.unsafe.tsx
  app/components/modals/tx-sender/investment-flow/Investment.tsx
  app/components/modals/tx-sender/redeem/BankTransferRedeemInit.unsafe.tsx
  app/components/modals/tx-sender/redeem/BankTransferRedeemSuccess.tsx
  app/components/modals/tx-sender/redeem/BankTransferRedeemSummary.tsx
  app/components/modals/tx-sender/shared/TxPending.tsx
  app/components/modals/wallet-access/AccessLightWalletPrompt.tsx
  app/components/modals/wallet-access/AccessWalletModal.tsx
  app/components/settings/kyc-states/KycStatusWidget.tsx
  app/components/settings/verify-email/VerifyEmailWidget.tsx
  app/components/shared/Panel.stories.tsx
  app/components/shared/buttons/Button.stories.tsx
  app/components/shared/buttons/Button.tsx
  app/components/shared/buttons/ButtonGroup.stories.tsx
  app/components/shared/buttons/ButtonIcon.tsx
  app/components/shared/buttons/ButtonLink.spec.tsx
  app/components/shared/buttons/ButtonLink.tsx
  app/components/shared/buttons/index.ts
  app/components/shared/forms/fields/FormCategoryDistribution.unsafe.tsx
  app/modules/access-wallet/sagas.ts
  app/modules/eto-documents/sagas.ts
  app/modules/profile/sagas.ts
  app/utils/dontPropagate.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

Remove shareholders chart when it's empty (#2917)
  app/components/eto/public-view/LegalInformationWidget.stories.tsx
  app/components/eto/public-view/LegalInformationWidget.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2873 Remove salt from cancel email request (#2916)
  app/modules/profile/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2831 use maskedMoneyInput in redeem flow (#2897)
  app/components/modals/tx-sender/TxSender.tsx
  app/components/modals/tx-sender/investment-flow/Investment.tsx
  app/components/modals/tx-sender/redeem/BankTransferRedeemInit.stories.tsx
  app/components/modals/tx-sender/redeem/BankTransferRedeemInit.tsx
  app/components/modals/tx-sender/redeem/CalculatedFee.tsx
  app/components/modals/tx-sender/redeem/TotalRedeemed.tsx
  app/components/shared/MaskedMoneyInput.stories.tsx
  app/components/shared/MaskedMoneyInput.tsx
  app/components/shared/MoneySuiteWidget.tsx
  app/components/shared/formatters/Money.spec.tsx
  app/components/shared/formatters/Money.stories.tsx
  app/components/shared/formatters/Money.tsx
  app/components/shared/formatters/utils.ts
  app/modules/bank-transfer-flow/sagas.ts
  app/test-e2e/bank-transfer/RedeemNEUR.spec.e2e.ts
  app/test-e2e/utils/index.ts
  app/test-e2e/wallets/WalletRecover.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Inherit text alignment for simple button (#2924)
  app/components/shared/buttons/Button.module.scss
Due: yarn sasslint

#2851 whitelisting copy change (#2929)
  app/components/eto/EtoDashboard.tsx
  e2e/run_backend.sh
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2877 etoView number formatters (#2892)
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/ClaimRefundWidget/ClaimWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoMaxCapExceeded.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoMaxCapExceeded.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentWidget.tsx
  app/components/eto/overview/EtoOverviewThumbnail/EtoStatusManager.tsx
  app/components/eto/overview/EtoOverviewThumbnail/InvestmentStatus/InvestmentStatus.tsx
  app/components/eto/overview/EtoOverviewThumbnail/Whitelist/WhitelistStatus.tsx
  app/components/eto/public-view/EtoInvestmentTermsWidget.tsx
  app/components/eto/public-view/LegalInformationWidget.tsx
  app/components/eto/shared/InvestmentAmount.tsx
  app/components/shared/formatters/FormatNumber.tsx
  app/components/shared/formatters/FormatNumberRange.tsx
  app/components/shared/formatters/FormatShortNumber.tsx
  app/components/shared/formatters/Money.spec.tsx
  app/components/shared/formatters/Money.tsx
  app/components/shared/formatters/MoneyRange.tsx
  app/components/shared/formatters/utils.spec.ts
  app/components/shared/formatters/utils.ts
  app/lib/api/eto/EtoUtils.ts
  app/modules/eto/types.ts
  app/modules/eto/utils.ts
  app/test-e2e/eto-view/EtoViewForInvestor.spec.e2e.ts
  app/test-e2e/utils/index.ts
  app/test-e2e/utils/userHelpers.ts
  test/fixtures.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#2905 Issuer registration flow UX fixes (#2931)
  app/components/AppRouter.tsx
  app/components/layouts/LayoutAuthorized.tsx
  app/components/layouts/LayoutEnchancer.ts
  app/components/layouts/LayoutEnhancer.ts
  app/components/layouts/LayoutUnauthorized.tsx
  app/components/layouts/header/Header.tsx
  app/components/shared/routing/SecretProtected.tsx
  app/components/wallet-selector/WalletSelector.spec.tsx
  app/components/wallet-selector/WalletSelector.tsx
  app/components/wallet-selector/ledger/WalletLedgerInitComponent.tsx
  app/lib/web3/ledger-wallet/ledgerUtils.ts
  app/modules/notifications/reducer.ts
  app/modules/notifications/selectors.ts
  app/utils/withContainer.unsafe.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#2882_upload_preview_banner (#2927)
  app/components/eto/overview/EtoOverviewThumbnail/EtoOverviewThumbnail.tsx
  app/components/eto/registration/pages/CompanyInformation.tsx
  app/components/shared/SingleFileUpload.stories.tsx
  app/components/shared/SingleFileUpload.tsx
  app/components/shared/forms/fields/FormSingleFileUpload.unsafe.tsx
  app/lib/api/eto/EtoApi.interfaces.unsafe.tsx
  app/test-e2e/eto-registration/fixtures.ts
  intl/locales/en-en.json
  test/assets/company-preview-banner.png
  test/fixtures.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2926 Eto preview card tweaks (#2933)
  app/components/eto/overview/EtoOverviewThumbnail/Cover.tsx
  app/components/eto/overview/EtoOverviewThumbnail/EtoOverviewThumbnail.module.scss
  app/components/eto/overview/EtoOverviewThumbnail/EtoOverviewThumbnail.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Add preview submit to ETO form (#2922)
  .circleci/config.yml
  app/components/eto/EtoDashboard.stories.tsx
  app/components/eto/EtoDashboard.tsx
  app/components/eto/dashboard/ETOFormsProgressSection.tsx
  app/components/eto/dashboard/PublishETOWidget.stories.tsx
  app/components/eto/dashboard/PublishETOWidget.tsx
  app/components/eto/dashboard/submitProposalWidget/SubmitProposalWidget.stories.tsx
  app/lib/api/eto/EtoApi.interfaces.unsafe.tsx
  app/lib/api/eto/EtoApi.ts
  app/modules/eto-flow/actions.ts
  app/modules/eto-flow/sagas.ts
  app/modules/eto-flow/selectors.ts
  app/modules/eto-flow/utils.ts
  app/test-e2e/1.long-e2e-tests/1.FullEtoRegistrationAndSubmit.spec.e2e.ts
  app/test-e2e/eto-registration/2.EtoRequiredReqistrationAndSubmit.spec.e2e.ts
  app/test-e2e/eto-registration/EtoPreviewRegistrationAndSubmit.spec.e2e.ts
  app/test-e2e/eto-registration/EtoRegistrationUtils.ts
  app/test-e2e/utils/navigation.ts
  intl/locales/en-en.json
  test/fixtures.ts
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2884 listing page changes to allow coming soon (#2919)
  app/components/eto/overview/EtoOverviewStatus/CounterWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/eto/overview/EtoOverviewThumbnail/CounterWidget.module.scss
  app/components/eto/overview/EtoOverviewThumbnail/CounterWidget.tsx
  app/components/eto/overview/EtoOverviewThumbnail/EtoStatusManager.tsx
  app/components/eto/overview/EtoOverviewThumbnail/Whitelist/Whitelist.tsx
  app/components/eto/overview/EtoTimeline/EtoTimeline.stories.tsx
  app/components/eto/overview/EtoTimeline/EtoTimeline.tsx
  app/components/eto/public-view/DocumentsWidget.tsx
  app/components/eto/public-view/EtoInvestmentTermsWidget.tsx
  app/components/eto/shared/ETOState.module.scss
  app/components/eto/shared/ETOState.tsx
  app/components/eto/shared/EtoView.tsx
  app/components/eto/shared/InvestmentAmount.tsx
  app/components/eto/shared/ToBeAnnouncedTooltip.stories.tsx
  app/components/eto/shared/ToBeAnnouncedTooltip.tsx
  app/components/shared/formatters/FormatNumber.tsx
  app/components/shared/formatters/FormatNumberRange.tsx
  app/components/shared/formatters/FormatShortNumber.tsx
  app/components/shared/formatters/Money.spec.tsx
  app/components/shared/formatters/Money.tsx
  app/components/shared/formatters/MoneyRange.tsx
  app/lib/api/eto/EtoApi.interfaces.unsafe.tsx
  app/modules/auth/selectors.ts
  app/modules/eto/selectors.ts
  app/modules/eto/types.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

#2813 - issuer eto form updates (#2935)
  app/components/eto/registration/pages/CompanyInformation.tsx
  app/components/eto/registration/pages/EtoTerms.tsx
  app/components/shared/forms/fields/FormFieldRaw.tsx
  app/components/shared/forms/fields/FormInput.unsafe.tsx
  app/components/shared/forms/fields/FormTextArea.tsx
  app/components/shared/forms/fields/utils.unsafe.tsx
  app/lib/api/eto/EtoApi.interfaces.unsafe.tsx
  app/test-e2e/eto-registration/fixtures.ts
  intl/locales/en-en.json
  test/fixtures.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix preview submission panel size (#2938)
  app/components/eto/EtoDashboard.stories.tsx
  app/components/eto/EtoDashboard.tsx
  app/components/eto/dashboard/ETOFormsProgressSection.tsx
  app/components/eto/dashboard/PublishETOWidget.stories.tsx
  app/components/eto/dashboard/PublishETOWidget.tsx
  app/lib/api/eto/EtoApi.interfaces.unsafe.tsx
  intl/locales/en-en.json
  test/fixtures.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2940 Investment terms coming soon eto fixes
  app/components/eto/public-view/EtoInvestmentTermsWidget.tsx
  app/components/shared/ResponsiveImage.module.scss
  app/lib/api/eto/EtoApi.interfaces.unsafe.tsx
  intl/locales/en-en.json
  test/fixtures.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#2905 Hide login button for issuer registering with secret link (#2947)
  app/components/wallet-selector/WalletSelector.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2940 Fix e2e tests
  app/test-e2e/eto-view/EtoViewForInvestor.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Temporary removes outdated platform terms
  app/modules/contracts/reducer.ts
  app/modules/contracts/sagas.ts
  test/fixtures/mockedStore.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Path conditions:
  yarn tsc: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix --config ./tslint.spec.json: any of: app/**/*.spec.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,js,json,md,gql}
  yarn sasslint: any of: **/*.{sass,scss,css}
