Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

.lintstagedrc:

{
  "app/**/*.{ts,tsx,js}": ["yarn tsc", "tslint --project . --format stylish --fix", "git add"],
  "app/**/*.spec.{ts,tsx}": ["tslint --project . --format stylish --fix --config ./tslint.spec.json", "git add"],
  "**/*.{ts,tsx,js,json,md,gql}": ["prettier --write", "git add"],
  "**/*.{sass,scss,css}": ["yarn sasslint"]
}

comments out static assertions
  app/test-e2e/eto/Campaining.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

add ticket size calculation to investment modal
  app/components/modals/tx-sender/investment-flow/Investment.tsx
  app/modules/investor-tickets/__tests__/selectors.spec.ts
  app/modules/investor-tickets/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#2029 Update eto watch calculations to consider clock issues
  app/modules/public-etos/sagas.ts
  app/modules/sagasUtils.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2029 Log eto preview code with clock warning
  app/modules/public-etos/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Update en-en.json
  intl/locales/en-en.json
Due: prettier --write

skip eth upgrade
  app/test-e2e/wallets/WalletUpgrade.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2126 #2125 #1969 #2068 Small production release fixes
  app/components/eto/overview/EtoOverviewStatus/CounterWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentProgress.module.scss
  app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentProgress.tsx
  app/components/landing/parts/testimonials/People.tsx
  app/components/layouts/LayoutAuthorizedMenu.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#2126 Add weekday to date
  app/components/eto/overview/EtoOverviewStatus/CounterWidget.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Changes Euro Investment Naming
  app/components/modals/tx-sender/investment-flow/InvestmentTypeSelector.stories.tsx
  app/components/modals/tx-sender/investment-flow/utils.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Update storybook (#2136)
  package.json
  yarn.lock
Due: prettier --write

#1683 add storybook tests rename canEnableBookbuilding to canEnableWhitelisting
  app/components/eto/EtoDashboard.tsx
  app/components/eto/dashboard/ETOFormsProgressSection.stories.tsx
  app/components/eto/dashboard/ETOFormsProgressSection.tsx
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.stories.tsx
  app/components/shared/ETOState.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1683 fix typings (TBookbuildingStatsType[]) reorder internal components of the widget fix all translations add all widget states to storybook
  app/components/eto/dashboard/bookBuildingStatsWidget/BookBuildingStatsWidget.tsx
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.stories.tsx
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.tsx
  app/components/eto/etoContentWidget.module.scss
  app/lib/api/eto/EtoApi.interfaces.tsx
  app/modules/eto-flow/actions.ts
  app/modules/eto-flow/selectors.ts
  app/modules/eto-flow/types.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#1683 reorder internal components of the widget add css override move helper function to utils add unit tests for helper functions
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.tsx
  app/components/eto/dashboard/bookBuildingWidget/utils.spec.ts
  app/components/eto/dashboard/bookBuildingWidget/utils.ts
  app/components/eto/etoContentWidget.module.scss
  app/modules/eto-flow/__tests__/utils.spec.ts
  app/modules/eto-flow/sagas.ts
  app/modules/eto-flow/utils.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

#1683 fix typing in sagas liter fixes
  app/components/eto/EtoDashboard.tsx
  app/components/eto/dashboard/ETOFormsProgressSection.stories.tsx
  app/components/eto/dashboard/ETOFormsProgressSection.tsx
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.stories.tsx
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.tsx
  app/components/eto/dashboard/bookBuildingWidget/utils.spec.ts
  app/components/eto/dashboard/bookBuildingWidget/utils.ts
  app/components/eto/etoContentWidget.module.scss
  app/components/shared/ETOState.tsx
  app/config/constants.ts
  app/lib/api/eto/EtoApi.interfaces.tsx
  app/modules/eto-flow/__tests__/utils.spec.ts
  app/modules/eto-flow/actions.ts
  app/modules/eto-flow/reducer.ts
  app/modules/eto-flow/sagas.ts
  app/modules/eto-flow/selectors.ts
  app/modules/eto-flow/types.ts
  app/modules/eto-flow/utils.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

#2073 remove header and explanation from RegisterLightWallet component if it's recovery fix css for footnote
  app/components/wallet-selector/light/RegisterLightWallet.module.scss
  app/components/wallet-selector/light/RegisterLightWallet.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Fix button jumping
  app/components/shared/buttons/Button.module.scss
  intl/locales/en-en.json
Due: prettier --write, yarn sasslint

#1683 use the bookbuilding api as data source for the widget only load data from pledges api if user downloads csv make csv a bit more user-friendly
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.stories.tsx
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.tsx
  app/components/eto/etoContentWidget.module.scss
  app/config/constants.ts
  app/modules/bookbuilding-flow/actions.ts
  app/modules/bookbuilding-flow/sagas.ts
  app/modules/eto-flow/__tests__/utils.spec.ts
  app/modules/eto-flow/actions.ts
  app/modules/eto-flow/reducer.ts
  app/modules/eto-flow/sagas.ts
  app/modules/eto-flow/selectors.ts
  app/modules/eto-flow/utils.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

#1683 remove aggregation function as I use bookbuilding api as data source now
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.tsx
  app/components/eto/dashboard/bookBuildingWidget/utils.spec.ts
  app/components/eto/dashboard/bookBuildingWidget/utils.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#1683 fix e2e test
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

add ticket size calculation to investment flow saga
  app/modules/investment-flow/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix PRODUCTION-7A fatal error
  app/components/wallet-selector/light/LoginWithEmailLightWallet.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

changes texting
  intl/locales/en-en.json
Due: prettier --write

uses newest more stable backend for e2e
  e2e/run_backend.sh
Due: none

fixes e2e test
  app/test-e2e/eto-view/EtoViewForInvestor.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

uses bignumber is min max ticket calculations
  app/components/modals/tx-sender/investment-flow/BankTransferSummary.tsx
  app/components/modals/tx-sender/investment-flow/Summary.tsx
  app/components/modals/tx-sender/investment-flow/utils.tsx
  app/modules/investor-tickets/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1513 Split production bundle to vendor, main and webpack runtime (#2150)
  app/lib/web3/CommitmentDeprecated.ts
  intl/locales/en-en.json
  webpack/webpack.config.prod.js
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2101 add custom tooltip function, typings
  app/components/shared/charts/ChartDoughnut.module.scss
  app/components/shared/charts/ChartDoughnut.stories.tsx
  app/components/shared/charts/ChartDoughnut.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Fix review
  app/components/testing/embededWIdget/embededWidget.tsx
  app/test-e2e/eto/EtoWidget.spec.e2e.ts
  app/test-e2e/utils/index.ts
  cypress/support/commands.js
  typings/cypress.d.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1770 Visual regression false positives
  app/components/eto/overview/EtoOverviewStatus/EtoMaxCapExceeded.stories.tsx
  package.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1770 Visual regression false positives
  app/components/eto/overview/EtoOverviewStatus/EtoMaxCapExceeded.stories.tsx
  regconfig.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1770 Add false positive
  app/components/eto/overview/EtoOverviewStatus/EtoMaxCapExceeded.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1770 Change reg-viz config
  regconfig.json
Due: prettier --write

#1770 Update threshold rate
  app/components/eto/overview/EtoOverviewStatus/EtoMaxCapExceeded.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoMaxCapExceeded.tsx
  intl/locales/en-en.json
  package.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2101 remove unnecessary wrapper div in story remove unnecessary object spread in component
  app/components/shared/charts/ChartDoughnut.stories.tsx
  app/components/shared/charts/ChartDoughnut.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix PRODUCTION-9A (#2154)
  app/modules/investor-tickets/selectors.ts
  app/modules/public-etos/sagas.ts
  app/modules/public-etos/utils.ts
  app/types.d.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

removes reverse
  app/components/eto/shared/EtoPublicComponent.tsx
  app/components/shared/MediaLinksEditor.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

copies array
  app/components/eto/shared/EtoPublicComponent.tsx
  app/components/shared/MediaLinksEditor.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write
