Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

.lintstagedrc:

{
  "app/**/*.{ts,tsx,js}": ["yarn tsc", "tslint --project . --format stylish --fix", "git add"],
  "app/**/*.spec.{ts,tsx}": ["tslint --project . --format stylish --fix --config ./tslint.spec.json", "git add"],
  "**/*.{ts,tsx,js,json,md,gql}": ["prettier --write", "git add"],
  "**/*.{sass,scss,css}": ["yarn sasslint"]
}

updates light wallet
  package.json
  yarn.lock
Due: prettier --write

#2411 Add support for svg icon to section header (#2433)
  app/components/eto/shared/DashboardSection.tsx
  app/components/eto/shared/EtoView.tsx
  app/components/portfolio/AssetPortfolio.tsx
  app/components/portfolio/PortfolioLayout.tsx
  app/components/portfolio/PortfolioMyAssets.tsx
  app/components/portfolio/PortfolioReservedAssets.tsx
  app/components/shared/SectionHeader.module.scss
  app/components/shared/SectionHeader.stories.tsx
  app/components/shared/SectionHeader.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Refactor ButtonIcon component (#2430)
  app/components/shared/InlineIcon.stories.tsx
  app/components/shared/PeopleSwiperWidget.module.scss
  app/components/shared/PeopleSwiperWidget.tsx
  app/components/shared/buttons/Button.module.scss
  app/components/shared/buttons/Button.tsx
  app/components/shared/buttons/ButtonIcon.module.scss
  app/components/shared/buttons/ButtonIcon.stories.tsx
  app/components/shared/buttons/ButtonIcon.tsx
  app/components/shared/buttons/ButtonLink.tsx
  app/components/shared/buttons/index.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Add incoming payouts
  app/components/dashboard/incoming-payout/IncomingPayoutWidget.module.scss
  app/components/dashboard/incoming-payout/IncomingPayoutWidget.tsx
  app/components/dashboard/my-portfolio/MyPortfolioWidget.stories.tsx
  app/components/dashboard/my-portfolio/MyPortfolioWidget.tsx
  app/components/shared/Counter.tsx
  app/components/translatedMessages/messages.tsx
  app/config/externalRoutes.ts
  app/modules/investor-portfolio/actions.ts
  app/modules/investor-portfolio/reducer.ts
  app/modules/investor-portfolio/sagas.ts
  app/modules/investor-portfolio/selectors.ts
  app/modules/investor-portfolio/types.ts
  app/styles/mixins/typography.scss
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Add tests and storybook
  app/components/dashboard/incoming-payout/IncomingPayoutWidget.stories.tsx
  app/components/dashboard/incoming-payout/IncomingPayoutWidget.tsx
  app/components/shared/Counter.tsx
  app/test-e2e/investor-dashboard/LightWalletInvestorDashboard.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Add download agreements tests
  app/components/modals/download-token-agreements-modal/DownloadTokenAgreementModal.tsx
  app/components/modals/tx-sender/user-claim/Summary.tsx
  app/components/portfolio/PortfolioMyAssets.tsx
  app/modules/immutable-file/sagas.ts
  app/modules/immutable-file/utils.ts
  app/test-e2e/constants.ts
  app/test-e2e/portfolio/PortfolioDownloadDocuments.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix e2e
  app/test-e2e/investor-dashboard/LightWalletInvestorDashboard.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix lint
  app/test-e2e/investor-dashboard/LightWalletInvestorDashboard.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix review
  app/components/dashboard/incoming-payout/IncomingPayoutWidget.tsx
  app/components/shared/Counter.tsx
  app/modules/investor-portfolio/actions.ts
  app/modules/investor-portfolio/sagas.ts
  app/modules/investor-portfolio/types.ts
  app/test-e2e/investor-dashboard/LightWalletInvestorDashboard.spec.e2e.ts
  app/test-e2e/utils/index.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Restore clock after portfolio redirect
  app/test-e2e/investor-dashboard/LightWalletInvestorDashboard.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix clock tick
  app/test-e2e/investor-dashboard/LightWalletInvestorDashboard.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Enable portfolio for e2e tests
  app/config/.env.e2e
Due: none

#2201 enriched InvestWithRegularEther with test for portfolio section. (#2367)
  app/components/modals/tx-sender/investment-flow/Investment.tsx
  app/components/modals/tx-sender/investment-flow/Success.tsx
  app/components/portfolio/PortfolioReservedAssets.tsx
  app/components/shared/Alerts.tsx
  app/components/shared/NewTable.tsx
  app/config/.env.e2e
  app/config/.env.example
  app/test-e2e/eto/InvestWithRegularEther.spec.e2e.ts
  patches/cypress+3.1.0.patch
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

fixes visual glitches
  app/components/eto/EtoDashboard.tsx
  app/components/settings/Settings.tsx
  app/components/settings/backup-seed/BackupSeedWidget.tsx
  app/components/settings/kyc-states/KycStatusWidget.tsx
  app/components/settings/settings-widget/SettingsWidgets.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1733 Cleanup e2e utils directory
  app/test-e2e/confirm.ts
  app/test-e2e/eto-registration/SetEtoStartDate.spec.e2e.ts
  app/test-e2e/eto/Campaigning.spec.e2e.ts
  app/test-e2e/eto/InvestChange.spec.e2e.ts
  app/test-e2e/eto/InvestWithBankTransfer.spec.e2e.ts
  app/test-e2e/eto/InvestWithNoMoney.spec.e2e.ts
  app/test-e2e/eto/InvestWithRegularEther.spec.e2e.ts
  app/test-e2e/eto/InvestWithUpgradedWalletEther.spec.e2e.ts
  app/test-e2e/eto/InvestWithUpgradedWalletEurT.spec.e2e.ts
  app/test-e2e/fixtures.ts
  app/test-e2e/settings/BackupSeed.spec.e2e.ts
  app/test-e2e/settings/LightWalletRegister.spec.e2e.ts
  app/test-e2e/utils/assertions.ts
  app/test-e2e/utils/index.ts
  app/test-e2e/wallets/WalletRecover.spec.e2e.ts
  app/test-e2e/wallets/WalletTransfer.spec.e2e.ts
  app/test-e2e/wallets/WalletUpgrade.spec.e2e.ts
  app/test-e2e/wallets/WalletWithdraw.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

adds Settings to Storybook adds general mockedStore
  app/components/eto/EtoDashboard.stories.tsx
  app/components/eto/EtoDashboard.tsx
  app/components/settings/Settings.stories.tsx
  app/components/settings/Settings.tsx
  test/fixtures/mockedStore.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1733 Add accept payout e2e tests
  app/components/modals/tx-sender/investor-payout/AcceptSuccess.tsx
  app/components/modals/tx-sender/investor-payout/AcceptSummary.tsx
  app/components/modals/tx-sender/shared/InfoRow.tsx
  app/components/portfolio/AssetPortfolio.tsx
  app/components/portfolio/PortfolioLayout.tsx
  app/test-e2e/fixtures.ts
  app/test-e2e/portfolio/AcceptPayout.spec.e2e.ts
  app/test-e2e/utils/assertions.ts
  app/test-e2e/utils/index.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1733 Fix lints
  app/components/modals/tx-sender/eto-flow/SetDateSummary.tsx
  app/components/modals/tx-sender/investment-flow/BankTransferDetails.tsx
  app/components/modals/tx-sender/investment-flow/BankTransferSummary.tsx
  app/components/modals/tx-sender/investment-flow/Summary.tsx
  app/components/modals/tx-sender/investor-payout/AcceptSummary.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2326 Extract neur from my wallet (#2327)
  app/components/shared/AccountBalance.stories.tsx
  app/components/shared/AccountBalance.tsx
  app/components/shared/MoneySuiteWidget.tsx
  app/components/wallet/views/start/Start.tsx
  app/components/wallet/wallet-balance/IcbmWallet.stories.tsx
  app/components/wallet/wallet-balance/IcbmWallet.tsx
  app/components/wallet/wallet-balance/LockedWallet.tsx
  app/components/wallet/wallet-balance/UnlockedETHWallet.stories.tsx
  app/components/wallet/wallet-balance/UnlockedETHWallet.tsx
  app/components/wallet/wallet-balance/UnlockedNEURWallet.stories.tsx
  app/components/wallet/wallet-balance/UnlockedNEURWallet.tsx
  app/components/wallet/wallet-balance/UnlockedWallet.stories.tsx
  app/components/wallet/wallet-balance/UnlockedWallet.tsx
  app/components/wallet/wallet-balance/utils.ts
  app/config/externalRoutes.ts
  app/test-e2e/wallets/WalletRecover.spec.e2e.ts
  app/test-e2e/wallets/WalletTransfer.spec.e2e.ts
  app/test-e2e/wallets/WalletUpgrade.spec.e2e.ts
  app/test-e2e/wallets/WalletWithdraw.spec.e2e.ts
  app/utils/tidUtils.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

adds additional state
  app/components/dashboard/Dashboard.stories.tsx
  app/components/eto/EtoDashboard.stories.tsx
  app/components/settings/Settings.stories.tsx
  app/components/settings/backup-seed/BackupSeedWidget.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Update icons
  app/assets/img/inline_icons/icon-menu-portfolio.svg
  app/assets/img/notifications/success.svg
  app/components/modals/GenericModal.tsx
  app/components/settings/backup-seed/BackupSeedWidget.tsx
  app/components/settings/kyc-states/KycStatusWidget.stories.tsx
  app/components/settings/kyc-states/KycStatusWidget.tsx
  app/components/settings/verify-email/VerifyEmailWidget.tsx
  app/components/shared/InlineIcon.stories.tsx
  app/components/shared/UploadedFiles.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1733 Add asset portfolio visibility flag to e2e env
  app/config/.env.e2e
Due: none

Small portfolio fixes (#2444)
  app/components/portfolio/AssetPortfolio.tsx
  app/components/portfolio/Portfolio.tsx
  app/components/portfolio/PortfolioLayout.stories.tsx
  app/components/portfolio/PortfolioLayout.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1733 Refactor AcceptancePayout e2e test
  app/test-e2e/portfolio/AcceptPayout.spec.e2e.ts
  app/test-e2e/utils/index.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1733 Add Redistribute Payout e2e test
  app/components/modals/tx-sender/investor-payout/RedistributeConfirm.tsx
  app/components/modals/tx-sender/investor-payout/RedistributeSuccess.tsx
  app/components/modals/tx-sender/investor-payout/RedistributeSummary.tsx
  app/components/portfolio/AssetPortfolio.tsx
  app/test-e2e/portfolio/RedistributePayout.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1733 Add NoPayout and BlockedPayout e2e tests
  app/components/portfolio/AssetPortfolio.tsx
  app/test-e2e/portfolio/BlockedPayout.spec.e2e.ts
  app/test-e2e/portfolio/NoPayout.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1733 Refactor utils after merge with master
  app/test-e2e/utils/assertions.ts
  app/test-e2e/utils/index.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1733 Add Accept all payouts e2e test
  app/components/modals/tx-sender/investor-payout/AcceptSummary.tsx
  app/test-e2e/portfolio/AcceptAllPayouts.spec.e2e.ts
  app/test-e2e/portfolio/AcceptSinglePayout.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1733 Update hdpath to be correct one
  app/components/shared/SectionHeader.tsx
  app/test-e2e/fixtures.ts
  app/test-e2e/portfolio/AcceptAllPayouts.spec.e2e.ts
  app/test-e2e/portfolio/RedistributePayout.spec.e2e.ts
  app/test-e2e/utils/userHelpers.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1733 Update `parseAmount` to return BigNumber
  app/test-e2e/eto/InvestWithRegularEther.spec.e2e.ts
  app/test-e2e/portfolio/AcceptAllPayouts.spec.e2e.ts
  app/test-e2e/portfolio/AcceptSinglePayout.spec.e2e.ts
  app/test-e2e/utils/index.ts
  cypress/support/index.js
  package.json
  test/setupTests.ts
  typings/chai-bignumber.d.ts
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1733 Fix broken e2e test
  app/test-e2e/portfolio/AcceptAllPayouts.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

At/#1639 refactor setStartingDateWidget (#2354)
  app/components/eto/EtoContentWidget.module.scss
  app/components/eto/dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.stories.tsx
  app/components/eto/dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.tsx
  app/components/modals/tx-sender/eto-flow/SetDateSummary.stories.tsx
  app/components/modals/tx-sender/eto-flow/SetDateSummary.tsx
  app/components/shared/DatePicker.tsx
  app/components/shared/Panel.module.scss
  app/components/shared/TimeLeft.module.scss
  app/components/shared/TimeLeft.stories.tsx
  app/components/shared/TimeLeft.tsx
  app/components/shared/forms/fields/FormFieldDatePicker.module.scss
  app/components/shared/forms/fields/FormFieldDatePicker.tsx
  app/components/shared/utils.spec.ts
  app/components/shared/utils.ts
  app/config/constants.ts
  app/modules/eto-flow/actions.ts
  app/modules/eto-flow/reducer.ts
  app/modules/eto-flow/sagas.ts
  app/test-e2e/eto-registration/SetEtoStartDate.spec.e2e.ts
  app/utils/withMetaTags.tsx
  bundlewatch.config.json
  intl/locales/en-en.json
  package.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

Remove StorybookAssertionContainer (#2447)
  app/components/shared/StorybookAssertionContainer.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix review
  app/components/portfolio/PortfolioMyAssets.tsx
  app/test-e2e/portfolio/PortfolioDownloadDocuments.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix lint
  app/test-e2e/portfolio/PortfolioDownloadDocuments.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

changes myEtherWallet link
  app/utils/myEtherWallet.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Tree-Shake main bundle Saves around 40kb for vendors and 90kb for main bundle
  app/components/translatedMessages/yupLocales.sideEffect.tsx
  app/index.tsx
  app/utils/IntlProviderAndInjector.tsx
  bundlewatch.config.json
  package.json
  tsconfig.dev.json
  tsconfig.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

upgrade backend + contract artifacts
  e2e/run_backend.sh
Due: none

Update tsconfig to have special configuration for tests
  .storybook/webpack.config.js
  package.json
  tsconfig.cypress.json
  tsconfig.dev.json
  tsconfig.json
  tsconfig.spec.json
  webpack/webpack.config.dev.js
Due: prettier --write

Revert "upgrade backend + contract artifacts"
  e2e/run_backend.sh
Due: none
