Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

.lintstagedrc:

{
  "app/**/*.{ts,tsx,js}": ["yarn tsc", "tslint --project . --format stylish --fix", "git add"],
  "app/**/*.spec.{ts,tsx}": ["tslint --project . --format stylish --fix --config ./tslint.spec.json", "git add"],
  "**/*.{ts,tsx,js,json,md,gql}": ["prettier --write", "git add"],
  "**/*.{sass,scss,css}": ["yarn sasslint"]
}

Fixes transaction history polling
  packages/web/app/lib/api/analytics-api/AnalyticsApi.ts
  packages/web/app/modules/tx-history/sagas.ts
Due: prettier --write

add signing timeout
  packages/web/app/lib/web3/wallet-connect/WalletConnectConnector.ts
  packages/web/app/lib/web3/wallet-connect/WalletConnectWallet.ts
  packages/web/app/modules/wallet-selector/sagas.ts
Due: prettier --write

Fix code
  packages/web/app/components/dashboard/my-portfolio/PortfolioStats.tsx
  packages/web/app/modules/eto/actions.ts
  packages/web/app/modules/eto/reducer.ts
  packages/web/app/modules/eto/sagas.ts
  packages/web/app/modules/tx/sender/sagas.ts
  packages/web/health-check-sha.json
Due: prettier --write

fixed health-check
  packages/web/health-check-sha.json
Due: prettier --write

#4166 Fix legal information widget word-break (#4174)
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/legal-information-widget/LegalInformationWidget.module.scss
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/legal-information-widget/LegalInformationWidget.tsx
  packages/web/app/components/shared/charts/ChartLegend.module.scss
  packages/web/health-check-sha.json
Due: prettier --write, yarn sasslint

Add unit test
  packages/web/app/modules/eto/sagas.spec.ts
  packages/web/app/modules/eto/sagas.ts
Due: prettier --write

Update tags symbol
  packages/web/app/test-e2e/investor/portfolio/PortfolioStats.spec.e2e.io.ts
Due: prettier --write

moves ledger sagas out
  packages/web/app/modules/wallet-selector/ledgerConnectAndSign.ts
  packages/web/app/modules/wallet-selector/sagas.ts
Due: prettier --write

amends browser wallet
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterBrowserWallet/RegisterBrowserWallet.ts
  packages/web/app/components/wallet-selector/WalletSelectorRegister/RegisterBrowserWallet/RegisterBrowserWalletForm.tsx
  packages/web/app/modules/routing/redirects/sagas.ts
  packages/web/app/modules/routing/redirects/utils.ts
  packages/web/app/modules/routing/routes.ts
  packages/web/app/modules/wallet-selector/actions.ts
  packages/web/app/modules/wallet-selector/browser-wizard/sagas.ts
  packages/web/app/modules/wallet-selector/forms/sagas.ts
  packages/web/app/modules/wallet-selector/sagas.ts
  packages/web/app/modules/wallet-selector/types.ts
  packages/web/app/test-e2e/other/login/lightwallet/BrowserWalletLogin.spec.e2e.io.ts
Due: prettier --write

#4165 Fix media links not preserving capital letters (#4177)
  packages/web/app/components/shared/MediaLinksEditor.tsx
  packages/web/app/components/shared/MediaLinksWidget.tsx
  packages/web/app/test-e2e/issuer/eto/view/components/MediaLinksWidget.spec.e2e.io.ts
Due: prettier --write

ETO.Pitch.Impact (#4185)
  packages/web/app/components/eto/eto-full-view/shared/EtoAccordionElements.tsx
  packages/web/app/components/eto/registration/pages/EtoPitch/EtoRegistrationPitch.tsx
  packages/web/app/components/eto/registration/pages/EtoPitch/validateEtoRegistrationPitch.tsx
  packages/web/app/lib/api/eto/EtoApi.interfaces.unsafe.ts
  packages/web/app/test-e2e/issuer/eto/fixtures.ts
  packages/web/intl/locales/en-en.json
  packages/web/test/fixtures.ts
Due: prettier --write

Change ETO iframe statistics URL to a new dynamic ETO route in icomonitor (#4117)
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/fundrising-stats/EtoViewFundraisingStatistics.tsx
  packages/web/app/config/.env.common
  packages/web/app/config/externalRoutes.ts
  packages/web/app/config/getConfig.ts
  packages/web/test/fixtures.ts
Due: prettier --write

Fix metamask login page on mobile devices
  packages/web/app/components/wallet-selector/browser/WalletBrowser.module.scss
Due: yarn sasslint

Add individuals unit test
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/individuals/Individuals.spec.tsx
  packages/web/app/components/eto/eto-full-view/shared/campaign-overview/individuals/Individuals.tsx
Due: prettier --write

Fix Verified Bank account Link button position
  packages/web/app/components/wallet/VerifiedBankAccount.module.scss
Due: yarn sasslint

Eth Send fix amount error message
  packages/web/app/components/modals/tx-sender/withdraw-flow/Init/TokenValurFormRow.tsx/TokenValueFormRow.tsx
  packages/web/app/components/modals/tx-sender/withdraw-flow/Init/utils.tsx
  packages/web/app/lib/yup-ts.unsafe.tsx
  packages/web/intl/locales/en-en.json
Due: prettier --write

Fix lowercase token symbol balance
  packages/web/app/components/modals/tx-sender/withdraw-flow/Init/TransferLayout/TransferLayout.tsx
Due: prettier --write

Add margin to ETH Send error message
  packages/web/app/components/modals/tx-sender/withdraw-flow/TransferTransactionLayout/TransferTransactionLayout.tsx
Due: prettier --write

Fix social profile media icon opening modal
  packages/web/app/components/modals/tx-sender/withdraw-flow/Init/TransferLayout/TransferLayout.tsx
  packages/web/app/components/shared/SocialProfilesList.tsx
Due: prettier --write

Fix file upload allowing to remove item while disabled
  packages/web/app/components/shared/SingleFileUpload.tsx
Due: prettier --write

Fix Sign ISHA long file name breaking modal
  packages/web/app/components/modals/tx-sender/nominee/sign-isha/SignISHASummary.module.scss
  packages/web/app/components/modals/tx-sender/nominee/sign-isha/SignISHASummary.stories.tsx
  packages/web/app/components/modals/tx-sender/nominee/sign-isha/SignISHASummary.tsx
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

Fix fullscreen progress layout on small devices
  packages/web/app/components/layouts/FullscreenProgressLayout.module.scss
Due: yarn sasslint

Fix access browser wallet icon size
  packages/web/app/components/modals/wallet-access/AccessWalletModal.module.scss
  packages/web/app/components/modals/wallet-access/AccessWalletModal.stories.tsx
  packages/web/app/components/modals/wallet-access/AccessWalletModal.tsx
Due: prettier --write, yarn sasslint

Fix inline button position in paragraph
  packages/design-system/src/components/buttons/ButtonInline.module.scss
Due: yarn sasslint

Fix tooltip icon position
  packages/web/app/components/shared/tooltips/Tooltip.module.scss
Due: yarn sasslint

Refactors LightWallet Register Refactors General Form Generator
  packages/sagas/src/tests.ts
  packages/web/app/modules/auth/email/sagas.ts
  packages/web/app/modules/auth/user/sagas.ts
  packages/web/app/modules/routing/redirects/utils.ts
  packages/web/app/modules/wallet-selector/actions.ts
  packages/web/app/modules/wallet-selector/browser-wizard/sagas.ts
  packages/web/app/modules/wallet-selector/forms/sagas.spec.ts
  packages/web/app/modules/wallet-selector/forms/sagas.ts
  packages/web/app/modules/wallet-selector/light-wizard/actions.ts
  packages/web/app/modules/wallet-selector/light-wizard/register/sagas.spec.ts
  packages/web/app/modules/wallet-selector/light-wizard/register/sagas.ts
  packages/web/app/modules/wallet-selector/light-wizard/sagas.ts
  packages/web/app/modules/wallet-selector/selectors.ts
  packages/web/app/modules/wallet-selector/types.ts
Due: prettier --write

Fix investment type selector enable button
  packages/web/app/components/modals/tx-sender/investment-flow/InvestmentTypeSelector.tsx
Due: prettier --write

Fix continue button text
  packages/web/intl/locales/en-en.json
Due: prettier --write

Add console log
  packages/wallet/app/modules/init/sagas.ts
  packages/wallet/app/modules/notifications/Notifications.ts
  packages/wallet/ios/wallet.xcodeproj/project.pbxproj
Due: prettier --write

fix link now button
  packages/web/intl/locales/en-en.json
Due: prettier --write

adds ligtwallet recovery unit tests
  packages/web/app/modules/auth/user/external/sagas.ts
  packages/web/app/modules/auth/user/sagas.ts
  packages/web/app/modules/wallet-selector/browser-wizard/sagas.ts
  packages/web/app/modules/wallet-selector/forms/sagas.spec.ts
  packages/web/app/modules/wallet-selector/forms/sagas.ts
  packages/web/app/modules/wallet-selector/light-wizard/register/sagas.spec.ts
  packages/web/app/modules/wallet-selector/light-wizard/register/sagas.ts
  packages/web/app/modules/wallet-selector/light-wizard/sagas.spec.ts
  packages/web/app/modules/wallet-selector/light-wizard/sagas.ts
  packages/web/app/modules/wallet-selector/sagas.ts
  packages/web/app/test-e2e/other/recovery/WalletRecovery.spec.e2e.io.ts
Due: prettier --write

Fix dropzone buttons
  packages/web/app/components/shared/Dropzone.module.scss
  packages/web/app/components/shared/Dropzone.tsx
  packages/web/app/components/shared/DropzoneActionButtons.tsx
Due: prettier --write, yarn sasslint

Move permissions and device information to standalone modules
  packages/wallet/app/di/setupBindings.ts
  packages/wallet/app/di/symbols.ts
  packages/wallet/app/modules/device-information/DeviceInformation.spec.ts
  packages/wallet/app/modules/device-information/__mocks__/react-native-device-info.ts
  packages/wallet/app/modules/device-information/bindings.ts
  packages/wallet/app/modules/device-information/module.ts
  packages/wallet/app/modules/device-information/symbols.ts
  packages/wallet/app/modules/notifications/Notifications.ts
  packages/wallet/app/modules/permissions/Permission.spec.ts
  packages/wallet/app/modules/permissions/__mocks__/react-native-permissions.ts
  packages/wallet/app/modules/permissions/bindings.ts
  packages/wallet/app/modules/permissions/module.ts
  packages/wallet/app/modules/permissions/symbols.ts
  packages/wallet/app/store/create.tsx
Due: prettier --write

Fix document link text alignment
  packages/web/app/components/shared/DocumentLink.module.scss
Due: yarn sasslint

Add disabled state style to button inline
  packages/design-system/src/components/buttons/ButtonInline.module.scss
Due: yarn sasslint

Fix lint
  packages/web/app/components/shared/Dropzone.module.scss
  packages/web/app/components/shared/Dropzone.tsx
  packages/web/app/components/shared/DropzoneActionButtons.tsx
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

PR fixes
  packages/wallet/app/modules/device-information/DeviceInformation.spec.ts
  packages/wallet/app/modules/device-information/DeviceInformation.ts
  packages/wallet/app/modules/device-information/__mocks__/react-native-device-info.ts
  packages/wallet/app/modules/notifications/FirebaseProvider.ts
  packages/wallet/app/modules/notifications/Notifications.ts
  packages/wallet/app/modules/permissions/Permission.spec.ts
  packages/wallet/app/modules/permissions/Permissions.ts
  packages/wallet/ios/wallet.xcodeproj/xcshareddata/xcschemes/wallet-tvOS.xcscheme
  packages/wallet/package.json
Due: prettier --write

Update sha
  packages/web/health-check-sha.json
Due: prettier --write

Fix unit tests
  packages/wallet/app/modules/permissions/Permission.spec.ts
Due: prettier --write

Lint fixes
  packages/wallet/app/modules/permissions/types.d.ts
  packages/wallet/package.json
Due: prettier --write
