Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

.lintstagedrc:

{
  "app/**/*.{ts,tsx,js}": ["yarn tsc", "tslint --project . --format stylish --fix", "git add"],
  "app/**/*.spec.{ts,tsx}": ["tslint --project . --format stylish --fix --config ./tslint.spec.json", "git add"],
  "**/*.{ts,tsx,js,json,md,gql}": ["prettier --write", "git add"],
  "**/*.{sass,scss,css}": ["yarn sasslint"]
}

linter fixes
  intl/locales/en-en.json
Due: prettier --write

Fix notification DOM error (#2316)
  app/components/shared/buttons/Button.tsx
  app/components/shared/notification-widget/Notification.module.scss
  app/components/shared/notification-widget/Notification.spec.tsx
  app/components/shared/notification-widget/Notification.stories.tsx
  app/components/shared/notification-widget/Notification.tsx
  app/components/shared/notification-widget/NotificationWidget.module.scss
  app/components/shared/notification-widget/NotificationWidget.tsx
  app/modules/notifications/actions.ts
  app/modules/notifications/reducer.spec.ts
  app/modules/notifications/reducer.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

Fix styles import for NotificationWidget (#2318)
  app/components/shared/notification-widget/Notification.module.scss
  app/components/shared/notification-widget/NotificationWidget.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

bundlewatcher (#2310)
  .circleci/config.yml
  app/components/shared/HiResImage.tsx
  app/data/etoCompanies.ts
  bundlewatch.config.json
  package.json
  setup-bundlewatcher.sh
  webpack/webpack.config.dev.js
  webpack/webpack.config.prod.js
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1683 Add title to wallet route (#2325)
  app/components/settings/Settings.tsx
  app/components/wallet/Wallet.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Add E2E tests for ETH wallet transfer
  app/components/modals/DepositEthModal.tsx
  app/components/shared/AccountAddress.tsx
  app/components/shared/AccountBalance.tsx
  app/components/shared/EthereumQRCode.tsx
  app/test-e2e/constants.ts
  app/test-e2e/wallets/WalletTransfer.spec.e2e.ts
  cypress/fixtures/INV_EUR_ICBM_HAS_KYC_ADDRESS.svg
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Move common webpack config to shared config (#2329)
  package.json
  webpack/webpack.config.common.js
  webpack/webpack.config.dev.js
  webpack/webpack.config.prod.js
  yarn.lock
Due: prettier --write

#2016 #1860 Widget visual fixes (#2160)
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedInvestorApprovedWidgetLayout.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.module.scss
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/eto/overview/EtoOverviewStatus/Message.module.scss
  app/components/eto/overview/EtoOverviewStatus/TagsWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/TokenSymbolWidget.module.scss
  app/components/shared/SuccessTick.module.scss
  app/components/shared/SuccessTick.tsx
  app/components/shared/Tag.module.scss
  app/components/shared/Tag.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

changes template to download as pdf
  app/components/modals/tx-sender/user-claim/Summary.tsx
  app/components/portfolio/PortfolioLayout.tsx
  app/lib/api/eto/EtoFileApi.interfaces.ts
  app/modules/eto-documents/sagas.ts
  app/modules/immutable-file/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Revert "changes template to download as pdf"
  app/components/modals/tx-sender/user-claim/Summary.tsx
  app/components/portfolio/PortfolioLayout.tsx
  app/lib/api/eto/EtoFileApi.interfaces.ts
  app/modules/eto-documents/sagas.ts
  app/modules/immutable-file/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

changes templates to download as pdf
  app/components/modals/tx-sender/user-claim/Summary.tsx
  app/components/portfolio/PortfolioLayout.tsx
  app/lib/api/eto/EtoFileApi.interfaces.ts
  app/modules/eto-documents/sagas.ts
  app/modules/immutable-file/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#480 lock /kyc/ path if email not verified (#2324)
  app/components/documents/Documents.tsx
  app/components/eto/shared/EtoView.tsx
  app/components/kyc/Kyc.tsx
  app/test-e2e/routing/RegisterRedirectIfNoVerifiedEmail.spec.e2e.ts
  app/test-e2e/utils/index.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1928 Fix Agreement Download to use correct LockedAccount instance (#2330)
  app/components/modals/icbm-wallet-balance-modal/IcbmWalletBalanceModal.tsx
  app/components/modals/tx-sender/TxSender.tsx
  app/components/modals/tx-sender/upgrade-flow/Summary.stories.tsx
  app/components/modals/tx-sender/upgrade-flow/Summary.tsx
  app/modules/icbm-wallet-balance-modal/actions.ts
  app/modules/icbm-wallet-balance-modal/sagas.ts
  app/modules/tx/transactions/upgrade/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

[Hotfix] Reconfigure workbox to use local instance (#2339)
  webpack/webpack.config.common.js
Due: prettier --write

Refactor selectors to use state as first parameter (#2338)
  app/components/eto/dashboard/bookBuildingWidget/BookBuildingWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/modals/tx-sender/investment-flow/BankTransferSummary.tsx
  app/components/modals/tx-sender/investment-flow/Investment.tsx
  app/components/modals/tx-sender/investment-flow/Summary.tsx
  app/modules/bookbuilding-flow/selectors.ts
  app/modules/investment-flow/sagas.ts
  app/modules/investor-tickets/__tests__/selectors.spec.ts
  app/modules/investor-tickets/selectors.ts
  app/modules/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#2088 Add not found state to embedded widget (#2331)
  app/components/AppRouter.tsx
  app/components/eto/EtoWidgetView.stories.tsx
  app/components/eto/EtoWidgetView.tsx
  app/components/testing/embeded-widget/TestEmbededWidget.tsx
  app/modules/public-etos/actions.ts
  app/modules/public-etos/reducer.ts
  app/modules/public-etos/sagas.ts
  app/modules/public-etos/selectors.ts
  app/test-e2e/eto/EtoWidget.spec.e2e.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Blacklist query params that we send to sentry (#2341)
  app/components/App.tsx
  app/components/shared/errorBoundary/ErrorBoundary.tsx
  app/components/shared/forms/Form.ts
  app/config/.env.example
  app/di/setupBindings.ts
  app/index.tsx
  app/lib/api/users/UsersApi.ts
  app/lib/api/vault/VaultApi.ts
  app/lib/dependencies/Logger.ts
  app/lib/dependencies/logger/DevConsoleLogger.ts
  app/lib/dependencies/logger/ILogger.ts
  app/lib/dependencies/logger/SentryLogger.ts
  app/lib/dependencies/logger/index.ts
  app/lib/persistence/ObjectStorage.spec.ts
  app/lib/persistence/ObjectStorage.ts
  app/lib/persistence/WalletStorage.ts
  app/lib/web3/ContractsService.ts
  app/lib/web3/Web3Manager.spec.ts
  app/lib/web3/Web3Manager.ts
  app/middlewares/redux-logger.ts
  app/modules/auth/sagas.spec.ts
  app/modules/wallet-selector/browser-wizard/actions.spec.ts
  app/modules/web3/sagas.spec.ts
  app/utils/AsyncIntervalScheduler.spec.ts
  app/utils/AsyncIntervalScheduler.ts
  test/integrationTestUtils.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

checks if receipt exists during txWatch (#2343)
  app/lib/web3/Web3Adapter.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

update submodules
  e2e/run_backend.sh
Due: none

Blacklist query params that we send to sentry (#2341)
  app/components/App.tsx
  app/components/shared/errorBoundary/ErrorBoundary.tsx
  app/config/.env.example
  app/di/setupBindings.ts
  app/index.tsx
  app/lib/api/users/UsersApi.ts
  app/lib/api/vault/VaultApi.ts
  app/lib/dependencies/Logger.ts
  app/lib/dependencies/logger/DevConsoleLogger.ts
  app/lib/dependencies/logger/ILogger.ts
  app/lib/dependencies/logger/SentryLogger.ts
  app/lib/dependencies/logger/index.ts
  app/lib/persistence/ObjectStorage.spec.ts
  app/lib/persistence/ObjectStorage.ts
  app/lib/persistence/WalletStorage.ts
  app/lib/web3/ContractsService.ts
  app/lib/web3/Web3Manager.spec.ts
  app/lib/web3/Web3Manager.ts
  app/middlewares/redux-logger.ts
  app/modules/auth/sagas.spec.ts
  app/modules/wallet-selector/browser-wizard/actions.spec.ts
  app/modules/web3/sagas.spec.ts
  app/utils/AsyncIntervalScheduler.spec.ts
  app/utils/AsyncIntervalScheduler.ts
  test/integrationTestUtils.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

External Link component (#2349)
  app/components/eto/overview/EtoOverviewStatus/TagsWidget.tsx
  app/components/eto/shared/EtoView.tsx
  app/components/landing/parts/LandingHeader.tsx
  app/components/landing/parts/Testimonials.tsx
  app/components/landing/parts/testimonials/People.tsx
  app/components/layouts/Footer.tsx
  app/components/layouts/LayoutAuthorizedMenu.tsx
  app/components/modals/PersonProfileModal.tsx
  app/components/modals/icbm-wallet-balance-modal/MigrateModal.tsx
  app/components/modals/tx-sender/eto-flow/SetDateSummary.tsx
  app/components/modals/tx-sender/investment-flow/Success.tsx
  app/components/modals/tx-sender/shared/TxPending.tsx
  app/components/modals/tx-sender/shared/WatchPeningTxs.tsx
  app/components/modals/tx-sender/withdraw-flow/Success.tsx
  app/components/shared/AccountAddress.tsx
  app/components/shared/DocumentLink.tsx
  app/components/shared/EtoOfferingCard.tsx
  app/components/shared/MediaLinksWidget.tsx
  app/components/shared/SocialProfilesList.tsx
  app/components/shared/buttons/ButtonLink.spec.tsx
  app/components/shared/buttons/ButtonLink.tsx
  app/components/shared/links/EtherscanLink.tsx
  app/components/shared/links/ExternalLink.stories.tsx
  app/components/shared/links/ExternalLink.tsx
  app/components/shared/links/index.ts
  app/components/wallet-selector/WalletSelector.tsx
  app/components/wallet-selector/wallet-recover/help/LoginHelp.tsx
  app/modules/routing/actions.ts
  app/modules/routing/sagas.ts
  app/types.d.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Refactor summary interfaces (#2344)
  app/components/modals/tx-sender/TxSender.tsx
  app/components/modals/tx-sender/eto-flow/SetDateSummary.stories.tsx
  app/components/modals/tx-sender/eto-flow/SetDateSummary.tsx
  app/components/modals/tx-sender/investment-flow/BankTransfer.stories.tsx
  app/components/modals/tx-sender/investment-flow/BankTransferSummary.tsx
  app/components/modals/tx-sender/investment-flow/Summary.stories.tsx
  app/components/modals/tx-sender/investment-flow/Summary.tsx
  app/components/modals/tx-sender/upgrade-flow/Summary.tsx
  app/components/modals/tx-sender/user-claim/Summary.stories.tsx
  app/components/modals/tx-sender/user-claim/Summary.tsx
  app/components/modals/tx-sender/withdraw-flow/Summary.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Add unit tests for custom saga effects (#2345)
  app/modules/sagasUtils.spec.ts
  app/modules/sagasUtils.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Logsout/Login from all open browser session (#1942)
  .circleci/config.yml
  .circleci/install-chrome.sh
  .circleci/install-yarn.sh
  app/components/App.tsx
  app/components/modals/accept-tos-modal/AcceptTosModal.tsx
  app/config/.env.e2e
  app/di/setupBindings.ts
  app/di/symbols.ts
  app/lib/persistence/UserStorage.ts
  app/modules/actions.ts
  app/modules/auth/actions.ts
  app/modules/auth/email/sagas.ts
  app/modules/auth/jwt/sagas.ts
  app/modules/auth/sagas.spec.ts
  app/modules/auth/sagas.ts
  app/modules/auth/selectors.ts
  app/modules/auth/user/sagas.ts
  app/modules/bookbuilding-flow/sagas.ts
  app/modules/eto-documents/sagas.ts
  app/modules/eto-flow/sagas.ts
  app/modules/init/actions.ts
  app/modules/init/reducer.spec.ts
  app/modules/init/reducer.ts
  app/modules/init/sagas.ts
  app/modules/kyc/sagas.ts
  app/modules/profile/sagas.ts
  app/modules/sagas.ts
  app/modules/terms-of-service-modal/actions.ts
  app/modules/terms-of-service-modal/sagas.ts
  app/modules/wallet-selector/light-wizard/sagas.ts
  app/modules/wallet/sagas.ts
  app/test-e2e/general-app/autoLoginLogoutActions.spec.e2e.chrome.ts
  app/test-e2e/utils/index.ts
  app/test-e2e/utils/userHelpers.ts
  cypress.json
  cypress/cypress-retries.js
  e2e/setup-chrome-e2e.sh
  intl/locales/en-en.json
  package.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Fix false negatives for ResponsiveVideo during VisualRegression tests (#2357)
  .storybook/disable-video-play.js
  package.json
Due: prettier --write

Fix login logout typings
  app/components/App.tsx
  app/modules/auth/jwt/sagas.ts
  app/modules/auth/sagas.ts
  app/modules/init/reducer.spec.ts
  app/modules/init/reducer.ts
  app/modules/init/sagas.ts
  app/modules/kyc/sagas.ts
  app/modules/terms-of-service-modal/sagas.ts
  app/modules/wallet/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#1649 Move KYC related union types to enum (#2353)
  app/components/eto/EtoDashboard.tsx
  app/components/kyc/KYCprocess.stories.tsx
  app/components/kyc/Kyc.tsx
  app/components/kyc/business/BeneficialOwner.tsx
  app/components/kyc/business/BusinessData.tsx
  app/components/kyc/business/LegalRepresentative.tsx
  app/components/kyc/personal/DocumentVerification.tsx
  app/components/kyc/personal/Upload.tsx
  app/components/kyc/shared/AddDocuments.tsx
  app/components/settings/Settings.tsx
  app/components/settings/SettingsWidgets.tsx
  app/components/settings/kyc-states/KycStatusWidget.spec.tsx
  app/components/settings/kyc-states/KycStatusWidget.stories.tsx
  app/components/settings/kyc-states/KycStatusWidget.tsx
  app/components/shared/MultiFileUpload.stories.tsx
  app/components/shared/MultiFileUpload.tsx
  app/lib/api/KycApi.interfaces.ts
  app/modules/auth/selectors.ts
  app/modules/eto-flow/selectors.ts
  app/modules/kyc/actions.ts
  app/modules/kyc/sagas.ts
  app/modules/kyc/selectors.spec.ts
  app/modules/kyc/selectors.ts
  app/modules/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

adds new feature template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/new_feature.md
Due: prettier --write

Update issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/new-feature.md
Due: prettier --write

Fixes Bug report naming
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/new-feature.md
  .github/ISSUE_TEMPLATE/new_feature.md
Due: prettier --write

keeps contracts in state
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/new-feature.md
  .github/ISSUE_TEMPLATE/new_feature.md
  app/modules/contracts/sagas.ts
  app/store.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

updated strings in recovery flow (#2362)
  intl/locales/en-en.json
Due: prettier --write

add ToS file name to getMessageTranslation (#2372)
  app/components/translatedMessages/messages.tsx
  app/modules/terms-of-service-modal/sagas.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write
