Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

Move restricted country message to investment modal (#3741)
  packages/web/app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentWidget.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/RestrictedCountryInvestorMessage.stories.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/RestrictedCountryInvestorMessage.tsx
  packages/web/app/components/modals/tx-sender/investment-flow/Investment.module.scss
  packages/web/app/components/modals/tx-sender/investment-flow/Summary.stories.tsx
  packages/web/app/components/modals/tx-sender/investment-flow/Summary.tsx
  packages/web/app/components/modals/tx-sender/withdraw-flow/WithdrawTransactionDetails.tsx
  packages/web/app/components/shared/Alerts.module.scss
  packages/web/app/components/shared/Alerts.stories.tsx
  packages/web/app/components/shared/Alerts.tsx
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

#3719 Hide new shares generated for coming soon ETO (#3726)
  packages/web/app/components/eto/overview/EtoOverviewStatus/EtoStats.tsx
  packages/web/app/test-e2e/eto-view/EtoViewWidget.spec.e2e.io.ts
Due: prettier --write

changes shared e2e tests address (#3643)
  packages/web/app/config/.env.e2e.io
Due: none

brings back webpack-cli
  packages/web/package.json
  yarn.lock
Due: prettier --write

Load custom fonts properly (#3765)
  packages/web/.storybook/setup-styles.ts
  packages/web/app/index.html
  packages/web/app/index.scss
  packages/web/app/index.tsx
Due: prettier --write, yarn sasslint

#3748 Change form label design to match new NDS (#3725)
  packages/web/app/components/eto/registration/pages/EtoVotingRights/AdvisoryBoard.tsx
  packages/web/app/components/modals/tx-sender/redeem/BankTransferRedeemInit.tsx
  packages/web/app/components/shared/MultiFileUpload.module.scss
  packages/web/app/components/shared/forms/fields/FormFieldLabel.module.scss
  packages/web/app/components/shared/forms/fields/FormFieldLabel.tsx
  packages/web/app/components/shared/forms/index.tsx
  packages/web/app/components/shared/forms/layouts/FormFieldLayout.tsx
  packages/web/app/components/shared/forms/layouts/FormLabel.module.scss
  packages/web/app/components/shared/forms/layouts/FormLabel.tsx
  packages/web/app/components/shared/forms/layouts/RichTextAreaLayout.tsx
  packages/web/app/lib/api/kyc/KycApi.interfaces.ts
  packages/web/app/styles/mixins/typography.scss
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

fix etoVotingRights form not saving when advisoryBoard is set to false (#3754)
  packages/web/app/components/eto/registration/pages/EtoVotingRights/connectEtoVotingRightsForm.ts
Due: prettier --write

#3146 Redesign image upload (#3687)
  packages/web/app/components/eto/registration/pages/CompanyInformation.tsx
  packages/web/app/components/eto/registration/pages/EtoEquityTokenInfo.tsx
  packages/web/app/components/eto/registration/pages/KeyIndividuals.tsx
  packages/web/app/components/eto/shared/EtoAddDocument.tsx
  packages/web/app/components/shared/Document.tsx
  packages/web/app/components/shared/DocumentUploadable.tsx
  packages/web/app/components/shared/Dropzone.stories.tsx
  packages/web/app/components/shared/Dropzone.tsx
  packages/web/app/components/shared/DropzoneActionButtons.tsx
  packages/web/app/components/shared/SingleFileUpload.module.scss
  packages/web/app/components/shared/SingleFileUpload.stories.tsx
  packages/web/app/components/shared/SingleFileUpload.tsx
  packages/web/app/components/shared/buttons/RoundedButton.tsx
  packages/web/app/components/shared/forms/fields/FormSingleFileUpload.tsx
  packages/web/app/components/shared/forms/fields/utils.unsafe.tsx
  packages/web/app/components/translatedMessages/messages.tsx
  packages/web/app/modules/eto-flow/utils.ts
  packages/web/app/test-e2e/eto-registration/EtoCompanyInformationRichTextEditor.spec.e2e.io.ts
  packages/web/app/test-e2e/utils/forms.ts
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

#3718 Add ISHA sign counter (#3743)
  packages/web/app/components/issuer-dashboard/ETOISHASignCounter.module.scss
  packages/web/app/components/issuer-dashboard/ETOISHASignCounter.stories.tsx
  packages/web/app/components/issuer-dashboard/ETOISHASignCounter.tsx
  packages/web/app/components/issuer-dashboard/EtoDashboard.tsx
  packages/web/app/components/issuer-dashboard/dashboardStep/DashboardStep.tsx
  packages/web/app/components/issuer-dashboard/signInvestmentAgreementWidget/UploadInvestmentAgreementWidget.tsx
  packages/web/app/components/issuer-dashboard/utils.ts
  packages/web/app/components/shared/dashboard-widget/DashboardWidget.module.scss
  packages/web/app/modules/eto-flow/selectors.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

Fix fonts import (#3769)
  packages/web/app/components/issuer-dashboard/ETOISHASignCounter.module.scss
  packages/web/app/components/shared/dashboard-widget/DashboardWidget.module.scss
  packages/web/health-check-sha.json
Due: prettier --write, yarn sasslint

#3599 Improve whitelisting in issuer flow (#3733)
  packages/web/app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedWidget.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/connectCampaigningActivatedWidget.ts
  packages/web/app/components/eto/overview/EtoOverviewThumbnail/Whitelist/Whitelist.tsx
  packages/web/app/components/issuer-dashboard/bookBuildingWidget/BookBuildingActiveWidget.tsx
  packages/web/app/components/issuer-dashboard/bookBuildingWidget/BookBuildingNotActiveWidget.tsx
  packages/web/app/components/issuer-dashboard/bookBuildingWidget/BookBuildingStats.module.scss
  packages/web/app/components/issuer-dashboard/bookBuildingWidget/BookBuildingWidget.stories.tsx
  packages/web/app/components/issuer-dashboard/bookBuildingWidget/BookBuildingWidget.tsx
  packages/web/app/components/issuer-dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.module.scss
  packages/web/app/components/issuer-dashboard/chooseEtoStartDateWidget/ChooseEtoStartDateWidget.tsx
  packages/web/app/components/modals/tx-sender/eto-flow/SetDateSummary.tsx
  packages/web/app/components/shared/DatePicker.tsx
  packages/web/app/components/shared/Heading.module.scss
  packages/web/app/components/shared/Heading.tsx
  packages/web/app/modules/bookbuilding-flow/utils.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

#3322 nominee upload and sign isha (#3751)
  packages/web/app/components/documents/Documents.stories.tsx
  packages/web/app/components/documents/issuerDocuments/Documents.tsx
  packages/web/app/components/documents/issuerDocuments/DocumentsLayout.tsx
  packages/web/app/components/eto/shared/EtoAddDocument.tsx
  packages/web/app/components/issuer-dashboard/signInvestmentAgreementWidget/SignInvestmentAgreement.tsx
  packages/web/app/components/modals/tx-sender/nominee/sign-isha/SignISHASummary.module.scss
  packages/web/app/components/modals/tx-sender/nominee/sign-isha/SignISHASummary.stories.tsx
  packages/web/app/components/modals/tx-sender/nominee/sign-isha/SignISHASummary.tsx
  packages/web/app/components/nominee-dashboard/AcceptIsha.stories.tsx
  packages/web/app/components/nominee-dashboard/AcceptIsha.tsx
  packages/web/app/components/nominee-dashboard/RedeemShareCapital.tsx
  packages/web/app/components/shared/Document.stories.tsx
  packages/web/app/components/shared/DocumentUploadable.tsx
  packages/web/app/modules/eto-documents/sagas.ts
  packages/web/app/modules/eto-flow/actions.ts
  packages/web/app/modules/eto/sagas.ts
  packages/web/app/modules/nominee-flow/actions.ts
  packages/web/app/modules/nominee-flow/lazy.ts
  packages/web/app/modules/nominee-flow/reducer.ts
  packages/web/app/modules/nominee-flow/sagas.ts
  packages/web/app/modules/nominee-flow/selectors.ts
  packages/web/app/modules/nominee-flow/types.ts
  packages/web/app/modules/nominee-flow/utils.ts
  packages/web/app/modules/tx/transactions/eto-flow/sagas.ts
  packages/web/app/modules/tx/transactions/nominee/sign-agreement/sagas.ts
  packages/web/app/test-e2e/eto-registration/EtoSigningISHAStep.spec.e2e.ts
  packages/web/app/test-e2e/nominee-flow/NomineeFlow.spec.e2e.ts
  packages/web/app/test-e2e/utils/forms.ts
  packages/web/app/test-e2e/utils/index.ts
  packages/web/app/utils/enums/processStates.ts
  packages/web/intl/locales/en-en.json
  packages/web/package.json
  packages/web/typings/hash.d.ts
  yarn.lock
Due: prettier --write, yarn sasslint

add a conditional lazy-laoding/import of 'ipfs-only-hash'
  packages/web/app/modules/nominee-flow/lazy.ts
  packages/web/app/modules/nominee-flow/utils.ts
Due: prettier --write

#3744 Change eto progress bar (#3766)
  packages/web/app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentStatusWidget.module.scss
  packages/web/app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentStatusWidget.stories.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentStatusWidget.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentWidget.module.scss
  packages/web/app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentWidget.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/USInvestorMessage.tsx
  packages/web/app/components/eto/overview/EtoOverviewThumbnail/Cover.tsx
  packages/web/app/components/eto/overview/EtoOverviewThumbnail/EtoCardStatusManager.tsx
  packages/web/app/components/eto/overview/EtoOverviewThumbnail/Whitelist/WhitelistProgress.tsx
  packages/web/app/components/eto/overview/InvestmentProgress.tsx
  packages/web/app/components/eto/public-view/EtoInvestmentTermsWidget.tsx
  packages/web/app/components/eto/public-view/JurisdictionDisclaimerModal.tsx
  packages/web/app/components/eto/shared/InvestmentAmount.tsx
  packages/web/app/components/modals/tx-sender/investment-flow/Summary.tsx
  packages/web/app/components/portfolio/PortfolioAssetAction.tsx
  packages/web/app/components/portfolio/PortfolioLayout.module.scss
  packages/web/app/components/portfolio/PortfolioReservedAssets.tsx
  packages/web/app/components/shared/ProgressBarSimple.module.scss
  packages/web/app/components/shared/ProgressBarSimple.stories.tsx
  packages/web/app/components/shared/ProgressBarSimple.tsx
  packages/web/app/lib/api/eto/EtoUtils.spec.ts
  packages/web/app/lib/api/eto/EtoUtils.ts
  packages/web/app/modules/eto/selectors.ts
  packages/web/app/modules/eto/utils.spec.ts
  packages/web/app/modules/eto/utils.ts
  packages/web/health-check-sha.json
  packages/web/intl/locales/en-en.json
Due: prettier --write, yarn sasslint

Do not stop watching for transaction on network error (#3773)
  packages/web/app/modules/tx-history/sagas.ts
  packages/web/app/modules/tx/event-channel/sagas.ts
  packages/web/app/modules/tx/monitor/sagas.ts
  packages/web/app/modules/tx/sender/sagas.ts
  packages/web/app/test-e2e/wallets/WalletWithdraw.spec.e2e.ts
Due: prettier --write

Moves Withdraw e2e tests to IO (#3787)
  packages/web/app/test-e2e/eto-registration/EtoSigningISHAStep.spec.e2e.ts
  packages/web/app/test-e2e/utils/ethRpcUtils.ts
  packages/web/app/test-e2e/wallets/WalletWithdraw.spec.e2e.io.ts
  packages/web/app/test-e2e/wallets/WalletWithdraw.spec.e2e.ts
  packages/web/app/test-e2e/wallets/utils.ts
Due: prettier --write

Fix target amount value in key investment terms
  packages/web/app/components/eto/overview/EtoOverviewStatus/EtoStats.tsx
  packages/web/app/test-e2e/eto-view/EtoViewWidget.spec.e2e.io.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write

Fix target amount value in key investment terms (#3792)
  packages/web/app/components/eto/overview/EtoOverviewStatus/EtoStats.tsx
  packages/web/app/test-e2e/eto-view/EtoViewWidget.spec.e2e.io.ts
  packages/web/intl/locales/en-en.json
Due: prettier --write

Fix nominee race conditions (#3795)
  packages/web/app/modules/nominee-flow/sagas.ts
  packages/web/health-check-sha.json
Due: prettier --write

Move PendingTransactions E2E tests to our IO env (#3784)
  packages/web/app/test-e2e/pending-transactions/SupportForPendingTransactionsDuringTxFlow.spec.e2e.io.ts
  packages/web/app/test-e2e/pending-transactions/SupportForPendingTransactionsDuringTxFlow.spec.e2e.ts
  packages/web/app/test-e2e/pending-transactions/SupportForPendingTransactionsInHeader.spec.e2e.io.ts
  packages/web/app/test-e2e/pending-transactions/SupportForPendingTransactionsInHeader.spec.e2e.ts
  packages/web/app/test-e2e/pending-transactions/generalPendingTxFixture.ts
  packages/web/package.json
  yarn.lock
Due: prettier --write

revers cypress update
  packages/web/package.json
  yarn.lock
Due: prettier --write

adds logging to cypress
  packages/web/cypress/plugins/index.js
  packages/web/package.json
  yarn.lock
Due: prettier --write

disables modifyObstructiveCode
  packages/web/cypress.json
Due: prettier --write

[All devs approval required] Update storybook to 5.2 (#3727)
  packages/web/.storybook/addons.js
  packages/web/.storybook/config.js
  packages/web/.storybook/disables.js
  packages/web/.storybook/setup-styles.js
  packages/web/.storybook/webpack.config.js
  packages/web/app/components/dashboard/my-portfolio/my-portfolio-widget/PayoutWidget.stories.tsx
  packages/web/app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.stories.tsx
  packages/web/app/components/layouts/Layout.stories.tsx
  packages/web/app/components/modals/bank-transfer-flow/verify/BankTransferVerifyAgreement.tsx
  packages/web/app/components/shared/icons/CurrencyIcon.stories.tsx
  packages/web/app/components/shared/icons/InlineIcon.stories.tsx
  packages/web/cypress/typings/cypress.d.ts
  packages/web/package.json
  packages/web/tsconfig.e2e.json
  yarn.lock
Due: prettier --write

updates the cache
  .circleci/config.yml
Due: none

Revert "revers cypress update"
  packages/web/package.json
  yarn.lock
Due: prettier --write

adds chrome install
  .circleci/config.yml
Due: none

temp disable circleCI
  .circleci/config.yml
Due: none

Moves PortfolioDownloadDocuments to `io` (#3798)
  packages/web/app/test-e2e/kyc/KYCFlowIndividualManual.spec.e2e.io.ts
  packages/web/app/test-e2e/kyc/KYCFlowIndividualOutsourced.spec.e2e.io.ts
  packages/web/app/test-e2e/portfolio/PortfolioDownloadDocuments.spec.e2e.io.ts
Due: prettier --write

disables circle CI mainflow
  .circleci/config.yml
Due: none

changes chrome script
  .circleci/install-chrome.sh
Due: none

temp disable chrome
  .circleci/config.yml
  packages/web/package.json
Due: prettier --write

Optimizes EtoLinkStep (#3805)
  .circleci/config.yml
  .circleci/install-chrome.sh
  packages/web/app/test-e2e/eto-registration/EtoLinkNomineeStep.spec.e2e.io.ts
  packages/web/app/test-e2e/eto-registration/utils.ts
  packages/web/health-check-sha.json
  packages/web/package.json
  yarn.lock
Due: prettier --write

Changes getReceipt and getTransaction to use the wallet node (#3799)
  packages/web/app/components/wallet-selector/WalletSelector.integration.spec.tsx
  packages/web/app/di/setupBindings.ts
  packages/web/app/lib/web3/ContractsService.ts
  packages/web/app/lib/web3/Web3Manager/Web3Manager.ts
  packages/web/app/lib/web3/browser-wallet/BrowserWallet.ts
  packages/web/app/lib/web3/browser-wallet/BrowserWalletConnector.ts
  packages/web/app/lib/web3/light-wallet/LightWallet.ts
  packages/web/app/lib/web3/light-wallet/LightWalletConnector.ts
  packages/web/app/modules/access-wallet/sagas.ts
  packages/web/app/modules/tx/event-channel/sagas.ts
  packages/web/app/modules/tx/transactions/token-transfer/sagas.ts
  packages/web/app/modules/tx/validator/address/sagas.ts
  packages/web/app/modules/wallet-selector/browser-wizard/actions.spec.ts
  packages/web/app/modules/wallet-selector/ledger-wizard/actions.spec.ts
  packages/web/app/modules/wallet-selector/ledger-wizard/sagas.ts
  packages/web/app/modules/wallet/sagas.ts
  packages/web/test/integrationTestUtils.unsafe.tsx
Due: prettier --write

Path conditions:
  yarn tsc: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix --config ./tslint.spec.json: any of: app/**/*.spec.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,js,json,md,gql}
  yarn sasslint: any of: **/*.{sass,scss,css}
