Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

.lintstagedrc:

{
  "app/**/*.{ts,tsx,js}": ["yarn tsc", "tslint --project . --format stylish --fix", "git add"],
  "app/**/*.spec.{ts,tsx}": ["tslint --project . --format stylish --fix --config ./tslint.spec.json", "git add"],
  "**/*.{ts,tsx,js,json,md,gql}": ["prettier --write", "git add"],
  "**/*.{sass,scss,css}": ["yarn sasslint"]
}

remove hard cap label from investment progress component (#3181)
  app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentProgress.tsx
  app/components/eto/overview/EtoOverviewThumbnail/InvestmentStatus/InvestmentProgress.tsx
  health-check-sha.json
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Wait for data to be saved in RTE e2e test (#3179)
  app/test-e2e/eto-registration/EtoCompanyInformationRichTextEditor.spec.e2e.io.ts
  app/test-e2e/eto-registration/EtoRegistrationUtils.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Wait before logging-in (#3182)
  app/test-e2e/utils/userHelpers.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Enable KYCFlowIndividualIDnow and RegisterRedirectIfNoVerifiedEmail e2e (#3180)
  app/components/documents/Documents.tsx
  app/modules/kyc/sagas.ts
  app/test-e2e/issuer-dashboard/LightWalletETODashboard.spec.e2e.io.ts
  app/test-e2e/kyc/KYCFlowIndividualIDnow.spec.e2e.io.ts
  app/test-e2e/kyc/KYCFlowIndividualManual.spec.e2e.io.ts
  app/test-e2e/kyc/KYCFlowIndividualOutsourced.spec.e2e.io.ts
  app/test-e2e/kyc/KYCFlowPartnershipManual.spec.e2e.io.ts
  app/test-e2e/kyc/KYCFlowSmallBusinessManual.spec.e2e.io.ts
  app/test-e2e/routing/RegisterRedirectIfNoVerifiedEmail.spec.e2e.io.ts
  app/test-e2e/utils/index.ts
  health-check-sha.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix Loading indicator for wallet and portfolio assets, fix info list for all tx modals (#3184)
  app/components/layouts/Container.tsx
  app/components/modals/tx-sender/shared/InfoList.tsx
  app/components/portfolio/AssetPortfolio.tsx
  app/components/shared/loading-indicator/LoadingIndicator.stories.tsx
  app/components/shared/loading-indicator/LoadingIndicator.tsx
  app/components/wallet/views/start/Start.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#3169 choose document download based on eto stage (#3186)
  app/components/eto/public-view/EtoInvestmentTermsWidget.tsx
  app/test-e2e/kyc/KYCFlowIndividualIDnow.spec.e2e.io.ts
  health-check-sha.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#3059 Fix copy to clipboard (#3192)
  app/components/modals/icbm-wallet-balance-modal/BalanceModal.tsx
  app/components/modals/tx-sender/shared/InfoRow.tsx
  app/components/settings/backup-seed/PrivateKeyDisplay.tsx
  app/components/shared/CopyToClipboard.unsafe.tsx
  app/components/shared/CopyToClipboardButton.tsx
  app/components/shared/HighlightedField.module.scss
  app/components/shared/HighlightedField.tsx
  app/components/shared/hooks/useCopyToClipboard.tsx
  app/components/shared/hooks/useLogger.ts
  app/config/.env.example
  app/utils/copyToClipboard.ts
  health-check-sha.json
  intl/locales/en-en.json
  package.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Hide transactions history under env flag NF_TRANSACTIONS_HISTORY_VISIBLE (#3198)
  app/components/wallet/views/start/Start.tsx
  app/config/.env.common
  app/config/.env.example
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix dead code elimination (#3200)
  .circleci/config.yml
  app/components/AppRouter.tsx
  app/components/portfolio/utils.ts
  app/components/settings/backup-seed/PrivateKeyDisplay.tsx
  app/components/shared/DatePicker.tsx
  app/components/shared/Toast.tsx
  app/components/shared/links/ExternalLink.tsx
  app/config/.env.common
  app/config/.env.example
  app/config/constants.ts
  app/modules/immutable-file/sagas.ts
  app/modules/immutable-file/utils.ts
  app/modules/investor-portfolio/utils.ts
  app/utils/englishMnemonics.ts
  patches/bitcore-mnemonic+8.3.3.patch
  typings/modules.d.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#3185 top navbar fixes (#3195)
  app/assets/img/icon_txn_status_error.svg
  app/assets/img/icon_txn_status_no_pending.svg
  app/assets/img/icon_txn_status_pending_transaction.svg
  app/assets/img/icon_txn_status_success.svg
  app/components/eto/EtoDashboard.tsx
  app/components/eto/public-view/Cover.module.scss
  app/components/eto/public-view/CoverBanner.module.scss
  app/components/layouts/Footer.tsx
  app/components/layouts/header/Header.stories.tsx
  app/components/layouts/header/Header.tsx
  app/components/layouts/header/PendingTransactionStatus.module.scss
  app/components/layouts/header/PendingTransactionStatus.stories.tsx
  app/components/layouts/header/PendingTransactionStatus.tsx
  app/components/layouts/menus/MenuAuthorized.module.scss
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#3190 Fix platform landing page (#3197)
  app/components/dashboard/Dashboard.tsx
  app/components/documents/Documents.tsx
  app/components/edge-cases/MigrationFromLink.tsx
  app/components/eto/EtoDashboard.tsx
  app/components/eto/EtoIssuerView.tsx
  app/components/eto/EtoPublicView.tsx
  app/components/eto/EtoPublicViewByContractId.tsx
  app/components/eto/registration/Start.tsx
  app/components/eto/shared/routing/RedirectToEtoById.tsx
  app/components/eto/shared/routing/RedirectToEtoLink.tsx
  app/components/kyc/Kyc.tsx
  app/components/landing/Landing.module.scss
  app/components/landing/Landing.tsx
  app/components/landing/LandingEto.tsx
  app/components/layouts/Content.module.scss
  app/components/layouts/Content.tsx
  app/components/layouts/Layout.stories.tsx
  app/components/layouts/Layout.tsx
  app/components/layouts/menus/MyAccountMenu.module.scss
  app/components/layouts/menus/MyAccountMenu.tsx
  app/components/portfolio/Portfolio.tsx
  app/components/settings/Settings.tsx
  app/components/settings/backup-seed/BackupSeed.tsx
  app/components/shared/errorBoundary/ErrorBoundaryLayout.tsx
  app/components/wallet-selector/WalletSelector.tsx
  app/components/wallet-selector/wallet-recover/WalletRecoverMain.tsx
  app/components/wallet/Wallet.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#3019 eto overview layout fix (#3193)
  app/components/eto/EtoDashboard.tsx
  app/components/eto/EtoIssuerView.tsx
  app/components/eto/EtoPublicView.tsx
  app/components/eto/EtoPublicViewByContractId.tsx
  app/components/eto/EtoWidgetView.tsx
  app/components/eto/overview/EtoOverviewStatus/CampaigningWidget/CampaigningActivatedWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.module.scss
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoStats.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoStatusManager.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoTitle.tsx
  app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentWidget.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/InvestmentWidget/InvestmentWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/RegisterNowWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/TagsWidget.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/TagsWidget.tsx
  app/components/eto/overview/EtoOverviewThumbnail/EtoOverviewThumbnail.tsx
  app/components/eto/public-view/CoverBanner.tsx
  app/components/eto/shared/ETOState.module.scss
  app/components/eto/shared/ETOState.tsx
  app/components/eto/shared/EtoView.stories.tsx
  app/components/eto/shared/EtoView.tsx
  app/components/portfolio/PortfolioPastInvestments.tsx
  app/components/portfolio/PortfolioReservedAssets.tsx
  app/components/shared/Tag.unsafe.tsx
  app/test-e2e/eto-registration/EtoRegistrationUtils.ts
  health-check-sha.json
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#2821 TX history modals step 1 (#3189)
  app/components/shared/forms/fields/FormFieldColorful.unsafe.tsx
  app/components/shared/hooks/useButtonRole.spec.tsx
  app/components/shared/hooks/useButtonRole.ts
  app/components/shared/table/NewTable.module.scss
  app/components/shared/table/NewTable.stories.tsx
  app/components/shared/table/NewTable.tsx
  app/components/wallet/transactions-history/TransactionDetailsModal.tsx
  app/components/wallet/transactions-history/TransactionsHistory.module.scss
  app/components/wallet/transactions-history/TransactionsHistory.tsx
  app/modules/tx-history/actions.ts
  app/modules/tx-history/sagas.ts
  app/modules/tx-history/selectors.ts
  app/types.d.ts
  app/utils/enums/keys.enum.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

#3204 nominee account registration and login (#3208)
  app/components/AppRouter.tsx
  app/components/appRoutes.ts
  app/components/landing/LandingEto.tsx
  app/components/layouts/header/Header.tsx
  app/components/layouts/menus/MenuAuthorized.tsx
  app/components/layouts/menus/MenuData.tsx
  app/components/nominee-dashboard/NomineeDashboard.tsx
  app/components/shared/routing/OnlyAuthorizedRoute.tsx
  app/components/shared/routing/SecretProtected.tsx
  app/components/wallet-selector/WalletSelector.tsx
  app/components/wallet-selector/wallet-recover/help/LoginHelp.tsx
  app/components/wallet-selector/walletRouterHelpers.ts
  app/config/.env.common
  app/lib/api/users/interfaces.ts
  app/modules/auth/jwt/sagas.ts
  app/modules/routing/actions.ts
  app/modules/wallet-selector/selectors.ts
  app/test-e2e/nominee-flow/NomineeFlow.spec.e2e.io.ts
  app/test-e2e/register/LightWalletETOLogin.spec.e2e.io.ts
  app/test-e2e/routing/AuthenticationRouting.spec.e2e.io.ts
  app/test-e2e/utils/assertions.ts
  app/test-e2e/utils/index.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

[All Devs approval required] Migrate to ts 3.5 (#3220)
  app/lib/api/client/JsonHttpClient.spec.ts
  app/modules/contracts/utils.ts
  app/modules/generic-modal/actions.ts
  app/modules/tx/sender/actions.ts
  app/utils/omitProps.ts
  health-check-sha.json
  package.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Refactor deprecated action creators [step 2] (#3191)
  app/modules/actions.spec.ts
  app/modules/actions.ts
  app/modules/eto/sagas.ts
  app/modules/gas/actions.ts
  app/modules/gas/reducer.ts
  app/modules/gas/sagas.ts
  app/modules/gas/selectors.ts
  app/modules/generic-modal/actions.ts
  app/modules/generic-modal/reducer.ts
  app/modules/generic-modal/sagas.ts
  app/modules/icbm-wallet-balance-modal/actions.ts
  app/modules/icbm-wallet-balance-modal/reducer.ts
  app/modules/icbm-wallet-balance-modal/sagas.ts
  app/modules/immutable-file/sagas.ts
  app/modules/init/actions.ts
  app/modules/init/reducer.ts
  app/modules/init/sagas.ts
  app/modules/kyc/sagas.ts
  app/modules/money/reducer.ts
  app/modules/reducer.ts
  app/modules/sagasUtils.ts
  app/modules/shared/tokenPrice/sagas.ts
  app/modules/terms-of-service-modal/sagas.ts
  app/modules/tx/sender/sagas.ts
  app/modules/wallet/sagas.ts
  app/types.d.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Fix e2e tests after sendgrid structure changes (#3229)
  .circleci/config.yml
  app/test-e2e/bank-transfer/BankVerification.spec.e2e.ts
  app/test-e2e/bank-transfer/Purchase.spec.e2e.ts
  app/test-e2e/bank-transfer/assertions.ts
  app/test-e2e/utils/assertions.ts
  app/test-e2e/utils/index.ts
  health-check-sha.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Refactors ETO Public View (#3226)
  app/components/eto/constants.tsx
  app/components/eto/public-view/CompanyDescription.tsx
  app/components/eto/public-view/DocumentsWidget.tsx
  app/components/eto/public-view/ETOTimeline.module.scss
  app/components/eto/public-view/ETOTimeline.tsx
  app/components/eto/public-view/EtoAccordionElements.tsx
  app/components/eto/public-view/Individuals.tsx
  app/components/eto/public-view/LegalInformationWidget.tsx
  app/components/eto/public-view/MarketingDocumentsWidget.tsx
  app/components/eto/public-view/PublicView.module.scss
  app/components/eto/shared/EtoView.tsx
  app/components/shared/Accordion.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#1689 Add react node to yup (#3231)
  app/components/eto/registration/pages/EtoTerms.tsx
  app/components/modals/bank-transfer-flow/shared/BankTransferAgreement.tsx
  app/components/modals/tx-sender/redeem/BankTransferRedeemInit.tsx
  app/components/modals/tx-sender/user-claim/SummaryForm.unsafe.tsx
  app/components/modals/tx-sender/withdraw-flow/Withdraw.unsafe.tsx
  app/components/translatedMessages/yupLocales.sideEffect.tsx
  app/components/wallet-selector/light/Login/LoginWithEmailLightWallet.unsafe.tsx
  app/components/wallet-selector/light/Register/RegisterLightWallet.unsafe.tsx
  app/lib/api/FileStorage.interfaces.ts
  app/lib/api/GasApi.ts
  app/lib/api/ImmutableStorage.interfaces.ts
  app/lib/api/KycApi.interfaces.ts
  app/lib/api/analytics-api/interfaces.ts
  app/lib/api/client/IHttpClient.ts
  app/lib/api/client/JsonHttpClient.ts
  app/lib/api/eto/EtoApi.interfaces.unsafe.ts
  app/lib/api/eto/EtoPledgeApi.interfaces.unsafe.ts
  app/lib/api/eto/EtoProductsApi.interfaces.ts
  app/lib/api/users/interfaces.ts
  app/lib/api/util/schemaHelpers.unsafe.ts
  app/lib/web3/Web3Adapter.ts
  app/lib/yup-ts.spec.ts
  app/lib/yup-ts.unsafe.tsx
  app/utils/ScrollToTop.unsafe.tsx
  intl/locales/en-en.json
  typings/yup.d.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Improve rich text editor usability/accessibility (#3235)
  app/components/shared/forms/Form.ts
  app/components/shared/forms/fields/FormFieldLabel.tsx
  app/components/shared/forms/layouts/RichTextAreaLayout.tsx
  app/test-e2e/eto-registration/EtoCompanyInformationFieldValidation.spec.e2e.io.ts
  app/test-e2e/eto-registration/EtoCompanyInformationRichTextEditor.spec.e2e.io.ts
  app/test-e2e/utils/forms.ts
  app/test-e2e/utils/selectors.ts
  health-check-sha.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2890 Eto investment and nEur redeem tx history modals (#3227)
  app/components/shared/MoneySuiteWidget.tsx
  app/components/wallet/transactions-history/TransactionDetailsModal.tsx
  app/components/wallet/transactions-history/TransactionName.tsx
  app/components/wallet/transactions-history/transaction-modal-content/BasicTransactionDetails.tsx
  app/components/wallet/transactions-history/transaction-modal-content/EtoInvestmentTransactionDetails.tsx
  app/components/wallet/transactions-history/transaction-modal-content/EtoRefundTransactionDetails.tsx
  app/components/wallet/transactions-history/transaction-modal-content/EtoTokensClaimTransactionDetails.tsx
  app/components/wallet/transactions-history/transaction-modal-content/NEurDestroyTransactionDetails.tsx
  app/components/wallet/transactions-history/transaction-modal-content/NEurPurchaseTransactionDetails.tsx
  app/components/wallet/transactions-history/transaction-modal-content/NEurRedeemTransactionDetails.tsx
  app/components/wallet/transactions-history/transaction-modal-content/PayoutTransactionDetails.tsx
  app/components/wallet/transactions-history/transaction-modal-content/RedistributePayoutTransactionDetails.tsx
  app/components/wallet/transactions-history/transaction-modal-content/TransferTransactionDetails.tsx
  app/lib/api/analytics-api/interfaces.ts
  app/modules/tx-history/sagas.ts
  app/modules/tx-history/types.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

adds new cleanup ticket (#3236)
  .github/ISSUE_TEMPLATE/cleanup-ticket.md
Due: prettier --write

Fix no payouts spacing (#3233)
  app/components/portfolio/AssetPortfolio.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#2890 Update transactions naming (#3241)
  app/components/wallet/transactions-history/transaction-modal-content/TransferTransactionDetails.tsx
  health-check-sha.json
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix go to wallet button (#3247)
  app/components/eto/dashboard/signInvestmentAgreementWidget/UploadInvestmentAgreementWidget.stories.tsx
  app/components/eto/dashboard/signInvestmentAgreementWidget/UploadInvestmentAgreementWidget.unsafe.tsx
  health-check-sha.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix build after nominee api changes (#3259)
  app/test-e2e/1.long-e2e-tests/1.FullEtoRegistrationAndSubmit.spec.e2e.io.ts
  app/test-e2e/eto-registration/2.EtoRequiredReqistrationAndSubmit.spec.e2e.io.ts
  app/test-e2e/eto-registration/EtoRegistrationUtils.ts
  app/test-e2e/kyc/KYCFlowCorporationManual.spec.e2e.io.ts
  app/test-e2e/utils/userHelpers.ts
  app/utils/Validators.spec.ts
  health-check-sha.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Removes other user type login views - Cleans up WalletStorage / UserType (#3232)
  app/components/eto/EtoPublicView.tsx
  app/components/eto/EtoPublicViewByContractId.tsx
  app/components/eto/shared/routing/RedirectToEtoById.tsx
  app/components/eto/shared/routing/RedirectToEtoLink.tsx
  app/components/kyc/Kyc.tsx
  app/components/kyc/KycLayout.tsx
  app/components/layouts/menus/MenuData.tsx
  app/components/layouts/menus/MobileMenu.stories.tsx
  app/components/layouts/menus/MobileMenu.tsx
  app/components/layouts/menus/MyAccountMenu.stories.tsx
  app/components/layouts/menus/MyAccountMenu.tsx
  app/components/modals/accept-tos-modal/AcceptTosModal.tsx
  app/components/wallet-selector/wallet-recover/success/RecoverySuccess.stories.tsx
  app/components/wallet-selector/wallet-recover/success/RecoverySuccess.tsx
  app/lib/persistence/WalletStorage.ts
  app/modules/auth/actions.ts
  app/modules/auth/jwt/sagas.ts
  app/modules/auth/sagas.ts
  app/modules/auth/user/sagas.ts
  app/modules/init/sagas.ts
  app/modules/investor-portfolio/utils.ts
  app/modules/kyc/sagas.ts
  app/modules/routing/actions.ts
  app/modules/sagas.ts
  app/modules/terms-of-service-modal/sagas.ts
  app/modules/wallet-selector/sagas.ts
  app/modules/wallet-selector/selectors.ts
  app/modules/wallet/sagas.ts
  app/modules/web3/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Transactions history e2e tests (#3240)
  app/assets/img/token_icon.svg
  app/components/eto/registration/pages/EtoTerms.tsx
  app/components/modals/tx-sender/shared/TxPending.tsx
  app/components/wallet/transactions-history/TransactionDetailsModal.stories.tsx
  app/components/wallet/transactions-history/TransactionDetailsModal.tsx
  app/components/wallet/transactions-history/TransactionsHistory.tsx
  app/modules/tx-history/types.ts
  app/test-e2e/1.long-e2e-tests/1.FullEtoRegistrationAndSubmit.spec.e2e.io.ts
  app/test-e2e/eto-registration/2.EtoRequiredReqistrationAndSubmit.spec.e2e.io.ts
  app/test-e2e/eto-registration/EtoRegistrationUtils.ts
  app/test-e2e/eto-registration/EtoTerms.spec.e2e.ts
  app/test-e2e/pending-transactions/utils.ts
  app/test-e2e/shared/backupLightWalletSeed.ts
  app/test-e2e/utils/ethRpcUtils.ts
  app/test-e2e/utils/forms.ts
  app/test-e2e/utils/index.ts
  app/test-e2e/utils/selectors.ts
  app/test-e2e/wallets/TransactionsHistory.spec.e2e.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Revert back kyc beneficial owner e2e tests (#3263)
  app/test-e2e/kyc/KYCFlowCorporationManual.spec.e2e.io.ts
  health-check-sha.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write
