Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

.lintstagedrc:

{
  "app/**/*.{ts,tsx,js}": ["yarn tsc", "tslint --project . --format stylish --fix", "git add"],
  "app/**/*.spec.{ts,tsx}": ["tslint --project . --format stylish --fix --config ./tslint.spec.json", "git add"],
  "**/*.{ts,tsx,js,json,md,gql}": ["prettier --write", "git add"],
  "**/*.{sass,scss,css}": ["yarn sasslint"]
}

adds test files and utils to tslint
  app/test-e2e/eto-registration/EtoCompanyInformationFieldValidation.spec.e2e.ts
  app/test-e2e/eto-registration/EtoRequiredReqistrationAndSubmit.spec.e2e.ts
  app/test-e2e/eto-registration/FullEtoRegistrationAndSubmit.spec.e2e.ts
  app/test-e2e/eto-registration/SetEtoStartDate.spec.e2e.ts
  app/test-e2e/eto/InvestChange.spec.e2e.ts
  app/test-e2e/eto/InvestWithBankTransfer.spec.e2e.ts
  app/test-e2e/eto/InvestWithNoMoney.spec.e2e.ts
  app/test-e2e/eto/InvestWithRegularEther.spec.e2e.ts
  app/test-e2e/eto/InvestWithUpgradedWalletEther.spec.e2e.ts
  app/test-e2e/eto/InvestWithUpgradedWalletEurT.spec.e2e.ts
  app/test-e2e/investor-dashboard/LightWalletInvestorDashboard.spec.e2e.ts
  app/test-e2e/issuer-dashboard/LightWalletETODashboard.spec.e2e.ts
  app/test-e2e/kyc/KYCFlowCorporationManual.spec.e2e.ts
  app/test-e2e/kyc/KYCFlowIndividualIDnow.spec.e2e.ts
  app/test-e2e/kyc/KYCFlowIndividualManual.spec.e2e.ts
  app/test-e2e/kyc/KYCFlowIndividualOutsourced.spec.e2e.ts
  app/test-e2e/kyc/KYCFlowPartnershipManual.spec.e2e.ts
  app/test-e2e/kyc/KYCFlowSmallBusinessManual.spec.e2e.ts
  app/test-e2e/routing/RegisterRedirectIfNoVerifiedEmail.spec.e2e.ts
  app/test-e2e/settings/BackupSeed.spec.e2e.ts
  app/test-e2e/settings/VerifyEmailWidget.spec.e2e.ts
  app/test-e2e/verify/WalletVerify.spec.e2e.ts
  app/test-e2e/wallets/WalletMigrate.spec.e2e.ts
  test/fixtures.ts
  test/integrationTestUtils.tsx
  tslint.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Merge vis reg disable files to single one (#2373)
  .storybook/disable-animations.js
  .storybook/disables.js
  package.json
Due: prettier --write

removes tslint:spec additional fixes
  app/lib/yup-ts.spec.ts
  app/modules/access-wallet/sagas.ts
  app/test-e2e/eto-view/EtoViewForInvestor.spec.e2e.ts
  app/test-e2e/eto-view/EtoViewForUnapprovedInvestor.spec.e2e.ts
  app/test-e2e/eto/Campaigning.spec.e2e.ts
  app/test-e2e/eto/EtoWidget.spec.e2e.ts
  app/test-e2e/utils/index.ts
  app/test-e2e/wallets/WalletMigrate.spec.e2e.ts
  app/test-e2e/wallets/WalletRecover.spec.e2e.ts
  app/test-e2e/wallets/WalletTransfer.spec.e2e.ts
  app/test-e2e/wallets/WalletUpgrade.spec.e2e.ts
  app/test-e2e/wallets/WalletWithdraw.spec.e2e.ts
  package.json
  test/integrationTestUtils.tsx
  test/reduxSpyMiddleware.ts
  tsconfig.json
  tslint.json
  tslint.spec.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

updates conract sha
  e2e/run_backend.sh
Due: none

review fixes
  app/test-e2e/eto/InvestWithRegularEther.spec.e2e.ts
  app/test-e2e/eto/InvestWithUpgradedWalletEther.spec.e2e.ts
  app/test-e2e/eto/InvestWithUpgradedWalletEurT.spec.e2e.ts
  app/test-e2e/wallets/WalletMigrate.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

update contracts fix translation in accessWalletModal
  app/components/modals/walletAccess/AccessWalletModal.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

change neuCall to saga/call when calling displayInfoModalSaga (we don't need dependency injection here anymore) fix translations when calling displayInfoModalSaga
  app/components/modals/walletAccess/AccessWalletModal.tsx
  app/modules/generic-modal/sagas.ts
  app/modules/kyc/sagas.ts
  app/modules/wallet-selector/light-wizard/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

clears circle cache
  .circleci/config.yml
Due: none

update backend sha
  e2e/run_backend.sh
Due: none

updates webpack
  package.json
  yarn.lock
Due: prettier --write

Portfolio cleanup
  app/components/appRoutes.ts
  app/components/layouts/LayoutAuthorized.tsx
  app/components/modals/download-token-agreements-modal/DownloadTokenAgreementModal.module.scss
  app/components/modals/download-token-agreements-modal/DownloadTokenAgreementModal.tsx
  app/components/portfolio/Portfolio.tsx
  app/components/portfolio/PortfolioAssetAction.tsx
  app/components/portfolio/PortfolioLayout.module.scss
  app/components/portfolio/PortfolioLayout.stories.tsx
  app/components/portfolio/PortfolioLayout.tsx
  app/components/portfolio/PortfolioMyAssets.tsx
  app/components/portfolio/PortfolioReservedAssets.tsx
  app/components/portfolio/actions.ts
  app/components/portfolio/reducer.ts
  app/components/portfolio/selectors.ts
  app/components/shared/DocumentLink.tsx
  app/components/shared/ETOState.module.scss
  app/components/shared/ETOState.tsx
  app/components/shared/HighlightedField.tsx
  app/components/shared/NewTable.module.scss
  app/components/shared/NewTable.tsx
  app/lib/web3/ContractsService.ts
  app/modules/actions.ts
  app/modules/investor-tickets/selectors.ts
  app/modules/investor-tickets/types.ts
  app/modules/public-etos/actions.ts
  app/modules/public-etos/reducer.ts
  app/modules/public-etos/sagas.ts
  app/modules/public-etos/selectors.ts
  app/modules/public-etos/types.ts
  app/modules/reducer.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

temporary removes chrome tests
  .circleci/config.yml
Due: none

Move token data fetch call to lifecycle
  app/components/portfolio/PortfolioMyAssets.tsx
  app/modules/public-etos/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix error when assets are not available
  app/components/portfolio/PortfolioMyAssets.tsx
  app/components/shared/NewTable.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

updates contract artifacts
  app/test-e2e/utils/userHelpers.ts
  e2e/run_backend.sh
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

updated the sha
  e2e/run_backend.sh
Due: none

new user agreement hash
  app/test-e2e/utils/userHelpers.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix review
  app/components/appRoutes.ts
  app/components/modals/download-token-agreements-modal/DownloadTokenAgreementModal.module.scss
  app/components/modals/download-token-agreements-modal/DownloadTokenAgreementModal.tsx
  app/components/portfolio/PortfolioAssetAction.tsx
  app/components/portfolio/PortfolioLayout.module.scss
  app/components/portfolio/PortfolioMyAssets.tsx
  app/components/portfolio/PortfolioReservedAssets.tsx
  app/components/portfolio/reducer.ts
  app/components/shared/NewTable.module.scss
  app/components/shared/NewTable.tsx
  app/lib/web3/ContractsService.ts
  app/modules/public-etos/actions.ts
  app/modules/public-etos/sagas.ts
  app/modules/public-etos/types.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Disable googlefonts cache
  webpack/webpack.config.common.js
Due: prettier --write

Updates contract artifacts-backend-agreement (#2388)
  .huskyrc
  package.json
  yarn.lock
Due: prettier --write

Fix node DDOS
  app/components/modals/download-token-agreements-modal/DownloadTokenAgreementModal.module.scss
  app/components/modals/download-token-agreements-modal/DownloadTokenAgreementModal.tsx
  app/components/portfolio/PortfolioMyAssets.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Fix download buttons
  app/components/modals/download-token-agreements-modal/DownloadTokenAgreementModal.module.scss
  app/components/modals/download-token-agreements-modal/DownloadTokenAgreementModal.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Change selector to fetch ETOs with Claim and Payout state
  app/modules/investor-tickets/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix agreement download modal
  app/components/modals/download-token-agreements-modal/DownloadTokenAgreementModal.module.scss
  app/components/modals/download-token-agreements-modal/DownloadTokenAgreementModal.tsx
  app/components/modals/tx-sender/user-claim/Summary.module.scss
  app/components/shared/DocumentLink.module.scss
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Fix decimal precision for prices
  app/components/portfolio/PortfolioMyAssets.tsx
  app/components/portfolio/PortfolioReservedAssets.tsx
  app/components/shared/Money.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix logout and login issue
  app/components/portfolio/PortfolioMyAssets.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Use ButtonLink to navigate to external resources
  app/components/portfolio/PortfolioMyAssets.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Filter tokens with 0 balance
  app/components/portfolio/PortfolioMyAssets.tsx
  app/modules/public-etos/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix balance not increasing after being mined
  app/components/portfolio/PortfolioMyAssets.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Text fixes
  intl/locales/en-en.json
Due: prettier --write

Own promisify function (#2376)
  app/lib/web3/BrowserWallet.ts
  app/lib/web3/LightWallet.ts
  app/lib/web3/Web3Adapter.ts
  app/test-e2e/utils/userHelpers.ts
  app/utils/isPromise.spec.ts
  app/utils/promisify.spec.ts
  app/utils/promisify.ts
  package.json
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

hides ignored documents on public company profile
  app/components/eto/public-view/DocumentsWidget.tsx
  app/lib/api/eto/EtoFileUtils.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix review
  app/lib/web3/ContractsService.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Add money tests and stories
  app/components/shared/Money.spec.tsx
  app/components/shared/Money.stories.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#2260 - adds memory local storage (#2377)
  app/lib/persistence/Storage.spec.ts
  app/lib/persistence/Storage.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Fix NEU price display
  app/components/portfolio/PortfolioMyAssets.tsx
  app/components/shared/Money.spec.tsx
  app/components/shared/Money.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#1733 Payout money component theme (#2374)
  app/components/eto/overview/EtoRaisedAmount.tsx
  app/components/shared/InvestmentPreview.tsx
  app/components/shared/Money.module.scss
  app/components/shared/Money.stories.tsx
  app/components/shared/Money.tsx
  app/components/wallet/claimed-dividends/ClaimedDividends.tsx
  app/components/wallet/transaction-list/TransactionList.tsx
  bundlewatch.config.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

adds isCypress ENV and routing e2e test
  app/config/.env.e2e
  app/config/constants.ts
  app/test-e2e/routing/routing.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

adds upper lower limit
  app/lib/web3/Web3Manager.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write
