Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

.lintstagedrc:

{
  "app/**/*.{ts,tsx,js}": ["yarn tsc", "tslint --project . --format stylish --fix", "git add"],
  "app/**/*.spec.{ts,tsx}": ["tslint --project . --format stylish --fix --config ./tslint.spec.json", "git add"],
  "**/*.{ts,tsx,js,json,md,gql}": ["prettier --write", "git add"],
  "**/*.{sass,scss,css}": ["yarn sasslint"]
}

Wording Changes V2 (#1900)
  intl/locales/en-en.json
Due: prettier --write

#1903 remove metamask logo and one of three step imgs. rebuild StepCard element to remove markup clutter
  app/components/settings/backup-seed/BackupSeed.module.scss
  app/components/settings/backup-seed/BackupSeedIntro.tsx
  app/components/shared/StepCard.module.scss
  app/components/shared/StepCard.tsx
  app/components/wallet-selector/browser/WalletBrowser.module.scss
  app/components/wallet-selector/browser/WalletBrowser.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#1870 change title wording
  intl/locales/en-en.json
Due: prettier --write

take placeholder min ticket size from contract if available
  app/components/modals/tx-sender/investment-flow/Investment.stories.tsx
  app/components/modals/tx-sender/investment-flow/Investment.tsx
  app/modules/investor-tickets/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

removes loadKycIndividual from settings (#1919)
  app/components/settings/Settings.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

replaced settings with profile (#1920)
  intl/locales/en-en.json
Due: prettier --write

#1830 Add Neufund box to platform landing (#1921)
  app/assets/img/eto_offers/neufund@1x.png
  app/assets/img/eto_offers/neufund@2x.png
  app/assets/img/eto_offers/neufundhover@1x.png
  app/assets/img/eto_offers/neufundhover@2x.png
  app/assets/img/landing/neufund.png
  app/assets/img/landing/neufund@2x.png
  app/assets/img/landing/neufund@3x.png
  app/components/landing/parts/LandingHeader.module.scss
  app/components/landing/parts/LandingHeader.tsx
  app/data/etoCompanies.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#1903 small markup changes
  app/components/shared/StepCard.module.scss
  app/components/shared/StepCard.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

update min and max ticket size in investment error messages
  app/components/modals/tx-sender/investment-flow/Investment.stories.tsx
  app/components/modals/tx-sender/investment-flow/Investment.tsx
  app/components/modals/tx-sender/investment-flow/utils.tsx
  app/modules/investor-tickets/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1871 linting, updated .gitingore
  .gitignore
Due: none

#1871 add translations
  intl/locales/en-en.json
Due: prettier --write

update token price in investment summary to have precision of 8 digits
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/eto/utils.ts
  app/components/modals/tx-sender/investment-flow/Summary.tsx
  app/utils/Number.utils.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Change emflux image (#1929)
  app/assets/img/landing/emflux.png
  app/assets/img/landing/emflux@2x.png
  app/assets/img/landing/emflux@3x.png
Due: none

#1842 (#1873)
  app/components/eto/registration/pages/EtoPitch.tsx
  app/components/eto/registration/pages/InvestmentTerms.tsx
  app/components/eto/utils.ts
  app/components/shared/forms/form-field/FormCategoryDistribution.module.scss
  app/components/shared/forms/form-field/FormCategoryDistribution.tsx
  app/components/shared/forms/form-field/FormInput.tsx
  app/components/shared/forms/form-field/FormStyles.module.scss
  app/components/shared/forms/form-field/NumberTransformingField.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#1872 add explanation to my wallet widget (#1926)
  app/components/wallet/wallet-balance/UnlockedWallet.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1874 add onEnterAction to load personal data add explanation and link to account details
  app/components/settings/personal-account-details/PersonalAccountDetails.module.scss
  app/components/settings/personal-account-details/PersonalAccountDetails.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#1874 linter checks
  app/components/eto/registration/pages/InvestmentTerms.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

plula/#1865-eto-opportunities-description (#1881)
  app/components/dashboard/eto-list/EtoList.module.scss
  app/components/dashboard/eto-list/EtoList.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/shared/Money.spec.tsx
  app/components/shared/Money.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

update prices in PortfolioLayout
  app/components/modals/tx-sender/investment-flow/BankTransferSummary.tsx
  app/components/portfolio/Portfolio.tsx
  app/components/portfolio/PortfolioLayout.stories.tsx
  app/components/portfolio/PortfolioLayout.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1927 Replace neufund images (#1936)
  app/assets/img/eto_offers/neufund@1x.png
  app/assets/img/eto_offers/neufund@2x.png
  app/assets/img/eto_offers/neufundhover@1x.png
  app/assets/img/eto_offers/neufundhover@2x.png
  app/data/etoCompanies.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

fixes linter
  app/components/eto/registration/pages/InvestmentTerms.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

add discount display to bank transfer summary
  app/components/modals/tx-sender/investment-flow/BankTransfer.stories.tsx
  app/components/modals/tx-sender/investment-flow/BankTransferSummary.tsx
  app/components/modals/tx-sender/investment-flow/Summary.tsx
  app/components/modals/tx-sender/investment-flow/utils.tsx
  app/modules/investment-flow/reducer.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

fix imports
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/eto/utils.ts
  app/components/modals/tx-sender/investment-flow/BankTransfer.stories.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

format
  app/components/modals/tx-sender/investment-flow/Summary.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Revert "removes loadKycIndividual from settings (#1919)"
  app/components/settings/Settings.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Update en-en.json (#1943)
  intl/locales/en-en.json
Due: prettier --write

fixes email dialog
  app/components/settings/kyc-states/KycStatusWidget.tsx
  app/components/settings/verify-email/VerifyEmailWidget.tsx
  e2e/error.sh
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Update en-en.json (#1953)
  intl/locales/en-en.json
Due: prettier --write

At/#1882 notification wording change (#1944)
  app/components/shared/notification-widget/Notification.spec.tsx
  app/components/shared/notification-widget/Notification.tsx
  app/modules/notifications/actions.ts
  app/modules/notifications/reducer.spec.ts
  app/modules/notifications/reducer.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#1874 define user kyc states when account detail widget should show up in settings
  app/components/settings/Settings.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1905 #1909 #1906 #1907 Usability fixes to Portfolio and EtoList (#1939)
  app/assets/img/etos-comings-soon/left-placeholder.png
  app/assets/img/etos-comings-soon/right-placeholder.png
  app/components/dashboard/eto-list/EtoList.tsx
  app/components/dashboard/my-portfolio/MyPortfolioWidget.module.scss
  app/components/dashboard/my-portfolio/MyPortfolioWidget.tsx
  app/components/dashboard/my-wallet/MyWalletWidget.module.scss
  app/components/dashboard/my-wallet/MyWalletWidget.spec.tsx
  app/components/dashboard/my-wallet/MyWalletWidget.tsx
  app/components/eto/overview/EtoOverviewStatus/EtosComingSoon.module.scss
  app/components/eto/overview/EtoOverviewStatus/EtosComingSoon.tsx
  app/components/layouts/LayoutAuthorizedMenu.module.scss
  app/components/layouts/LayoutAuthorizedMenu.tsx
  app/components/modals/icbm-wallet-balance-modal/IcbmWalletBalanceModal.module.scss
  app/components/portfolio/PortfolioLayout.tsx
  app/components/shared/Panel.module.scss
  app/components/shared/Panel.tsx
  app/components/shared/SectionHeader.module.scss
  app/components/shared/SectionHeader.stories.tsx
  app/components/shared/SectionHeader.tsx
  app/components/wallet/claimed-dividends/ClaimedDividends.tsx
  app/styles/tools/typography.scss
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

adds text to kyc start page
  app/components/kyc/start/Start.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

fix format
  app/components/kyc/KycPanel.module.scss
  app/components/kyc/start/Start.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

updates kyc upload forms
  app/components/kyc/Kyc.tsx
  app/components/kyc/business/BeneficialOwner.tsx
  app/components/kyc/business/BusinessData.tsx
  app/components/kyc/business/LegalRepresentative.tsx
  app/components/kyc/personal/Upload.tsx
  app/components/shared/MultiFileUpload.module.scss
  app/components/shared/MultiFileUpload.stories.tsx
  app/components/shared/MultiFileUpload.tsx
  app/components/shared/UploadedFiles.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

adds missing translated string
  app/components/shared/UploadedFiles.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

remove company type step
  app/components/kyc/KYCprocess.stories.tsx
  app/components/kyc/Router.tsx
  app/components/kyc/business/BusinessData.tsx
  app/components/kyc/business/LegalRepresentative.tsx
  app/components/kyc/business/Start.tsx
  app/components/kyc/personal/Upload.tsx
  app/components/kyc/routes.tsx
  app/components/kyc/start/Start.tsx
  app/lib/api/KycApi.interfaces.ts
  app/modules/routing/actions.ts
  app/test-e2e/kyc/KYCFlowCorporationManual.spec.e2e.ts
  app/test-e2e/kyc/KYCFlowPartnershipManual.spec.e2e.ts
  app/test-e2e/kyc/KYCFlowSmallBusinessManual.spec.e2e.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

add differen titles for business and individual kyc
  app/components/kyc/business/BusinessData.tsx
  app/components/kyc/business/LegalRepresentative.tsx
  app/components/kyc/personal/DocumentVerification.tsx
  app/components/kyc/personal/Start.tsx
  app/components/kyc/personal/Upload.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1901 Add message to KYC confirm dialog
  app/components/modals/walletAccess/AccessLightWalletPrompt.tsx
  app/components/modals/walletAccess/AccessWalletModal.tsx
  app/modules/kyc/sagas.ts
  app/modules/web3/selectors.spec.ts
  app/modules/web3/selectors.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Removes bold From VerifyEmailWidget (#1956)
  app/components/settings/verify-email/VerifyEmailWidget.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

add euro sign out of formatting function, some style fixes
  app/components/modals/tx-sender/investment-flow/BankTransferSummary.tsx
  app/components/modals/tx-sender/investment-flow/Summary.tsx
  app/components/modals/tx-sender/investment-flow/utils.tsx
  app/components/portfolio/PortfolioLayout.tsx
  app/utils/Number.utils.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write
