Repository rudolfix/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

formatting
  app/modules/investor-tickets/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1288 Add frontend error logging to sentry (#1847)
  app/components/App.tsx
  app/components/AppRouter.tsx
  app/config/.env.e2e
  app/config/.env.example
  app/di/setupBindings.ts
  app/index.tsx
  app/lib/api/users/UsersApi.ts
  app/lib/dependencies/Logger.ts
  app/middlewares/redux-logger.ts
  app/modules/auth/actions.ts
  app/modules/auth/reducer.ts
  app/modules/auth/sagas.ts
  app/modules/init/reducer.spec.ts
  app/modules/sagas.ts
  app/modules/tx/monitor/sagas.ts
  app/modules/wallet/sagas.ts
  package.json
  webpack/webpack.config.dev.js
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

renames x-eto to eto
  app/test-e2e/eto/Campaining.spec.e2e.ts
  app/test-e2e/eto/InvestChange.spec.e2e.ts
  app/test-e2e/eto/InvestWithBankTransfer.spec.e2e.ts
  app/test-e2e/eto/InvestWithNoMoney.spec.e2e.ts
  app/test-e2e/eto/InvestWithRegularEther.spec.e2e.ts
  app/test-e2e/eto/InvestWithUpgradedWalletEther.spec.e2e.ts
  app/test-e2e/eto/InvestWithUpgradedWalletEurT.spec.e2e.ts
  app/test-e2e/eto/utils.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fixes Eth wallet
  app/components/modals/icbm-wallet-balance-modal/BalanceModal.tsx
  app/components/modals/icbm-wallet-balance-modal/IcbmWalletBalanceModal.tsx
  app/modules/icbm-wallet-balance-modal/actions.ts
  app/modules/icbm-wallet-balance-modal/reducer.ts
  app/modules/icbm-wallet-balance-modal/sagas.ts
  app/modules/icbm-wallet-balance-modal/selectors.ts
  app/test-e2e/utils/index.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

some minor fixes
  app/components/eto/registration/pages/EtoEquityTokenInfo.tsx
  app/components/eto/registration/pages/InvestmentTerms.tsx
  app/lib/api/eto/EtoApiUtils.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

adds to E2E test
  app/components/modals/icbm-wallet-balance-modal/BalanceModal.tsx
  app/test-e2e/utils/index.ts
  app/test-e2e/wallets/WalletMigrate.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

simple cleanup
  app/modules/icbm-wallet-balance-modal/sagas.ts
  app/modules/icbm-wallet-balance-modal/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

logs false errors as info (#1854)
  app/modules/tx/transactions/sagas.ts
  app/modules/tx/validator/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1594 Align NEU dashboard widget (#1855)
  app/components/dashboard/my-portfolio/MyNeuWidget.module.scss
  app/components/dashboard/my-portfolio/MyNeuWidget.tsx
  app/components/dashboard/my-portfolio/MyPortfolioWidget.module.scss
  app/components/shared/Panel.module.scss
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#1802 Auto tab feature for seed phrase (#1831)
  app/components/settings/backup-seed/BackupSeedFlowContainer.tsx
  app/components/settings/backup-seed/BackupSeedIntro.tsx
  app/components/settings/backup-seed/BackupSeedVerify.spec.tsx
  app/components/settings/backup-seed/BackupSeedVerify.tsx
  app/components/shared/buttons/Button.tsx
  app/components/wallet-selector/wallet-recover/SeedRecovery.spec.tsx
  app/components/wallet-selector/wallet-recover/SeedRecovery.tsx
  app/test-e2e/shared/backupLightWalletSeed.ts
  app/types.d.ts
  intl/locales/en-en.json
  package.json
  test/createMount.ts
  yarn.lock
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Refactors selectors to use full state
  app/components/modals/icbm-wallet-balance-modal/IcbmWalletBalanceModal.tsx
  app/modules/icbm-wallet-balance-modal/sagas.ts
  app/modules/icbm-wallet-balance-modal/selectors.ts
  app/modules/wallet-selector/light-wizard/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

adds lint only stage files script to package.json
  .huskyrc
  package.json
Due: prettier --write

aligns with new contracts signatures (#1862)
  app/modules/investor-tickets/types.ts
  app/modules/investor-tickets/utils.ts
  e2e/setup-e2e.sh
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

change approved document title depending on eto retail state
  app/components/documents/Documents.tsx
  app/components/eto/public-view/DocumentsWidget.stories.tsx
  app/components/eto/public-view/DocumentsWidget.tsx
  app/components/eto/shared/EtoPublicComponent.tsx
  app/components/portfolio/PortfolioLayout.tsx
  app/components/shared/SingleColDocumentWidget.stories.tsx
  app/components/shared/SingleColDocumentWidget.tsx
  app/lib/api/eto/EtoFileApi.interfaces.ts
  app/modules/eto-flow/selectors.ts
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

adds error logging to sagas (#1858)
  app/modules/auth/sagas.ts
  app/modules/eto-documents/sagas.ts
  app/modules/eto-flow/sagas.ts
  app/modules/gas/sagas.ts
  app/modules/icbm-wallet-balance-modal/sagas.ts
  app/modules/init/sagas.ts
  app/modules/settings/sagas.ts
  app/modules/shared/formSingleFileUpload/sagas.ts
  app/modules/shared/remoteFile/sagas.ts
  app/modules/wallet-selector/browser-wizard/flows.ts
  app/modules/wallet-selector/light-wizard/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

update Tags Widget
  app/components/eto/overview/EtoOverviewStatus/TagsWidget.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

cleanup translations
  intl/locales/en-en.json
Due: prettier --write

Fixes generated templates
  app/components/documents/Documents.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Fix login and register buttons display on mobile views (#1864)
  app/components/layouts/Header.module.scss
  app/components/layouts/Header.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Updated many strings v1
  intl/locales/en-en.json
Due: prettier --write

Update en-en.json
  intl/locales/en-en.json
Due: prettier --write

improve after review
  app/components/documents/Documents.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/modules/investor-tickets/selectors.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

fixed syntax
  intl/locales/en-en.json
Due: prettier --write

changes Migration Wallet link
  intl/locales/en-en.json
Due: prettier --write

#1867 add explanation sentence to login/register ledger screen if there are multiple addresses on ledger add translation add story for ledger
  app/components/wallet-selector/ledger/WalletLedgerChooserComponent.module.scss
  app/components/wallet-selector/ledger/WalletLedgerChooserComponent.stories.tsx
  app/components/wallet-selector/ledger/WalletLedgerChooserComponent.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

fix summary rounding
  app/components/modals/tx-sender/investment-flow/Summary.tsx
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Makes E2E tests more stable (#1878)
  .circleci/config.yml
  app/test-e2e/eto/InvestWithUpgradedWalletEurT.spec.e2e.ts
  app/test-e2e/utils/index.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1856 Eto visual fixes (#1875)
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.module.scss
  app/components/eto/overview/EtoOverviewStatus/TagsWidget.tsx
  app/components/eto/shared/EtoTagWidget.tsx
  app/components/eto/shared/TagsEditor.tsx
  app/components/shared/Tabs.module.scss
  app/components/shared/Tag.module.scss
  app/components/shared/Tag.stories.tsx
  app/components/shared/Tag.tsx
  app/components/shared/forms/form-field/FormStyles.module.scss
  app/styles/elements/a.scss
  app/styles/tools/typography.scss
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Fix typo
  intl/locales/en-en.json
Due: prettier --write

#1871 add explanations to light wallet add styles
  app/components/shared/forms/form-field/FormStyles.module.scss
  app/components/wallet-selector/light/RegisterLightWallet.stories.tsx
  app/components/wallet-selector/light/RegisterLightWallet.tsx
  app/components/wallet-selector/light/WalletLight.module.scss
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#1871 revert some markup/css changes of light wallet
  app/components/wallet-selector/light/RegisterLightWallet.tsx
  app/components/wallet-selector/light/WalletLight.module.scss
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

retries backend deploy properly in e2e
  e2e/run_backend.sh
  e2e/setup-e2e.sh
Due: none

Widget fixes
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.stories.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/eto/overview/EtoOverviewStatus/TagsWidget.tsx
  app/components/eto/shared/EtoPublicComponent.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

start wallet upgrade test
  app/components/shared/AccountBalance.tsx
  app/components/wallet/wallet-balance/IcbmWallet.tsx
  app/test-e2e/eto/InvestWithBankTransfer.spec.e2e.ts
  app/test-e2e/wallets/WalletUpgrade.spec.e2e.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

#1384 Add email validation to Light Wallet login (#1868)
  app/components/shared/forms/form-field/FormConstantField.module.scss
  app/components/shared/forms/form-field/FormConstantField.tsx
  app/components/wallet-selector/light/LoginLightWallet.stories.tsx
  app/components/wallet-selector/light/LoginWithEmailLightWallet.tsx
  intl/locales/en-en.json
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#1867 change title and explanation wording to make it fit for both login and registration. Add some line height in explanation
  app/components/wallet-selector/ledger/WalletLedgerChooserComponent.module.scss
  intl/locales/en-en.json
Due: prettier --write, yarn sasslint

Document naming fixes
  intl/locales/en-en.json
Due: prettier --write

add feature flag for time to disable bank transfer
  app/config/.env.example
  app/modules/investment-flow/sagas.ts
  app/utils/Date.utils.spec.ts
  app/utils/Date.utils.ts
Due: yarn tsc, tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Fixes ICBM wallet modal functionality (#1912)
  app/components/settings/icbm-wallet-widget/CheckYourICBMWalletWidget.tsx
  app/modules/icbm-wallet-balance-modal/reducer.ts
  app/modules/icbm-wallet-balance-modal/sagas.ts
Due: yarn tsc, tslint --project . --format stylish --fix, prettier --write

Path conditions:
  yarn tsc: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix --config ./tslint.spec.json: any of: app/**/*.spec.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,js,json,md,gql}
  yarn sasslint: any of: **/*.{sass,scss,css}
